<template lang="pug">
.add-addAttach-container
  .list-block
    ul
      li.align-top.attach-file-block(@click='attachFile', :disabled='disableAdd')
        .item-content
          .item-inner
            .item-input
              a#btnAttachFile()
                i.material-icons attach_file
                | Agregar adjunto
      li.align-top.show-attach-file-block(v-for='file in filesArray')
        .item-content
          .item-inner
            .item-input
              .attach-img-container#attachImgContainer
                img(:src='file.src')
              span
                | {{file.name}}
              i.material-icons(@click='removeAttach(file)') clear
</template>

<script>
import Helper from '../assets/js/helper'
export default {
  name:'addAttach',
  props: ['multiple', 'src'],
  data(){
    return{
      filesArray: [],
      disableAdd: false
    }
  },
  mounted(){
    if(this.src && this.src !== '' ){
      this.filesArray.push({
        src: this.src,
        name: this.src.split('/').pop()
      })
      if(!this.multiple) this.disableAdd = true
    }
  },
  methods:{
    attachFile () {
      Helper.attachFile(this.attachFileSuccess)
    },
    attachFileSuccess(res){
      let name = res.split("/").pop()
      let file = {src: res, name: name}
      if(!this.multiple) this.disableAdd = true
      this.filesArray.push(file)
      this.$emit('attach', this.filesArray)
    },
    removeAttach(file) {
      for(let i = 0; i < this.filesArray.length; i++) {
        if(this.filesArray[i].name === file.name) {
          this.filesArray.splice(i, 1);
          break;
        }
      }
      if(!this.multiple && this.filesArray.length == 0) this.disableAdd = false
      this.$emit('remove', this.filesArray)
    }
  }
}
</script>

<style scoped>
</style>
