<template lang="pug">
.custom-toolbar(@click='adminButtonClick')
  span
    i.material-icons
      | {{icon || 'create'}}
  span {{text}}
</template>

<script>
import Helper from '../assets/js/helper'
export default {
  name: 'adminButton',
  props: ['title','previousTitle','text', 'icon'],
  mounted(){
  },
  methods:{
    adminButtonClick(){
      this.$emit('btnAdminClick')
    }
  }
}
</script>

<style scoped>
.custom-toolbar{
  position: fixed;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-overflow-scrolling: touch;
  top: calc(100% - 98px);;
  z-index: 100;
  height: 50px;
  left: 0;
  width: 100%;
  border-color: #28a54c;
  background-color: #33cd5f;
  text-align: center;
  color: #fff;
}
.custom-toolbar span{
  line-height: 50px;
  font-size: 18px;
  padding-left: 10px;
}

.custom-toolbar i{
  vertical-align: sub;
}
</style>
