<template lang="pug">
.popup.alert-popup
  .content-block
    .alert-container
      .alert-header(:style='"background-color:" + alertData.color || "yellow"')
        h1
          | {{alertData.txt_titulo}}
          i.material-icons warning
          span.close-alert(@click='closeAlert')
            | X
      .alert-body
        p
          | {{alertData.txt_alerta}}
      .alert-footer(:style='"background-color:" + alertData.color || "yellow"')
</template>
<script>
import BackIcon from '../assets/img/arrow-back.png'
export default {
  name: 'popupGeneric',
  data(){
    return{
      backIcon: BackIcon
    }
  },
  methods:{
    closeAlert(){
      this.$f7.closeModal('.alert-popup', true)
    }
  },
  computed:{
    alertData(){
      return this.$store.getters.alertData
    }
  }
}
</script>

<style scoped>
h1, p{
  margin: 0;
}
.alert-popup{
  background: none;
}
.content-block{
  margin: 0; 
}
.alert-container{
  text-align: center;
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.alert-header{
  color: #000;
}
.alert-header i{
  vertical-align: text-bottom;
  padding-left: 10px;
  font-size: 30px;
}
.close-alert{
  font-size: 15px;
  position: absolute;
  right: 10px;
  top: 5px;
  color: #fff;
  font-weight: bolder;
}
.alert-body{
  background-color: white;
  color: #000;
}
.alert-footer{
  padding: 2px 16px;
}
</style>
