<template lang="pug">
.bar-home(:style="{ 'background-image': 'url(' + barHome.headerImage + ')'  }")
  //- .container-villanueva(v-if='isVillanueva')
  //-   img(:src='navImage', @click='opneSideNav')
  //-   #divleft.left-text-villanueva(v-html='barHome.leftText')
  //-   #divRight.right-text-villanueva(v-html='barHome.rightText')
  .container
    img(:src='navImage', @click='opneSideNav')
    #divleft.left-text(v-html='barHome.leftText')
    #divRight.right-text(v-html='barHome.rightText')
</template>

<script>
// import { mapGetters } from 'vuex'
import NavImage from '../assets/img/navicon-round.png'
export default {
  name: 'barHome',
  data(){
    return{
      navImage: NavImage,
      isVillanueva: false
    }
  },
  methods:{
    opneSideNav(){
      this.$f7.openPanel('left')
    }
  },
  computed:{
    barHome(){
      return this.$store.getters.barHome
    }
  },
  mounted(){
    this.isVillanueva = window.APPTORUN === 'villanueva'
  }
}
</script>

<style scoped>
.bar-home{
  height: 110px;
  max-width: 100%;
  padding: 5px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(238, 238, 238);
}

.container{
  height: inherit;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
.container-villanueva {
  height: inherit;
  max-width: 100%;
  overflow: hidden;
}

/*
.left-text{
  position: absolute;
  width: 40%;
  margin: auto;
  padding-left: 20%;
  color: #FFF;
  text-align: left;
}
*/
.left-text {
  position: absolute;
  width: 40%;
  margin: auto;
  /* padding-left: 20%; */
  color: #FFF;
  text-align: left;
  top: 30px;
  left: 60px;
 }
.left-text-villanueva{
  position: absolute;
  width: 40%;
  margin: auto;
  color: #FFF;
  right: 5%;
  top: 0%;
}
h5 {
  margin: 0 !important;
}

.right-text {
  position: absolute;
  color: #FFF;
  top: 30px;
  right: 10px;
  line-height: 1;
}
/*
.right-text{
  position: absolute;
  width: 40%;
  margin: auto;
  right: 5%;
  color: #FFF;
}*/

.right-text-villanueva{
  position: absolute;
  width: 40%;
  top: 10%;
  right: 5%;
  color: #FFF;
  line-height: 10px;
}
.left-text h5{
  font-size: 14px;
}

.right-text h5{
  font-size: 14px;
}
</style>

<style>
#divleft h5 {
  margin: 0 !important;
}
.right-text span{
  line-height: 17px !important;
}
</style>

