<template lang="pug">
f7-page#navbar
  f7-navbar.navbar-title-selector.custom-background(title='Menu')
  f7-block
    .items-container
      .list-block
        ul
          li.item-content(@click='loadPage(menuItems.profile)')
            .item-media
              i.far.fa-user
            .item-inner
              .item-title {{menuItems.profile.text}}
          li.item-content(@click='copyCoordinates')
            .item-media
              i.fas.fa-map-marker-alt
            .item-inner
              .item-title {{menuItems.coordinates.text}}
          li.item-content(@click='showMap')
            .item-media
              i.far.fa-map
            .item-inner
              .item-title {{menuItems.showMap.text}}
          li.item-content(@click='loadPage(menuItems.technicalAssistance)')
            .item-media
              i.fas.fa-headphones
            .item-inner
              .item-title {{menuItems.technicalAssistance.text}}
          li
            .item-content
              .item-media
                i.material-icons assistant_photo
              .item-inner
                .item-input
                  span.span-notifications Notificaciones
                  label.label-switch(@click.prevent.stop='changeNotification')
                    input(type='checkbox', v-model='notifications')
                    .checkbox.checkbox-notifications
        hr
        ul.second-list
          li(v-show='true')
            .item-content
              .item-media
                i.fas.fa-street-view
              .item-inner
                  a.item-link.smart-select(href='#', data-open-in="picker", data-back-on-select="true")
                    select#changeUserSelect(name='changeUser', v-model='selectedChangeUser', @change='changeUser')
                      option(v-for='login in loginsSaved', :value='login.barrio.name+"|"+login.barrio.id+"|"+ login.user+ "|"+ login.password') {{login.barrio.name}} - {{login.user}}) {{login.barrio.name}} - {{login.user}}
                    .item-title Cambiar Usuario
          li.item-content(v-if='!menuItems.ayres.hide', @click='goBack')
            .item-media
              img.ayres(src='../assets/img/logo-simple-ayres.jpeg')
            .item-inner
              .item-title {{menuItems.ayres.text}}
          li.item-content(@click='unlinkUser', v-if='!menuItems.clearUser.hide')
            .item-media
              i.material-icons exit_to_app
            .item-inner
              .item-title {{menuItems.clearUser.text}}
          li.item-content(@click='logout')
            .item-media
              i.material-icons exit_to_app
            .item-inner
              .item-title {{menuItems.logout.text}}
</template>
<script>
import Helper from '../assets/js/helper'
import { postCoordenadas } from '../assets/js/api-helper'
import {mapActions} from 'vuex'
const dataMenu = {
  profile: {
    to: 'profile',
    text: 'Mi Perfil',
    checkbox: false,
    action: 'logout'
  },
  coordinates: {
    to: '#',
    text: 'Coordenadas',
    checkbox: false,
    action: 'logout()'
  },
  showMap: {
    to: '#',
    text: 'Cómo llegar',
    checkbox: false,
    action: 'logout()'
  },
  technicalAssistance: {
    to: 'asistencia-tecnica',
    text: 'Asistencia Técnica',
    checkbox: false,
    action: 'logout()'
  },
  notifications: {
    to: '/',
    text: 'Notificaciones',
    checkbox: true
  },
  changeUser: {
    to: '/',
    text: 'Cambiar usuario',
    checkbox: false,
    action: 'logout()'
  },
  clearUser: {
    to: '/',
    text: 'Desvincular usuario',
    checkbox: false,
    action: 'unlinkUser()'
  },
  logout: {
    to: '/',
    text: 'Cerrar sesión',
    checkbox: false,
    action: 'logout()'
  },
  ayres: {
    text: 'Ayres',
    hide: true
  }
}
export default {
  name: 'leftPanel',
  data() {
    return {
      render: false,
      showChangeUser: false,
      selectedChangeUser: '',
      changeUserArray: [],
      notifications: true
    }
  },
  mounted() {
    this.checkNotifications()
  },
  methods: {
    ...mapActions(['setMainGrid', 'setCredentials', 'setMainTitleToPush']),
    loadPage(page) {
      this.setMainTitleToPush(page.text)
      this.$f7.mainView.router.loadPage(page.to)
      this.$f7.closePanel()
    },
    goBack() {
      this.$f7.closePanel()
      this.$f7.mainView.router.back();
    },
    loadChangeUser(){
      let users = this.loginsSaved
      if(users){
        this.changeUserArray = this.loginsSaved
      }
    },
    changeNotification () {
      if(this.notifications){
        this.notifications = false
        window.localStorage.setItem("Notifications_Enabled_SS", 'NO');
        this.$store.dispatch('setPushwoosh')
      }
      else{
        this.notifications = true
        window.localStorage.setItem("Notifications_Enabled_SS", "YES");
        this.$store.dispatch('setPushwoosh')
      }
    },
    checkNotifications() {
      let enabled = window.localStorage.getItem("Notifications_Enabled_SS");
      if (enabled && enabled === 'NO') {
          this.notifications = false
      } else {
          this.notifications = true
      }
    },
    changeUser () {
      this.$f7.closePanel()
      this.setCredentials({})
      this.setMainGrid([])
      let user = this.selectedChangeUser.split('|')
      window.localStorage.setItem("barrioName", user[0])
      window.localStorage.setItem("barrio", user[1])
      window.localStorage.setItem("usuario", user[2])
      window.localStorage.setItem("password", user[3])
      this.selectedChangeUser = ''
      this.goToLogin()
    },
    showMap(){
      postCoordenadas(this.showMapSuccess)
    },
    showMapSuccess(res){
      console.log('Coordenadas:', res)
      if (res != null && res != undefined) {
          let coordenadas = res[0];
          if (!coordenadas.latitud) {
            coordenadas.latitud = '-16.5044211'
            coordenadas.longitud = '-151.7736687'
          }
          if (coordenadas.latitud != null && coordenadas.latitud != undefined && coordenadas.longitud != null && coordenadas.longitud != undefined) {
              const addressLongLat = coordenadas.latitud + ',' + coordenadas.longitud;
              //var addressLongLat = '-36.897096,-58.036545?z=15';
              if (device.platform == "Android") {
                  //window.open("geo:" + addressLongLat, '_system', 'EnableViewPortScale=yes');
                  window.open("http://maps.google.com/?q=" + addressLongLat, "_system");
              } else {
                  // window.location.href = "maps://maps.apple.com/?q="+addressLongLat
                  window.open('http://maps.apple.com/?q=' + addressLongLat, '_blank');
                  // window.open("maps://?q=" + addressLongLat, '_blank', 'EnableViewPortScale=yes');
              }
          } else {
            Helper.showMessage("No se pudieron obtener las coordenadas")
          }
      }
    },
    copyCoordinates() {
      postCoordenadas(this.copyCoordinatesSuccess)
    },
    copyCoordinatesSuccess(res){
      if (res && res != null && res != undefined) {
        let coordenadas = res[0];
        var options = {
          subject: 'Coordenadas', // fi. for email
          url: 'http://maps.google.com/?q=' + coordenadas.latitud + ',' + coordenadas.longitud,
          chooserTitle: 'Pick an app' // Android only, you can override the default share sheet title
        }
        window.plugins.socialsharing.shareWithOptions(options, this.onSuccessShare, this.onErrorShare);
      }
    },
    onSuccessShare(res){
      console.log("Share completed? " + res.completed); // On Android apps mostly return false even while it's true
      console.log("Shared to app: " + res.app); // On Android result.app is currently empty. On iOS it's empty when sharing is cancelled (result.completed=false)
    },
    onErrorShare(err){
      console.log('Share error')
      console.log(err)
    },
    unlinkUser(){
      let logins = JSON.parse(localStorage.getItem('Logins_Saved'))
      let tmp = []
      let currentNeighborhood = localStorage.getItem('barrio')
      let currentUser = localStorage.getItem('usuario').toUpperCase()
      let newUser = {
        user: '',
        password: '',
        neighborhood: {
          id: '',
          name: ''
        }
      }
      if(logins && currentNeighborhood){
        this.$f7.closePanel()
        for (let i = 0; i < logins.length; i++) {
          if(logins[i].barrio.id === currentNeighborhood){
            if(logins[i].user.toUpperCase() !== currentUser){
              if(newUser.user === '' && newUser.password === '' && newUser.neighborhood.id === '' && newUser.neighborhood.name === ''){
                newUser.user = logins[i].user
                newUser.password = logins[i].password
                newUser.neighborhood.id = logins[i].barrio.id
                newUser.neighborhood.name = logins[i].barrio.name
                localStorage.setItem('barrioName', newUser.neighborhood.name)
                localStorage.setItem('barrio', newUser.neighborhood.id)
                localStorage.setItem('password', newUser.password)
                localStorage.setItem('usuario', newUser.user)
              }
              tmp.push(logins[i])
            }
          }
          else{
            tmp.push(logins[i])
          }
        }
        if(newUser.user === ''){
          localStorage.removeItem('barrioName')
          localStorage.removeItem('barrio')
          localStorage.removeItem('password')
          localStorage.removeItem('usuario')
        }
        localStorage.setItem('Logins_Saved', JSON.stringify(tmp))
        this.$store.dispatch('setCredentials', {})
        this.goToLogin()
      }
    },
    deleteUser() {
      this.$store.dispatch('setCredentials', {})
      this.$f7.closePanel()
      // localStorage.clear()
      this.$nextTick(function() {
        this.goToLogin()
      })
    },
    logout () {
      this.$f7.closePanel()
      window.localStorage.removeItem("barrioName")
      window.localStorage.removeItem("barrio")
      window.localStorage.removeItem("usuario")
      window.localStorage.removeItem("password")
      this.goToLogin()
    },
    goToLogin() {
      this.$f7.mainView.loadPage({url:`login-${window.APPTORUN}`, force: true})
    }
  },
  computed: {
    credentials(){
      return this.$store.getters.credentials
    },
    loginsSaved(){
      return this.$store.getters.loginsSaved
    },
    appVersion () {
      return this.$store.getters.appVersion
    },
    menuItems() {
      switch (window.APPTORUN) {
        case 'ayres':
          dataMenu.ayres.hide = false;
          dataMenu.clearUser.hide = true;
        break;
      }
     
      return dataMenu;
    }
  }
}
</script>
<style >
  #navbar .list-block .item-inner:after{
    display: none !important;
    background-color: inherit !important;
  }
  #navbar .list-block li:after{
    display: none !important;
  }
  </style>
  <style scoped>
  .page-content {
    overflow-y: hidden !important;
  }

  .version-container{
    float: left;
    position: absolute;
    top: 20px;
    height: 10px;
    font-size: 8px;
  }

  .navbar {
    color: #FFF;
    height: 48px !important;
    line-height: 48px !important;
    font-size: 18px;
  }

  .navbar-inner .center {
    color: #fff;
    font-size: 22px;
  }

  #navbar, .content-block {
    background-color: #353535 !important;
    margin: 0;
  }

  .list-block {
    height: 100%;
    padding-top: 20px;
    margin: 0;
  }
  .item-inner{
    width: 190px;
  }
  li {
    background-color: #353535;
    color: #fff;
    border: 1px solid #353535;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  li img {
    width: 40px;
  }

  .list-block ul:after {
    display: none !important;
  }

  .span-notifications{
    white-space: nowrap;
    width: 98px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    line-height: 15px;
  }

  select{
    color: #fff;
    background-color: #353535;
  }
  .center-icon{
    position: absolute;
    right: 15px;
    top: 10px;
  }
  .second-list{
    position: absolute;
    bottom: 10px;
  }
  .second-list .item-inner{
    padding-left: 18px;
  }
  hr{
    background-color: #666;
    border-color: #666;
  }
  .ayres{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
  }
</style>
