<template lang="pug">
a(:href='link || "#"')
  li.item-content(@click='onClick')
    .item-media
    .item-inner
      .item-title(v-if='!salesStyle')
        img(:src='iconSrc', v-if='iconSrc')
        | {{title}}
        .subtitle
          span(v-show='date || subType') {{date}} {{subType}}
          i.material-icons(v-if='attachIcon') attach_file
        .subtitle2
          span(v-show='status') {{status}}
        .subtitle3
          span(v-show='publishBy') {{publishBy}}
      .item-title(v-else)
        table
          tr
            td
              img(:src='iconSrc')
            td
              .title
                | {{title}}
              .subtitle
                span(v-show='date || subType') {{date}} {{subType}}
              i.material-icons(v-if='attachIcon') attach_file
              .subtitle2
                span(v-show='status') {{status}}
              .subtitle3
                p(v-show='publishBy') {{publishBy}}
      .item-after
        img(:src='arrowRight')
        // i.material-icons keyboard_arrow_right
</template>

<script>
import ArrowRight from '../assets/img/icons/arrow-right.png'
export default {
  name: 'listelement',
  data(){
    return{
      arrowRight: ArrowRight
    }
  },
  props: {
    title:{
      type: String
    },
    date:{
      type: String
    },
    subType:{
      type: String
    },
    service:{
      type: String
    },
    status:{
      type: String
    },
    iconSrc:{
      type: String
    },
    link:{
      type: String
    },
    attachIcon: {
      type: Boolean
    },
    publishBy:{
      type: String
    },
    salesStyle:{
      type: Boolean
    }
  },
  mounted(){
  },
  methods: {
    onClick(){
      this.$emit('clicked')
    }
  }
}
</script>

<style scoped>
.list-block{
  margin: 0px;
}
.item-content{
  padding: 2px 5px;
  padding-right: 0;
}
.item-title{
  color: #000;
}
.item-title img{
  height: 40px;
  vertical-align: middle;
}

.item-after i {
	font-size: 50px;
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
}
.item-after img {
  height: 20px;
}
.subtitle span{
  color: #aaa;
  font-size: 14px;
  white-space: normal;
}
.subtitle i{
  font-size: 15px;
}
.subtitle2 span{
  color: #aaa;
  font-size: 14px;
  white-space: normal;
}

.subtitle3 span{
  color: #666;
  font-size: 14px;
  white-space: normal;
}
.list-block ul a{
  color: #000 !important;
}

table td{
  padding-left: 15px;
}
table .title {
  white-space: normal;
}
table .subtitle span{
  color: #000;
  font-size: 16px;
  white-space: normal;
}

table .subtitle2 span{
  color: #000;
  font-size: 16px;
  white-space: normal;
}
table .subtitle3 p{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* max-width: 60%; */
  word-break: break-word;
  margin: 0;
  color: #666;
  font-size: 14px;
}
table img{
  min-width: 80px;
  min-height: 80px;
  width: 80px;
  height: 80px;
  max-width: 80px;
  max-height: 80px;
}
</style>
