<template lang="pug">
.navbar
  .navbar-inner
    .left
      a.link(href='#', open-panel='left') Left Link
</template>

<script>

export default {
  name: 'nav-Bar'
}
</script>

<style scoped>
.navbar{
  position: relative;
}
</style>
