<template lang="pug">
.popup.popup-generic.navbar-through
  f7-navbar.navbar-selector
    f7-nav-left
      img(:src='backIcon',@click='closePopup')
    f7-nav-center#navbar-title(sliding='')
      | {{showInfo.title || 'Información importante'}} 
  .content-block(v-html='showInfo.data')
</template>
<script>
import BackIcon from '../assets/img/arrow-back.png'
export default {
  name: 'popupGeneric',
  data(){
    return{
      backIcon: BackIcon
    }
  },
  methods:{
    closePopup(){
      this.$f7.closeModal('.popup-generic', true)
    }
  },
  computed:{
    showInfo(){
      return this.$store.getters.showInfo
    }
  }
}
</script>

<style scoped>
.popup-generic{
  background-color: white;
  padding: 10px;
}
.navbar-selector{
  background: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  position: absolute;
  top: 45px;
  left: 0;
}
</style>
