<template lang="pug">
.popup.popup-preloader.tablet-fullscreen
  .content-block
    span.preloader.preloader-white.stuff
</template>

<script>
export default {
  name: 'preloader'
}
</script>

<style scoped>
.popup-preloader{
  display: block;
  background: rgba(0, 0, 0, 0.63);
  width: 100vw;
  height: 100vh;
  /* max-width: 80px;
  max-height: 80px; */
  overflow: hidden;
  /* border-radius: 30px; */
  /* position: absolute; */
  /* margin: auto; */
  /* top: 0;
  right: 0;
  bottom: 0;
  left: 0; */
}
.content-block{
  /* padding: 0;
  height: 100%; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}
.stuff{
  width: 100%;
  height: 100%;
  /* width: 50%;
  height: 50%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  position: absolute; */
}
</style>
