<template lang="pug">
.popup.popup-private-note.navbar-through
  .navbar
    .navbar-inner
      .left
        img(:src='backIcon',@click='closePopup')
      .center Nota interna
      .right
  .content-block(v-html='showInfo.data')
</template>
<script>
import BackIcon from '../assets/img/arrow-back.png'
export default {
  name: 'popupGeneric',
  data(){
    return{
      backIcon: BackIcon
    }
  },
  methods:{
    closePopup(){
      this.$f7.closeModal('.popup-private-note', true)
    }
  },
  computed:{
    showInfo () {
      return this.$store.getters.showInfo
    }
  }
}
</script>

<style scoped>
.navbar{
  background: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
}
</style>
