<template lang='pug'>
.query-action-button(@click='emitAction')
  .icon-container
    i(:class='[icon]')
  .tag-container
    span {{text}}
</template>

<script>
export default {
  name: 'queryActionButton',
  props: {
    icon: {
      type: String,
      required: true
    },
    text: {
      type: String,
      required: true
    },
    action: {
      type: String,
    }
  },
  methods: {
    emitAction () {
      this.$emit(this.action)
    }
  }
}
</script>

<style scoped>
.query-action-button{
  width: 33%;
}
.icon-container{
  padding-top: 4px;
}
span {
  font-size: 12px;
}
</style>
