<template lang="pug">
.searchbar-container
  f7-searchbar(cancel-link='Cancel', search-list='#search-list', placeholder='Search in items', :clear-button='true', @searchbar:search='onSearch', @searchbar:enable='onEnable', @searchbar:disable='onDisable', @searchbar:clear='onClear')

  f7-list.searchbar-not-found
    f7-list-item(title='Nothing found')

  f7-list#search-list.searchbar-found
    f7-list-item(v-for='item in items', :title="'Item ' + item")
</template>

<script>
  export default {
    data: function () {
      return {
        items: (function () {
          var it = [];
          for (var i = 0; i < 100; i++) it.push(i+1);
          return it;
        })()
      }
    },
    methods: {
      onSearch: function (query, found) {
        console.log('search', query);
      },
      onClear: function (event) {
        console.log('clear');
      },
      onEnable: function (event) {
        console.log('enable');
      },
      onDisable: function (event) {
        console.log('disable');
      },
    }
  }
</script>
