<template lang="pug">
.show-attachment-container
  .card
    .list-block
      ul
        li(v-for='attach in attachmentsArray', v-show='attach.file != ""')
          .card-content(@click='downloadFile(attach.file)')
            .card-content-inner
              .attachments-container()
                span {{attach.name.split('/').pop()}}
                i.material-icons attach_file
</template>

<script>
import Helper from '../assets/js/helper'
export default {
  name: 'showAttachment',
  props: {
    attachmentsArray:{
      type: Array
    }
  },
  methods:{
    downloadFile(file){
      Helper.downloadFile(file)
    }
  }
}
</script>

<style scoped>
.attachments-container i {
  position: absolute;
  right: 10px;
}
</style>
