<template lang="pug">
.toolbar#toolbarSelector(:style='toolbarHeight', v-if='toolbarConfig.showToolbar')
  .popover-container
    .popover.popover-store-query
      .popover-inner
        .list-block
          ul
            li.item-content(@click='loadBox("GRAL")')
              .item-inner
                .item-title Bandeja de entrada
            li.item-content(v-for='box in queryMenu.boxes', :key='box.id_cat' @click='storeQuery(box)')
              .item-inner
                .item-title {{box.nombre_cat}}
            li.item-content(@click='closeStoreQuery')
              .item-inner
                .item-title Cancelar
    .popover.popover-tag-query
      .popover-inner
        .list-block
          ul
            li.item-content(v-for='tag in tagsData', :key='tag.id' @click='tagQuery(tag)')
              .item-inner
                .item-title {{tag.etiqueta}}
            li.item-content(@click='closeTagQuery')
              .item-inner
                .item-title Cancelar
    .popover.popover-type-query
      .popover-inner
        .list-block
          ul
            li.item-content(v-for='queryType in queryTypeData', :key='queryType.idGrupo' @click='typeQuery(queryType)')
              .item-inner
                .item-title {{queryType.nombreGrupo}}
            li.item-content(@click='closeTypeQuery')
              .item-inner
                .item-title Cancelar
  .query-data-menu(v-if='toolbarConfig.showQueryDataMenu')
    .reply-container(@click='replyQuery')
      i.fas.fa-reply
    .type-container.open-popover(data-popover='.popover-type-query')
      i.fas.fa-share
    .tag-container.open-popover(data-popover='.popover-tag-query')
      i.fas.fa-tag
    .archive-container.open-popover(data-popover='.popover-store-query')
      i.fas.fa-folder-open
  .custom-toolbar(@click='adminButtonClick', v-if='toolbarConfig.isAdmin', :class="{ 'girovision-style': toolbarConfig.showGirovisionButton}")
    span(v-if='toolbarConfig.icon !== "none"')
      i.material-icons
        | {{toolbarConfig.icon || 'create'}}
    span {{toolbarConfig.text}}
  .girovision-button-container(@click='girovisionButtonClick', v-if='toolbarConfig.showGirovisionButton')
    span Enviar 1 invitación via whatsapp
    span
      i.fab.fa-whatsapp
  .select-all-button-container(@click='selectAllButtonClick', v-if='selectAll.showCheckbox && selectAll.btnIcon === "done"')
    span Marcar como leidos
    span
      i.material-icons done_all
  .query-action-buttons-container(v-if='selectAll.showCheckbox && selectAll.btnIcon === "share"')
    query-action-button(icon='fas fa-share', text='Derivar', action='shareSelectedAction' @shareSelectedAction='makeShareButtons')
    query-action-button(icon='fas fa-tag', text='Etiquetar', action='tagSelectedAction' @tagSelectedAction='makeTagButtons')
    query-action-button(icon='fas fa-folder-open', text='Archivar', action='fileSelectedAction' @fileSelectedAction='makeFileButtons')
  .toolbar.tabbar.custom-background
    .toolbar-inner
      a.tab-link(href='#', data-selected='home', @click.prevent='goToPage')
        img(:src='homeIcon')
      a.tab-link(href='#', data-selected='expensas', @click.prevent='goToPage', v-if="toolbarOptions.EXPENSAS", v-bind:class="{ 'selected-background': isExpensas() }")
        img(:src='expensasIconFooter')
      a.link(href='#', data-selected='novedades', @click.prevent='goToPage', v-if="toolbarOptions.NOVEDADES", v-bind:class="{ 'selected-background': isNovedades() }")
        img(:src='novedadesIcon')
      a.link(href='#', data-selected='consultas', @click.prevent='goToPage', v-if="toolbarOptions.CONSULTAS || toolbarOptions.CONSULTASADMIN", v-bind:class="{ 'selected-background': isConsultas() }")
        img(:src='consultasIcon')
</template>

<script>
import Helper from "../assets/js/helper";
import HomeIcon from "../assets/img/icons/footer/home.png";
import ExpensasIconFooter from "../assets/img/icons/footer/expensasFooter.png";
import NovedadesIcon from "../assets/img/icons/footer/novedades.png";
import ConsultasIcon from "../assets/img/icons/footer/consultas.png";
import QueryActionButton from './queryActionButton'
import { mapGetters, mapActions } from "vuex";
import helper from '../assets/js/helper';
export default {
  name: "toolbar",
  props: ["title", "previousTitle", "text", "icon"],
  data() {
    return {
      homeIcon: HomeIcon,
      expensasIconFooter: ExpensasIconFooter,
      novedadesIcon: NovedadesIcon,
      consultasIcon: ConsultasIcon,
      currentPage: undefined,
      calls: 0,
      height: 50
    };
  },
  components: {
    queryActionButton: QueryActionButton
  },
  computed: {
    ...mapGetters([
      "isAdmin",
      "mainTitle",
      "mainTitleArray",
      "selectAll",
      "toolbarOptions",
      "toolbarConfig",
      "credentials",
      "queryMenu",
      "queryDataAdmin",
      "tagsData",
      "queryTypeData"
    ]),
    toolbarHeight: {
      // getter
      get: function() {
        this.height = 50;
        if (this.toolbarConfig.showQueryDataMenu)
          this.height = this.height + 50;
        if (this.toolbarConfig.isAdmin) this.height = this.height + 50;
        if (this.toolbarConfig.showGirovisionButton)
          this.height = this.height + 50;
        if (this.selectAll.showCheckbox) this.height = this.height + 50;
        return { height: this.height + "px" };
      },
      // setter
      set: function(h) {}
    },
  },
  mounted() {
    this.$nextTick(() => {
      // debugger
      // if (this.toolbarConfig.showGirovisionButton) {
      //   debugger
      //   this.$$('.' + this.customToolbar + ' .custom-toolbar').css({'background-color': '#5ac8fa'})
      // }
    });
  },
  methods: {
    ...mapActions(["setSelectAll", "setToolbarHeight", "changeMainTitle"]),
    
    adminButtonClick() {
      this.$eventBus.$emit(this.toolbarConfig.event);
      // this.$emit("btnAdminClick")
    },
    isExpensas() {
      return this.selectAll.currentPage === 'Expensas'
    },
    isNovedades() {
      return this.selectAll.currentPage === 'Novedades'
    },
    isConsultas() {
      return this.selectAll.currentPage === 'Consultas' || this.selectAll.currentPage === 'ConsultasAdmin'
    },
    closeStoreQuery() {
      this.$f7.closeModal(".popover-store-query", true);
    },
    closeTagQuery() {
      this.$f7.closeModal(".popover-tag-query", true);
    },
    closeTypeQuery() {
      this.$f7.closeModal(".popover-type-query", true);
    },
    replyQuery() {
      this.$eventBus.$emit("newQuery2EvtAdmin");
    },
    storeQuery(box) {
      this.$f7.closeModal(".popover-store-query", true);
      let data = {};
      if (typeof box === "string") data.id_cat = box;
      else data.id_cat = box.id_cat;
      let params = {
        url: Helper.URL.GetMain,
        dataType: "JSON",
        callback: this.storeQuerySuccess,
        data: {
          idPantalla: 9,
          idAccion: "archivarConsulta",
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          carpeta: data.id_cat,
          idconsulta: this.queryDataAdmin.id_consulta
        }
      };
      Helper.post(params);
    },
    storeQuerySuccess(res) {
      this.$store.dispatch("setMainTitleToPush", "Bandeja de entrada");
      this.$eventBus.$emit("loadBoxEvt", { id_cat: "GRAL" });
      f7.mainView.loadPage({ url: "consultasadmin", force: true });
      Helper.showMessage(res);
    },
    makeShareButtons () {
      let vm = this
      let buttons = []
      this.queryTypeData.forEach(key => {
        let shareId = key.idGrupo
        buttons.push({
          text: key.nombreGrupo,
          onClick: () => {
            vm.shareSelectedQuerys(shareId)
          }
        })
      })
      this.$f7.actions(buttons)
    },
    makeTagButtons () {
      let vm = this
      let buttons = []
      this.tagsData.forEach(key => {
        let tagId = key.id
        buttons.push({
          text: key.etiqueta,
          color: key.color,
          onClick: () => {
            vm.tagSelectedQuerys(tagId)
          }
        })
      })
      this.$f7.actions(buttons)
    },
    makeFileButtons () {
      let vm = this
      let buttons = [
        {
          text: 'Bandeja de entrada',
          onClick: () => {
            vm.fileSelectedQuerys('GRAL')
          }
        }
      ]
      this.queryMenu.boxes.forEach(key => {
        let fileId = key.id_cat
        buttons.push({
          text: key.nombre_cat,
          onClick: () => {
            vm.fileSelectedQuerys(fileId)
          }
        })
      })
      this.$f7.actions(buttons)
    },
    shareSelectedQuerys(queryType) {
      let idsConsulta = _.cloneDeep(this.selectAll.selectedItems)
      let params = {
        url: Helper.URL.GetMain,
        dataType: "JSON",
        callback: this.shareSelectedQuerysSuccess,
        data: {
          idPantalla: 9,
          idAccion: "derivarConsulta",
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          tipoconsulta: queryType,
          idsconsulta: idsConsulta
        }
      };
      Helper.post(params);
    },
    shareSelectedQuerysSuccess (res) {
      Helper.showMessage(res)
      this.selectAll.callback()
      this.changeMainTitle('Bandeja de entrada')
    },
    fileSelectedQuerys (id) {
      let idsConsulta = _.cloneDeep(this.selectAll.selectedItems)
      let params = {
        url: Helper.URL.GetMain,
        dataType: "JSON",
        callback: this.fileSelectedQuerysSuccess,
        data: {
          idPantalla: 9,
          idAccion: "archivarConsulta",
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          carpeta: id,
          idsconsulta: idsConsulta
        }
      };
      Helper.post(params);
    },
    fileSelectedQuerysSuccess (res) {
      Helper.showMessage(res)
      this.selectAll.callback()
      this.changeMainTitle('Bandeja de entrada')
    },
    tagSelectedQuerys (id) {
      let idsConsulta = _.cloneDeep(this.selectAll.selectedItems)
      let params = {
        url: Helper.URL.GetMain,
        dataType: "JSON",
        callback: this.tagSelectedQuerysSuccess,
        data: {
          idPantalla: 9,
          idAccion: "etiquetarConsulta",
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          etiqueta: id,
          idsconsulta: idsConsulta
        }
      }
      Helper.post(params)
    },
    tagSelectedQuerysSuccess (res) {
      Helper.showMessage(res)
      this.selectAll.callback()
      this.changeMainTitle('Bandeja de entrada')
    },
    tagQuery(tag) {
      this.$f7.closeModal(".popover-tag-query", true);
      let params = {
        url: Helper.URL.GetMain,
        dataType: "JSON",
        callback: this.tagQuerySuccess,
        data: {
          idPantalla: 9,
          idAccion: "etiquetarConsulta",
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          etiqueta: tag.id,
          idconsulta: this.queryDataAdmin.id_consulta
        }
      };
      Helper.post(params);
    },
    tagQuerySuccess(res) {
      this.$store.dispatch("setMainTitleToPush", "Bandeja de entrada");
      this.$eventBus.$emit("loadBoxEvt", { id_cat: "GRAL" });
      f7.mainView.loadPage({ url: "consultasadmin", force: true });
      Helper.showMessage(res);
    },
    typeQuery(queryType) {
      this.$f7.closeModal(".popover-type-query", true);
      let params = {
        url: Helper.URL.GetMain,
        dataType: "JSON",
        callback: this.tagQuerySuccess,
        data: {
          idPantalla: 9,
          idAccion: "derivarConsulta",
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          tipoconsulta: queryType.idGrupo,
          idconsulta: this.queryDataAdmin.id_consulta
        }
      };
      Helper.post(params);
    },
    typeQuerySuccess(res) {
      this.$store.dispatch("setMainTitleToPush", "Bandeja de entrada");
      this.$eventBus.$emit("loadBoxEvt", { id_cat: "GRAL" });
      f7.mainView.loadPage({ url: "consultasadmin", force: true });
      Helper.showMessage(res);
    },
    girovisionButtonClick() {
      this.$eventBus.$emit(this.toolbarConfig.eventGiro);
      // this.$emit("btnGirovisionClick")
    },
    selectAllButtonClick() {
      // if (this.selectAll.btnIcon === "share") {
      //   let vm = this
      //   let buttons = [
      //     {
      //       text: "Derivar",
      //       onClick: () =>{
      //         vm.$f7.alert("Derivar clicked");
      //       }
      //     },
      //     {
      //       text: "Etiquetar",
      //       color: "green",
      //       onClick: function() {
      //         vm.$f7.alert("Etiquetar clicked");
      //       }
      //     },
      //     {
      //       text: "Archivar",
      //       color: "red",
      //       onClick: function() {
      //         vm.$f7.alert("Archivar clicked");
      //       }
      //     }
      //   ];
      //   this.$f7.actions(buttons);
      // } else {
        let params = {
          url: Helper.URL.GetMain,
          // dataType: 'json',
          callback: this.setReadSuccess,
          data: {
            idPantalla: this.selectAll.idPantalla,
            idAccion: "Unica",
            idBarrio: this.credentials.barrio.id,
            idUsuario: this.credentials.user,
            idPassword: this.credentials.password,
            ids: this.selectAll.selectedItems.join(","),
            idNovedad: 0
          }
        };
        Helper.post(params);
      //}
    },
    setReadSuccess(res) {
      this.selectAll.callback();
      this.setSelectAll({
        show: false,
        listRef: null,
        items: [],
        selectedItems: [],
        method: "",
        showCheckbox: false,
        callback: this.loadNovedades
      });
    },
    goToPage(evt) {
      this.setSelectAll({
        show: false,
        listRef: '',
        items: [],
        selectedItems: [],
        idPantalla: -1,
        showCheckbox: false,
        selectAll: false,
        btnText: 'Marcar como leidos',
        btnIcon: 'done'
      })
      console.log("befor path " + this.$route.path);
      this.currentPage = this.$f7.mainView.activePage.name
        ? this.$f7.mainView.activePage.name.toLowerCase()
        : undefined;
      let selected = evt.currentTarget.dataset.selected;
      if (this.currentPage === selected) return;
      this.$store.dispatch("setShowInfo", { show: false, data: "" });
      switch (selected) {
        case "home":
          console.log("setting path as home");
          this.$store.dispatch("clearMainTitle");
          // this.$f7.mainView.loadPage({ url: "/home", force: true })
          this.$router.loadPage({ url: "home", force: true });
          break;
        case "novedades":
          this.pushTitle("Novedades");
          // this.$f7.mainView.loadPage({ url: "novedades", force: true })
          // this.$route.path = 'novedades'
          this.$router.loadPage({ url: "novedades", force: true });
          break;
        case "expensas":
          this.pushTitle("Expensas");
          this.$router.loadPage({ url: "expensas", force: true });
          // this.$f7.mainView.loadPage({ url: "expensas", force: true})
          break;
        case "consultas":
          if (this.isAdmin) {
            this.pushTitle("Bandeja de entrada");
            this.$router.loadPage({ url: "consultasadmin", force: true });
          } else {
            this.pushTitle("Consultas");
            this.$router.loadPage({ url: "consultas", force: true });
          }
          // this.$f7.mainView.loadPage({ url: "consultas", force: true })
          break;
        default:
          console.log("none go to page");
          break;
      }
    },
    pushTitle(title) {
      let push = true;
      for (let i = 0; i < this.mainTitleArray.length; i++) {
        if (
          this.mainTitleArray[i].toLowerCase().indexOf(title.toLowerCase()) > -1
        )
          push = false;
      }
      if (push) this.$store.dispatch("setMainTitleToPush", title);
      else this.$store.commit("FLIP_MAIN_TITLE_ARRAY", title);
    }
  },
  watch: {
    height() {
      this.setToolbarHeight(this.height);
    }
  }
};
</script>

<style>
.selected-background {
  background-color: #ef4e3a;
}
</style>

<style scoped>
a {
  width: 25%;
  height: 100% !important;
}
img {
  height: 40px;
  margin: 0 auto;
}

.toolbar-inner {
  position: relative;
  width: 100%;
  height: 50px;
}

.custom-toolbar {
  background-color: #33cd5f;
}
.custom-toolbar span {
  line-height: 50px;
  font-size: 18px;
  padding-left: 10px;
}

.custom-toolbar i {
  vertical-align: sub;
}

.ss .selected-background {
  background-color: #ef4e3a;
}

.girovision-style {
  background-color: #5ac8fa !important;
}
.girovision-button-container {
  height: 50px;
  line-height: 50px;
  background-color: #33cd5f;
}

.girovision-button-container span {
  font-size: 18px;
  padding-left: 10px;
}

.select-all-button-container {
  height: 50px;
  line-height: 50px;
  background-color: #333333;
}

.select-all-button-container span {
  font-size: 18px;
  padding-left: 10px;
}

/* query menu data */
.query-data-menu {
  height: 50px;
  background: white;
  color: #000;
}

.reply-container,
.type-container,
.tag-container,
.archive-container {
  height: 50px;
  font-size: 30px;
  line-height: 50px;
  display: inline-block;
  width: 25%;
}
.share-button-container,
.tag-button-container,
.archive-button-container{
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  display: inline-block;
  width: 33%;
}
.query-action-buttons-container{
  width: inherit;
  display: inline-flex;
  background-color: #333333;
}
/* VERGARA CUSTOM COLORS */
.vergara .selected-background {
  background-color: #5cd697;
}
.vergara .custom-background {
  background-color: #1ca697;
}

/* LAGARTOS CUSTOM COLORS */
.lagartos .selected-background {
  background-color: #305b45;
}
.lagartos .custom-background {
  background-color: #003e27;
}

/* DIBARTOLO CUSTOM COLORS */
.dibartolo .selected-background {
  background-color: #035a8d;
}
.dibartolo .custom-background {
  background-color: #004064;
}

/* CARMEL CUSTOM COLORS */
.carmel .selected-background {
  background-color: #305b45;
}
.carmel .custom-background {
  background-color: #005C30;
}

/* PROVIDENCIA CUSTOM COLORS */
.providencia .selected-background {
  background-color: #131131;
}
.providencia .custom-background {
  background-color: #233253;
}

/* CASTORES CUSTOM COLORS */
.castores .selected-background {
  background-color: rgb(0, 62, 55);
}
.castores .custom-background {
  background-color: rgb(0, 92, 48);
}
</style>