<template lang='pug'>
.wysiwyg-container
  .wysiwyg-toolbar(v-show='!showPreview')
    .icon-container(@click='setBold')
      i.fas.fa-bold
    .icon-container(@click='setItalic')
      i.fas.fa-italic
    .icon-container(@click='setUnderline')
      i.fas.fa-underline
    .icon-container
      i.fas.fa-align-left
    .icon-container
      i.fas.fa-align-center
    .icon-container
      i.fas.fa-align-justify
    .icon-container
      i.fas.fa-align-right
    .icon-container
      i.fas.fa-link
    .icon-container
      i.fas.fa-list-ul
    .icon-container
      i.fas.fa-list-ol
    .icon-container
      i.fas.fa-image
  .wysiwyg-editor
    textarea#textareaEditor(placeholder='Escriba aquí...',
    @keydown='newLine',
    ref='textareaEditor',
    v-show='!showPreview')
    div#textareaEditorFinish(placeholder='Escriba aquí...', v-html='inputHTML', v-show='true')
    p(@click='showPreview = !showPreview') Ver resultado
</template>

<script>
export default {
  name: 'wysiwyg',
  data () {
    return {
      arrayInput: [],
      inputHTML: '',
      showPreview: false,
      selectedText: {
        start: 0,
        end: 0,
        text: ''
      }
    }
  },
  mounted () {
    this.bindEvents()
  },
  beforeDestroy () {
  },
  methods: {
    bindEvents () {
      let el = document.getElementById('textareaEditor')
      el.onfocus = this.onFocus
    },
    onFocus () {
      this.getSelectedText()
    },
    newLine () {
      debugger
      //this.inputHTML = this.inputHTML + '<br> \n'
    },
    getSelectedText () {
      // obtain the object reference for the <textarea>
      const txtarea = document.getElementById('textareaEditor');
      // obtain the index of the first selected character
      this.selectedText.start = txtarea.selectionStart;
      // obtain the index of the last selected character
      this.selectedText.end = txtarea.selectionEnd;
      // obtain the selected text
      this.selectedText.text = txtarea.value.substring(this.selectedText.start, this.selectedText.end);
      // do something with the selected content
      console.log('selected text: ' + this.selectedText.text)
    },
    setBold () {
      this.getSelectedText()
      let orgText = _.cloneDeep(this.inputHTML)
      // var txt = _.cloneDeep(this.selectedText.text)
      let modTxt = ''
      if (hasSelectedText) {
        modTxt = orgText.substr(0, this.selectedText.start) + '<b>'+ this.selectedText.text +'</b>' + orgText.substr(this.selectedText.end, orgText.length)
      }
      this.inputHTML = modTxt
    },
    setItalic () {
      this.getSelectedText()
      let orgText = _.cloneDeep(this.inputHTML)
      // var txt = _.cloneDeep(this.selectedText.text)
      let modTxt = ''
      if (this.selectedText.start != this.selectedText.end) modTxt = orgText.substr(0, this.selectedText.start) + '<i>'+ this.selectedText.text +'</i>' + orgText.substr(this.selectedText.end, orgText.length)
      this.inputHTML = modTxt
    },
    setUnderline () {
      this.getSelectedText()
      let orgText = _.cloneDeep(this.inputHTML)
      // var txt = _.cloneDeep(this.selectedText.text)
      let modTxt = ''
      if (this.selectedText.start != this.selectedText.end) modTxt = orgText.substr(0, this.selectedText.start) + '<u>'+ this.selectedText.text +'</u>' + orgText.substr(this.selectedText.end, orgText.length)
      this.inputHTML = modTxt
    },
    hasSelectedText () {
      return this.selectedText.start != this.selectedText.end
    }
  }
}
</script>

<style scoped>
.wysiwyg-toolbar {
  height: 40px;
  width: auto;
  margin-left: 2%;
  margin-right: 2%;
  overflow-x: scroll;
  font-size: 30px;
  display: flex;
}
.wysiwyg-toolbar .icon-container {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
  color: gray;
}
textarea {
  width: 96%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid lightgrey;
  border-radius: 5px;
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  /* -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none; */
}
</style>
