<template lang="pug">
f7-page#registroMartindale.no-navbar.navbar-hidden(data-page='registroMartindale')
  .title-container
    label
      i.material-icons perm_identity
      span(style='font-size: 22px;') Solicitar nuevo usuario
  .registro-martindale-container
    .form-container
      .list-block
        ul
          li
            .item-content
              .item-inner
                .item-input
                  input#fullname(type='text', placeholder='Nombre y Apellido', v-model='newUser.fullName')
          li
            .item-content
              .item-inner
                .item-input
                  a.item-link.smart-select(href='#', data-open-in="picker", data-back-on-select="true", :disabled='lotDisabled')
                    select(v-model='newUser.apartment')
                      option(v-for='lot in lotsArr', :value='lot.lote_usr') {{lot.lote_usr}}
                    .item-select-text(:disabled='lotDisabled') {{newUser.apartment || 'Piso / Dpto / Lote'}}
          li
            .item-content
              .item-inner
                .item-input
                  input#email(type='text', placeholder='Email', v-model='newUser.email1')
          li
            .item-content
              .item-inner
                .item-input
                  input#email2(type='text', placeholder='Email Alternativo', v-model='newUser.email2')
          li.no-after
            label.label-radio.item-content
              input(type='radio', name='owner-radio', value='propietario', ref='chkProp')
              .item-inner
                .item-title Propietario
          li.no-after
            label.label-radio.item-content
              input(type='radio', name='owner-radio', value='inquilino', ref='chkInq')
              .item-inner
                .item-title Inquilin
          li.no-after
            .buttons-container
              button.button.button-fill.button-general-style.martindale-button-color(@click='registerUser') Enviar Registro
              br
              button.button.button-fill.button-general-style.martindale-button-border(@click='backButton') Volver
</template>

<script>
import Helper from '../../assets/js/helper'
export default {
  name: 'registroarboris',
  data() {
    return {
      newUser: {
        neighbourhood: '1377',
        fullName: '',
        apartment: '',
        email1: '',
        email2: '',
        owner: true
      },
      lotsArr: []
    }
  },
  computed: {
    lotDisabled () {
      return this.lotsArr.length <= 0
    }
  },
  mounted() {
    this.getLots()
  },
  methods: {
    getLots () {
      this.lotsArr = []
      this.newUser.apartment = ''
      let params = {
        method: 'POST',
        dataType: 'json',
        url: Helper.URL.GetMain,
        callback: this.getLotsSuccess,
        data: {
          idPantalla: 18,
          idAccion: 'lotes_registro',
          idBarrio: this.newUser.neighbourhood,
        }
      }
      Helper.post(params)
    },
    getLotsSuccess (res) {
      if (res) {
        res = typeof(res) === 'string' ? JSON.parse(res) : res
        this.lotsArr = res
      }
    },
    registerUser(){
      if(this.validity()){
        let params = {
          method: 'POST',
          dataType: 'json',
          url: Helper.URL.GetMain,
          callback: this.registerUserSuccess,
          data: {
            idPantalla: 0,
            idAccion: 'Registro',
            idBarrio: this.newUser.neighbourhood,
            nombre: this.newUser.fullName,
            piso: this.newUser.apartment,
            email: this.newUser.email1,
            email2: this.newUser.email2,
            tipo: this.$refs.chkProp.checked ? 'Propietario' : 'Inquilino'
          }
        }
        Helper.post(params)
      }
    },
    registerUserSuccess(res){
      let vm = this
      Helper.showMessage(res, () =>{
        vm.$f7.mainView.loadPage('login-martindale')
      })
    },
    validity(){
      if (this.newUser.neighbourhood == "") {
          Helper.showMessage("Debe seleccionar un consorcio")
          return false
      }

      if (this.newUser.fullName == "") {
          Helper.showMessage("Debe ingresar un nombre")
          return false
      }

      if (this.newUser.apartment == "") {
          Helper.showMessage("Debe ingresar una piso")
          return false
      }

      if (this.newUser.email1 == "") {
          Helper.showMessage("Debe ingresar un email")
          return false
      } if (!this.$refs.chkProp.checked && !this.$refs.chkInq.checked) {
          Helper.showMessage("Debe seleccionar propietario o inquilino")
          return false
      }
      return true
    },
    backButton(){
      this.$f7.mainView.back()
    }
  }
}
</script>

<style scoped>
.title-container {
  color: #000;
  background-color: #fff;
  padding: 30px;
}
.title-container i{
  vertical-align: top;
  padding-right: 30px;
  font-size: 30px;
  font-weight: 100;
}
.registro-martindale-container{
  height: 100%;
  background-color: #fff;
}
ul{
  color: #000;
  background: inherit;
}

ul li {
  padding-top: 5px;
  padding-bottom: 5px;
}

input{
  color: #000;
}

.buttons-container button {
  width: 95%;
  margin: 0 auto;
  min-width: 52px;
  min-height: 47px;
  line-height: 47px;
  border-radius: 0;
  margin-top: 10px;
}

.martindale-button-color{
  background-color: #110852;
}
.martindale-button-border{
  background: none;
  border: 1px solid #110852;
  color: #000;
}


</style>
