<template lang="pug">
f7-page#registroEspartanos.no-navbar.navbar-hidden(data-page='registro-espartanos')
  .title-container
    label.espartanos-header-color
      i.material-icons perm_identity
      span(style='font-size: 22px;') Solicitar nuevo usuario
  .registro-espartanos-container.espartanos-color
    .form-container
      .list-block
        ul
          li
            .item-content
              .item-inner
                .item-input
                  input#fullname(type='text', placeholder='Nombre y Apellido', v-model='newUser.fullName')
          //- li
          //-   .item-content
          //-     .item-inner
          //-       .item-input
          //-         input#apartment(type='text', placeholder='Piso / Dpto / Lote', v-model='newUser.apartment')
          li
            .item-content
              .item-inner
                .item-input
                  a.item-link.smart-select(href='#', data-open-in="picker", data-back-on-select="true", :disabled='lotDisabled')
                    select(v-model='newUser.apartment')
                      option(v-for='lot in lotsArr', :value='lot.lote_usr') {{lot.lote_usr}}
                    .item-select-text(:disabled='lotDisabled') {{newUser.apartment || 'Piso / Dpto / Lote'}}
          li
            .item-content
              .item-inner
                .item-input
                  input#email(type='text', placeholder='Email', v-model='newUser.email1')
          li
            .item-content
              .item-inner
                .item-input
                  input#email2(type='text', placeholder='Email Alternativo', v-model='newUser.email2')
          li.no-after
            label.label-radio.item-content
              input(type='radio', name='owner-radio', value='propietario', ref='chkProp')
              .item-inner
                .item-title Propietario
          li.no-after
            label.label-radio.item-content
              input(type='radio', name='owner-radio', value='inquilino', ref='chkInq')
              .item-inner
                .item-title Inquilin
          li.no-after
            .buttons-container
              button#register.button.button-fill.button-general-style(@click='registerUser') Enviar Registro
              br
              button#back.button.button-fill.button-general-style.gray-border(@click='backButton') Volver
</template>

<script>
import Helper from '../../assets/js/helper'
export default {
  name: 'registroEspartanos',
  data() {
    return {
      newUser: {
        neighbourhood: '1896',
        fullName: '',
        apartment: '',
        email1: '',
        email2: '',
        owner: true
      },
      lotsArr: []
    }
  },
  computed: {
    lotDisabled () {
      return this.lotsArr.length <= 0
    }
  },
  mounted() {
    this.getLots()
  },
  methods: {
    getLots () {
      this.lotsArr = []
      this.newUser.apartment = ''
      let params = {
        method: 'POST',
        dataType: 'json',
        url: Helper.URL.GetMain,
        callback: this.getLotsSuccess,
        data: {
          idPantalla: 18,
          idAccion: 'lotes_registro',
          idBarrio: this.newUser.neighbourhood,
        }
      }
      Helper.post(params)
    },
    getLotsSuccess (res) {
      if (res) {
        res = typeof(res) === 'string' ? JSON.parse(res) : res
        this.lotsArr = res
      }
    },
    registerUser(){
      if(this.validity()){
        let params = {
          method: 'POST',
          dataType: 'json',
          url: Helper.URL.GetMain,
          callback: this.registerUserSuccess,
          data: {
            idPantalla: 0,
            idAccion: 'Registro',
            idBarrio: this.newUser.neighbourhood,
            nombre: this.newUser.fullName,
            piso: this.newUser.apartment,
            email: this.newUser.email1,
            email2: this.newUser.email2,
            tipo: this.$refs.chkProp.checked ? 'Propietario' : 'Inquilino'
          }
        }
        Helper.post(params)
      }
    },
    registerUserSuccess(res){
      let vm = this
      Helper.showMessage(res, () =>{
        vm.$f7.mainView.loadPage('login-espartanos')
      })
    },
    validity(){
      if (this.newUser.neighbourhood == "") {
          Helper.showMessage("Debe seleccionar un consorcio")
          return false
      }

      if (this.newUser.fullName == "") {
          Helper.showMessage("Debe ingresar un nombre")
          return false
      }

      if (this.newUser.apartment == "") {
          Helper.showMessage("Debe ingresar una piso")
          return false
      }

      if (this.newUser.email1 == "") {
          Helper.showMessage("Debe ingresar un email")
          return false
      } if (!this.$refs.chkProp.checked && !this.$refs.chkInq.checked) {
          Helper.showMessage("Debe seleccionar propietario o inquilino")
          return false
      }
      return true
    },
    backButton(){
      this.$f7.mainView.back()
    }
  }
}
</script>

<style scoped>
.espartanos-header-color i, .espartanos-header-color span{
  color: #333;
}
#register {
  background-color: #FFF200;
  font-size: 16px;
  color: #333;
  border: 1px solid #333;
}
#back {
  color: #333;
  border: 1px solid #333;
  font-size: 16px;
}
.title-container {
  color: #333;
  background-color: #FCB040;
  padding: 30px;
}
.title-container i{
  vertical-align: top;
  padding-right: 30px;
  font-size: 30px;
  font-weight: 100;
}
.registro-espartanos-container{
  height: 100%;
  background-color: #FCB040;
}
ul{
  color: #333;
  background: inherit;
}

ul li {
  padding-top: 5px;
  padding-bottom: 5px;
}

#registroEspartanos input{
  color: #333 !important;
  background: inherit;
  font-size: 14px;
}

#registroEspartanos .list-block ul:after, #registroEspartanos .list-block ul:before{
  display: none;
}

.espartanos-color {
  background-color: #FCB040;
}

#registroEspartanos .list-block .no-after:after{
  display: none;
}

.gray-color{
  background-color: #333333;
}
.gray-border{
  background: none;
  border: 1px solid #333333;
}

.buttons-container {
  color:black;
  /* position: fixed; */
  /* left: 50%;
  width: 98%;
  transform: translate(-50%, -40%); */
}
.buttons-container button{
  min-height: 47px;
  line-height: 47px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #424242;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #424242;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #424242;
}
:-moz-placeholder { /* Firefox 18- */
  color: #424242;
}
</style>
