<template lang="pug">
f7-page#registroAdministrar.no-navbar.navbar-hidden(data-page='registroAdministrar')
  .title-container
    label
      i.material-icons perm_identity
      span(style='font-size: 22px;') Solicitar nuevo usuario
  .registro-administrar-container
    .form-container
      .list-block
        ul
          li
            .item-content
              .item-inner
                .item-input
                  input#autocomplete-barrios-new-user(type='text', placeholder='Consorcio')
          li
            .item-content
              .item-inner
                .item-input
                  input#fullname(type='text', placeholder='Nombre y Apellido', v-model='newUser.fullName')
          li
            .item-content
              .item-inner
                .item-input
                  a.item-link.smart-select(href='#', data-open-in="picker", data-back-on-select="true", :disabled='lotDisabled')
                    select(v-model='newUser.apartment')
                      option(v-for='lot in lotsArr', :value='lot.lote_usr') {{lot.lote_usr}}
                    .item-select-text(:disabled='lotDisabled') {{newUser.apartment || 'Piso / Dpto / Lote'}}
          //- li
          //-   .item-content
          //-     .item-inner
          //-       .item-input
          //-         input#apartment(type='text', placeholder='Piso / Dpto / Lote', v-model='newUser.apartment')
          li
            .item-content
              .item-inner
                .item-input
                  input#email(type='text', placeholder='Email', v-model='newUser.email1')
          li
            .item-content
              .item-inner
                .item-input
                  input#email2(type='text', placeholder='Email Alternativo', v-model='newUser.email2')
          li.no-after
            label.label-radio.item-content
              input(type='radio', name='owner-radio', value='propietario', ref='chkProp')
              .item-inner
                .item-title Propietario
          li.no-after
            label.label-radio.item-content
              input(type='radio', name='owner-radio', value='inquilino', ref='chkInq')
              .item-inner
                .item-title Inquilino
          li.no-after
            .buttons-container
              button.button.button-fill.button-general-style.gray-color(@click='registerUser') Enviar Registro
              br
              button.button.button-fill.button-general-style.gray-border(@click='backButton') Volver
</template>
<script>
import Helper from '../../assets/js/helper'
export default {
  name: 'registroAdministrar',
  data() {
    return {
      newUser: {
        neighbourhood: '',
        fullName: '',
        apartment: '',
        email1: '',
        email2: '',
        owner: null
      },
      lotsArr: []
    }
  },
  computed: {
    lotDisabled () {
      return this.lotsArr.length <= 0
    }
  },
  mounted() {
    this.loadBarrios()
  },
  methods: {
    loadBarrios() {
      let params = {
        method: 'POST',
        dataType: 'json',
        url: Helper.URL.GetRubros,
        callback: this.loadBarriosSuccess,
        data: {
          sincronizar: 'administrar'
        }
      }
      Helper.post(params)
    },
    loadBarriosSuccess(data) {
      // console.log('#autocomplete-dropdown-barrios cant: ' + this.$('#barrios').length)
      let self = this
      this.arrayBarrios = data
      this.autocomplete = this.$f7.autocomplete({
        input: '#autocomplete-barrios-new-user',
        openIn: 'dropdown',
        preloader: true, //enable preloader
        valueProperty: 'value', //object's "value" property name
        textProperty: 'desc', //object's "text" property name
        limit: 20, //limit to 20 results
        expandInput: true, // expand input
        source: ((autocomplete, query, render) => {
          var results = [];
          if (query.length === 0) {
            render(results);
            return;
          }
          // Find matched items
          for (var i = 0; i < data.length; i++) {
            if (data[i].desc.toLowerCase().indexOf(query.toLowerCase()) >= 0) results.push(data[i]);
          }
          // Render items by passing array with result items
          render(results);
        }),
        onChange: ((autocomplete, value) => {
          self.newUser.neighbourhood = value.value
          self.$$('#autocomplete-barrios-new-user').val(value.desc)
          self.getLots()
        })
      })
    },
    getLots () {
      this.lotsArr = []
      this.newUser.apartment = ''
      let params = {
        method: 'POST',
        dataType: 'json',
        url: Helper.URL.GetMain,
        callback: this.getLotsSuccess,
        data: {
          idPantalla: 18,
          idAccion: 'lotes_registro',
          idBarrio: this.newUser.neighbourhood,
        }
      }
      Helper.post(params)
    },
    getLotsSuccess (res) {
      if (res) {
        res = typeof(res) === 'string' ? JSON.parse(res) : res
        this.lotsArr = res
      }
    },
    registerUser () {
      if(this.validity()){
        let params = {
          method: 'POST',
          dataType: 'json',
          url: Helper.URL.GetMain,
          callback: this.registerUserSuccess,
          data: {
            idPantalla: 0,
            idAccion: 'Registro',
            idBarrio: this.newUser.neighbourhood,
            nombre: this.newUser.fullName,
            piso: this.newUser.apartment,
            email: this.newUser.email1,
            email2: this.newUser.email2,
            tipo: this.$refs.chkProp.checked ? 'Propietario' : 'Inquilino'
          }
        }
        Helper.post(params)
      }
    },
    registerUserSuccess(res){
      let vm = this
      Helper.showMessage(res, () =>{
        vm.$f7.mainView.loadPage('login-administrar')
      })
    },
    validity(){
      if (this.newUser.neighbourhood == "") {
          Helper.showMessage("Debe seleccionar un consorcio")
          return false
      }

      if (this.newUser.fullName == "") {
          Helper.showMessage("Debe ingresar un nombre")
          return false
      }

      if (this.newUser.apartment == "") {
          Helper.showMessage("Debe ingresar una piso")
          return false
      }

      if (this.newUser.email1 == "") {
          Helper.showMessage("Debe ingresar un email")
          return false
      } if (!this.$refs.chkProp.checked && !this.$refs.chkInq.checked) {
          Helper.showMessage("Debe seleccionar propietario o inquilino")
          return false
      }
      return true
    },
    backButton(){
      this.$f7.mainView.back()
    }
  }
}
</script>

<style scoped>
::-webkit-input-placeholder {
  color: #000;
}

.title-container {
  color: #000;
  background-color: #fff;
  padding: 30px;
}
.title-container i{
  vertical-align: top;
  padding-right: 30px;
  font-size: 30px;
  font-weight: 100;
}
.registro-administrar-container{
  height: 100%;
  background-color: #fff;
}
ul{
  color: #000;
  background: inherit;
}

ul li {
  padding-top: 5px;
  padding-bottom: 5px;
}

#registroAdministrar input{
  color: #000 !important;
  background: inherit;
  font-size: 14px;
}

#registroAdministrar .list-block ul:after, #registroAdministrar .list-block ul:before{
  display: none;
}

#registroAdministrar .list-block .no-after:after{
  display: none;
}

.gray-color{
  background-color: #333333;
}
.gray-border{
  background: none;
  border: 1px solid #000;
  color: #000;
}

.buttons-container button{
  min-height: 47px;
  line-height: 47px;
}
</style>
