<template lang="pug">
f7-page#registroayres.no-navbar.navbar-hidden(data-page='registroSS')
  .title-container.ayres-color
    label
      i.material-icons perm_identity
      span(style='font-size: 22px;') Solicitar nuevo usuario
  .registro-ayres-container.ayres-color
    .form-container
      .list-block
        ul
          li
            .item-content
              .item-inner
                .item-input
                  input#fullname(type='text', placeholder='Nombre y Apellido', v-model='newUser.fullName')
          li
            .item-content
              .item-inner
                .item-input
                  input#email(type='text', placeholder='Email', v-model='newUser.email')
          li
            .item-content
              .item-inner
                .item-input
                  input#phone(type='tel', placeholder='Numero de telefono', v-model='newUser.telefono')
      .buttons-container
        button.button.button-fill.button-general-style.gray-color(@click='registerUser') Enviar Registro
        br
        button.button.button-fill.button-general-style.gray-border(@click='backButton') Volver
</template>

<script>
import Helper from '../../assets/js/helper'
export default {
  name: 'registroayres',
  data() {
    return {
      newUser: {
        neighbourhood: '1729',
        fullName: '',
        email: '',
        telefono: '',
        owner: true
      }
    }
  },
  methods: {    
    registerUser(){
      if(this.validity()){
        let params = {
          method: 'POST',
          dataType: 'json',
          url: Helper.URL.GetMain,
          callback: this.registerUserSuccess,
          data: {
            idPantalla: 0,
            idAccion: 'Registro',
            idBarrio: this.newUser.neighbourhood,
            nombre: this.newUser.fullName,
            email: this.newUser.email,
            telefono: this.newUser.telefono
          }
        }
        Helper.post(params)
      }
    },
    registerUserSuccess(res){
      Helper.showMessage(res)
    },
    validity(){
      if (this.newUser.neighbourhood == "") {
          Helper.showMessage("Debe seleccionar un consorcio")
          return false
      }

      if (this.newUser.fullName == "") {
          Helper.showMessage("Debe ingresar un nombre")
          return false
      }

      if (this.newUser.apartment == "") {
          Helper.showMessage("Debe ingresar una piso")
          return false
      }

      if (this.newUser.email1 == "") {
          Helper.showMessage("Debe ingresar un email")
          return false
      }
      return true
    },
    backButton(){
      this.$f7.mainView.back()
    }
  }
}
</script>

<style scoped>
.list-block ul::after {
  height: 0px;
}
.list-block ul::before {
  height: 0px;
}
.title-container {
  color: #fff;
  padding: 30px;
}
.title-container i{
  vertical-align: top;
  padding-right: 30px;
  font-size: 30px;
  font-weight: 100;
}
.registro-ayres-container{
  height: 100%;
}
ul{
  color: white;
  background: inherit;
}

ul li {
  padding-top: 5px;
  padding-bottom: 5px;
}

li::after {
  left: 0;
  margin: auto;
  width: 92%;
}

#registroayres input{
  color: white !important;
  background: inherit;
  font-size: 14px;
}

#registroayres .list-block ul:after, #registroayres .list-block ul:before{
  display: none;
}

/* AYRES CUSTOM COLORS */
.ayres-color {
  background-color: #00487d;
}

#registroayres .list-block .no-after:after{
  display: none;
}

.gray-color{
  background-color: #333333;
}
.gray-border{
  background: none;
  border: 1px solid #333333;
}

.buttons-container{
  margin-top: 30px;
}
.buttons-container button{
  min-height: 47px;
  line-height: 47px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}
</style>
