<template lang="pug">
f7-page#registroVillanueva.no-navbar.navbar-hidden(data-page='registroVillanueva')
  .title-container
    label
      i.material-icons perm_identity
      span(style='font-size: 22px;') Solicitar nuevo usuario
  .registro-villanueva-container
    .form-container
      .list-block
        ul
          li
            .item-content
              .item-inner
                a.item-link.smart-select( href='#', data-open-in="picker", data-back-on-select="true")
                  select(v-model='newUser.neighbourhood', @change='selectNeighbourhood')
                    option(:value='barrio.value', v-for='barrio in arrayBarrios', :key='barrio.value') {{barrio.desc}} 
                  .item-select-text {{newUser.newUser || 'Seleccione su barrio'}}
          li
            .item-content
              .item-inner
                .item-input
                  input#fullname(type='text', placeholder='Nombre y Apellido', v-model='newUser.fullName')
          li
            .item-content
              .item-inner
                .item-input
                  a.item-link.smart-select(href='#', data-open-in="picker", data-back-on-select="true", :disabled='lotDisabled')
                    select(v-model='newUser.apartment')
                      option(v-for='lot in lotsArr', :value='lot.lote_usr') {{lot.lote_usr}}
                    .item-select-text(:disabled='lotDisabled') {{newUser.apartment || 'Piso / Dpto / Lote'}}
          li
            .item-content
              .item-inner
                .item-input
                  input#email(type='text', placeholder='Email', v-model='newUser.email1')
          li
            .item-content
              .item-inner
                .item-input
                  input#email2(type='text', placeholder='Email Alternativo', v-model='newUser.email2')
          li.no-after
            label.label-radio.item-content
              input(type='radio', name='owner-radio', value='propietario', ref='chkProp')
              .item-inner
                .item-title Propietario
          li.no-after
            label.label-radio.item-content
              input(type='radio', name='owner-radio', value='inquilino', ref='chkInq')
              .item-inner
                .item-title Inquilin
          li.no-after
            .buttons-container
              button.button.button-fill.button-general-style.gray-color(@click='registerUser') Enviar Registro
              br
              button.button.button-fill.button-general-style.gray-border(@click='backButton') Volver
</template>
<script>
import Helper from '../../assets/js/helper'
export default {
  name: 'registroSS',
  data() {
    return {
      // selectedNeighborhood: null,
      arrayBarrios: [],
      newUser: {
        neighbourhood: '',
        fullName: '',
        apartment: '',
        email1: '',
        email2: '',
        owner: true
      },
      lotsArr: []
    }
  },
  mounted() {
    this.loadBarrios()
  },
  computed: {
    lotDisabled () {
      return this.lotsArr.length <= 0
    },
    customColor() {
      return window.APPTORUN + '-color';
    }
  },
  methods: {
    selectNeighbourhood () {
      this.getLots()
    },
    loadBarrios() {
      let params = {
        method: 'POST',
        dataType: 'json',
        data: {
          sincronizar: 'villanueva',
        },
        url: Helper.URL.GetRubros,
        callback: this.loadBarriosSuccess
      }
      Helper.post(params)
    },
    loadBarriosSuccess(res) {
      res = typeof(res) === 'string'? JSON.parse(res) : res
      this.arrayBarrios = res
    },
    getLots () {
      this.lotsArr = []
      this.newUser.apartment = ''
      let params = {
        method: 'POST',
        dataType: 'json',
        url: Helper.URL.GetMain,
        callback: this.getLotsSuccess,
        data: {
          idPantalla: 18,
          idAccion: 'lotes_registro',
          idBarrio: this.newUser.neighbourhood,
        }
      }
      Helper.post(params)
    },
    getLotsSuccess (res) {
      if (res) {
        res = typeof(res) === 'string' ? JSON.parse(res) : res
        this.lotsArr = res
      }
    },
    registerUser(){
      if(this.validity()){
        let params = {
          method: 'POST',
          dataType: 'json',
          url: Helper.URL.GetMain,
          callback: this.registerUserSuccess,
          data: {
            idPantalla: 0,
            idAccion: 'Registro',
            idBarrio: this.newUser.neighbourhood,
            nombre: this.newUser.fullName,
            piso: this.newUser.apartment,
            email: this.newUser.email1,
            email2: this.newUser.email2,
            tipo: this.$refs.chkProp.checked ? 'Propietario' : 'Inquilino'
          }
        }
        Helper.post(params)
      }
    },
    registerUserSuccess(res){
      let vm = this
      Helper.showMessage(res, () =>{
        vm.$f7.mainView.loadPage('login-villanueva')
      })
    },
    validity(){
      if (this.newUser.neighbourhood == "") {
          Helper.showMessage("Debe seleccionar un consorcio")
          return false
      }
      if (this.newUser.fullName == "") {
          Helper.showMessage("Debe ingresar un nombre")
          return false
      }
      if (this.newUser.apartment == "") {
          Helper.showMessage("Debe ingresar una piso")
          return false
      }
      if (this.newUser.email1 == "") {
          Helper.showMessage("Debe ingresar un email")
          return false
      } if (!this.$refs.chkProp.checked && !this.$refs.chkInq.checked) {
          Helper.showMessage("Debe seleccionar propietario o inquilino")
          return false
      }
      return true
    },
    backButton(){
      this.$f7.mainView.back()
    }
  }
}
</script>

<style scoped>
::-webkit-input-placeholder {
  color: white;
}

.title-container {
  color: #fff;
  background-color: #0081ab;
  padding: 30px;
}
.title-container i{
  vertical-align: top;
  padding-right: 30px;
  font-size: 30px;
  font-weight: 100;
}
.registro-villanueva-container{
  height: 100%;
  background-color: #0081ab;
}
ul{
  color: white;
  background: inherit;
}

ul li {
  padding-top: 5px;
  padding-bottom: 5px;
}

#registroVillanueva input{
  color: white !important;
  background: inherit;
  font-size: 14px;
}

#registroVillanueva .list-block ul:after, #registroVillanueva .list-block ul:before{
  display: none;
}

#registroVillanueva .list-block .no-after:after{
  display: none;
}

.gray-color{
  background-color: #333333;
}
.gray-border{
  background: none;
  border: 1px solid #333333;
}

.buttons-container button{
  min-height: 47px;
  line-height: 47px;
}
::-moz-placeholder {
  color: white;
}
:-ms-input-placeholder {
  color: white;
}
:-moz-placeholder {
  color: white;
}
</style>
