<template lang="pug">
#app(v-bind:class='appName')
  // Statusbar
  .statusbar-overlay
  // openPanel
  f7-panel(left='', reveal='')
    f7-view
      f7-pages(navbar-fixed='')
        leftpanel
  // fab
  .float-menu(@click='fabClick', v-show='fab.show') +
  // Main Views
  f7-views
    f7-view#main-view.hidden-toolbar.hidden-navbar.custom-font(main='')
      // Navbar
      .popover.popover-select-all
        .popover-inner
          .list-block
            ul
              li.item-content(@click='toggleSelectionChk(true)')
                .item-inner
                  .item-title Seleccionar
              li.item-content(@click='toggleSelectAllItems')
                .item-inner
                  .item-title Seleccionar Todos
              li.item-content(@click='toggleSelectionChk(false)')
                .item-inner
                  .item-title Cancelar
      .popover.popover-query-menu
        .popover-inner
          .list-block
            ul
              li.item-content(@click='loadBox("GRAL")')
                .item-inner
                  .item-title Bandeja de entrada
              li.item-content(v-for='box in queryMenu.boxes', :key='box.id_cat' @click='loadBox(box)')
                .item-inner
                  .item-title {{box.nombre_cat}}
              li.item-content(@click='closeQueryMenu')
                .item-inner
                  .item-title Cancelar
      f7-navbar.navbar-selector.custom-background.custom-font.custom-color
        f7-nav-left
          img(:src='backIcon', @click='navBarBack')
        f7-nav-center#navbar-title(sliding='') {{mainTitle}}
        f7-nav-right
          //- i.fas.fa-inbox
          i.material-icons.open-popover#shomMoreIcon(data-popover='.popover-select-all', v-show='selectAll.show') more_vert
          .query-menu-container.open-popover#showQueryMenu(data-popover='.popover-query-menu', v-if='queryMenu.show')
            i.fas.fa-inbox
          i.material-icons(v-show='showInfo.show', @click='openPopupGeneric') {{showInfo.icon}}
          .private-note-popup-container(@click='openPopupPrivateNote', v-show='queryPrivateNote.show')
            i.far.fa-comment
      toolbar
      a.item-link.smart-select.smart-select-sales(href='#', data-open-in='picker', data-picker-close-text='Cerrar filtro')
        select(name='filterSale', v-model='saleFilterSelected')
          option(value='-1') Quitar filtro
          option(:value='filter.id_ctg', v-for='filter in saleFilterArray', :key='filter.id_ctg') {{filter.nombre_ctg}}
      a.item-link.smart-select.smart-select-guiabarrial(href='#', data-open-in='picker', data-picker-close-text='Cerrar filtro')
        select(name="category", ref='selGuiaBarrialFilter', @change='setFilter')
          optgroup(label='Quitar filtro')
            option(value='-1') Quitar filtro
          optgroup(v-for='category in guiaBarrialFilterArray' :label="category.nombre", :key='category.id')
            option(:value='category.id') {{category.nombre}}
            option(v-for='subCategory in category.subcategorias' :key='subCategory.id_ctg', :value='subCategory.id_ctg') {{subCategory.nombre_ctg}}
      //- a.item-link.smart-select.smart-select-guiabarrial(href='#', data-open-in='picker', data-picker-close-text='Cerrar filtro')
      //-   select(name='filterSale', v-model='saleFilterSelected')
      //-     option(value='-1') Quitar filtro
      //-     option(:value='filter.id_ctg', v-for='filter in saleFilterArray', :key='filter.id_ctg') {{filter.nombre_ctg}}
      f7-pages
        loginss(v-if='apps.isSS')
        loginayres(v-if='apps.isAyres')
        loginarboris(v-if='apps.isArboris')
        login-gabsa(v-if='apps.isGabsa')
        login-villanueva(v-if='apps.isVillanueva')
        login-laguna(v-if='apps.isLaguna')
        login-mayling(v-if='apps.isMayling')
        login-administrar(v-if='apps.isAdministrar')
        login-martindale(v-if='apps.isMartindale')
        login-vergara(v-if='apps.isVergara')
        login-lagartos(v-if='apps.isLagartos')
        login-dibartolo(v-if='apps.isDibartolo')
        login-carmel(v-if='apps.isCarmel')
        login-espartanos(v-if='apps.isEspartanos')
        login-castores(v-if='apps.isCastores')
        login-providencia(v-if='apps.isProvidencia')
        login-pampa(v-if='apps.isPampa')
        login-adm-san-juan(v-if='apps.isAdmSanJuan')
  generic-popup
  alert-popup
  preloader
  private-note-popup
</template>

<script>
import {mapActions, mapGetters} from 'vuex'
import Preloader from './components/preloader.vue'
import GenericPopup from './components/popup.vue'
import AlertPopup from './components/alertPopup.vue'
import PrivateNotePopup from './components/privateNotePopup.vue'
import Leftpanel from './components/left-panel.vue'
import LoginSS from './pages/login/login-ss.vue'
import LoginAyres from './pages/login/login-ayres.vue'
import LoginArboris from './pages/login/login-arboris.vue'
import LoginGabsa from './pages/login/login-gabsa.vue'
import LoginVillanueva from './pages/login/login-villanueva.vue'
import LoginLaguna from './pages/login/login-laguna.vue'
import LoginMayling from './pages/login/login-mayling.vue'
import LoginAdministrar from './pages/login/login-administrar.vue'
import LoginMartindale from './pages/login/login-martindale.vue'
import LoginVergara from './pages/login/login-vergara.vue'
import LoginLagartos from './pages/login/login-lagartos'
import LoginDibartolo from './pages/login/login-dibartolo'
import LoginEspartanos from './pages/login/login-espartanos'
import LoginCarmel from './pages/login/login-carmel'
import LoginCastores from './pages/login/login-castores'
import LoginProvidencia from './pages/login/login-providencia'
import LoginPampa from './pages/login/login-pampa'
import LoginAdmSanJuan from './pages/login/login-admsanjuan'
import BackIcon from './assets/img/arrow-back.png'
import Toolbar from './components/toolbar.vue'
import Helper from './assets/js/helper'
export default {
  name: 'mainView',
  data() {
    return {
      backIcon: BackIcon,
      apps: {
        isSS: false,
        isAyres: false,
        isArboris: false,
        isGabsa: false,
        isVillanueva: false,
        isLaguna: false,
        isMayling: false,
        isAdministrar: false,
        isMartindale: false,
        isVergara: false,
        isLagartos: false,
        isDibartolo: false,
        isEspartanos: false,
        isCarmel: false,
        isCastores: false,
        isProvidencia: false,
        isPampa: false,
        isAdmSanJuan: false
      },
      queryBoxes: [],
      saleFilterArray: [],
      saleFilterSelected: '-1',
      guiaBarrialFilterArray: [],
    }
  },
  mounted() {
    this.selectApp ()
    Helper.isUruguay()
    this.$nextTick(function() {
      document.addEventListener("backbutton", this.onBackKeyDown, false);
      this.$f7.closeModal('.popup-preloader', false)
    })
    // this.getQueryBoxes()
  },
  methods: {
    ...mapActions(['toggleSelectionCheckbox', 'toggleSelectAll', 'changeMainTitle', 'toggleFab', 'setSelectAll']),
    setFilter () {
      this.$eventBus.$emit('applyGuiabarrialFilter', this.$refs.selGuiaBarrialFilter.selectedOptions[0].value)
      // selGuiaBarrialFilter
    },
    fabClick () {
      this.$eventBus.$emit(this.fab.event)
    },
    toggleSelectAllItems () {
      this.toggleFab(false)
      this.toggleSelectionCheckbox(true)
      let key = Helper.getSelectAllKey(this.$f7.mainView.activePage.url)
      this.toggleSelectAll({selectAll: true, key: key})
      this.$f7.closeModal('.popover-select-all', true)
    },
    closeQueryMenu () {
      this.$f7.closeModal('.popover-query-menu', true)
    },
    loadBox (box) {
      this.$f7.closeModal('.popover-query-menu', true)
      let data = {}
      if (typeof(box) === 'string') {
        data.id_cat = box
        this.changeMainTitle('Bandeja de entrada')
      } else {
        data.id_cat = box.id_cat
        this.changeMainTitle(box.nombre_cat)
      }
      this.$eventBus.$emit('loadBoxEvt', data)
    },
    toggleSelectionChk (show) {
      if (this.$f7.mainView.activePage.url === 'consultasadmin') {
        if (!show) {
          this.toggleFab(true)
        } else {
          this.toggleFab(false)
        }
      }
      if (!show) {
        this.toggleSelectAll({selectAll: false, key: ''})
      }
      this.toggleSelectionCheckbox(show)
      this.$f7.closeModal('.popover-select-all', true)
    },
    onBackKeyDown() {
      this.navBarBack()
    },
    selectApp() {
      switch (window.APPTORUN) {
        case 'ayres':
          this.apps.isAyres = true
          break;
        case 'gabsa':
          this.apps.isGabsa = true
          break;
        case 'arboris':
          this.apps.isArboris = true
          break;
        case 'villanueva':
          this.apps.isVillanueva = true
          break;
        case 'laguna':
          this.apps.isLaguna = true
          break;
        case 'mayling':
          this.apps.isMayling = true
          break;
        case 'administrar':
          this.apps.isAdministrar = true
          break;
        case 'martindale':
          this.apps.isMartindale = true
          break;
        case 'vergara':
          this.apps.isVergara = true
          break;
        case 'lagartos':
          this.apps.isLagartos = true
          break
        case 'dibartolo':
          this.apps.isDibartolo = true
          break
        case 'espartanos':
          this.apps.isEspartanos = true
          break
        case 'carmel':
          this.apps.isCarmel = true
          break
        case 'castores':
          this.apps.isCastores = true
          break
        case 'providencia':
          this.apps.isProvidencia = true
          break
        case 'pampa':
          this.apps.isPampa = true
          break
        case 'admsanjuan':
          this.apps.isAdmSanJuan = true
          break
        default:
          this.apps.isSS = true
        break
      }
    },
    navBarBack() {
      let currentPage = this.$f7.mainView.activePage.name || this.$f7.mainView.activePage.url 
      if (currentPage === 'home') {
        let self = this
        this.setSelectAll({
          show: false,
          listRef: '',
          items: [],
          selectedItems: [],
          idPantalla: -1,
          showCheckbox: false,
          selectAll: false,
          btnText: 'Marcar como leidos',
          btnIcon: 'done'
        })
        Helper.confirm('¿Desea cerrar la sesión?', function(res) {
          if (res == true || res == 1) {
            // localStorage.clear()
            self.$store.dispatch('setCredentials', {})
            self.$f7.params.swipePanel = false
            self.$f7.mainView.loadPage({url:`login-${window.APPTORUN}`, force: true})
          }
        })
      }
      else if(currentPage.indexOf('login') > -1){
        Helper.confirm('¿Desea cerrar la aplicación?', function(res) {
          if (res == true || res == 1) {
            navigator.app.exitApp()
          }
        })
      }
      else {
        this.$store.dispatch('setMainTitleToPush', '')
        this.$router.back()
      }
    },
    openPopupPrivateNote () {
      this.$f7.popup('.popup-private-note', true, true)
    },
    openPopupGeneric () {
      if(this.showInfo.isSale){
          this.getSaleFilter()
      } else if (this.showInfo.isGuiaBarrial) {
        this.getGuiaBarrialFilter()
      } else{
        this.$f7.popup('.popup-generic', true, true)
      }
    },
    getSaleFilter(){
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.getSaleFilterSuccess,
        data: {
          idPantalla: 15,
          idAccion: 'Get_categorias',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password
        }
      }
      Helper.post(params)
    },
    getSaleFilterSuccess(res){
      if(res){
        try{
          res = typeof(res) === 'string' ? JSON.parse(res) : res
          this.saleFilterArray = res
        }
        catch(e){
          console.log(e)
        }
        this.$nextTick(()=>{
          this.$f7.smartSelectOpen('.smart-select-sales')
        })
      }
    },
    getGuiaBarrialFilter () {
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.getGuiaBarrialFilterSuccess,
        data: {
          idPantalla: 24,
          idAccion: 'Get_categorias',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password
        }
      }
      Helper.post(params)
    },
    getGuiaBarrialFilterSuccess(res){
      if (res) {
        try{
          res = typeof(res) === 'string' ? JSON.parse(res) : res
          this.guiaBarrialFilterArray = res
        }
        catch(e){
          console.log(e)
        }
        this.$nextTick(()=>{
          this.$f7.smartSelectOpen('.smart-select-guiabarrial')
        })
      }
    },
    openFloatMenu () {
      let vm = this
      let buttons = [
      {
        text: 'Button1',
        onClick: function () {
          vm.$f7.alert('Button1 clicked');
        }
      },
      {
        text: 'Button2',
        onClick: function () {
          vm.$f7.alert('Button2 clicked');
        }
      },
      {
        text: 'Button3',
        onClick: function () {
          vm.$f7.alert('Button1 clicked');
        }
      },
      {
        text: 'Button4',
        onClick: function () {
          vm.$f7.alert('Button2 clicked');
        }
      },
      {
        text: 'Button5',
        onClick: function () {
          vm.$f7.alert('Button1 clicked');
        }
      },
      {
        text: 'Button6',
        onClick: function () {
          vm.$f7.alert('Button2 clicked');
        }
      },
      {
        text: 'Cancel',
        color: 'red',
        onClick: function () {
          vm.$f7.alert('Cancel clicked');
        }
      },
      ];
      this.$f7.actions(buttons);
    }
  },
  components: {
    loginss: LoginSS,
    loginayres: LoginAyres,
    loginarboris: LoginArboris,
    loginGabsa: LoginGabsa,
    loginVillanueva: LoginVillanueva,
    loginLaguna: LoginLaguna,
    loginMayling: LoginMayling,
    loginAdministrar: LoginAdministrar,
    loginMartindale: LoginMartindale,
    loginVergara: LoginVergara,
    loginLagartos: LoginLagartos,
    loginDibartolo: LoginDibartolo,
    loginEspartanos: LoginEspartanos,
    loginCarmel: LoginCarmel,
    loginCastores: LoginCastores,
    loginProvidencia: LoginProvidencia,
    loginPampa: LoginPampa,
    loginAdmSanJuan: LoginAdmSanJuan,
    preloader: Preloader,
    genericPopup: GenericPopup,
    alertPopup: AlertPopup,
    privateNotePopup: PrivateNotePopup,
    toolbar: Toolbar,
    leftpanel: Leftpanel
  },
  computed: {
    ...mapGetters(['credentials', 'mainTitle', 'showInfo', 'selectAll', 'isAdmin', 'queryMenu', 'fab', 'queryPrivateNote', 'filterIconData']),
    showFloatMenu () {
      try {
        if(this.credentials.barrio.id && this.credentials.barrio.id === "1029") return true
      } catch (error) {
        return false
      }
    },
    appName() {
      return window.APPTORUN;
    }
  },
  watch:{
    saleFilterSelected: function (){
      console.log(this.saleFilterSelected)
      this.$store.dispatch('setFilterData', this.saleFilterSelected)
    }
  }
}
//# sourceURL=App.vue
</script>
<style>
.statusbar-overlay {
  background: black;
}

.attach-file-block{
  height: 60px;
  line-height: 60px;
}
.attach-file-block .item-input {
  height: 44px;
}

.attach-file-block a {
  height: 44px;
  line-height: 30px;
  color: #000;
  font-size: 16px;
}

.attach-file-block a i {
  vertical-align: middle;
  color: #111;
  font-size: 20px;
  padding-right: 5px;
}

.show-attach-file-block {
  height: 44px;
  line-height: 44px;
  color: #000;
  font-size: 16px;
}

.show-attach-file-block img {
  width: 30px;
  height: 30px;
}

.show-attach-file-block span {
  padding-left: 55px;
  vertical-align: super;
}

.show-attach-file-block i {
  color: #111;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translateY(-50%);
}

.attach-img-container {
  position: absolute;
  padding-right: 50px;
}
.button-general-style{
  width: 95%;
  margin: 0 auto;
  border-radius: 0;
}
#navbar-title {
  font-size: 16px;
  margin: 0 auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.navbar-selector {
  color: white;
}
.navbar-selector .left {
  position: absolute;
  z-index: 999;
}
.navbar-selector .right i {
  font-size: 30px;
  position: absolute;
  right: 40px;
}
.gray-color{
  background-color: #333333 !important;
}
.gray-color-border{
  background: none !important;
  border: 1px solid #333333 !important;
}
.select-all::after{
  display: none !important;
}
.badge {
  height: 26px;
  width: 26px;
  background: red;
  line-height: 27px;
  border-radius: 50%;
}
#navbar-title {
  font-size: 18px;
}
</style>

<style scoped>
.popover-select-all {
  width: 200px;
}
#shomMoreIcon{
  position: absolute;
  right: 0px;
}
.query-menu-container {
  position: absolute;
  right: 40px;
}
#showQueryMenu {
  font-size: 20px;
}
.navbar {
  height: 48px;
}
.float-menu{
  width: 50px;
  height: 50px;
  border: 1px solid red;
  text-align: center;
  border-radius: 25px;
  font-size: 50px;
  line-height: 50px;
  font-weight: 100;
  position: absolute;
  right: 15px;
  z-index: 9999;
  bottom: 60px;
  color: white;
  background-color: red;
  box-shadow: 5px 5px 8px #aaaaaa;
}

.float-menu:active {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

</style>
