<template lang="pug">
f7-page#loginMayling.no-navbar.navbar-hidden(data-page='login-mayling')
  .logo-container
    img(:src='logo')
  .form-container
    .list-block
      ul
        li
          .item-content
            .item-media
              i.material-icons.md-36 perm_identity
            .item-inner
              .item-input
                input(type='text', placeholder='Ingrese su nombre de Usuario', v-model='credentials.user')
          hr
        li
          .item-content
            .item-media
              i.material-icons lock
            .item-inner
              .item-input
                input(type='password', placeholder='Ingrese su contraseña', v-model='credentials.password')
          hr
  .buttons-container
    a#ingresar.button.button-fill(href='#', @click='loginApp') Iniciar sesión
    a#registrar.button.button-fill(href='registro-mayling') Registrarse aquí
  .forgot-password-container
    a(href='recuperar-clave-mayling')
      | ¿Olvidaste tus datos de acceso?
</template>

<script>
import _ from 'lodash'
import {
  mapActions
} from 'vuex'
import Logo from '../../assets/img/logo-mayling.png'
import Helper from '../../assets/js/helper.js'
// import Autocomplete from '../../js/autocomplete.js'
export default {
  name: 'loginMayling',
  data() {
    return {
      logo: Logo,
      selectedNeighborhood: '',
      arrayBarrios : [],
      credentials: {
        barrio: {
          name: 'Mayling',
          id: '1401'
        },
        user: '',
        password: ''
      }
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.$f7.hideNavbar('.navbar-selector', false)
      this.$f7.params.swipePanel = false
      try {
        this.credentials.user = window.localStorage.getItem("usuario")
        if(this.credentials.user && this.credentials.user !== '')
          this.credentials.user = this.credentials.user.toUpperCase()
      } catch (e) {
        console.log(e)
      }
      this.credentials.password = window.localStorage.getItem("password");
      if (this.credentials.user !== null && this.credentials.user !== 'undefined' && this.credentials.password !== null && this.credentials.password !== 'undefined') {
        this.loginApp()
      }
    })
  },
  methods: {
    ...mapActions(['getGeneralData']),
    loginPromise(){
      return new Promise((resolve, reject) => {
        try {
          let version = ''
          let packageName = ''
          cordova.getAppVersion.getVersionNumber().then((_version)=> {
            version = _version
            cordova.getAppVersion.getPackageName().then((_packageName)=> {
              packageName = _packageName
              let rta = version + '|' + packageName
              resolve(rta)
            })
          })
        } catch (e) {
          reject(e)
        }
      })
    },
    loginApp () {
      let params = {
        data: {
          idPantalla: 0,
          idAccion: 'Login',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          os: 'NaN',
          versionapp: 'NaN'
        },
        method: 'POST',
        dataType: 'json',
        url: Helper.URL.GetMain,
        callback: this.loginAppSuccess
      }
      this.loginPromise().then((res)=>{
        params.data.versionapp = res
        try {
          params.data.os = device.platform + '|' + device.version
        } catch (e) {
          console.log(e)
        }
        Helper.post(params)
      }).catch((err)=>{
        console.log('promesa_err')
        console.log(err)
        Helper.post(params)
      })
    },
    loginAppSuccess(res){
      res = typeof(res) === 'string' ? JSON.parse(res): res
      if (res.welcomeMessage != null)
      {
        this.credentials.admin = Helper.isAdminUser(res)
        this.credentials.loged = true
        this.credentials.user = this.credentials.user.toUpperCase()
        this.$store.dispatch('setCredentials', this.credentials)
          //Guardo el login
          let add = false;
          let logins = window.localStorage.getItem("Logins_Saved");
          let arr = []
          if (logins == null || logins == 'undefined' || logins == "") {
              arr.push(this.credentials);
              add = true;
          }
          else
          {
            arr = JSON.parse(logins);
            let exist = _.find(arr, {
              'barrio': {
                id: this.credentials.barrio.id
              }
              ,
              'user': this.credentials.user
            })
            if (exist == null || exist == 'undefined') {
                arr.push(this.credentials);
                add = true;
            }
          }
          if (add)
          {
            window.localStorage.setItem("Logins_Saved", JSON.stringify(arr));
          }
          //Login success
          this.$store.dispatch('setLoginsSaved', arr)
          window.localStorage.setItem("welcomeMessage", res.welcomeMessage)
          window.localStorage.setItem("barrio", this.credentials.barrio.id)
          window.localStorage.setItem("barrioName", this.credentials.barrio.name)
          try {
            if(this.credentials.user && this.credentials.user !== '')
              window.localStorage.setItem("usuario", this.credentials.user.toUpperCase())
          } catch (e) {
            console.log(e)
          }
          window.localStorage.setItem("password", this.credentials.password)
          this.$f7.params.swipePanel = true
          this.$nextTick(()=>{
            this.getGeneralData()
            f7.mainView.loadPage({url: 'home', force: true})
          })
      }
      else
      {
          Helper.showMessage(res.error)
      }
    }
	}
}
</script>
<style>
.mayling .selected-background {
  background-color: #256332;
}
.mayling .custom-background {
  background-color: #006212;
}
</style>

<style scoped>
i.material-icons{
  font-size: 32px;
}
.form-container {
  padding-top: 30px;
}
.page {
	background-color: #fff;
	/*padding-top: 52px;*/
}
.item-content {
  padding-left: 40px;
}
.logo-container img {
  display: block;
  margin: 30px auto 0 auto;
  width: 30%;
}

.list-block input {
	color: #333 !important;
	font-size: 14px;
}

.list-block ul {
	background-color: #fff;
}

.list-block ul li {
	padding-bottom: 15px;
}

.item-inner::after {
	background-color: inherit !important;
}

.list-block ul::before {
	background-color: inherit !important;
}

.list-block ul::after {
	background-color: inherit !important;
}

.list-block ul li::before {
	background-color: inherit !important;
}

.list-block ul li::after {
	background-color: inherit;
}

hr {
	width: 90%;
	margin: 0 auto;
	display: block;
	/* background-color: #e4babb; */
	border-color: #fff;
	margin-top: 20px;
}

.icon img {
	width: 30px;
}

::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: #333;
}

.buttons-container a {
	border: none;
	width: 90%;
	margin: 0 auto;
	min-width: 52px;
	min-height: 47px;
	line-height: 47px;
	border-radius: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #fff;
}

#ingresar {
	background-color: #006212;
  font-size: 1.2em;
}

#registrar {
	background-color: inherit;
	border: 1px solid #333333;
  font-size: 1.2em;
  color: #333333;
}
.forgot-password-container{
  text-align: center;
}
.forgot-password-container a {
  color: #333333;
}

a.smart-select {
  font-size: 14px;
  color: #333;
}
</style>
