<template lang="pug">
f7-page#loginDibartolo.no-navbar.navbar-hidden(data-page='loginDibartolo')
  .logo-container
    img(:src='logo')
  .form-container
    .list-block
      ul
        li
          .item-content
            .item-media
              .icon
                i.fas.fa-map-marker-alt
            .item-inner
              .item-input
                input#autocomplete-dropdown-barrios-dibartolo(type='text', placeholder='Ingrese su consorcio')
                // <input id="autocomplete" type="text" />
          hr
        li
          .item-content
            .item-media
              .icon
                i.far.fa-user
            .item-inner
              .item-input
                input(type='text', placeholder='Ingrese su nombre de Usuario', v-model='credentials.user')
          hr
        li
          .item-content
            .item-media
              .icon
                i.fas.fa-unlock-alt
            .item-inner
              .item-input
                input(type='password', placeholder='Ingrese su contraseña', v-model='credentials.password')
          hr
  .buttons-container
    a#ingresar.button.button-fill(href='#', @click='loginApp') Iniciar sesión
    a#registrar.button.button-fill(href='registro-dibartolo') Registrarse aquí
  .forgot-password-container
    a(href='recuperar-clave-dibartolo')
      | ¿Olvidaste tus datos de acceso?
</template>

<script>
import _ from 'lodash'
import {
  mapActions
} from 'vuex'
import Logo from '../../assets/img/logo_dibartolo.png'
import Helper from '../../assets/js/helper.js'
// import Autocomplete from '../../js/autocomplete.js'
export default {
  name: 'loginDibartolo',
  data() {
    return {
      logo: Logo,
      icons: {
        // barrio: BarrioIco,
        // usuario: UsuarioIco,
        // password: PasswordIco
      },
      credentials: {
        barrio:{
          name: '',
          id: -1
        },
        user: '',
        password: '',
        autocomplete: {},
        myMatches: [],
        arrayBarrios : []
      }
    }
  },
  mounted() {
    this.loadBarrios()
    this.$nextTick(() => {
      this.setCustomStyle()
      this.$f7.hideNavbar('.navbar-selector', false)
      this.$f7.params.swipePanel = false
      this.credentials.barrio.id = window.localStorage.getItem("barrio");
      this.credentials.barrio.name = window.localStorage.getItem("barrioName");
      try {
        this.credentials.user = window.localStorage.getItem("usuario")
        if(this.credentials.user && this.credentials.user !== '')
          this.credentials.user = this.credentials.user.toUpperCase()
      } catch (e) {
        console.log(e)
      }
      this.credentials.password = window.localStorage.getItem("password");
      if (this.credentials.barrio.id == null || this.credentials.barrio.id == 'undefined' || this.credentials.user == null || this.credentials.user == 'undefined' || this.credentials.password == null || this.credentials.password == 'undefined') {
        this.loadBarrios()
      }
      else{
        for (var i = 0; i < f7.mainView.history.length; i++) {
          if (f7.mainView.history[i] === 'home'){
            console.log('remo home')
            f7.mainView.history.splice(i,1);
          }
        }
        Dom7('.view-main .page-on-left, .view-main .navbar-on-left').remove()
        let self = this
        setTimeout(()=>{
          self.loginApp(false)
        },500)
      }
    })
  },
  methods: {
    ...mapActions(['getGeneralData']),
    setCustomStyle(){
      this.$$('.navbar-selector').css({
          'background': '#004064',
          'color': '#fff',
          'height': '52px !important'
      })
      this.$$('.navbar-title-selector').css({'background': '#004064'})
      document.getElementById('navbar-title').style.fontSize = '18px'
    },
    loadBarrios(){
      let params = {
        method: 'POST',
        dataType: 'json',
        url: Helper.URL.GetRubros,
        callback: this.loadBarriosSuccess,
        data: {
          sincronizar: 'dibartolo'
        }
      }
      Helper.post(params)
    },
    loadBarriosSuccess(data){
      // console.log('#autocomplete-dropdown-barrios cant: ' + this.$$('#barrios').length)
      let self = this
      this.arrayBarrios = data
      this.autocomplete = this.$f7.autocomplete({
        input: '#autocomplete-dropdown-barrios-dibartolo',
        openIn: 'dropdown',
        preloader: true, //enable preloader
        valueProperty: 'value', //object's "value" property name
        textProperty: 'desc', //object's "text" property name
        limit: 20, //limit to 20 results
        expandInput: true, // expand input
        source: ((autocomplete, query, render)=>{
            var results = [];
            if (query.length === 0) {
                render(results);
                return;
            }
            // Find matched items
            for (var i = 0; i < data.length; i++) {
                if (data[i].desc.toLowerCase().indexOf(query.toLowerCase()) >= 0) results.push(data[i]);
            }
            // Render items by passing array with result items
            render(results);
        }),
      onChange: ((autocomplete, value)=> {
        self.credentials.barrio.id = value.value
        self.credentials.barrio.name = value.desc
        self.$$('#autocomplete-dropdown-barrios-dibartolo').val(value.desc)
      })
    })
    },
    loginPromise(){
      return new Promise((resolve, reject) => {
        try {
          let version = ''
          let packageName = ''
          cordova.getAppVersion.getVersionNumber().then((_version)=> {
            version = _version
            cordova.getAppVersion.getPackageName().then((_packageName)=> {
              packageName = _packageName
              let rta = version + '|' + packageName
              resolve(rta)
            })
          })
        } catch (e) {
          reject(e)
        }
      })
    },
    loginApp(getAutocompleteValue){
      let params = {
        data:{
          idPantalla: 0,
          idAccion: 'Login',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          os: 'NaN',
          versionapp: 'NaN'
        },
        method: 'POST',
        dataType: 'json',
        url: Helper.URL.GetMain,
        callback: this.loginAppSuccess
      };
      this.loginPromise().then((res)=>{
        params.data.versionapp = res
        try {
          params.data.os = device.platform + '|' + device.version
        } catch (e) {
          console.log(e)
        }
        Helper.post(params)
      }).catch((err)=>{
        console.log('promesa_err')
        console.log(err)
        Helper.post(params)
      })
    },
    loginAppSuccess(res){
      res = typeof(res) === 'string' ? JSON.parse(res): res
      if (res.welcomeMessage != null)
      {
        this.credentials.admin = Helper.isAdminUser(res)
        this.credentials.loged = true
        this.credentials.user = this.credentials.user.toUpperCase()
        this.$store.dispatch('setCredentials', this.credentials)
          //Guardo el login
          let add = false;
          let logins = window.localStorage.getItem("Logins_Saved");
          let arr = []
          if (logins == null || logins == 'undefined' || logins == "") {
              arr.push(this.credentials);
              add = true;
          }
          else
          {
            arr = JSON.parse(logins);
            let exist = _.find(arr, {
              'barrio': {
                id: this.credentials.barrio.id
              }
              ,
              'user': this.credentials.user
            })
            if (exist == null || exist == 'undefined') {
                arr.push(this.credentials);
                add = true;
            }
          }
          if (add)
          {
            window.localStorage.setItem("Logins_Saved", JSON.stringify(arr));
          }
          //Login success
          this.$store.dispatch('setLoginsSaved', arr)
          window.localStorage.setItem("welcomeMessage", res.welcomeMessage)
          window.localStorage.setItem("barrio", this.credentials.barrio.id)
          window.localStorage.setItem("barrioName", this.credentials.barrio.name)
          try {
            if(this.credentials.user && this.credentials.user !== '')
              window.localStorage.setItem("usuario", this.credentials.user.toUpperCase())
          } catch (e) {
            console.log(e)
          }
          window.localStorage.setItem("password", this.credentials.password)
          this.$f7.params.swipePanel = true
          this.$nextTick(()=>{
            this.getGeneralData()
            f7.mainView.loadPage({url: 'home', force: true})
          })
      }
      else
      {
          Helper.showMessage(res.error)
      }
    }
	}
}
</script>

<style scoped>
.page {
	background-color: #fff;
	/*padding-top: 52px;*/
}
.item-media {
  color: #ddd;
}
.logo-container img {
  display: block;
  margin: 20px auto;
  width: 70%;
}

.list-block input {
	color: #000 !important;
	font-size: 14px;
}

.list-block ul {
	background-color: #fff;
}

.list-block ul li {
	padding-bottom: 15px;
}

.item-inner::after {
	background-color: inherit !important;
}

.list-block ul::before {
	background-color: inherit !important;
}

.list-block ul::after {
	background-color: inherit !important;
}

.list-block ul li::before {
	background-color: inherit !important;
}

.list-block ul li::after {
	background-color: inherit;
}

hr {
	width: 90%;
	margin: 0 auto;
	display: block;
	background-color: #fff;
	border-color: #fff;
	margin-top: 20px;
}

.icon {
  font-size: 20px;
  color: #000;
}

::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: #333;
}

.buttons-container a {
	border: none;
	width: 90%;
	margin: 0 auto;
	min-width: 52px;
	min-height: 47px;
	line-height: 47px;
	border-radius: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #DDD;
}

#ingresar {
	background-color: #004064;
}

#registrar {
	background-color: inherit;
	border: 1px solid #004064;
  color: #000;
}
.forgot-password-container{
  text-align: center;
}
.forgot-password-container a {
  color: #333;
}
</style>
