<template lang='pug'>
f7-page.no-navbar#loginayres(data-page='login-ayres', class='navbar-hidden')
  .logo-container
    img(:src='logo')
  .form-container
    .list-block
      ul
        li
          .item-content
            .item-media
              i.icon
                img(:src='icons.usuario')
            .item-inner
              .item-input
                input(type='text', placeholder='Ingrese su nombre de Usuario', v-model='credentials.user')
          hr
        li
          .item-content
            .item-media
              i.icon
                img(:src='icons.password')
            .item-inner
              .item-input
                input(type='password', placeholder='Ingrese su contraseña', v-model='credentials.password')
          hr
  .buttons-container
    a(href='#',class='button button-fill', id='ingresar', @click='loginApp')
      | Iniciar sesión
    a(href='registro-ayres',class='button button-fill', id='registrar')
      | Registrarse
  .forgot-password-container
    a(href='recuperar-clave-ayres')
      | ¿Olvidaste tus datos de acceso?
</template>

<script>
import _ from 'lodash';
import { mapActions } from 'vuex';
import Logo from '../../assets/img/logo-simple-ayres.jpeg';
import BarrioIco from '../../assets/img/icons/login/barrio.png';
import UsuarioIco from '../../assets/img/icons/login/usuario.png';
import PasswordIco from '../../assets/img/icons/login/password.png';
import Helper from '../../assets/js/helper.js';
// import Autocomplete from '../../js/autocomplete.js'
export default {
  name: 'login-ayres',
  data() {
    return {
      logo: Logo,
      icons: {
        barrio: BarrioIco,
        usuario: UsuarioIco,
        password: PasswordIco
      },
      credentials: {
        barrio: {
          name: '',
          id: '1729'
        },
        user: '',
        password: '',
        autocomplete: {},
        myMatches: [],
        arrayBarrios: []
      }
    };
  },
  mounted() {
    this.$nextTick(() => {
      this.$f7.hideNavbar('.navbar-selector', false);
      this.$f7.params.swipePanel = false;
      this.credentials.user = window.localStorage.getItem('usuario');
      this.credentials.password = window.localStorage.getItem('password');

      if (this.credentials.user && this.credentials.password) {
        this.loginApp();
      }
    });
  },
  methods: {
    ...mapActions(['getGeneralData']),
    loginApp() {
      let params = {
        data: {
          idPantalla: 0,
          idAccion: 'Login',
          mail: this.credentials.user,
          pass: this.credentials.password,
          os: 'NaN',
          versionapp: '0.1.1'
        },
        method: 'POST',
        dataType: 'json',
        url: Helper.URL.GetLoginAyres,
        callback: this.loginAppSuccess
      };
      Helper.getAppVersion()
        .then(appVersion => {
          params.data.versionapp = appVersion;
          params.data.os = device.platform + '|' + device.version;
          console.log(params);
        })
        .finally(() => {
          console.log('Loggin in...');
          Helper.post(params);
        })
        .catch(error => {
          console.log(error);
        });
    },
    loginAppSuccess(data) {
      if (data) {
        this.$store.dispatch('setAyresBarrios', data);
        window.localStorage.setItem('usuario', this.credentials.user.toLowerCase());
        window.localStorage.setItem('password', this.credentials.password);
        window.localStorage.setItem('barrio', this.credentials.barrio.id);
        this.$store.dispatch('setCredentials', this.credentials)
        this.$f7.params.swipePanel = true;
        this.getGeneralData()
        this.$f7.mainView.loadPage({ url: '/prehome-ayres/' });
      } else {
        Helper.showMessage(data.error);
      }
    }
  }
};
</script>
<style>
.ayres .selected-background {
  background-color: rgb(9, 102, 168);
}
.ayres .custom-background {
  background-color: #00487d;
}
</style>

<style scoped>
.page {
  background-color: #00487d;
  /*padding-top: 52px;*/
}

.logo-container img {
  display: block;
  margin: 0 auto;
  width: 70%;
}

.list-block input {
  color: #ffffff !important;
  font-size: 14px;
}

.list-block ul {
  background-color: #00487d;
}

.list-block ul li {
  padding-bottom: 15px;
}

.item-inner::after {
  background-color: inherit !important;
}

.list-block ul::before {
  background-color: inherit !important;
}

.list-block ul::after {
  background-color: inherit !important;
}

.list-block ul li::before {
  background-color: inherit !important;
}

.list-block ul li::after {
  background-color: inherit;
}

hr {
  width: 90%;
  margin: 0 auto;
  display: block;
  background-color: #ffffff;
  border-color: #ffffff;
  margin-top: 20px;
}

.icon img {
  width: 30px;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #ffffff;
}

.buttons-container a {
  border: none;
  width: 90%;
  margin: 0 auto;
  min-width: 52px;
  min-height: 47px;
  line-height: 47px;
  border-radius: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ffffff;
}

#ingresar {
  background-color: #333333;
}

#registrar {
  background-color: inherit;
  border: 1px solid #333333;
}
.forgot-password-container{
  margin-top: 20px;
  text-align: center;
}
.forgot-password-container a {
  color: #ffffff;
}
</style>
