<template lang="pug">
f7-page#loginLagartos.no-navbar.navbar-hidden(data-page='login-lagartos')
  .logo-container
    img(:src='logo')
  .form-container
    .list-block
      ul
        li
          .item-content
            .item-media
              i.material-icons perm_identity
            .item-inner
              .item-input
                input(type='text', placeholder='Ingrese su nombre de Usuario', v-model='credentials.user')
          hr
        li
          .item-content
            .item-media
              i.material-icons lock_outline
            .item-inner
              .item-input
                input(type='password', placeholder='Ingrese su contraseña', v-model='credentials.password')
          hr
  .buttons-container
    a#ingresar.button.button-fill(href='#', @click='loginApp') Iniciar sesión
    a#registrar.button.button-fill(href='registro-lagartos') Registrarse aquí
  .forgot-password-container
    a(href='recuperar-clave-lagartos')
      | ¿Olvidaste tus datos de acceso?
</template>

<script>
import _ from 'lodash'
import { mapActions } from 'vuex'
import Logo from '../../assets/img/logo-lagartos.png'
import Helper from '../../assets/js/helper.js'
// import Autocomplete from '../../js/autocomplete.js'
export default {
  name: 'login-laguna',
  data() {
    return {
      logo: Logo,
      credentials: {
        barrio:{
          name: 'Lagartos Country Club',
          id: '1601'
        },
        user: '',
        password: '',
        autocomplete: {},
        myMatches: [],
        arrayBarrios : []
      }
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.setCustomStyle()
      this.$f7.hideNavbar('.navbar-selector', false)
      this.$f7.params.swipePanel = false
      try {
        this.credentials.user = window.localStorage.getItem("usuario")
        if(this.credentials.user && this.credentials.user !== '')
          this.credentials.user = this.credentials.user.toUpperCase()
      } catch (e) {
        console.log(e)
      }
      this.credentials.password = window.localStorage.getItem("password");
      if (this.credentials.user !== null && this.credentials.user !== 'undefined' && this.credentials.password !== null && this.credentials.password !== 'undefined') {
        this.loginApp()
      }
    })
  },
  methods: {
    ...mapActions(['getGeneralData']),
    setCustomStyle () {
      this.$$('.navbar-selector').css({
          'background': '#003E27',
          'color': '#fff',
          'height': '52px !important'
      })
      this.$$('.navbar-title-selector').css({'background': '#003E27'})
      document.getElementById('navbar-title').style.fontSize = '18px'
    },
    loginPromise () {
      return new Promise((resolve, reject) => {
        try {
          let version = ''
          let packageName = ''
          cordova.getAppVersion.getVersionNumber().then((_version)=> {
            version = _version
            cordova.getAppVersion.getPackageName().then((_packageName)=> {
              packageName = _packageName
              let rta = version + '|' + packageName
              resolve(rta)
            })
          })
        } catch (e) {
          reject(e)
        }
      })
    },
    loginApp () {
      let params = {
        data:{
          idPantalla: 0,
          idAccion: 'Login',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          os: 'NaN',
          versionapp: 'NaN'
        },
        method: 'POST',
        dataType: 'json',
        url: Helper.URL.GetMain,
        callback: this.loginAppSuccess
      };
      this.loginPromise().then(res => {
        params.data.versionapp = res
        try {
          params.data.os = device.platform + '|' + device.version
        } catch (e) {
          console.log(e)
        }
        Helper.post(params)
      }).catch(err => {
        console.log('promesa_err')
        console.log(err)
        Helper.post(params)
      })
    },
    loginAppSuccess (res) {
      res = typeof(res) === 'string' ? JSON.parse(res): res
      if (res.welcomeMessage != null)
      {
        this.credentials.admin = Helper.isAdminUser(res)
        this.credentials.loged = true
        this.credentials.user = this.credentials.user.toUpperCase()
        this.$store.dispatch('setCredentials', this.credentials)
          //Guardo el login
          let add = false;
          let logins = window.localStorage.getItem("Logins_Saved");
          let arr = []
          if (logins == null || logins == 'undefined' || logins == "") {
              arr.push(this.credentials);
              add = true;
          } else {
            arr = JSON.parse(logins);
            let exist = _.find(arr, {
              'barrio': {
                id: this.credentials.barrio.id
              }
              ,
              'user': this.credentials.user
            })
            if (exist == null || exist == 'undefined') {
                arr.push(this.credentials);
                add = true;
            }
          }
          if (add) {
            window.localStorage.setItem("Logins_Saved", JSON.stringify(arr));
          }
          //Login success
          this.$store.dispatch('setLoginsSaved', arr)
          window.localStorage.setItem("welcomeMessage", res.welcomeMessage)
          window.localStorage.setItem("barrio", this.credentials.barrio.id)
          window.localStorage.setItem("barrioName", this.credentials.barrio.name)
          try {
            if(this.credentials.user && this.credentials.user !== '')
              window.localStorage.setItem("usuario", this.credentials.user.toUpperCase())
          } catch (e) {
            console.log(e)
          }
          window.localStorage.setItem("password", this.credentials.password)
          this.$f7.params.swipePanel = true
          this.$nextTick(()=>{
            this.getGeneralData()
            f7.mainView.loadPage({url: 'home', force: true, ignoreCache: 'true'})
          })
      } else {
          Helper.showMessage(res.error)
      }
    }
	}
}
</script>

<style>
  /* .laguna-custom-toolbar {
    background-color: #4a70f7;
    position: fixed;
    bottom: 0 !important;
    width: 100%;
    color: #fff;
    line-height: 49px;
  }
  .laguna-custom-bg-color {
    background-color: #4a70f7;
  }
  .laguna-custom-bg-dark-color {
    background-color: rgb(40, 150, 54);
  }
  .laguna-navbar-selector {
    background: #4a70f7;
    color: #fff;
    height: 52px !important;
  } */
</style>

<style scoped>
.page {
	background-color: #fff;
	padding-top: 52px;
}

.logo-container img {
	display: block;
	margin: 0 auto;
	width: 55%;
}

.list-block input {
	color: #424242 !important;
	font-size: 14px;
}

.list-block ul {
	background-color: #fff;
}

.list-block ul li {
	padding-bottom: 15px;
}

.item-inner::after {
	background-color: inherit !important;
}

.list-block ul::before {
	background-color: inherit !important;
}

.list-block ul::after {
	background-color: inherit !important;
}

.list-block ul li::before {
	background-color: inherit !important;
}

.list-block ul li::after {
	background-color: inherit;
}

hr {
	width: 90%;
	margin: 0 auto;
	display: block;
	margin-top: 20px;
}

.icon img {
	width: 30px;
}

::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: #424242;
}

.buttons-container a {
	border: none;
	width: 90%;
	margin: 0 auto;
	min-width: 52px;
	min-height: 47px;
	line-height: 47px;
	border-radius: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #424242;
  font-size: 16px;
}

#ingresar {
	background-color: #003E27;
  color: white;
}

#registrar {
	background-color: inherit;
	border: 1px solid #003E27;
}
.forgot-password-container{
  text-align: center;
}
.forgot-password-container a {
  color: #424242;
}
i {
  font-size: 35px;
  color: #003E27;
}
</style>
