<template lang="pug">
f7-page#loginVillanueva.no-navbar.navbar-hidden(data-page='login-villanueva')
  .logo-container
    img(:src='logo')
  .form-container
    .list-block
      ul
        li
          .item-content
            .item-media
              i.material-icons location_on
            .item-inner
              a.item-link.smart-select( href='#', data-open-in="picker", data-back-on-select="true")
                select(v-model='selectedNeighborhood')
                  option(:value='barrio.value', v-for='barrio in arrayBarrios', :key='barrio.value') {{barrio.desc}} 
                .item-select-text {{credentials.barrio.name || 'Seleccione su consorcio'}}
          hr
        li
          .item-content
            .item-media
              i.material-icons.md-36 perm_identity
            .item-inner
              .item-input
                input(type='text', placeholder='Ingrese su nombre de Usuario', v-model='credentials.user')
          hr
        li
          .item-content
            .item-media
              i.material-icons lock
            .item-inner
              .item-input
                input(type='password', placeholder='Ingrese su barrio', v-model='credentials.password')
          hr
  .buttons-container
    a#ingresar.button.button-fill(href='#', @click='loginApp') Iniciar sesión
    a#registrar.button.button-fill(href='registro-villanueva') Registrarse aquí
  .forgot-password-container
    a(href='recuperar-clave-villanueva')
      | ¿Olvidaste tus datos de acceso?
</template>

<script>
import _ from 'lodash'
import {
  mapActions
} from 'vuex'
import Logo from '../../assets/img/logo-villanueva.png'
import Helper from '../../assets/js/helper.js'
// import Autocomplete from '../../js/autocomplete.js'
export default {
  name: 'loginVillanueva',
  data() {
    return {
      logo: Logo,
      selectedNeighborhood: '',
      arrayBarrios : [],
      credentials: {
        barrio: {
          name: 'Seleccione su consorcio',
          id: -1
        },
        user: '',
        password: ''
      }
    }
  },
  mounted() {
    this.loadBarrios()
    this.$nextTick(() => {
      this.$f7.hideNavbar('.navbar-selector', false)
      this.$f7.params.swipePanel = false
      this.credentials.barrio.id = window.localStorage.getItem("barrio");
      this.credentials.barrio.name = window.localStorage.getItem("barrioName");
      try {
        this.credentials.user = window.localStorage.getItem("usuario")
        if(this.credentials.user && this.credentials.user !== '')
          this.credentials.user = this.credentials.user.toUpperCase()
      } catch (e) {
        console.log(e)
      }
      this.credentials.password = window.localStorage.getItem("password");
      if (this.credentials.barrio.id == null || this.credentials.barrio.id == 'undefined' || this.credentials.user == null || this.credentials.user == 'undefined' || this.credentials.password == null || this.credentials.password == 'undefined') {
        this.loadBarrios()
      }
      else{
        for (var i = 0; i < f7.mainView.history.length; i++) {
          if (f7.mainView.history[i] === 'home'){
            console.log('remo home')
            f7.mainView.history.splice(i,1);
          }
        }
        Dom7('.view-main .page-on-left, .view-main .navbar-on-left').remove()
        let self = this
        setTimeout(()=>{
          self.loginApp(false)
        },500)
      }
    })
  },
  watch: {
    selectedNeighborhood () {
      let self = this
      let res = _.find(this.arrayBarrios, b => { return b.value === self.selectedNeighborhood})
      this.credentials.barrio.id = res.value
      this.credentials.barrio.name = res.desc
    }
  },
  methods: {
    ...mapActions(['getGeneralData']),
    loadBarrios(){
      let params = {
        method: 'POST',
        data: {
          sincronizar: 'villanueva',
        },
        dataType: 'json',
        url: Helper.URL.GetRubros,
        callback: this.loadBarriosSuccess
      }
      Helper.post(params)
    },
    loadBarriosSuccess (res) {
      if (res) res = typeof(res) === 'string' ? JSON.parse(res) : res
      this.arrayBarrios = res
    },
    loginPromise(){
      return new Promise((resolve, reject) => {
        try {
          let version = ''
          let packageName = ''
          cordova.getAppVersion.getVersionNumber().then((_version)=> {
            version = _version
            cordova.getAppVersion.getPackageName().then((_packageName)=> {
              packageName = _packageName
              let rta = version + '|' + packageName
              resolve(rta)
            })
          })
        } catch (e) {
          reject(e)
        }
      })
    },
    loginApp (getAutocompleteValue) {
      let params = {
        data:{
          idPantalla: 0,
          idAccion: 'Login',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          os: 'NaN',
          versionapp: 'NaN'
        },
        method: 'POST',
        dataType: 'json',
        url: Helper.URL.GetMain,
        callback: this.loginAppSuccess
      };
      this.loginPromise().then((res)=>{
        params.data.versionapp = res
        try {
          params.data.os = device.platform + '|' + device.version
        } catch (e) {
          console.log(e)
        }
        Helper.post(params)
      }).catch((err)=>{
        console.log('promesa_err')
        console.log(err)
        Helper.post(params)
      })
    },
    loginAppSuccess(res){
      res = typeof(res) === 'string' ? JSON.parse(res): res
      if (res.welcomeMessage != null)
      {
        this.credentials.admin = Helper.isAdminUser(res)
        this.credentials.loged = true
        this.credentials.user = this.credentials.user.toUpperCase()
        this.$store.dispatch('setCredentials', this.credentials)
          //Guardo el login
          let add = false;
          let logins = window.localStorage.getItem("Logins_Saved");
          let arr = []
          if (logins == null || logins == 'undefined' || logins == "") {
              arr.push(this.credentials);
              add = true;
          }
          else
          {
            arr = JSON.parse(logins);
            let exist = _.find(arr, {
              'barrio': {
                id: this.credentials.barrio.id
              }
              ,
              'user': this.credentials.user
            })
            if (exist == null || exist == 'undefined') {
                arr.push(this.credentials);
                add = true;
            }
          }
          if (add)
          {
            window.localStorage.setItem("Logins_Saved", JSON.stringify(arr));
          }
          //Login success
          this.$store.dispatch('setLoginsSaved', arr)
          window.localStorage.setItem("welcomeMessage", res.welcomeMessage)
          window.localStorage.setItem("barrio", this.credentials.barrio.id)
          window.localStorage.setItem("barrioName", this.credentials.barrio.name)
          try {
            if(this.credentials.user && this.credentials.user !== '')
              window.localStorage.setItem("usuario", this.credentials.user.toUpperCase())
          } catch (e) {
            console.log(e)
          }
          window.localStorage.setItem("password", this.credentials.password)
          this.$f7.params.swipePanel = true
          this.$nextTick(()=>{
            this.getGeneralData()
            f7.mainView.loadPage({url: 'home', force: true})
          })
      }
      else
      {
          Helper.showMessage(res.error)
      }
    }
	}
}
</script>
<style>
.villanueva .selected-background {
  background-color: #035069;
}
.villanueva .custom-background {
  background-color: #0081ab;
}
</style>

<style scoped>
i.material-icons{
  font-size: 32px;
}
.form-container {
  padding-top: 30px;
}
.page {
	background-color: #fff;
	/*padding-top: 52px;*/
}
.item-content {
  padding-left: 40px;
}
.logo-container img {
	display: block;
	margin: 0 auto;
	width: 65%;
}

.list-block input {
	color: #333 !important;
	font-size: 14px;
}

.list-block ul {
	background-color: #fff;
}

.list-block ul li {
	padding-bottom: 15px;
}

.item-inner::after {
	background-color: inherit !important;
}

.list-block ul::before {
	background-color: inherit !important;
}

.list-block ul::after {
	background-color: inherit !important;
}

.list-block ul li::before {
	background-color: inherit !important;
}

.list-block ul li::after {
	background-color: inherit;
}

hr {
	width: 90%;
	margin: 0 auto;
	display: block;
	/* background-color: #e4babb; */
	border-color: #fff;
	margin-top: 20px;
}

.icon img {
	width: 30px;
}

::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: #333;
}

.buttons-container a {
	border: none;
	width: 90%;
	margin: 0 auto;
	min-width: 52px;
	min-height: 47px;
	line-height: 47px;
	border-radius: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #fff;
}

#ingresar {
	background-color: #333333;
  font-size: 1.2em;
}

#registrar {
	background-color: inherit;
	border: 1px solid #333333;
  font-size: 1.2em;
  color: #333333;
}
.forgot-password-container{
  text-align: center;
}
.forgot-password-container a {
  color: #333333;
}

a.smart-select {
  font-size: 14px;
  color: #333;
}
</style>
