<template lang="pug">
f7-page#recuperarClaveAyres.no-navbar.navbar-hidden(data-page='recuperarClaveAyres')
  .title-container
    label
      i.material-icons perm_identity
      span(style='font-size: 22px;') Recuperar Datos
  .form-container
    .list-block
      ul.si-after
        li
          .item-content
            .item-inner
              .item-input
                input(type='email', placeholder='Email', v-model='recoverPasswordData.email')
  .buttons-container
    a#sendPassword.button.button-fill(@click='recoverPassword') Enviar
    a#backButton.button.button-fill.gray-color-border(@click='back') Volver
</template>

<script>
import Helper from '../../assets/js/helper.js'
export default {
	name: 'recuperarClaveAyres',
	data() {
		return {
      recoverPasswordData: {
        neighbourhood: '1729',
        email: ''
      },
      arrayBarrios: []
		}
	},
	methods: {
    recoverPassword(){
      if(this.validity()){
        let params = {
          method: 'POST',
          dataType: 'json',
          url: Helper.URL.GetMain,
          callback: this.recoverPasswordSuccess,
          data:{
            idPantalla: 18,
            idAccion: 'Inicio',
            idBarrio: this.recoverPasswordData.neighbourhood,
            email: this.recoverPasswordData.email
          }
        }
        Helper.post(params)
      }
    },
    recoverPasswordSuccess(res){
      if(res){
        let title = this.$$('#autocomplete-dropdown-password').val()
        res = typeof(res) === 'string' ? JSON.parse(res) : res
        Helper.showMessage(res.return, null, title)
      }
    },
    validity(){
      let title = this.$$('#autocomplete-dropdown-password').val()
      if(this.recoverPasswordData.neighbourhood == ''){
        Helper.showMessage("Debe seleccionar un consorcio", null, title)
        return false
      }
      if (this.recoverPasswordData.username == '') {
        Helper.showMessage("Debe ingresar un email", null, title)
        return false
      }
      return true
    },
    back(){
      this.$f7.mainView.back()
    },
	}
}
</script>

<style scoped>
#sendPassword {
	background-color: #333333;
  color: white;
}

#backButton {
	background-color: inherit;
	border: 1px solid #ffffff;
  color: #ffffff;
}
.page {
	background-color: #00487d;
}
.title-container {
  color: #ffffff;
  background-color: #00487d;
  padding: 30px;
}
.title-container i{
  vertical-align: top;
  padding-right: 30px;
  font-size: 30px;
  font-weight: 100;
}

.list-block input {
	font-size: 14px;
  color: #ffffff;
}
ul{
  background: inherit;
}

ul li {
  padding-top: 5px;
  padding-bottom: 5px;
}
#recuperarClaveAyres input{
  background: inherit;
  font-size: 14px;
}
.buttons-container a {
	border: none;
	width: 95%;
	margin: 0 auto;
	min-width: 52px;
	min-height: 47px;
	line-height: 47px;
	border-radius: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #DDD;
}

#recuperarClaveAyres .list-block ul:after{
  display: none;
}
#recuperarClaveAyres .list-block ul:before {
  left: 0;
  right: 0;
  margin: auto;
  width: 93%;
  height: 2px;
}
#recuperarClaveAyres .list-block li:after {
  left: 0;
  margin: auto;
  width: 93%;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffffff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ffffff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ffffff;
}
</style>
