<template lang="pug">
f7-page#recuperarProvidencia.no-navbar.navbar-hidden(data-page='recuperarProvidencia')
  .title-container
    label
      i.material-icons perm_identity
      span(style='font-size: 22px;') Recuperar Datos
  .form-container
    .list-block
      ul.si-after
        li
          .item-content
            .item-inner
              .item-input
                input(type='email', placeholder='Ingrese su email', v-model='recoverPasswordData.username')
  .buttons-container
    a#sendPassword.button.button-fill.gray-color(@click='recoverPassword') Enviar
    a#backButton.button.button-fill.gray-color-border(@click='back') Volver
</template>

<script>
import Helper from '../../assets/js/helper.js'
export default {
	name: 'recuperarClaveProvidencia',
	data() {
		return {
      recoverPasswordData: {
        neighbourhood: '1986',
        username: ''
      },
      arrayBarrios: []
		}
	},
	mounted() {
    // this.loadBarrios()
	},
	methods: {
    // loadBarrios(){
    //   let params = {
    //     method: 'POST',
    //     dataType: 'json',
    //     url: Helper.URL.GetRubros,
    //     callback: this.loadBarriosSuccess
    //   }
    //   Helper.post(params)
    // },
    // loadBarriosSuccess(data){
    //   if(typeof(data) === 'string'){
    //     data = JSON.parse(data)
    //   }
    //   // console.log('#autocomplete-dropdown-barrios cant: ' + this.$$('#barrios').length)
    //   let self = this
    //   this.arrayBarrios = data
    //   this.autocomplete = this.$f7.autocomplete({
    //     input: '#autocomplete-dropdown-password',
    //     openIn: 'dropdown',
    //     preloader: true, //enable preloader
    //     valueProperty: 'value', //object's "value" property name
    //     textProperty: 'desc', //object's "text" property name
    //     limit: 20, //limit to 20 results
    //     expandInput: true, // expand input
    //     source: ((autocomplete, query, render)=>{
    //         var results = [];
    //         if (query.length === 0) {
    //             render(results);
    //             return;
    //         }
    //         // Find matched items
    //         for (var i = 0; i < data.length; i++) {
    //           if (data[i].desc.toLowerCase().indexOf(query.toLowerCase()) >= 0) results.push(data[i]);
    //         }
    //         // Render items by passing array with result items
    //         render(results);
    //     }),
    //   onChange: ((autocomplete, value)=> {
    //     this.recoverPasswordData.neighbourhood = value.value
    //     self.$$('#autocomplete-dropdown-password').val(value.desc)
    //   })
    // })
    // },
    recoverPassword(){
      if(this.validity()){
        let params = {
          method: 'POST',
          dataType: 'json',
          url: Helper.URL.GetMain,
          callback: this.recoverPasswordSuccess,
          data:{
            idPantalla: 18,
            idAccion: 'Inicio',
            idBarrio: this.recoverPasswordData.neighbourhood,
            email: this.recoverPasswordData.username
          }
        }
        Helper.post(params)
      }
    },
    recoverPasswordSuccess(res){
      if(res){
        let title = this.$$('#autocomplete-dropdown-password').val()
        res = typeof(res) === 'string' ? JSON.parse(res) : res
        Helper.showMessage(res.return, null, title)
      }
    },
    validity(){
      let title = this.$$('#autocomplete-dropdown-password').val()
      if(this.recoverPasswordData.neighbourhood == ''){
        Helper.showMessage("Debe seleccionar un consorcio", null, title)
        return false
      }
      if (this.recoverPasswordData.username == '') {
        Helper.showMessage("Debe ingresar un email", null, title)
        return false
      }
      return true
    },
    back(){
      this.$f7.mainView.back()
    },
	}
}
</script>

<style scoped>
.page {
	background-color: #233253;
}
.title-container {
  color: #fff;
  background-color: #233253;
  padding: 30px;
}
.title-container i{
  vertical-align: top;
  padding-right: 30px;
  font-size: 30px;
  font-weight: 100;
}

.list-block input {
	font-size: 14px;
}

.list-block ul {
	background-color: #233253;
}
ul{
  background: inherit;
}

ul li {
  padding-top: 5px;
  padding-bottom: 5px;
}
#recuperarClaveProvidencia input{
  color: white !important;
  background: inherit;
  font-size: 14px;
}
.buttons-container a {
	border: none;
	width: 95%;
	margin: 0 auto;
	min-width: 52px;
	min-height: 47px;
	line-height: 47px;
	border-radius: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #DDD;
}

#recuperarClaveProvidencia .list-block ul:after{
  display: none;
}

#recuperarClaveProvidencia .list-block li:after{
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  bottom: auto;
  right: auto;
  height: 1px;
  width: 95%;
  background-color: #c8c7cc;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

#recuperarClaveProvidencia .list-block .no-after:after{
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  bottom: auto;
  right: auto;
  height: 1px;
  width: 95%;
  background-color: #c8c7cc;
  display: none;
  z-index: 15;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

/* #recuperarClaveArboris .list-block .si-after:before{
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  right: auto;
  height: 1px;
  width: 95%;
  background-color: #c8c7cc;
  z-index: 15;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
} */

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}

</style>
