<template lang="pug">
f7-page#recuperarClaveMayling.no-navbar.navbar-hidden(data-page='recuperarClaveMayling')
  .title-container
    label
      i.material-icons perm_identity
      span(style='font-size: 22px;') Recuperar Datos
  .form-container
    .list-block
      ul.si-after
        li
          .item-content
            .item-inner
              .item-input
                input(type='email', placeholder='Ingrese su email', v-model='recoverPasswordData.username')
  .buttons-container
    a#sendPassword.button.button-fill.recover-password-button(@click='recoverPassword') Enviar
    a#backButton.button.button-fill.back-button(@click='back') Volver
</template>

<script>
import Helper from '../../assets/js/helper.js'
export default {
  name: 'recuperarClaveMayling',
  data() {
    return {
      recoverPasswordData: {
        neighbourhood: '1401',
        username: ''
      }
    }
  },
  methods: {
    recoverPassword(){
      if(this.validity()){
        let params = {
          method: 'POST',
          dataType: 'json',
          url: Helper.URL.GetMain,
          callback: this.recoverPasswordSuccess,
          data:{
            idPantalla: 18,
            idAccion: 'Inicio',
            idBarrio: this.recoverPasswordData.neighbourhood,
            email: this.recoverPasswordData.username
          }
        }
        Helper.post(params)
      }
    },
    recoverPasswordSuccess(res){
      if(res){
        let title = this.$$('#autocomplete-dropdown-password').val()
        res = typeof(res) === 'string' ? JSON.parse(res) : res
        Helper.showMessage(res.return, null, title)
      }
    },
    validity(){
      if (this.recoverPasswordData.username == '') {
        Helper.showMessage("Debe ingresar un email", null, title)
        return false
      }
      return true
    },
    back(){
      this.$f7.mainView.back()
    },
	}
}
</script>

<style scoped>
.page {
	background-color: #fff;
}
.title-container {
  color: #424242;
  background-color: #fff;
  padding: 30px;
}
.title-container i{
  vertical-align: top;
  padding-right: 30px;
  font-size: 30px;
  font-weight: 100;
}

.list-block input {
	font-size: 14px;
}

.list-block ul {
	background-color: #fff;
}
ul{
  background: inherit;
}

ul li {
  padding-top: 5px;
  padding-bottom: 5px;
}
#recuperarClaveMayling input{
  color: #424242;
  background: inherit;
  font-size: 14px;
}
.buttons-container a {
	/* border: none; */
	width: 95%;
	margin: 0 auto;
	min-width: 52px;
	min-height: 47px;
	line-height: 47px;
	border-radius: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	/* color: #DDD; */
}

#recuperarClaveMayling .list-block ul:after{
  display: none;
}

#recuperarClaveMayling .list-block li:after{
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  bottom: auto;
  right: auto;
  height: 1px;
  width: 95%;
  background-color: #c8c7cc;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

#recuperarClaveMayling .list-block .no-after:after{
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  bottom: auto;
  right: auto;
  height: 1px;
  width: 95%;
  background-color: #c8c7cc;
  display: none;
  z-index: 15;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.recover-password-button {
  color: #fff;
  background-color: #006212;
  border: 1px solid #333333;
}

.back-button {
  color: #333;
  background: none;
  border: 1px solid #333333;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: 424242;
}
::-moz-placeholder { /* Firefox 19+ */
  color: 424242;
}
:-ms-input-placeholder { /* IE 10+ */
  color: 424242;
}
:-moz-placeholder { /* Firefox 18- */
  color: #424242;
}
.item-inner {
  color: #424242;
}
</style>
