<template lang="pug">
f7-page#recuperarClaveCastores.no-navbar.navbar-hidden(data-page='recuperar-clave-castores')
  .title-container
    label
      i.material-icons perm_identity
      span(style='font-size: 22px;') Recuperar Datos
  .form-container
    .list-block
      ul.si-after
        //- li.no-after
        //-   .item-content
        //-     .item-inner
        //-       .item-input
        //-         input#autocomplete-dropdown-password(type='text', placeholder='Ingrese su consorcio')
        li
          .item-content
            .item-inner
              .item-input
                input(type='email', placeholder='Ingrese su email', v-model='recoverPasswordData.username')
  .buttons-container
    a#sendPassword.button.button-fill(@click='recoverPassword') Enviar
    a#backButton.button.button-fill.gray-color-border(@click='back') Volver
</template>

<script>
import Helper from '../../assets/js/helper.js'
export default {
	name: 'recuperarClaveCastores',
	data() {
		return {
      recoverPasswordData: {
        neighbourhood: '1985',
        username: ''
      },
      arrayBarrios: []
		}
	},
	mounted() {
    // this.loadBarrios()
	},
	methods: {
    recoverPassword(){
      if(this.validity()){
        let params = {
          method: 'POST',
          dataType: 'json',
          url: Helper.URL.GetMain,
          callback: this.recoverPasswordSuccess,
          data:{
            idPantalla: 18,
            idAccion: 'Inicio',
            idBarrio: this.recoverPasswordData.neighbourhood,
            email: this.recoverPasswordData.username
          }
        }
        Helper.post(params)
      }
    },
    recoverPasswordSuccess(res){
      if(res){
        let title = this.$$('#autocomplete-dropdown-password').val()
        res = typeof(res) === 'string' ? JSON.parse(res) : res
        Helper.showMessage(res.return, null, title)
      }
    },
    validity(){
      let title = this.$$('#autocomplete-dropdown-password').val()
      if(this.recoverPasswordData.neighbourhood == ''){
        Helper.showMessage("Debe seleccionar un consorcio", null, title)
        return false
      }
      if (this.recoverPasswordData.username == '') {
        Helper.showMessage("Debe ingresar un email", null, title)
        return false
      }
      return true
    },
    back(){
      this.$f7.mainView.back()
    },
	}
}
</script>

<style scoped>
#sendPassword {
	background-color: #016A66;
  color: white;
}

#backButton {
	background-color: inherit;
	border: 1px solid #016A66;
  color: #333;
}
.page {
	background-color: #f1f2f1;
}
.title-container {
  color: #000;
  background-color: #f1f2f1;
  padding: 30px;
}
.title-container i{
  vertical-align: top;
  padding-right: 30px;
  font-size: 30px;
  font-weight: 100;
}

.list-block input {
	font-size: 14px;
}

.list-block ul {
	background-color: #f1f2f1;
}
ul{
  background: inherit;
}

ul li {
  padding-top: 5px;
  padding-bottom: 5px;
}
#recuperarClaveCastores input{
  color: #424242 !important;
  background: inherit;
  font-size: 14px;
}
.buttons-container a {
	border: none;
	width: 95%;
	margin: 0 auto;
	min-width: 52px;
	min-height: 47px;
	line-height: 47px;
	border-radius: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #DDD;
}

#recuperarClaveCastores .list-block ul:after{
  display: none;
}

#recuperarClaveCastores .list-block li:after{
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  bottom: auto;
  right: auto;
  height: 1px;
  width: 95%;
  background-color: #c8c7cc;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

#recuperarClaveCastores .list-block .no-after:after{
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  bottom: auto;
  right: auto;
  height: 1px;
  width: 95%;
  background-color: #c8c7cc;
  display: none;
  z-index: 15;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #424242;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #424242;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #424242;
}
:-moz-placeholder { /* Firefox 18- */
  color: #424242;
}

</style>
