<template lang="pug">
f7-page#recuperarClaveVillanueva.no-navbar.navbar-hidden(data-page='recuperarClaveVillanueva')
  .title-container
    label
      i.material-icons perm_identity
      span(style='font-size: 22px;') Recuperar Datos
  .form-container
    .list-block
      ul.si-after
        li.no-after
          .item-content
            .item-inner
              a.item-link.smart-select( href='#', data-open-in="picker", data-back-on-select="true")
                select(v-model='selectedNeighborhood')
                  option(:value='barrio.value', v-for='barrio in arrayBarrios', :key='barrio.value') {{barrio.desc}} 
                .item-select-text {{nText}}
        li
          .item-content
            .item-inner
              .item-input
                input(type='email', placeholder='Ingrese su email', v-model='recoverPasswordData.username')
  .buttons-container
    a#sendPassword.button.button-fill.gray-color(@click='recoverPassword') Enviar
    a#backButton.button.button-fill.gray-color-border(@click='back') Volver
</template>

<script>
import Helper from '../../assets/js/helper.js'
export default {
  name: 'recuperarClaveVillanueva',
  data() {
    return {
      recoverPasswordData: {
        neighbourhood: '',
        username: ''
      },
      selectedNeighborhood: null,
      nText: 'Seleccione su barrio',
      neighborhood: {
        id: -1
      },
      arrayBarrios: []
    }
  },
  mounted() {
    this.loadBarrios()
  },
  watch: {
    selectedNeighborhood () {
      let self = this
      let res = _.find(this.arrayBarrios, b => { return b.value === self.selectedNeighborhood})
      if (res) {
        this.nText = res.desc
      }
    }
  },
  methods: {
    loadBarrios(){
      let params = {
        method: 'POST',
        data: {
          sincronizar: 'villanueva',
        },
        dataType: 'json',
        url: Helper.URL.GetRubros,
        callback: this.loadBarriosSuccess
      }
      Helper.post(params)
    },
    loadBarriosSuccess(res) {
      if (res) res = typeof(res) === 'string' ? JSON.parse(res) : res
      this.arrayBarrios = res
    },
    recoverPassword(){
      if(this.validity()){
        let params = {
          method: 'POST',
          dataType: 'json',
          url: Helper.URL.GetMain,
          callback: this.recoverPasswordSuccess,
          data:{
            idPantalla: 18,
            idAccion: 'Inicio',
            idBarrio: this.selectedNeighborhood,
            email: this.recoverPasswordData.username
          }
        }
        Helper.post(params)
      }
    },
    recoverPasswordSuccess(res){
      if(res){
        let title = this.$$('#autocomplete-dropdown-password').val()
        res = typeof(res) === 'string' ? JSON.parse(res) : res
        Helper.showMessage(res.return, null, title)
      }
    },
    validity(){
      let title = this.$$('#autocomplete-dropdown-password').val()
      if(this.recoverPasswordData.neighbourhood == ''){
        Helper.showMessage("Debe seleccionar un consorcio", null, title)
        return false
      }
      if (this.recoverPasswordData.username == '') {
        Helper.showMessage("Debe ingresar un email", null, title)
        return false
      }
      return true
    },
    back(){
      this.$f7.mainView.back()
    },
	}
}
</script>

<style scoped>
.page {
	background-color: #0081ab;
}
.title-container {
  color: #fff;
  background-color: #0081ab;
  padding: 30px;
}
.title-container i{
  vertical-align: top;
  padding-right: 30px;
  font-size: 30px;
  font-weight: 100;
}

.list-block input {
	font-size: 14px;
}

.list-block ul {
	background-color: #0081ab;
}
ul{
  background: inherit;
}

ul li {
  padding-top: 5px;
  padding-bottom: 5px;
}
#recuperarClaveVillanueva input{
  color: white !important;
  background: inherit;
  font-size: 14px;
}
.buttons-container a {
	border: none;
	width: 95%;
	margin: 0 auto;
	min-width: 52px;
	min-height: 47px;
	line-height: 47px;
	border-radius: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #DDD;
}

#recuperarClaveVillanueva .list-block ul:after{
  display: none;
}

#recuperarClaveVillanueva .list-block li:after{
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  bottom: auto;
  right: auto;
  height: 1px;
  width: 95%;
  background-color: #c8c7cc;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

#recuperarClaveVillanueva .list-block .no-after:after{
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  bottom: auto;
  right: auto;
  height: 1px;
  width: 95%;
  background-color: #c8c7cc;
  display: none;
  z-index: 15;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}
.item-inner {
  color: #fff;
}
</style>
