.page{
  background-color: #fff;
}
.list-block li:after {
  content: '';
  position: absolute;
  left: auto;
  bottom: 0;
  right: 0;
  top: auto;
  height: 1px;
  width: 95%;
  background-color: #c8c7cc;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.searchbar{
  background-color: white;
  height: 60px !important;
}
.searchbar:after{
  display: none !important;
}
.searchbar input{
  border: 0.5px solid black !important;
  border-radius: 5px !important;
  border-color: #ddd !important;
  height: 45px;
  background-repeat: no-repeat !important;
  background-position: 8px center !important;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2013%2013'%20enable-background%3D'new%200%200%2013%2013'%3E%3Cg%3E%3Cpath%20fill%3D'%23939398'%20d%3D'M5%2C1c2.2%2C0%2C4%2C1.8%2C4%2C4S7.2%2C9%2C5%2C9S1%2C7.2%2C1%2C5S2.8%2C1%2C5%2C1%20M5%2C0C2.2%2C0%2C0%2C2.2%2C0%2C5s2.2%2C5%2C5%2C5s5-2.2%2C5-5S7.8%2C0%2C5%2C0%20L5%2C0z'%2F%3E%3C%2Fg%3E%3Cline%20stroke%3D'%23939398'%20stroke-miterlimit%3D'10'%20x1%3D'12.6'%20y1%3D'12.6'%20x2%3D'8.2'%20y2%3D'8.2'%2F%3E%3C%2Fsvg%3E") !important;
  -webkit-background-size: 13px 13px;
  background-size: 13px 13px !important;
  padding: 0 28px !important;
  font-size: 14px !important;
}
.no-data-message {
  padding-left: 5vw;
}

#navbar .list-block ul:before{
  display: none;
}
#navbar .list-block ul{
  background: none;
}
#navbar .list-block li:after {
  display: none;
}

#navbar-title{
  max-width: 75%;
}

#pollAttach .list-block ul{
  padding-left: 0 !important;
}

/* .custom-selectbox:after{
  content: " ";
  height: 0;
  width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  position: absolute;
  right: 0px;
  top: 15px;
  transition: all 0.3s linear;
} */

.custom-selectbox select{
  padding-right: 10px;
}

.navbar-button{
  padding-bottom: 100px;
}

.smart-select .item-title{
  display: inline-block;
}
.custom-selectbox .item-select-text{
  float: right;
}
.not-read {
  font-weight: 600;
}

.tabbar-fixed .page-content, .tabbar-through .page-content, .toolbar-fixed .page-content, .toolbar-through .page-content {
  padding-bottom: 49px;
}

.query-derivated{
  background-color: white !important;
  font-size: 12px !important;
  color: black !important;
}

.float-menu2{
  width: 50px;
  height: 50px;
  border: 1px solid red;
  text-align: center;
  border-radius: 25px;
  font-size: 50px;
  line-height: 50px;
  font-weight: 100;
  position: absolute;
  right: 15px;
  z-index: 9999;
  bottom: 60px;
  color: white;
  background-color: red;
  box-shadow: 5px 5px 8px #aaaaaa;
}

.toolbar {
  height: 50px;
  width: 100%;
  border-color: #ff0000;
  background-color: #ff0000;
  text-align: center;
  color: #fff;
}

.picker-calendar .toolbar {
  color: #000;
}