<template lang='pug'>
div(:id='"question" + data.idPregunta')
  h4(v-html='getHTML')
  .list-block
    li(v-for='ans in data.opciones_respuesta.split("|")')
      label.label-radio.item-content
        input(type='radio', :value='ans', :name='"pregunta" + data.orden', v-model='userOption', @change='pollOption')
        .item-inner
          .item-title {{ans}}
</template>

<script>
export default {
  name: 'pollOption',
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      userOption: ''
    }
  },
  computed: {
    getHTML () {
      // Se saca a pedido de JSpasiuk
      // let html = this.data.orden + ')' + this.data.pregunta
      return this.data.pregunta
    }
  },
  methods: {
    pollOption (){
      let answer = {
        idPregunta: this.data.idPregunta,
        userAnswer: this.userOption,
        tipo_respuesta: this.data.tipo_respuesta
      }
      this.$emit('userAnswerEmit', answer)
    }
  }
}
</script>

<style scoped>
h4{
  padding-left: 15px;
}

.item-title {
  white-space: normal;
}
</style>