<template lang='pug'>
div(:id='"question" + data.idPregunta')
  .item-content
    .item-inner
      .item-input
        span(v-html='getHTML')
        a.item-link.smart-select(href='#', data-open-in="picker", data-back-on-select="true")
          .custom-selectbox
            select(:data-required='data.requerido' @change='pollCombo', ref='pollComboRef')
              option(v-for='(ans, i) in data.opciones_respuesta.split("|")', :value='i') {{ans}}
            .item-select-text {{comboValue}}
</template>

<script>
export default {
  name: 'pollCombo',
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      comboValue: '--Seleccionar--'
    }
  },
  computed: {
    getHTML () {
      // Se saca a pedido de JSpasiuk
      // let html = this.data.orden + ')' + this.data.pregunta
      return this.data.pregunta
    }
  },
  mounted () {
    console.log('pc')
  },
  methods: {
    pollCombo (){
      this.comboValue = this.$refs.pollComboRef.selectedOptions[0].text
      let answer = {
        idPregunta: this.data.idPregunta,
        userAnswer: this.comboValue,
        tipo_respuesta: this.data.tipo_respuesta
      }
      debugger
      this.$emit('userAnswerEmit', answer)
    }
  }
}
</script>

<style scoped>
.item-select-text {
  width: 99%;
  height: 50px;
  line-height: 50px;
  border: 1px solid #c8c7cc;
  margin: 10px 0 10px 0;
}
span{
  font-weight: 600;
}
</style>
