<template lang='pug'>
div(:id='"question" + data.idPregunta')
  .item-content
    .item-inner
      .item-input
        h4(v-html='getHTML')
        input(type='text', placeholder='Su respuesta', :data-required='data.requerido', @input='pollInput', v-model='inputValue')

</template>

<script>
export default {
  name: 'pollInput',
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      inputValue: ''
    }
  },
  computed: {
    getHTML () {
      // Se saca a pedido de JSpasiuk
      // let html = this.data.orden + ')' + this.data.pregunta
      return this.data.pregunta
    }
  },
  methods: {
    pollInput (){
      let answer = {
        idPregunta: this.data.idPregunta,
        userAnswer: this.inputValue,
        tipo_respuesta: this.data.tipo_respuesta
      }
      this.$emit('userAnswerEmit', answer)
    }
  }
}
</script>

<style scoped>

</style>
