<template lang='pug'>
div(:id='"question" + data.idPregunta')
  .item-content
    .item-inner
      .item-input.attach1
        h4(v-html='getHTML')
        add-attach#pollAttach(@attach='pollAttach', @remove='pollAttach', :multiple='false')
</template>

<script>
// helper.decodeHTML(data.pregunta)
import AddAttach from '../addAttach'
export default {
  name: 'pollAttach',
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  components: {
    addAttach: AddAttach
  },
  computed: {
    getHTML () {
      // Se saca a pedido de JSpasiuk
      // let html = this.data.orden + ')' + this.data.pregunta
      return this.data.pregunta
    }
  },
  data () {
    return {
    }
  },
  methods: {
    pollAttach (attach){
      let answer = {
        idPregunta: this.data.idPregunta,
        userAnswer: attach[0],
        tipo_respuesta: this.data.tipo_respuesta
      }
      this.$emit('userAnswerEmit', answer)
    }
  }
}
</script>

<style scoped>
.attach1{
  height: auto !important;
}
</style>
