<template lang='pug'>
div(:id='"question" + data.idPregunta')
  .list-block(:id='"pregunta" + data.orden')
    h4(v-html='getHTML')
    li(v-for='ans in data.opciones_respuesta.split("|")')
      label.label-checkbox.item-content
        input(type='checkbox', :value='ans', name='"pregunta" + data.orden', @change='pollOptionMultiple' ref='optionMultiple')
        .item-media
          i.icon.icon-form-checkbox
        .item-inner
          .item-title {{ans}}
</template>

<script>
export default {
  name: 'pollOptionMultiple',
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
    }
  },
  computed: {
    getHTML () {
      // Se saca a pedido de JSpasiuk
      // let html = this.data.orden + ')' + this.data.pregunta
      return this.data.pregunta
    }
  },
  methods: {
    pollOptionMultiple () {
      debugger
      let arr = []
      _.forEach(this.$refs.optionMultiple, (value) => {
        if(value.checked) arr.push(value.value)
      })
      let answer = {
        idPregunta: this.data.idPregunta,
        userAnswer: arr,
        tipo_respuesta: this.data.tipo_respuesta
      }
      this.$emit('userAnswerEmit', answer)
    }
  }
}
</script>

<style scoped>
h4{
  padding-left: 15px;
}

.item-title {
  white-space: normal;
}
</style>