<template lang='pug'>
div(:id='"question" + data.idPregunta')
  .item-content
    .item-media
      i.material-icons date_range
      h4(v-html='getHTML')
    .item-inner
      .item-input
        input(type='date', value='dd/mm/yyyy', :id='"pregunta" + data.orden', @change='pollDate', v-model='dateValue')
</template>

<script>
export default {
  name: 'pollDate',
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      dateValue: ''
    }
  },
  computed: {
    getHTML () {
      // Se saca a pedido de JSpasiuk
      // let html = this.data.orden + ')' + this.data.pregunta
      return this.data.pregunta
    }
  },
  methods: {
    pollDate (){
      let answer = {
        idPregunta: this.data.idPregunta,
        userAnswer: this.dateValue,
        tipo_respuesta: this.data.tipo_respuesta
      }
      this.$emit('userAnswerEmit', answer)
    }
  }
}
</script>

<style scoped>
</style>
