<template lang="pug">
f7-page#agenda.navbar-through(data-page='agenda')
  .diary-container
    .list-block.sercheable-list
      ul
        f7-searchbar(cancel-link='Cancel', placeholder='Buscar agenda...', :clear-button='true')
        template(v-for='(year, yearCount) in countYears')
          template(v-for='(month, monthCount) in year.months')
            .content-block-title()
              b.month-divider
                | {{month.name}} - {{year.year}}
            .list-block(v-for='item in diaryArray' v-if='showEntry(item, month.number, year.year)')
              li.item-content(@click='showDay(item)')
                .item-media.diary-day
                  | {{item.fecha.split("-")[2]}}
                .item-inner
                  .item-title {{item.titulo}}
                  .item-after.align-arrow
                    i.material-icons keyboard_arrow_right
        p(v-if='countYears.length == 0') No hay datos disponibles
</template>

<script>

import Helper from '../assets/js/helper'
import ListElement from '../components/list-element'
export default {
  name: 'invitados',
  data() {
    return {
      diaryArray: [],
      diaryArrayData: [],
      countYears: [],
      countMonth: [],
      monthArray: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
      data: {
        currentMonth: 1,
        tmpMonth: -1,
        tmpDay: -1,
      }
    }
  },
  components: {
    listElement: ListElement
  },
  computed: {
    credentials() {
      return this.$store.getters.credentials
    }
  },
  mounted() {
    this.getDiary()
    this.searchbarInit()
  },
  methods: {
    searchbarInit() {
      this.$f7.searchbar('.searchbar', {
        searchList: '.sercheable-list',
        searchIn: '.item-title'
      })
    },
    showEntry(item, month, year){
      if(item.fecha.split("-")[1] == month  && item.fecha.split("-")[0] == year) return true;
      return false;
    },
    showDay(item){
      Helper.Dates.commonFormat(item.fecha)
      item.formatDate = Helper.Dates.commonFormat(item.fecha)
      this.$store.dispatch('setDiaryData', item)
      this.$store.dispatch('setMainTitleToPush', item.titulo)
      this.$f7.mainView.loadPage('showDiary')
    },
    getDiary() {
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.getDiarySuccess,
        data: {
          idPantalla: 17,
          idAccion: 'Inicio',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password
        }
      }
      Helper.post(params)
    },
    //Un mounstruo para poner el array en vue de forma dinamica
    getDiarySuccess(res) {
      let tmp = []
      if (res) {
        this.diaryArray = typeof(res) === 'string' ? JSON.parse(res) : res
        if (this.diaryArray.length > 0) {
          for (let i = 0; i < this.diaryArray.length; i++) {
            let year = this.diaryArray[i].fecha.split('-')[0]
            if (this.countYears == 0) {
              this.countYears.push({'year': year, 'months': []})
            } else {
              for (let k = 0; k < this.countYears.length; k++) {
                if (this.countYears[k].year !== year) {
                  this.countYears.push({'year': year, 'months': []})
                    break;
                }
              }
            }
          }
          for (let i2 = 0; i2 < this.diaryArray.length; i2++) {
            let year = this.diaryArray[i2].fecha.split('-')[0]
            let month = this.diaryArray[i2].fecha.split('-')[1]
            for(let k2 = 0; k2 < this.countYears.length; k2++){
              if(this.countYears[k2].year === year){
                if(this.countYears[k2].months.length == 0){
                  this.countYears[k2].months.push({'name':this.monthArray[parseInt(month) - 1], number: parseInt(month)})
                }
                else{
                  let addMonth = true
                  for (let l2 = 0; l2 < this.countYears[k2].months.length; l2++) {
                    if(this.countYears[k2].months[l2].name === this.monthArray[parseInt(month) - 1]){
                      addMonth = false
                    }
                  }
                  if(addMonth) this.countYears[k2].months.push({'name':this.monthArray[parseInt(month) - 1], number: parseInt(month)})
                }
              }
            }
          }
        }
      }
    }
  }
}
</script>

<style scoped>
.guests-container {
  margin-bottom: 50px;
}
.list-block li:before{
  content: '';
  position: absolute;
  left: auto;
  right: 0;
  top: 0;
  height: 1px;
  width: 95%;
  background-color: #c8c7cc;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.month-divider{
  font-weight: 900;
}
.diary-day{
  vertical-align: middle;
  font-size: 1.8em;
  color: lightgray;
  width: 40px;
  border-right: 1px solid lightgray;
}
.align-arrow{
  right: 0;
  position: absolute;
}
.align-arrow i{
  color: #727272;
  font-size: 40px;
}
.item-title{
  width: 95%;
}
</style>
