<template lang="pug">
f7-page#asistenciaTecnica.navbar-through(data-page='asistenciaTecnica')
  p(v-if='itemsArray.length == 0') No hay datos disponibles
  .list-block
    ul(v-for='item in itemsArray')
      li(@click='openAsistance(item)')
        .item-content
          .item-inner
            .item-input
              .item-container
                | {{item.Valor}}
                i.material-icons(v-if='item.Tipo === "Telefono"') call
                i.material-icons(v-else) mail
</template>

<script>
import Helper from '../assets/js/helper.js'
export default {
  name: 'asistenciaTecnica',
  data() {
    return {
      itemsArray: []
    }
  },
  mounted() {
    this.loadTechnicalAssistance()
  },
  methods: {
    loadTechnicalAssistance() {
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.loadTechnicalAssistanceSuccess,
        data: {
          idPantalla: 8,
          idAccion: 'Inicio',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password
        }
      }
      Helper.post(params)
    },
    loadTechnicalAssistanceSuccess(res) {
      this.itemsArray = res
    },
    openAsistance(item) {
      try{
        switch (item.Tipo) {
          case "Email":
            if (device.platform == "Android") {
              window.open('mailto:' + item.Valor, '_system');
            } else {
              document.location.href = "mailto:" + item.Valor;
            }
            break;
          case "Telefono":
            if (device.platform == "Android") {
              window.open('tel:' + item.Valor, '_system');
            } else {
              document.location.href = "tel:" + item.Valor;
            }
            break;
        }
      }
      catch(e){
        console.log(e)
      }
    }
  },
  computed: {
    credentials() {
      return this.$store.getters.credentials
    }
  }
}
</script>

<style lang="css">
.page-content{
  padding-top: 50px;
}
.list-block{
  margin: 0px;
}
.item-container i{
  position: absolute;
  right: 10px;
  font-size: 30px;
}
</style>
