<template lang="pug">
f7-page#boletas.navbar-through(data-page='boletas', toolbar-fixed)
  //- toolbar
  .boletas-container
    .list-block.sercheable-list
      p.no-data-message(v-if='showNoData') No hay datos disponibles
      ul(v-if='!showNoData')
        f7-searchbar(cancel-link='Cancel', placeholder='Buscar boletas...', :clear-button='true')
        list-element(v-for='ballot in ballotsArray',
        :key='ballot.idNtc',
        :title='ballot.tituloNtc ',
        :date='ballot.fechNtc',
        :attachIcon='ballot.file1Ntc? true: false',
        v-on:clicked='showBallot(ballot)')
</template>

<script>
import Helper from '../assets/js/helper'
import ListElement from '../components/list-element'
export default {
  name: 'boletas',
  data(){
    return {
      ballotsArray: [],
      showNoData: false
    }
  },
  components: {
    listElement: ListElement
  },
  computed:{
    credentials(){
      return this.$store.getters.credentials
    }
  },
  mounted(){
    this.searchbarInit()
    this.getBallots()
  },
  methods: {
    searchbarInit(){
      this.$f7.searchbar('.searchbar', {
        searchList: '.sercheable-list',
        searchIn: '.item-title'
      })
    },
    getBallots(){
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.getBallotsSuccess,
        data: {
          idPantalla: 13,
          idAccion: 'Inicio',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password
        }
      }
      Helper.post(params)
    },
    getBallotsSuccess(res){
      if(res){
        this.ballotsArray = typeof(res) === 'string' ? JSON.parse(res) : res
        this.showNoData = this.ballotsArray.length == 0
      }
    },
    showBallot(ballot){
      // Se pushea el mismo titulo, ya que por definicion, no se altera cuando se ingresa a una boleta
      this.$store.dispatch('setMainTitleToPush', this.$store.getters.mainTitle)
      this.$store.dispatch('setBallotData', ballot)
      this.$f7.mainView.loadPage('showBallot')
    }
  }
}
</script>

<style scoped>
.guests-container{
  margin-bottom: 50px;
}
</style>
