<template lang="pug">
f7-page#camaras.navbar-through(data-page='camaras')
  .camera-container
    .card
      .card-content
        .card-content-inner.center-text
          img.camera(:src='camera.url')
          span.camera-name {{camera.name}}
          br
          span#date_time
</template>

<script>
import Helper from '../assets/js/helper.js'
export default {
  name: 'camaras',
  data() {
    return {
      camera: {
        url: '',
        name: ''
      }
    }
  },
  mounted() {
    this.loadCameras()
  },
  methods: {
    loadCameras() {
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.loadCamerasSuccess,
        data: {
          idAccion: 'Inicio',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPantalla: 16,
          idPassword: this.credentials.password
        }
      }
      Helper.post(params)
    },
    loadCamerasSuccess(res) {
      if (res) {
        this.camera.url = res[0].url
        this.camera.name = res[0].nombre
        this.date_time()
      }
    },
    date_time() {
      let id = 'date_time'
      let date = new Date;
      let month = date.getMonth();
      let year = date.getFullYear();
      let months = new Array('Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre');
      let d = date.getDate();
      let day = date.getDay();
      let days = new Array('Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado');
      let h = date.getHours();
      if (h < 10) {
        h = "0" + h;
      }
      let m = date.getMinutes();
      if (m < 10) {
        m = "0" + m;
      }
      let s = date.getSeconds();
      if (s < 10) {
        s = "0" + s;
      }
      let result = '' + days[day] + ' ' + months[month] + ' ' + d + ' ' + year + ' ' + h + ':' + m + ':' + s;
      document.getElementById(id).innerHTML = result;
      let self = this.date_time
      setTimeout(function(){self(id)}, 1000);
      return true;
    }
  },
  computed: {
    credentials() {
      return this.$store.getters.credentials
    }
  }
}
</script>

<style scoped>
.center-text {
  text-align: center;
}

.camera {
  user-select: none;
  cursor: zoom-in;
  width: 95%;
  height: 100%;
  margin: auto;
}
</style>
