<template lang="pug">
f7-page#claimInfraction.navbar-through(data-page='claimInfraction')
  .claim-infraction-container()
    .card
      .card-content
        .list-block
          ul
            li.align-top
              .item-content
                .item-inner
                  .item-input
                    textarea(placeholder='Ingrese su descargo', v-model='claimDescription')
    button.button.button-big.active.button-general-style.color-green(@click='makeClaim') Enviar Descargo
</template>

<script>
import Helper from '../assets/js/helper'
import ShowAttachment from '../components/showAttachment'
export default {
  name: 'claimInfraction',
  data() {
    return {
      claimDescription: '',
    }
  },
  components: {
    showAttachment: ShowAttachment
  },
  computed: {
    credentials() {
      return this.$store.getters.credentials
    },
    infractionData(){
      return this.$store.getters.infractionData
    }
  },
  mounted() {
  },
  methods: {
    makeClaim(){
      if(this.claimDescription === ''){
        Helper.showMessage('No puede enviar un descargo sin mensaje')
        return
      }
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.makeClaimSuccess,
        data: {
          idPantalla: 19,
          idAccion: 'Descargo',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          numeroInfraccion: this.infractionData.numero_infraccion,
          idInfraccion: this.infractionData.id,
          usuario_carga: this.credentials.user,
          desc: this.claimDescription
        }
      }
      Helper.post(params)
    },
    makeClaimSuccess(res){
      if(res){
        Helper.showMessage('Su descargo se realizo correctamente', (()=>{
          this.$f7.mainView.loadPage('infracciones')
        }))
      }
    }
  }
}
</script>

<style scoped>
*{
  color: #666;
}
textarea{
  font-size: 14px;
}
</style>
