<template lang="pug">
f7-page#clasificados.navbar-through(data-page='clasificados', toolbar-fixed)
  //- toolbar(showButton='true',
  //- text='Mis Avisos',
  //- v-on:btnAdminClick='mySales')
  .sale-container
    .list-block.sercheable-list
      p.no-data-message(v-if='showNoData') No hay datos disponibles
      ul(v-if='!showNoData')
        f7-searchbar(cancel-link='Cancel', placeholder='Buscar mis avisos...', :clear-button='true')
        list-element(v-for='sale in salesArrayFiltred',
        :key='sale.id_prd',
        :title='sale.nombre_prd',
        :iconSrc='sale.imagen_prd',
        :status='"Precio: " + sale.precio_prd',
        :date='sale.cantidad_stock_prd',
        :publishBy='sale.publicado_por',
        :salesStyle='true',
        v-on:clicked='showSale(sale)')
  //admin-button(:text='"Mis Avisos"',:previousTitle='"Invitados"', v-on:btnAdminClick='mySales')
</template>

<script>
import { EventBus } from '../assets/js/event-bus'
import {mapGetters, mapActions} from 'vuex'
import Helper from '../assets/js/helper'
import ListElement from '../components/list-element'
export default {
  name: 'clasificados',
  data(){
    return{
      salesArray: [],
      showNoData: false
    }
  },
  components: {
    listElement: ListElement
  },
  computed:{
    credentials(){
      return this.$store.getters.credentials
    },
    saleFilterData(){
      return this.$store.getters.saleFilterData
    },
    salesArrayFiltred: function () {
      let idCateg = this.saleFilterData
      if(idCateg !== '-1'){
        return this.salesArray.filter(function (sale) {
          return sale.id_ctg === idCateg
        })
      }
      else{
        return this.salesArray
      }
    }
  },
  mounted () {
    this.$eventBus.$on('mySalesEvt', this.mySales)
    this.getSales()
    this.searchbarInit()
    this.$store.dispatch('setShowInfo', {show: false, icon: 'filter_list', isSale: true} )
    this.$nextTick(() => {
      this.setToolbarConfig({
        isAdmin: true,
        text: 'Mis Avisos',
        // title: 'Paso 1: Redactar',
        previousTitle: 'Clasificados',
        showGirovisionButton: false,
        showToolbar: true,
        event: 'mySalesEvt'
      })
    })
  },
  updated () {
    console.log('clasif upd')
  },
  activated () {
    console.log('clasif act')
  },
  methods:{
    ...mapActions(['setToolbarConfig']),
    searchbarInit(){
      this.$f7.searchbar('.searchbar', {
        searchList: '.sercheable-list',
        searchIn: '.item-title'
      })
    },
    btnAdminClick () {
    },
    getSales(){
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.getSalesSuccess,
        data: {
          idPantalla: 15,
          idAccion: 'Inicio',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password
        }
      }
      Helper.post(params)
    },
    getSalesSuccess(res){
      if(res) {
        debugger
        this.salesArray = typeof(res) === 'string' ? JSON.parse(res) : res;
        this.showNoData = this.salesArray.length == 0;
      }
    },
    showSale (sale) {
      this.$store.dispatch('setMainTitleToPush', sale.nombre_prd)
      this.$store.dispatch('setSaleData', sale)
      this.$f7.mainView.loadPage('showSale')
    },
    mySales(){
      this.$store.dispatch('setMainTitleToPush', 'Mis Avisos')
      this.$f7.mainView.loadPage('showMySales')
    }
  }
}
</script>

<style scoped>
</style>
