<template lang="pug">
f7-page#comisiones.navbar-through(data-page='comisiones', toolbar-fixed)
  //- toolbar
  .comisiones-container
    .list-block.sercheable-list
      p.no-data-message(v-if='showNoData') No hay datos disponibles
      div#comissions.sercheable-list(v-html='comissions')
</template>

<script>
import { postInicio } from '../assets/js/api-helper'
export default {
  name: "comisiones",
  data() {
    return {
      comissions: "",
      showNoData: false
    };
  },
  mounted() {
    this.getCommissions();
  },
  methods: {
    getCommissions() {
      postInicio(20, this.getCommissionsSuccess, 'html')
    },
    getCommissionsSuccess(res) {
      this.showNoData = !res;
      this.comissions = res;
    }
  }
};
</script>

<style scoped>
.guests-container {
  margin-bottom: 50px;
}
</style>
