<template lang="pug">
f7-page#comunidad-ayres.navbar-through(data-page='comunidad-ayres')
  .sale-container
    .list-block.sercheable-list
      p.no-data-message(v-if='showNoData') No hay datos disponibles
      ul(v-if='!showNoData')
        f7-searchbar(cancel-link='Cancel', placeholder='Buscar mis avisos...', :clear-button='true')
        //- list-element(v-for='sale in salesArrayFiltred',
        //- :key='sale.id',
        //- :title='sale.titulo',
        //- :iconSrc='sale.foto',
        //- :status='"Precio: " + sale.precio_prd',
        //- :date='sale.cantidad_stock_prd',
        //- :publishBy='sale.publicado_por',
        //- :salesStyle='true',
        //- v-on:clicked='showSale(sale)')
        list-element(v-for='sale in salesArrayFiltred',
        :key='sale.id',
        :title='sale.titulo',
        :iconSrc='sale.foto',
        :status='sale.subtitulo',
        :salesStyle='true',
        v-on:clicked='showSale(sale)')


  //admin-button(:text='"Mis Avisos"',:previousTitle='"Invitados"', v-on:btnAdminClick='mySales')
</template>

<script>
import { EventBus } from "../assets/js/event-bus";
import { mapGetters, mapActions } from "vuex";
import Helper from "../assets/js/helper";
import ListElement from "../components/list-element";

export default {
  name: "comunidad-ayres",
  data() {
    return {
      salesArray: [],
      showNoData: false
    };
  },
  components: {
    listElement: ListElement
  },
  computed: {
    credentials() {
      return this.$store.getters.credentials;
    },
    saleFilterData() {
      return this.$store.getters.saleFilterData;
    },
    salesArrayFiltred: function() {
      let idCateg = this.saleFilterData;
      if (idCateg !== "-1") {
        return this.salesArray.filter(function(sale) {
          return sale.id_ctg === idCateg;
        });
      } else {
        return this.salesArray;
      }
    }
  },
  mounted() {
    this.$eventBus.$on('mySalesEvt', this.mySales)
    this.getSales()
    this.searchbarInit()
    this.$store.dispatch('setShowInfo', {show: false, icon: 'filter_list', isSale: true} )
  },
  updated() {
    console.log('clasif upd')
  },
  activated () {
    console.log('clasif act')
  },
  methods:{
    searchbarInit(){
      this.$f7.searchbar('.searchbar', {
        searchList: '.sercheable-list',
        searchIn: '.item-title'
      })
    },
    btnAdminClick () {
    },
    getSales(){
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.getSalesSuccess,
        data: {
          idPantalla: 15,
          idAccion: 'Inicio_ayres',
          // idBarrio: this.credentials.barrio.id,
          // idUsuario: this.credentials.user,
          // idPassword: this.credentials.password
          idBarrio: '1729',
          idUsuario: 'helpdesk',
          idPassword: 'curupaesde1'
        }
      }
      Helper.post(params)
    },
    getSalesSuccess (res) {
      if (res) {
        this.salesArray = typeof(res) === 'string' ? JSON.parse(res) : res;
        this.showNoData = this.salesArray.length == 0;
      }
    },
    showSale (sale) {
      this.$store.dispatch('setMainTitleToPush', sale.titulo)
      this.$store.dispatch('setSaleData', sale)
      this.$f7.mainView.loadPage('showSaleAyres')
    },
    mySales () {
      this.$store.dispatch('setMainTitleToPush', 'Mis Avisos')
      // this.$f7.mainView.loadPage('showMySales')
    }
  }
};
</script>

<style scoped>
</style>