<template lang="pug">
f7-page#confirmGuest.navbar-through(data-page='confirmGuest')
  .guests-container
    .list-block
    .card()
      .card-content
        .card-content-inner
          .box
            span
              b Apellido
            span.right
              | {{guestData.apellido}}
          .box
            span
              b Nombre
            span.right
              | {{guestData.nombre}}
          .box
            span
              b(v-if='!isUruguay') Dni
              b(v-else) Cedula
            span.right
              | {{guestData.dni}}
          .box
            span
              b Categoria
            span.right
              | {{guestData.categoria}}
          .box
            span
              b Tipo de Acceso
            span.right
              | {{guestData.acceso}}
          .box
            span
              b Fecha Desde
            span.right
              | {{guestData.dateFrom}}
          .box
            span
              b Fecha Hasta
            span.right
              | {{guestData.dateTo}}
          .box
            span
              b Vehículo Marca
            span.right
              | {{guestData.marca}}
          .box
            span
              b Vehículo Dominio
            span.right
              | {{guestData.patente}}
          .box
            p
              b Comentarios
            span.right
              | {{guestData.comentarios}}
          .box(v-show='guestData.acceso === "EMPLEADA DOMESTICA"')
            span
              b Revisar al salir?
            span.right
              | {{guestData.check ? 'Si' : 'No'}}
          .box(v-show='guestData.acceso === "OBRERO/OPERARIO"')
            p
              b Numero de poliza
            span.right
              | {{guestData.insuranceNumber}}
          .box(v-show='guestData.acceso === "OBRERO/OPERARIO"')
            span
              b Validez
            span.right
              | {{guestData.insuranceValidityDate}}

  .buttons-container
    button.button.button-big.active.color-green.button-general-style(@click='confirmGuest') Confirmar invitado
</template>

<script>
import Helper from '../assets/js/helper'
//Import QR https://www.npmjs.com/package/qr-image
import QR from 'qr-image'
import { mapGetters } from 'vuex';
export default {
  name: 'confirmGuest',
  data(){
    return{
      qr: QR
    }
  },
  components: {
  },
  computed:{
    ...mapGetters(['credentials',
    'guestData',
    'isUruguay'])
  },
  mounted () {
  },
  methods:{
    confirmGuest(){
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.confirmGuestSuccess,
        data: {
          idPantalla: 10,
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          fecha_ingreso: this.guestData.fechaingreso,
          fecha_egreso: this.guestData.fechaegreso,
          poliza_fecha: this.guestData.insuranceValidityDate || '',
          apellido: this.guestData.apellido,
          nombre: this.guestData.nombre,
          dni: this.guestData.dni,
          categoria: this.guestData.categoria,
          acceso: this.guestData.acceso,
          fecha_ingreso_hora: this.guestData.hourFrom,
          fecha_egreso_hora: this.guestData.hourTo,
          marca: this.guestData.marca,
          patente: this.guestData.patente,
          art: '',
          revisar: this.guestData.check ? 'Si': 'No',
          poliza: this.guestData.insuranceNumber || '',
          comentarios: this.guestData.comentarios
        }
      }
      if(this.guestData.id != -1){
        params.url = Helper.URL.GetMain
        params.data.idInvitado =  this.guestData.id
        params.data.idAccion = 'Modificar'
      }
      else{
        params.url = Helper.URL.Invitado
      }
      // console.log(JSON.stringify(params, null, 2))
      Helper.post(params)
    },
    confirmGuestSuccess(res){
      if(res){
        Helper.showMessage(res, (()=>{
          // Se vuelve a home, limpiamos el array de titulos
          this.$store.dispatch('clearMainTitle')
          this.$f7.mainView.loadPage({url:'home', force: true})
        }))
      }
    }
  }
}
</script>

<style scoped>
.list-block .item-content{
  padding-left: 0px;
}
.card-content-inner{
  padding: 0;
}
.box{
  border: 1px solid #ddd;
  padding: 6px 0 5px 16px;
}
.buttons-container button{
  margin-bottom: 10px;
  border-radius: 0px;
}
.right{
  float: right;
  margin-right: 10px;
}
</style>
