<template lang="pug">
f7-page#confirmarReserva.navbar-through(data-page='confirmarReserva',  toolbar-fixed)
  //- toolbar
  .confirmar-reserva-container
    table
      tr
        td
          b Fecha
          p {{reservationData.date}}
        td
          b Servicio
          p {{reservationData.service}}
      tr
        td
          b Turno/s
          p  {{reservationData.hours.text}}
        td(v-if='reservationData.multiguest && reservationData.multiguest.length > 0')
          b Invitados
          p(v-for='guest in reservationData.multiguestArr' :key='guest.value') {{guest.desc}}
        td(v-else)
          b Invitados
          p {{reservationData.guests.text}}
      tr
        td
          b Comentario:
          p {{reservationData.comment}}
    .list-block
      ul
        li(v-for='item in additionalArray')
          label.label-checkbox.item-content
            input(type='checkbox', name='additionalSelect', :value='item.value', v-model='additionalSelect')
            .item-media
              i.icon.icon-form-checkbox
            .item-inner
              .item-title {{item.desc}}
    a.button.button-big.active.color-green#confirmReservation(href='#', @click='confirmReservation') Confirmar Reserva
</template>

<script>
import Helper from '../assets/js/helper'
// import Toolbar from '../components/toolbar'
export default {
  name: 'confirmarReserva',
  data(){
    return{
      additionalArray: [],
      additionalSelect: []
    }
  },
  components:{
    // toolbar: Toolbar,
  },
  computed: {
    credentials(){
      return this.$store.getters.credentials
    },
    reservationData(){
      return this.$store.getters.reservationData
    }
  },
  mounted () {
    this.additionalReservation()
  },
  methods:{
    additionalReservation(){
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.additionalReservationSuccess,
        data: {
          idPantalla: 7,
          idAccion: 'Opciones',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          tipoServicio: this.reservationData.idReservation
        }
      }
      Helper.post(params)
    },
    additionalReservationSuccess(res){
      if(res && res.length > 0){
        this.additionalArray = res
      }
    },
    confirmReservation () {
      let guestArr = []
      this.reservationData.multiguestArr.forEach(g => {
        guestArr.push(g.value)
      })
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.confirmReservationSuccess,
        data: {
          idPantalla: 7,
          idAccion: 'Nueva',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          tiposervicio: this.reservationData.idReservation,
          fecha: this.reservationData.date,
          'reserva': this.reservationData.hours.value,
          'tipo_juego':this.reservationData.typeGuest,
          'opcion': this.additionalSelect,
          comentarios: this.reservationData.comment,
          'invitado': guestArr.length > 0 ? guestArr : this.reservationData.guests.value || ''
        }
      }
      Helper.post(params)
    },
    confirmReservationSuccess(res){
      if(res)
        Helper.showMessage(res, (()=>{
          // Se vuelve a home, limpiamos el array de titulos
          this.$store.dispatch('clearMainTitle')
          this.$f7.mainView.loadPage({url:'home', force: true})
        }))
    }
  }
}
</script>

<style scoped>
.confirmar-reserva-container{
  padding-top: 5px;
}
.confirmar-reserva-container table{
  width: 100%;
  background-color: white;
}
#confirmReservation{
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
}
.list-block .item-title{
    white-space: normal !important;
}
</style>
