<template lang="pug">
f7-page#confirmarInformePago.navbar-through(data-page='confirmarInformePago',  toolbar-fixed)
  .card
    .card-content
      .card-content-inner
        table
          tr
            td
              b Pago informado por:
              br
              span
                | {{paymentData.payer}}
            td
              b Cuit/Cuil:
              br
              span
                | {{paymentData.cuit}}
          tr
            td
              b Fecha:
              br
              span
                | {{paymentData.date}}
            td
              b Lote:
              br
              span
                | {{paymentData.lot}}
          tr
            td
              b Pago informado por:
              br
              span
                | {{paymentData.payer}}
            td
              b Pago informado por:
              br
              span
                | {{paymentData.payer}}
          tr
            td
              b Importe:
              br
              span
                | {{paymentData.amount}}
            td
              b Tipo de transacción:
              br
              span
                | {{paymentData.type.desc}}
          tr
            td
              b Nro transacción:
              br
              span
                | {{paymentData.transaction}}
            td
              b Banco origen:
              br
              span
                | {{paymentData.bankFrom}}
          tr
            td
              b Banco destino:
              br
              span
                | {{paymentData.bankTo}}
            td
              b Sucursal:
              br
              span
                | {{paymentData.branch}}
          tr
            td
              b Comentarios:
              br
              span
                | {{paymentData.comments}}
  a.button.button-big.active.button-general-style.color-green(href='#', @click='confirmPayment') Confirmar informe de Pago
</template>

<script>
import Helper from '../assets/js/helper'
export default {
  name: 'confirmarInformePago',
  data(){
    return{
      paymentAttachmentArray: [],
      fileUpload: [],
      currentAttach: [],
      tempPaymentData: {}
    }
  },
  components:{
  },
  computed: {
    credentials(){
      return this.$store.getters.credentials
    },
    paymentData(){
      return this.$store.getters.paymentData
    }
  },
  mounted(){
    this.paymentAttachmentArray = this.paymentData.attach
    this.tempPaymentData = this.paymentData
    //this.getFormData()
  },
  methods:{
    confirmPayment(){
      let params = {
        url: Helper.URL.InformePago,
        dataType: 'json',
        callback: this.confirmPaymentSuccess,
        data: {
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          lote: this.tempPaymentData.lot,
          tipo_pago: this.tempPaymentData.type.value,
          fecha: this.tempPaymentData.date,
          cuit: this.tempPaymentData.cuit,
          importe: this.tempPaymentData.amount,
          transaccion: this.tempPaymentData.transaction,
          banco_origen: this.tempPaymentData.bankFrom,
          banco: this.tempPaymentData.bankTo,
          sucursal: this.tempPaymentData.branch,
          comentarios: this.tempPaymentData.comments,
          adjunto: this.fileUpload[0]
        }
      }
      this.paymentAttachmentArray.length > 0 ? this.initUploadAttach() : Helper.post(params)
    },
    initUploadAttach(){
      this.currentAttach = this.paymentAttachmentArray.pop()
      // this.doUpload(attach)
      try {
        Helper.saveFile(this.currentAttach.src, this.credentials.barrio.id, this.uploadImageSuccess, this.uploadImageFailed)
      } catch (e) {
        Helper.showMessage('Error subiendo imagen')
      }
    },
    uploadImageSuccess(res){
      let fileName = this.currentAttach.src.split("/").pop()
      let extension = Helper.getFileExtension(fileName);
      if (extension == "") {
          fileName += ".jpg";
      }
      this.fileUpload.push(res.uploadName +',' + fileName)
      if(this.paymentAttachmentArray.length == 0){
        this.confirmPayment()
      }
      else{
        this.initUploadAttach()
      }
    },
    uploadImageFailed(res){
      console.log(res)
    },
    confirmPaymentSuccess(res){
      if(res){
        Helper.showMessage(res, (()=>{
          this.$store.dispatch('setPaymentData', {})
          this.$store.dispatch('popMainTitle')
          this.$f7.mainView.loadPage({url:'informepago', force: true})
        }))
      }
    }
  }
}
</script>

<style scoped>
table{
  width: 100%;
}
</style>
