<template lang="pug">
f7-page#confirmGuestGirovision.navbar-through(data-page='confirmGuestGirovision')
  .guests-container
    .list-block
    .card()
      .card-content
        .card-content-inner
          .box
            span
              b Nombre y apellidp
            span.right
              | {{guestGirovisionData.name}}
          .box
            span
              b Documento
            span.right
              | {{guestGirovisionData.personalId}}
          .box(v-if='false')
            span
              b Tipo Entrada
            span.right
              | {{guestGirovisionData.entryType.desc}}
          .box
            span
              b Patente
            span.right
              | {{guestGirovisionData.licensePlate}}
          .box
            span
              b Marca vehículo
            span.right
              | {{guestGirovisionData.brand}}
          .box(v-if='false')
            span
              b Tipo invitado
            span.right
              | {{guestGirovisionData.guestType.desc}}
          .box(v-if='false')
            span
              b Motivo
            span.right
              | {{guestGirovisionData.motive}}
          .box
            span
              b Valido desde
            span.right
              | {{guestGirovisionData.entryDate}}
          .box
            span
              b Valido por
            span.right
              | {{guestGirovisionData.validityDays.desc}}
          .box(v-if='false')
            span
              b Tipo ingreso
            span.right
              | {{guestGirovisionData.accessType.desc}}
          .box(v-if='credentials.barrio.id === "85"')
            span
              b Avisar al propietario
            span.right
              | {{guestGirovisionData.warnOwner.value == 'S' ? 'Si' : 'No'}}
  .buttons-container
    button.button.button-big.active.color-green.button-general-style(@click='confirmGuest') Confirmar invitado
</template>

<script>
import Helper from '../assets/js/helper'
//Import QR https://www.npmjs.com/package/qr-image
import QR from 'qr-image'
export default {
  name: 'confirmGuestGirovision',
  data(){
    return{
      qr: QR
    }
  },
  components: {
  },
  computed:{
    credentials(){
      return this.$store.getters.credentials
    },
    guestGirovisionData(){
      return this.$store.getters.guestGirovisionData
    }
  },
  mounted(){
    //this.getGuests()
    //this.searchbarInit()
  },
  methods:{
    confirmGuest(){
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.confirmGuestSuccess,
        data: {
          idPantalla: 14,
          idAccion: "Nuevo_invitado",
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          fec_valido_desde: this.guestGirovisionData.entryDate.replace(new RegExp('/', 'g'), '-'),
          txt_nombre: this.guestGirovisionData.name,
          txt_documento: this.guestGirovisionData.personalId,
          txt_patente: this.guestGirovisionData.licensePlate,
          txt_marca_veh: this.guestGirovisionData.brand,
          txt_motivo: this.guestGirovisionData.motive,
          cant_dias_valido: this.guestGirovisionData.validityDays.value,
          id_tipo_entrada: this.guestGirovisionData.entryType.value,
          id_tipo_invitado: this.guestGirovisionData.guestType.value,
          id_tipo_ingreso: this.guestGirovisionData.accessType.value,
          id_tipo_reingreso: 1,
          avisar_propietario: this.guestGirovisionData.warnOwner.value
        }
      }
      // console.log(JSON.stringify(params, null, 2))
      Helper.post(params)
    },
    confirmGuestSuccess(res){
      if(res){
        res = typeof(res) === 'string' ? JSON.parse(res) : res
        if(res.error){
          Helper.showMessage(res.error)
        }
        else{
          Helper.showMessage(res[0].msg, (()=>{
            // Se vuelve a home, limpiamos el array de titulos
            this.$store.dispatch('clearMainTitle')
            this.$f7.mainView.loadPage({url:'home', force: true})
          }))
        }
      }
    }
  }
}

</script>

<style scoped>
.list-block .item-content{
  padding-left: 0px;
}
.card-content-inner{
  padding: 0;
}
.box{
  border: 1px solid #ddd;
  padding: 6px 0 5px 16px;
}
.buttons-container button{
  margin-bottom: 10px;
  border-radius: 0px;
}

.right{
  float: right;
  margin-right: 10px;
}
</style>
