<template lang="pug">
f7-page#consultasAdmin.navbar-through.toolbar-fixed(data-page='consultasAdmin')
  //- toolbar(showButton='true',
  //- title='Nueva consulta',
  //- text='Nueva consulta',
  //- previousTitle='Consultas',
  //- v-on:btnAdminClick='newQuery')
  .consultas-container
    .list-block.sercheable-list
      p.no-data-message(v-if='showNoData') No hay datos disponibles
      ul(v-if='!showNoData')
        f7-searchbar(cancel-link='Cancel', placeholder='Buscar Consultas...', :clear-button='true')
        li.item-content(ref='queryList', v-for='query in arrayQuerys', :key='query.id_consulta',)
          //li.select-all(v-show='selectAll.showCheckbox')
          label.label-checkbox.item-content.select-all-label(v-show='selectAll.showCheckbox', @click.prevent='goToQuery(query)')
            input(type='checkbox')
            .item-media
              i.icon.icon-form-checkbox
          .item-inner(@click='goToQuery(query)')
            // pre {{query}}
            .item-title
              .tag-container
                .query-id
                  span.query-id-span {{query.id_consulta + ' - '}}
                  span.user {{' ' + query.nombre_usuario + ' - ' + query.lote_usr}}
                  span.tag(v-if='query.color', :style='{ background: query.color}')
                  span.read(v-if='query.r ==="rta"') R
              .subtitle
                span {{query.asunto}}
              .subtitle2
                span
                  b {{query.nombre_grp}}
                  span.info-container {{query.fechaES}}
                  // span.info-container Act: {{' ' + query.fechaES + ' (' + query.diadiff + 'DíAS) '}}
            .item-after
              i.fas.fa-chevron-right
        //- f7-link(:href="'mostrarConsultas/' + query.idConsulta + '/' + query.asunto +'/' + encodeURIComponent(query.fecha)", v-for='query in arrayQuerys', :key='query.idQuery', @click='setTitle(query.asunto)')
        //- list-element( v-bind:title='query.idConsulta + " - " +query.asunto', v-bind:date='query.fecha', v-on:clicked='goToQuery(query)')
</template>

<script>
import Helper from '../assets/js/helper'
import ListElement from '../components/list-element'
import Toolbar from '../components/toolbar'
import {mapActions, mapGetters} from 'vuex'
export default {
  name: 'consultasAdmin',
  data () {
    return{
      arrayQuerys: [],
      showNoData: false
    }
  },
  components:{
    listElement: ListElement,
    toolbar: Toolbar
  },
  computed: {
    ...mapGetters(['credentials', 'selectAll'])
  },
  mounted () {
    this.searchbarInit()
    this.toggleQueryMenu(true)
    this.loadQuerys()
    this.$eventBus.$on('newQueryEvtAdmin', this.newQuery)
    this.$eventBus.$on('loadBoxEvt', this.loadBox)
  },
  methods:{
    ...mapActions(['toggleQueryMenu','setSelectAll', 'toggleSelectedItem', 'setShowInfo', 'setQueryDataAdmin']),
    setTitle(title){
    },
    searchbarInit(){
      this.$f7.searchbar('.searchbar', {
        searchList: '.sercheable-list',
        searchIn: '.item-inner'
      })
    },
    loadBox (box) {
      // console.log('loadBox: ' + JSON.stringify(box))
      // console.log('loadBox')
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.loadQuerysSuccess,
        data: {
          idPantalla: 9,
          idAccion: 'Inicio_ADM',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          carpeta: box.id_cat
        }
      }
      Helper.post(params)
    },
    loadQuerys() {
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.loadQuerysSuccess,
        data: {
          idPantalla: 9,
          idAccion: 'Inicio_ADM',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password
        }
      }
      Helper.post(params)
    },
    loadQuerysSuccess(res) {
      if (res) {
        for(let i = 0; i< res.length; i++) {
          res[i].fecha = moment(new Date(res[i].fecha)).format('DD/MM/YYYY HH:MM:SS')
        }
        this.arrayQuerys = []
        this.showNoData = res.length == 0
        this.setSelectAll({
          show: true,
          listRef: '',
          items: res,
          selectedItems: [],
          method: '',
          idPantalla: 9,
          showCheckbox: false,
          callback: null,
          btnText: 'Derivar consultas',
          btnIcon: 'share',
          currentPage: 'Consultas'
        })
        this.$nextTick(() => {
          this.arrayQuerys = res
          this.$nextTick(() => {
            this.setSelectAll({
              show: true,
              listRef: this.$refs.queryList,
              items: res,
              selectedItems: [],
              method: '',
              idPantalla: 9,
              showCheckbox: false,
              callback: this.loadQuerys,
              btnText: 'Derivar consultas',
              btnIcon: 'share',
              currentPage: 'Consultas'
            })
          })
        })
      } else {
        this.arrayQuerys = []
        this.showNoData = true
        this.$nextTick(() => {
          this.setSelectAll({
            show: true,
            listRef: '',
            items: [],
            selectedItems: [],
            method: '',
            idPantalla: 9,
            showCheckbox: false,
            callback: null,
            btnText: 'Derivar consultas',
            btnIcon: 'share',
            currentPage: 'Consultas'
          })
        })
      }
    },
    goToQuery (query) {
      if (this.selectAll.showCheckbox) {
        let el = event.currentTarget.parentElement.getElementsByTagName('input')[0]
        el.checked ? el.checked = false : el.checked = true
        this.toggleSelectedItem(query.id_consulta)
      } else {
        this.setQueryDataAdmin(query)
        this.$store.dispatch('setMainTitleToPush', 'Consulta')
        this.$f7.mainView.loadPage('mostrarConsultasAdmin')
      }
    },
    newQuery(){
      this.$store.dispatch('setMainTitleToPush', 'Nueva Consulta')
      this.$f7.mainView.loadPage('nuevaConsultaAdmin/-1/NEW/')
    }
  }
}
</script>

<style scoped>
.query-id-span {
  font-size: 16px;
  font-weight: 800;
}
.tag {
  width: 15px;
  height: 15px;
  border-radius: 1px;
  margin-left: 10px;
  float: right;
  background: red;
}
.read {
  float: right;
  color: gray;
  font-size: 12px;
}
.subtitle {
  margin-top: 5px;
  margin-bottom: 5px;
}
.subtitle span{
  font-weight: 800;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.subtitle2{
  font-size: 12px;
}
.user {
  font-size: 16px;
}
.item-title{
  width: inherit;
}
.info-container {
  position: absolute;
  right: 0px;
}

.label-checkbox {
  padding-left: 0;
  margin-right: 15px;
}
</style>
