<template lang="pug">
f7-page#consultas.navbar-through.navbar-button(data-page='consultas')
  toolbar(showButton='true',
  title='Nueva consulta',
  text='Nueva consulta',
  previousTitle='Consultas',
  v-on:btnAdminClick='newQuery')
  .consultas-container
    .list-block
      p.no-data-message(v-if='showNoData') No hay datos disponibles
      ul(v-if='!showNoData')
        f7-searchbar(cancel-link='Cancel', placeholder='Buscar Consultas...', :clear-button='true')
        //- f7-link(:href="'mostrarConsultas/' + query.idConsulta + '/' + query.asunto +'/' + encodeURIComponent(query.fecha)", v-for='query in arrayQuerys', :key='query.idQuery', @click='setTitle(query.asunto)')
        list-element(v-for='query in arrayQuerys', :key='query.idQuery', v-bind:title='query.idConsulta + " - " +query.asunto', v-bind:date='query.fecha', v-on:clicked='goToQuery(query)')
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import { postInicio } from '../assets/js/api-helper';
import ListElement from '../components/list-element';
import Toolbar from '../components/toolbar';
export default {
  name: 'consultas',
  data() {
    return {
      arrayQuerys: [],
      showNoData: false
    };
  },
  components: {
    listElement: ListElement,
    toolbar: Toolbar
  },
  computed: {
    ...mapGetters(['selectAll'])
  },
  mounted() {
    this.$eventBus.$on('newQueryEvt', this.newQuery);
    this.loadQuerys();
    this.$nextTick(() => this.setSelectAll({ currentPage: 'Consultas' }));
  },
  methods: {
    ...mapActions(['setSelectAll']),
    setTitle(title) {
      this.$store.dispatch('setMainTitleToPush', title);
    },
    loadQuerys() {
      postInicio(9, this.loadQuerysSuccess);
    },
    loadQuerysSuccess(res) {
      if (res) {
        this.arrayQuerys = res;
        this.showNoData = res.length == 0;
      }
    },
    goToQuery(query) {
      this.$store.dispatch('setQueryData', query);
      this.$f7.mainView.loadPage('mostrarConsultas');
    },
    newQuery() {
      this.$store.dispatch('setMainTitleToPush', 'Nueva Consulta');
      this.$f7.mainView.loadPage('nuevaConsulta/-1/NEW/');
    }
  }
};
</script>

<style scoped>
</style>
