<template lang='pug'>
  f7-page#correspondencia.navbar-through(data-page='correspondencia', toolbar-fixed)
    //- toolbar(text='',
    //-   previousTitle='Correspondencia')
    .mail-container
      .list-block.sercheable-list
        p.no-data-message(v-if='showNoData') No hay datos disponibles
        ul(v-if='!showNoData')
          f7-searchbar(cancel-link='Cancel', placeholder='Buscar Correspondencia', :clear-button='true', v-show='!showNoData')
          list-element(v-for='mail in mailArray',
              :key='mail.idCorrespondencia',
              :title='mail.txt_tipo',
              :date='getDate(mail.txt_fecha)',
              v-on:clicked='showMail(mail)')
</template>

<script>
import ListElement from '../components/list-element'
// import Toolbar from '../components/toolbar'
import Helper from '../assets/js/helper'
export default {
  name: 'correspondencia',
  data () {
    return {
      mailArray: [],
      showNoData: false
    }
  },
  components: {
    // toolbar: Toolbar,
    listElement: ListElement
  },
  computed:{
    credentials(){
      return this.$store.getters.credentials
    }
  },
  mounted () {
    this.getCorrespondencia()
    this.searchbarInit()
  },
  methods: {
    searchbarInit(){
      this.$f7.searchbar('.searchbar', {
        searchList: '.sercheable-list',
        searchIn: '.item-title'
      })
    },
    getCorrespondencia () {
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.getCorrespondenciaSuccess,
        data: {
          idPantalla: 21,
          idAccion: 'Inicio',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password
        }
      }
      Helper.post(params)
    },
    getCorrespondenciaSuccess (res) {
      if(res){
        this.mailArray = typeof(res) === 'string' ? JSON.parse(res) : res;
        if (this.mailArray.length == 0)
          this.showNoData = true;
      }
    },
    showMail (mail) {
      this.$store.dispatch('setMailData', mail)
      this.$f7.mainView.loadPage('showMail')
    },
    getDate (dadte) {
      return Helper.Dates.commonFormat(dadte)
    }
  }
}
</script>

<style>

</style>
