<template lang="pug">
f7-page#descargas.navbar-through(data-page='descargas', toolbar-fixed)
  //- toolbar(:showButton='isAdmin',
  //- :text='"Redactar " + adminButtonText',
  //- title='Paso 1: Redactar',
  //- :previousTitle='currentTitle',
  //- v-show='pageRender',
  //- v-on:btnAdminClick='btnAdmin')
  .grid-container
    .list-block.sercheable-list
      p(v-if='shownNoData') No hay datos disponibles
      ul(v-show='!shownNoData')
        f7-searchbar(cancel-link='Cancel', :placeholder='searchText', :clear-button='true')
        f7-link(v-for='(item, key) in descargasGrid', :key='item.key', @click='showDescarga(item)')
          li.item-content(:data-subcarpeta='item.subcarpetas')
            .item-media
            .item-inner
              .item-title {{item.show}}
                .subtitle
                  span {{item.cantidad}} documentos disponibles
              .item-after
                img(:src='arrowRight')
</template>
<script>
import _ from 'lodash'
import Toolbar from '../components/toolbar.vue'
import Helper from '../assets/js/helper.js'
import ArrowRight from '../assets/img/icons/arrow-right.png'
export default {
  name: 'descargas',
  data() {
    return {
      arrowRight: ArrowRight,
      spanText: '',
      searchText: 'Buscar documentos...',
      pageRender: true,
      currentTitle: '',
      adminButtonText: 'Documento',
      descargasGrid: [],
      shownNoData: false
    }
  },
  components:{
    toolbar: Toolbar
  },
  mounted() {
    this.$nextTick(() => {
      this.$f7.params.swipePanel = 'left'
      this.loadDescargas()
      this.searchbarInit()
      // if(this.isAdmin) {
      //   document.getElementById('descargas').style.paddingBottom = '50px'
      // }
    })
    this.$eventBus.$on('btnNewDocumentEvt', this.btnNewDocument)
  },
  methods: {
    btnNewDocument () {
      let str = this.$f7.mainView.activePage.url.replace(/\//g,'')
      let currentPage = str.charAt(0).toUpperCase() + str.slice(1)
      let to = 'redactar' + currentPage
      this.$store.dispatch('setMainTitleToPush', 'Redactar Documento')
      this.$f7.mainView.loadPage(to)
    },
    setTitle(title){
      // jspasiuk pido dejar como titulo la categoria, ya q si es muy largo se pisa
      this.$store.dispatch('setMainTitleToPush', this.mainTitle)
    },
    showDescarga(data) {
      this.$store.dispatch('setMainTitleToPush', this.mainTitle)
      this.$store.dispatch('setDocsData', data)
      this.$f7.mainView.loadPage('mostrarDescarga')
    },
    searchbarInit(){
      this.$f7.searchbar('.searchbar', {
        searchList: '.sercheable-list',
        searchIn: '.item-title'
      })
    },
    loadDescargas() {
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.loadDescargasSuccess,
        data: {
          idPantalla: 4,
          idAccion: 'InicioNivel1',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password
        }
      }
      
      Helper.post(params)
    },
    loadDescargasSuccess(data){
      this.shownNoData = data.length === 0
      this.descargasGrid = data
      this.$nextTick(function(){
        this.pageRender = true
      })
    }
  },
  computed: {
    credentials(){
      return this.$store.getters.credentials
    },
    isAdmin(){
      return this.$store.getters.isAdmin
    },
    newsConfig(){
      return this.$store.getters.newsConfig
    },
    mainTitle () {
      return this.$store.getters.mainTitle
    }
  }
}
</script>
<style scoped>

.list-block{
  /*margin: 15px 0px 0px 0px !important;*/
  /*margin-top: 15px;*/
  margin: 0px;
}
.item-content{
  padding: 2px 5px;
  padding-right: 0;
}
.item-after img {
	height: 20px;
}

ul::before{
  display: none !important;
}

.list-block ul a{
  color: #000 !important;
}

.subtitle span{
  color: #aaa;
  font-size: 14px;
  white-space: normal;
}
</style>
