<template lang="pug">
f7-page#documentosNivel3.navbar-through(data-page='documentosNivel3')
  .grid-container
    .documents-card-container
      .card
        .card-header
          .img-container
            img(:src='documentsIcon')
          .text-container
            h2
              | {{docsV3Data.show}}
            p
              | {{docsV3Data.fecha}}
    .list-block.sercheable-list
      p.no-data-message(v-if='showNoData') No hay datos disponibles
      ul(v-if='!showNoData')
        //f7-searchbar(cancel-link='Cancel', placeholder='Buscar Documento...', :clear-button='true')
        f7-link(:href="'mostrarDocumentosNivel3/' + item.idNtc + '/'+ item.TituloNtc +'/'+ item.fechaNtc", v-for='item in newsGrid', :key='item.idNtc', @click='setTitle(item.TituloNtc)')
          li.item-content
            .item-media
            .item-inner
              .item-title {{item.TituloNtc}}
                .subtitle
                  span {{item.fechaNtc}}
              .item-after
                img(:src='arrowRight')
</template>
<script>
import _ from 'lodash'
import Toolbar from '../components/toolbar.vue'
import DocumentsIcon from '../../static/icon/home/documentos.png'
import Helper from '../assets/js/helper.js'
import ArrowRight from '../assets/img/icons/arrow-right.png'
export default {
  name: 'documentosNivel3',
  data() {
    return {
      arrowRight: ArrowRight,
      documentsIcon: DocumentsIcon,
      novedadGrid: [],
      spanText: '',
      pageRender: false,
      currentTitle: '',
      adminButtonText: '',
      showNoData: false
    }
  },
  components:{
    toolbar: Toolbar
  },
  mounted() {
    this.$nextTick(() => {
      this.$f7.params.swipePanel = 'left'
      this.loadDocuments()
      this.searchbarInit()
      let title = ''
    })
  },
  methods: {
    setTitle(title){
      // jspasiuk pido dejar como titulo la categoria, ya q si es muy largo se pisa
      this.$store.dispatch('setMainTitleToPush', this.mainTitle)
    },
    searchbarInit(){
      this.$f7.searchbar('.searchbar', {
        searchList: '.sercheable-list',
        searchIn: '.item-title'
      })
    },
    loadDocuments() {
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.loadDocumentsSuccess,
        data: {
          idPantalla: 4,
          idAccion: 'InicioNivel3',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          key: this.docsV3Data.key
        }
      }
      Helper.post(params)
   },
    loadDocumentsSuccess(data){
      this.showNoData = data.length == 0;
      this.$store.dispatch('setNewsGrid', data)
    }
  },
  computed: {
    credentials(){
      return this.$store.getters.credentials
    },
    newsGrid(){
      return this.$store.getters.newsGrid
    },
    isAdmin(){
      return this.$store.getters.isAdmin
    },
    newsConfig(){
      return this.$store.getters.newsConfig
    },
    mainTitle () {
      return this.$store.getters.mainTitle
    },
    docsV3Data() {
      return this.$store.getters.docsV3Data;
    }
  }
}
</script>

<style scoped>
.img-container img {
  width: 60px;
}
.text-container {
  position: absolute;
  left: 30%;
}

.text-container h2 {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}

.text-container p {
  padding: 0;
  margin: 0;
  white-space: normal !important;
  color: #666;
  font-size: 14px;
}

.list-block{
  padding: 5px;
  margin: 0px;
}
.item-content{
  padding: 2px 5px;
  padding-right: 0;
}
.item-after img {
	height: 20px;
}
ul::before{
  display: none !important;
}

.list-block ul a{
  color: #000 !important;
}

.subtitle span{
  color: #aaa;
  font-size: 14px;
  white-space: normal;
}

.documents-card-container .card{
   margin: 0px;
}
</style>
