<template lang="pug">
f7-page#encuestas.navbar-through(data-page='encuestas', toolbar-fixed)
  //- toolbar
  .grid-container
    .list-block.sercheable-list
      p(v-if='showNoData') No hay datos disponibles
      ul(v-if='!showNoData')
        f7-searchbar(cancel-link='Cancel', placeholder='Buscar encuestas...', :clear-button='true')
        li.item-content(v-for='poll in pollsArray', :key='poll.idEncuesta', @click='showPoll(poll)')
          .item-media
          .item-inner
            .item-title {{poll.nombre}}
              .subtitle
                span {{poll.fecha_inicio}} - {{poll.fecha_fin}}
            .item-after
              img(:src='arrowRight')
</template>
<script>
import _ from 'lodash'
// import Toolbar from '../components/toolbar.vue'
import Helper from '../assets/js/helper.js'
import ArrowRight from '../assets/img/icons/arrow-right.png'
export default {
  name: 'encuestas',
  data() {
    return {
      arrowRight: ArrowRight,
      spanText: '',
      pageRender: false,
      currentTitle: '',
      showNoData: false
    }
  },
  components:{
    // toolbar: Toolbar
  },
  mounted() {
    this.$nextTick(() => {
      this.loadPolls()
      this.searchbarInit()
		})
	},
	methods: {
    showPoll(poll){
       if(poll.puedeIngresarEncuesta === 'S'){
         this.$store.dispatch('setMainTitleToPush', poll.nombre)
         this.$f7.mainView.router.loadPage('mostrarEncuesta/' + poll.idEncuesta + '/' + poll.sn_activa)
       }
    },
    searchbarInit(){
      this.$f7.searchbar('.searchbar', {
        searchList: '.sercheable-list',
        searchIn: '.item-title'
      })
    },
    loadPolls() {
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.loadPollsSuccess,
        data: {
          idPantalla: 12,
          idAccion: 'grillaEncuestas',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password
        }
      }
      Helper.post(params)
    },
    loadPollsSuccess(res){
      if(res.length < 1) {
        this.showNoData = true
      }
      else{
        this.Dom7.each(res, ((index, value) => {
          console.log('value.fecha_inicio before commonFormat: ' + value.fecha_inicio )
          value.fecha_inicio = Helper.Dates.commonFormat(value.fecha_inicio)
          value.fecha_fin = Helper.Dates.commonFormat(value.fecha_fin)
          console.log('value.fecha_inicio after commonFormat: ' + value.fecha_inicio )
        }) )
        this.$store.dispatch('setPollsArray', res)
      }
      this.$nextTick(function(){
        this.pageRender = true
      })
    }
  },
  computed: {
    credentials(){
      return this.$store.getters.credentials
    },
    isAdmin(){
      return this.$store.getters.isAdmin
    },
    pollsArray(){
      return this.$store.getters.pollsArray
    }
  }
}
</script>
<style scoped>
.list-block{
  margin: 0px;
}
.item-content{
  padding: 2px 5px;
  padding-right: 0;
}
.item-after img {
	height: 20px;
}
ul::before{
  display: none !important;
}

.list-block ul a{
  color: #000 !important;
}
.subtitle span{
  color: #aaa;
  font-size: 14px;
  white-space: normal;
}
</style>
