<template lang="pug">
.page.navbar-through#expensas(data-page='expensas')
  //- toolbar(:showButton='isAdmin',
  //- :text='"Redactar " + adminButtonText',
  //- title='Paso 1: Redactar',
  //- :previousTitle='currentTitle',
  //- v-show='pageRender',
  //- @btnAdminClick='btnAdmin',
  //- @btnSelectAllClick='markAsRead')
  .page-content(:style='{"padding-bottom" : toolbarHeight + "px"}')
    .grid-container
      .list-block.sercheable-list
        p(v-if='shownNoData') No hay datos disponibles
        ul(v-show='!shownNoData')
          f7-searchbar(cancel-link='Cancel', placeholder='Buscar expensas...', :clear-button='true')
          li.item-content(v-for='item in expensesGrid', :key='item.idNtc', ref='expenseList')
            .item-media(@click.prevent='showExpense(item)')
              li.select-all(v-show='selectAll.showCheckbox')
                label.label-checkbox.item-content.select-all-label
                  input(type='checkbox')
                  .item-media
                    i.icon.icon-form-checkbox
            .item-inner(@click='showExpense(item)')
              span.title-span(:class='{ "not-read": !item.leido}') {{item.tituloNtc}}
                .subtitle
                  span {{item.fechNtc}} {{item.subTipoNtc}}
              .item-after
                img(:src='arrowRight')
</template>
<script>
import {mapGetters, mapActions} from 'vuex'
import _ from 'lodash'
import Helper from '../assets/js/helper.js'
import ArrowRight from '../assets/img/icons/arrow-right.png'
export default {
  name: 'expensas',
  data() {
    return {
      arrowRight: ArrowRight,
      novedadGrid: [],
      spanText: '',
      expensesGrid: [],
      shownNoData: false,
      showGirovisionButton: false,
    }
  },
  components:{
  },
  mounted() {
    this.$nextTick(() => {
      this.$f7.params.swipePanel = 'left'
      this.loadExpensas()
      this.searchbarInit()
      this.getImportantInformationExpenses()
      if(this.isAdmin) {
        document.getElementById('expensas').style.paddingBottom = '50px'
      }
    })
  },
  methods: {
    ...mapActions(['setSelectAll', 'toggleSelectedItem', 'setShowInfo', 'setExpenseData']),
    selectItem (item) {
      this.toggleSelectedItem(item.idNtc)
    },
    btnAdmin(){
      let str = this.$f7.mainView.activePage.url.replace(/\//g,'')
      let currentPage = str.charAt(0).toUpperCase() + str.slice(1)
      let to = 'redactar' + currentPage
      this.$store.dispatch('setMainTitleToPush', 'Redactar Expensa',)
      this.$f7.mainView.loadPage(to)
    },
    setTitle(title){
      // jspasiuk pido dejar como titulo la categoria, ya q si es muy largo se pisa
      this.$store.dispatch('setMainTitleToPush', this.mainTitle)
    },
    showExpense (expense) {
      if (this.selectAll.showCheckbox) {
        let el = event.currentTarget.parentElement.getElementsByTagName('input')[0]
        el.checked ? el.checked = false : el.checked = true
        this.toggleSelectedItem(expense.idNtc)
      } else {
        // jspasiuk pido dejar como titulo la categoria, ya q si es muy largo se pisa
        console.log(expense)
        this.$store.dispatch('setMainTitleToPush', this.mainTitle)
        this.setExpenseData(expense)
        this.$f7.mainView.loadPage('mostrarExpensa')
      }
    },
    searchbarInit(){
      this.$f7.searchbar('.searchbar', {
        searchList: '.sercheable-list',
        searchIn: '.item-title'
      })
    },
    loadExpensas () {
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.loadExpensasSuccess,
        data: {
          idPantalla: 3,
          idAccion: 'Inicio',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password
        }
      }
      Helper.post(params)
    },
    loadExpensasSuccess (data) {
      this.shownNoData = data.length === 0;
      for(let i = 0; i< data.length; i++){
        data[i].fechNtc = Helper.convertDate('dd/mm/yyyy', data[i].fechNtc)
      }
      this.expensesGrid = data
      this.$nextTick(() => {
        this.setSelectAll({
          show: true,
          listRef: this.$refs.expenseList,
          items: data,
          selectedItems: [],
          idPantalla: 3,
          showCheckbox: false,
          callback: this.loadExpensas,
          btnText: 'Marcar como leidos',
          btnIcon: 'done',
          currentPage: 'Expensas'
        })
      })
    },
    getImportantInformationExpenses(){
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'text',
        callback: this.getImportantInformationExpensesSuccess,
        data: {
          idPantalla: 3,
          idAccion: 'Info',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password
        }
      }
      Helper.post(params)
    },
    getImportantInformationExpensesSuccess(res){
      this.setShowInfo({show: true, data: res, icon: 'info'})
    },
    markAsRead () {
      console.log('read')
    }
  },
  computed: {
    ...mapGetters(['credentials', 'isAdmin', 'mainTitle', 'selectAll', 'toolbarHeight'])
  }
}
</script>
<style scoped>

.list-block{
  margin: 0px;
}
.item-content{
  padding: 2px 5px;
  padding-right: 0;
}
.item-after img {
	height: 20px;
}

ul::before{
  display: none !important;
}

.list-block ul a{
  color: #000 !important;
}

.subtitle span{
  color: #aaa;
  font-size: 14px;
  white-space: normal;
}
</style>
