<template lang="pug">
f7-page#foros.navbar-through(data-page='foros', toolbar-fixed)
  //- toolbar
  .foros-container
    .list-block.sercheable-list
      p.no-data-message(v-if='showNoData') No hay datos disponibles
      ul(v-if='!showNoData')
        f7-searchbar(cancel-link='Cancel', placeholder='Buscar en foros...', :clear-button='true')
        list-element(v-for='forum in forumsArray',
        :key='forum.idForo',
        :title='forum.nombre',
        v-on:clicked='showForum(forum)')
</template>

<script>
import Helper from '../assets/js/helper'
import Toolbar from '../components/toolbar'
import ListElement from '../components/list-element'
export default {
  name: 'foros',
  data(){
    return{
      forumsArray: [],
      showNoData: false
    }
  },
  components: {
    toolbar: Toolbar,
    listElement: ListElement
  },
  computed:{
    credentials(){
      return this.$store.getters.credentials
    }
  },
  mounted(){
    this.searchbarInit()
    this.getForums()
  },
  methods: {
    searchbarInit(){
      this.$f7.searchbar('.searchbar', {
        searchList: '.sercheable-list',
        searchIn: '.item-title'
      })
    },
    getForums(){
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.getForumsSuccess,
        data: {
          idPantalla: 11,
          idAccion: 'Inicio',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password
        }
      }
      Helper.post(params)
    },
    getForumsSuccess(res){
      if(res){
        this.forumsArray = typeof(res) === 'string' ? JSON.parse(res) : res
        
        if (this.forumsArray.length == 0)
          this.showNoData = true;
      }
    },
    showForum(forum){
      this.$store.dispatch('setForumData', forum)
      this.$store.dispatch('setMainTitleToPush', forum.nombre)
      this.$f7.mainView.loadPage('showForum')
    }
  }
}
</script>

<style scoped>
</style>
