<template lang="pug">
f7-page#guiaBarrial.navbar-through(data-page='guiaBarrial', :style='{paddingBottom: toolbarHeight + "px"}')
  .popup.popup-rate
    .content-block
      h3.popup-rate-title
        | Calificar {{popupTitle}}
      .stars-container
        .gold(v-for='(stars, i) in rateGold', @click='setRateGray(stars)')
          .fas.fa-star
        .gray(v-for='(stars, i) in rateGray' @click='setRateGold(stars)')
          .fas.fa-star
      .buttons-container
        a.button.button-big.active.button-general-style.color-green(@click='rateProduct') Calificar
        a.button.button-big.button-general-style.gray-color.close-popup(@click='closeRatePopup') Cancelar
  .list-block.sercheable-list
    p.no-data-message(v-if='showNoData') No hay datos disponibles
    ul(v-if='!showNoData')
      f7-searchbar(cancel-link='Cancel', placeholder='Buscar mis avisos...', :clear-button='true')
      li.item-content(v-for='product in productArrayFiltred', :key='product.id_prd')
        .item-media
        .item-inner
          .item-title
            table
              tr
                td.img-clasif-container
                  img(:src='product.imagen_prd')
                  br
                  br
                  .stars
                    .gold(v-for='stars in goldStars(product.calificacion_prom_prd)')
                      .fas.fa-star
                    .gray(v-for='stars in grayStars(product.calificacion_prom_prd)')
                      .fas.fa-star
                td.text-clasif-container
                  .title
                    | {{product.nombre_prd}}
                  .subtitle
                    p(v-html='product.detalle_prd')
                  .subtitle2
                    p {{product.ubicacion_prd}}
                  .subtitle3(@click='openMail(product.mail_contacto)')
                    p {{product.mail_contacto}}
                  .subtitle4(@click='openPhone(product.telefono_contacto)')
                    p {{product.telefono_contacto}}
                  .subtitle5(@click='openRatePopup(product)')
                    span Calificar
</template>

<script>
import { EventBus } from '../assets/js/event-bus'
import {mapGetters, mapActions} from 'vuex'
import Helper from '../assets/js/helper'

export default {
  name: 'guiaBarrial',
  data () {
    return{
      productsArray: [],
      showNoData: false,
      popupTitle: '',
      selectedProduct: -1,
      rateGold: 0,
      rateGray: 5
    }
  },
  components: {
  },
  computed: {
    ...mapGetters(['credentials',
    'saleFilterData',
    'toolbarHeight']),
    productArrayFiltred () {
      // let id_prd = this.productFilterData
      if (false) {
      // if (idCateg !== '-1') {
        return this.productsArray.filter(product => {
          // let id_prd = this.productFilterData
          return product.id_ctg === id_prd
        })
      }
      else{
        return this.productsArray
      }
    },
    goldStarsRate () {
      // return this.rate
    },
    grayStarsRate () {
      // return 5 - this.rate
    },
  },
  mounted () {
    this.$eventBus.$on('suggestProduct', this.suggestProduct)
    this.$eventBus.$on('applyGuiabarrialFilter', this.getProducts)
    this.getProducts()
    this.searchbarInit()
    this.$store.dispatch('setShowInfo', {show: false, icon: 'filter_list', isSale: true} )
    this.$nextTick(() => {
      this.setToolbarConfig({
        isAdmin: true,
        text: 'Sugerir',
        // title: 'Paso 1: Redactar',
        previousTitle: 'Guia Barrial',
        showGirovisionButton: false,
        showToolbar: true,
        event: 'suggestProduct'
      })
    })
  },
  methods:{
    setRateGold (cant) {
      if ((this.rateGold + cant) <= 5) {
        this.rateGold = this.rateGold + cant
      }
      this.rateGray = 5 - this.rateGold
    },
    setRateGray (cant) {
      this.rateGold = cant
      this.rateGray = 5 -cant 
    },
    goldStars (cant) {
      return parseInt(cant)
    },
    grayStars (cant) {
      return parseInt(5 - cant)
    },
    ...mapActions(['setToolbarConfig']),
    searchbarInit(){
      this.$f7.searchbar('.searchbar', {
        searchList: '.sercheable-list',
        searchIn: '.item-title'
      })
    },
    btnAdminClick () {
    },
    getProducts (idCat) {
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.getProductsSuccess,
        data: {
          idPantalla: 24,
          idAccion: 'Inicio',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          id_categoria: idCat === '-1' ? '' : idCat
        }
      }
      Helper.post(params)
    },
    getProductsSuccess (res) {
      if (res) {
        this.productsArray = typeof(res) === 'string' ? JSON.parse(res) : res
        this.showNoData = this.productsArray.length == 0
      }
    },
    suggestProduct(){
      this.$store.dispatch('setMainTitleToPush', 'Sugerir')
      this.$f7.mainView.loadPage('suggestProduct')
    },
    openRatePopup (product) {
      this.popupTitle = ' - ' + product.nombre_prd
      this.selectedProduct = product.id_prd
      this.$f7.popup('.popup-rate', true, true)
    },
    rateProduct () {
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.rateProductSuccess,
        data: {
          idPantalla: 24,
          idAccion: 'Calificar_producto',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          idPrd: this.selectedProduct,
          calificacion: this.rateGold
        }
      }
      if (this.rateGold > 0) {
        Helper.post(params)
        this.closeRatePopup()
      } else {
        Helper.showMessage('No se puede calificar con 0 puntos.')
      }
    },
    rateProductSuccess (res) {
      if (res) {
        res = typeof(res) === 'string' ? JSON.parse(res) : res
        Helper.showMessage(res[0].msg)
        this.getProducts()
      } else {
        alert (res)
      }
      this.closeRatePopup()
    },
    closeRatePopup () {
      this.$f7.closeModal('.popup-rate', false)
      this.rateGold = 0
      this.rateGray = 5
      this.selectedProduct= -1
    },
    openPhone(phone){
      if (device.platform === 'Android') {
          window.open('tel:' + phone, '_system');
      } else {
          document.location.href = 'tel:' + phone;
      }
    },
    openMail(email){
      if (device.platform=== 'Android') {
          window.open('mailto:' + email, '_system');
      } else {
          document.location.href = 'mailto:' + email;
      }
    }
  }
}
</script>

<style scoped>
.list-block{
  margin: 0px;
}
.item-content{
  padding: 2px 5px;
  padding-right: 0;
}
.item-title{
  color: #000;
}
.item-title img{
  height: 40px;
  vertical-align: middle;
}

.subtitle i{
  font-size: 15px;
}

.list-block ul a{
  color: #000 !important;
}

table td{
  padding-left: 5px;
}
.img-clasif-container {
  text-align: center
}
.img-clasif-container .icon {
  font-size: 13px;
}
/* .text-clasif-container{
  width: 100%;
} */
.stars{
  font-size: 10px;
}
.gold {
  color: #F39C12;
  float: left;
}
.gray {
  color: gray;
  float: left;
}
table .title {
  white-space: normal;
  font-weight: bold;
}

table .subtitle {
  padding-bottom: 10px;
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-word; */
  white-space: pre-wrap;
  margin: 0;
  color: #666;
  font-size: 14px;
  padding-bottom: 5px;
  width: 90%;
}

table .subtitle p{
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-word; */
  white-space: pre-wrap;
  margin: 0;
  color: #666;
  font-size: 14px;
  padding-bottom: 5px;
}

table .subtitle2 p{
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-word; */
  white-space: pre-wrap;
  margin: 0;
  color: #666;
  font-size: 14px;
}

table .subtitle3 p{
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-word; */
  margin: 0;
  color: blue;
  font-size: 14px;
}

table .subtitle4 p{
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-word; */
  margin: 0;
  color: blue;
  font-size: 14px;
}

table .subtitle5 {
  /* text-align: right;
  width: 85%; */
}

table .subtitle5 span{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-word;
  margin: 0;
  color: blue;
  font-size: 14px;
  font-weight: bold;
}


table img{
  min-width: 60px;
  min-height: 60px;
  max-width: 60px;
  max-height: 60px;
}

.popup-rate{
  height: 50% !important;
  margin-top: calc(50% /2)
}
.popup-rate-title{
  text-align: center;
}

.gray-color{
  border-color: #333333;
  color: #fff;
}

.stars-container{
  height: 40px;
  text-align: center;
}
.stars-container .gray, .stars-container .gold {
  font-size: 20px;
  text-align: center;
  float: none;
  display: inline;
  padding: 0 5px;
  margin: 5px 0;
}

.filter-button{

}
</style>
