<template lang="pug">
f7-page.no-navbar#home(data-page='home')
  bar-home
  .grid-container
    .list-block
      ul
        li#alertButton.item-content(v-show='alertData.sn_activa === "1"', @click='showAlert', :style='"background-color:" + alertData.color || "yellow"')
          .item-inner
            .item-title.centerText
              | {{alertData.txt_titulo}}
              i.material-icons warning
        f7-link(:href='item.to', :key='item.id', v-for='item in mainGrid', @click='setTitle(item)', :external='item.external')
          li.item-content
            .item-media
              i.icon(v-html='item.icon')
            .item-inner
              .item-title 
                span {{item.name}}
              .item-after
                span.whatsapp-icon(v-if='item.whatsappIcon')
                  img(:src='WhatsappIcon')
                span.badge(v-show='item.badge') {{item.badge}}
                img(:src='arrowRight')
</template>

<script>
import _ from 'lodash'
import BarHome from '../components/bar-home'
import Helper from '../assets/js/helper'
import ArrowRight from '../assets/img/icons/arrow-right.png'
import WhatsappIcon from '../assets/img/whatsapp-icon.png'
export default {
  name: 'home',
  components: {
    barHome: BarHome
  },
  data() {
    return {
      arrowRight: ArrowRight,
      mainGridT: [],
      WhatsappIcon,
      toolbarOptions: {
        NOVEDADES: false,
        EXPENSAS: false,
        CONSULTAS: false
      }
    }
  },
  mounted() {
    this.$store.dispatch('setPushwoosh')
    this.$nextTick(() => {
      this.$f7.params.swipePanel = 'left'
      this.loadHeader()
      this.loadMainGrid()
      this.getAlerts()
      this.$eventBus.$on('onEnterHome', () => this.loadNotifications())
      let el
      try {
        switch (window.APPTORUN) {
            case 'ss':
              el = document.getElementById('loginss')
              if(el) el.parentNode.removeChild(el)
              if(this.$f7.mainView.history.indexOf('#undefined') > -1)
                this.$f7.mainView.history.splice(f7.mainView.history.indexOf('#undefined'), 1)
              break;
            case 'ayres':
              el = document.getElementById('loginayres')
              if(el) el.parentNode.removeChild(el)
              if(this.$f7.mainView.history.indexOf('#undefined') > -1)
               this.$f7.mainView.history.splice(f7.mainView.history.indexOf('#undefined'), 1)
              break;
            case 'gabsa':
              el = document.getElementById('loginGabsa')
              if(el) el.parentNode.removeChild(el)
              if(this.$f7.mainView.history.indexOf('#undefined') > -1)
               this.$f7.mainView.history.splice(f7.mainView.history.indexOf('#undefined'), 1)
              break;
            case 'arboris':
              el = document.getElementById('loginarboris')
              if(el) el.parentNode.removeChild(el)
              if(this.$f7.mainView.history.indexOf('#undefined') > -1)
               this.$f7.mainView.history.splice(f7.mainView.history.indexOf('#undefined'), 1)
              break;
            case 'villanueva':
              el = document.getElementById('loginVillanueva')
              if(el) el.parentNode.removeChild(el)
              if(this.$f7.mainView.history.indexOf('#undefined') > -1)
               this.$f7.mainView.history.splice(f7.mainView.history.indexOf('#undefined'), 1)
              break;
            case 'laguna':
              el = document.getElementById('loginlaguna')
              if(el) el.parentNode.removeChild(el)
              if(this.$f7.mainView.history.indexOf('#undefined') > -1)
               this.$f7.mainView.history.splice(f7.mainView.history.indexOf('#undefined'), 1)
              break;
            case 'mayling':
              el = document.getElementById('loginMayling')
              if(el) el.parentNode.removeChild(el)
              if(this.$f7.mainView.history.indexOf('#undefined') > -1)
               this.$f7.mainView.history.splice(f7.mainView.history.indexOf('#undefined'), 1)
              break;
            case 'administrar':
              el = document.getElementById('loginAdministrar')
              if(el) el.parentNode.removeChild(el)
              if(this.$f7.mainView.history.indexOf('#undefined') > -1)
               this.$f7.mainView.history.splice(f7.mainView.history.indexOf('#undefined'), 1)
              break;
            case 'martindale':
              el = document.getElementById('loginMartindale')
              if(el) el.parentNode.removeChild(el)
              if(this.$f7.mainView.history.indexOf('#undefined') > -1)
               this.$f7.mainView.history.splice(f7.mainView.history.indexOf('#undefined'), 1)
              break;
            case 'vergara':
              el = document.getElementById('loginVergara')
              if(el) el.parentNode.removeChild(el)
              if(this.$f7.mainView.history.indexOf('#undefined') > -1)
               this.$f7.mainView.history.splice(f7.mainView.history.indexOf('#undefined'), 1)
              break;
            case 'lagartos':
              el = document.getElementById('loginLagartos')
              if(el) el.parentNode.removeChild(el)
              if(this.$f7.mainView.history.indexOf('#undefined') > -1)
               this.$f7.mainView.history.splice(f7.mainView.history.indexOf('#undefined'), 1)
              break
            default:
              el = document.getElementById('loginss')
              if(el) el.parentNode.removeChild(el)
              if(this.$f7.mainView.history.indexOf('#undefined') > -1)
               this.$f7.mainView.history.splice(f7.mainView.history.indexOf('#undefined'), 1)
            break
        }
      } catch (e) {
        console.log(e)
      }
    })
  },
  methods: {
    getAlerts(){
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'text',
        callback: this.getAlertsSuccess,
        data: {
          idPantalla: 22,
          idAccion: 'Inicio',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password
        }
      }
      Helper.post(params)
    },
    getAlertsSuccess (res) {
      try {
        res = typeof(res) === 'string' ? JSON.parse(res)[0] : res
        if (res) this.$store.dispatch('setAlertData', res)
        else this.$store.dispatch('setAlertData', [])
      } catch (e) {
        console.log(e)
      }
    },
    showAlert(){
      this.$f7.popup('.alert-popup', true, true)
    },
    setTitle(item){
      this.$store.dispatch('clearMainTitle')
      this.$store.dispatch('setMainTitleToPush', item.name)
    },
    loadHeader() {
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'text',
        callback: this.loadHeaderSuccess,
        data: {
          idPantalla: 1,
          idAccion: 'Header',
          idBarrio: this.getIdBarrio(),
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password
        }
      }
      Helper.post(params)
    },
    getIdBarrio () {
      switch (window.APPTORUN) {
        case 'arboris':
          return '1377'
          break;
        default:
          return this.credentials.barrio.id
          break;
      }
    },
    loadHeaderSuccess(data) {
      let headerData = JSON.parse(data)
      let barHome = {
        headerImage: headerData[0].imagen,
        leftText: headerData[0].text_left,
        rightText: headerData[0].text_right
      }
      this.$store.dispatch('setBarHome', barHome)
    },
    loadMainGrid() {
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.loadMainGridSuccess,
        data: {
          idPantalla: 1,
          idAccion: 'GrillaMain',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password
        }
      }
      Helper.post(params)
    },
    loadMainGridSuccess (res) {
      let resFallback = res
      try {
        debugger
        res.forEach(e => e.orden = e.orden || "0")
        res = res.sort((a, b) => parseInt(a.orden) - parseInt(b.orden));
        let ballotIndex = _.findIndex(res, i => { return i.idSecDesc === 'BOLETAS' })
        let expensesIndex = _.findIndex(res, i => { return i.idSecDesc === 'EXPENSAS' })
        if (ballotIndex > -1 && expensesIndex > -1) {
          let ballotItem = _.pullAt(res, ballotIndex)
          res.splice(expensesIndex + 1, 0, ballotItem[0]);
        }
      } catch (err) {
        console.log('Error rearranging array: ' + err + ' - trigger fallback')
        res = resFallback
      }
      this.$store.dispatch('setGrillaMain', res)
      this.buildGrillaMain()
    },
    buildGrillaMain() {
      let self = this
      for (let i = 0; i < this.grillaMain.length; i++) {
        if (Helper.mainGrid.indexOf(this.grillaMain[i].idSecDesc.toUpperCase().replace("_", "").replace("-", "")) > -1) {
          let currentIcon = _.find(Helper.mainGridIcons, ((ftc) => {
            return ftc.name == self.grillaMain[i].idSecDesc.toLowerCase()
          }));
          try {
            let url = self.grillaMain[i].URL ? self.grillaMain[i].URL : ''
            let wpIcon = self.grillaMain[i].idSecDesc.toLowerCase().replace("_", "").replace("-", "") === 'invitadosgirovision'
            self.mainGridT.push({
              id: self.grillaMain[i].idSec,
              name: self.grillaMain[i].nombreSec,
              icon: currentIcon.style,
              idSecDesc: self.grillaMain[i].idSecDesc,
              // to: '/' + \this.grillaMain[i].idSecDesc.toLowerCase().replace("_", "").replace("-", "") + '/'
              to: url ? url : self.grillaMain[i].idSecDesc.toLowerCase().replace("_", "").replace("-", ""),
              external: url? true: false,
              whatsappIcon: wpIcon,
              orden: (self.grillaMain[i].orden || 0)
            })
            let capitalTitle = this.grillaMain[i].idSecDesc.toUpperCase().replace("_", "").replace("-", "")
            if (Helper.toolbarOptions.indexOf(capitalTitle) > -1)
              this.toolbarOptions[capitalTitle] = true;
          } catch (e) {
            console.log(e)
          }
        }
      }
      this.$store.dispatch("setToolbarOptions", this.toolbarOptions)
      this.loadNotifications()
    },
    loadNotifications () {
      console.log('home: loading notifications')
      let params = {
        url: Helper.URL.GetMain,
        noSpinner: true,
        callback: this.loadNotificationsSuccess,
        data: {
          idPantalla: 1,
          idAccion: 'Notificaciones',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password
        }
      }
      Helper.post(params)
    },
    loadNotificationsSuccess (res) {
      debugger
      if (res) {
        let self = this
        res = typeof(res) === 'string' ? JSON.parse(res) : res
        res.forEach(e => {
          let grillaItem = _.cloneDeep(self.mainGridT.find(x => x.idSecDesc == e.idSec))
          if (grillaItem) {
            grillaItem.badge = parseInt(e.notificaciones)
          }
        })
      }
      this.$store.dispatch('setMainGrid', this.mainGridT)
    }
  },
  computed: {
    credentials() {
      return this.$store.getters.credentials
    },
    grillaMain() {
      return this.$store.getters.grillaMain
    },
    mainGrid() {
      return this.$store.getters.mainGrid
    },
    alertData(){
      return this.$store.getters.alertData
    }
  }
}
</script>

<style scoped>
.yellowBG{
  background-color: yellow ;
}
#alertButton .centerText{
  margin: 0 auto;
  font-size: 20px;
  font-weight: 750;
}
#alertButton i {
  vertical-align: text-bottom;
  padding-left: 10px;
  font-size: 30px;
}
.list-block {
	margin: 0px;
}

.item-inner{
  padding: 0;
}
.item-content {
	padding: 2px 0px 2px 20px;
	padding-right: 0;
}

.item-after img {
	height: 35px;
}

.list-block .item-inner:after {
	display: none !important;
}

.list-block ul a {
	color: #000 !important;
}
.whatsapp-icon {
  color: #25d366;
  font-size: 20px;
  padding-left: 15px;
  display: inline-block;
}
.badge {
  background: red;
  line-height: 22px;
  margin-top: 4px;
}
.whatsapp-icon img {
  width: 30px;
  height: 30px;
  margin-top: 4px;
}

</style>
