<template lang="pug">
f7-page.no-navbar#home(data-page='home')
  bar-home
  .grid-container
    .list-block
      ul
        li#alertButton.item-content(v-if='alertData.sn_activa === "1"', @click='showAlert', :style='"background-color:" + alertData.color || "yellow"')
          .item-inner
            .item-title.centerText
              | {{alertData.txt_titulo}}
              i.material-icons warning
        // f7-link(href='test')
        //   li.item-content
        //     .item-media
        //       i.icon
        //     .item-inner
        //       .item-title 
        //         span test
        //       .item-after
        //         img(:src='arrowRight')
        f7-link(:href='item.to', :key='item.id', v-for='item in mainGrid', @click='setTitle(item)', :external='item.external')
          li.item-content
            .item-media
              i.icon.custom-size(v-html='item.icon')
            .item-inner
              .item-title 
                span.custom-font {{item.name}}
              .item-after
                span.whatsapp-icon(v-if='item.whatsappIcon')
                  img(:src='WhatsappIcon')
                span.badge(v-show='item.badge') {{item.badge}}
                img(:src='arrowRight')
</template>

<script>
import _ from 'lodash';
import BarHome from '../components/bar-home';
import Helper from '../assets/js/helper';
import ArrowRight from '../assets/img/icons/arrow-right.png';
import WhatsappIcon from '../assets/img/whatsapp-icon.png';
import {mapActions, mapGetters} from 'vuex';
export default {
  name: 'home',
  components: {
    barHome: BarHome
  },
  data() {
    return {
      arrowRight: ArrowRight,
      mainGridT: [],
      WhatsappIcon,
      toolbarOptions: {
        NOVEDADES: false,
        EXPENSAS: false,
        CONSULTAS: false
      }
    }
  },
  mounted() {
    this.setPushwoosh()
    // this.getAlerts()
    this.$nextTick(() => {
      this.$f7.params.swipePanel = 'left'
      this.loadHeader()
      this.loadMainGrid()
      // this.getQueryBoxes()
      // this.$eventBus.$on('onEnterHome', () => this.loadNotifications())
      let el
      try {
        switch (window.APPTORUN) {
            case 'ss':
              el = document.getElementById('loginss')
              if(el) el.parentNode.removeChild(el)
              if(this.$f7.mainView.history.indexOf('#undefined') > -1)
                this.$f7.mainView.history.splice(f7.mainView.history.indexOf('#undefined'), 1)
              break;
            case 'ayres':
              el = document.getElementById('loginayres')
              if(el) el.parentNode.removeChild(el)
              if(this.$f7.mainView.history.indexOf('#undefined') > -1)
               this.$f7.mainView.history.splice(f7.mainView.history.indexOf('#undefined'), 1)
              break;
            case 'gabsa':
              el = document.getElementById('loginGabsa')
              if(el) el.parentNode.removeChild(el)
              if(this.$f7.mainView.history.indexOf('#undefined') > -1)
               this.$f7.mainView.history.splice(f7.mainView.history.indexOf('#undefined'), 1)
              break;
            case 'arboris':
              el = document.getElementById('loginarboris')
              if(el) el.parentNode.removeChild(el)
              if(this.$f7.mainView.history.indexOf('#undefined') > -1)
               this.$f7.mainView.history.splice(f7.mainView.history.indexOf('#undefined'), 1)
              break;
            case 'villanueva':
              el = document.getElementById('loginVillanueva')
              if(el) el.parentNode.removeChild(el)
              if(this.$f7.mainView.history.indexOf('#undefined') > -1)
               this.$f7.mainView.history.splice(f7.mainView.history.indexOf('#undefined'), 1)
              break;
            case 'laguna':
              el = document.getElementById('loginlaguna')
              if(el) el.parentNode.removeChild(el)
              if(this.$f7.mainView.history.indexOf('#undefined') > -1)
               this.$f7.mainView.history.splice(f7.mainView.history.indexOf('#undefined'), 1)
              break;
            case 'mayling':
              el = document.getElementById('loginMayling')
              if(el) el.parentNode.removeChild(el)
              if(this.$f7.mainView.history.indexOf('#undefined') > -1)
               this.$f7.mainView.history.splice(f7.mainView.history.indexOf('#undefined'), 1)
              break;
            case 'administrar':
              el = document.getElementById('loginAdministrar')
              if(el) el.parentNode.removeChild(el)
              if(this.$f7.mainView.history.indexOf('#undefined') > -1)
               this.$f7.mainView.history.splice(f7.mainView.history.indexOf('#undefined'), 1)
              break;
            case 'martindale':
              el = document.getElementById('loginMartindale')
              if(el) el.parentNode.removeChild(el)
              if(this.$f7.mainView.history.indexOf('#undefined') > -1)
               this.$f7.mainView.history.splice(f7.mainView.history.indexOf('#undefined'), 1)
              break;
            case 'vergara':
              el = document.getElementById('loginVergara')
              if(el) el.parentNode.removeChild(el)
              if(this.$f7.mainView.history.indexOf('#undefined') > -1)
               this.$f7.mainView.history.splice(f7.mainView.history.indexOf('#undefined'), 1)
              break;
            case 'lagartos':
              el = document.getElementById('loginLagartos')
              if(el) el.parentNode.removeChild(el)
              if(this.$f7.mainView.history.indexOf('#undefined') > -1)
               this.$f7.mainView.history.splice(f7.mainView.history.indexOf('#undefined'), 1)
              break
            case 'dibartolo':
              el = document.getElementById('loginLagartos')
              if(el) el.parentNode.removeChild(el)
              if(this.$f7.mainView.history.indexOf('#undefined') > -1)
               this.$f7.mainView.history.splice(f7.mainView.history.indexOf('#undefined'), 1)
              break
            case 'carmel':
              el = document.getElementById('loginCarmel')
              if(el) el.parentNode.removeChild(el)
              if(this.$f7.mainView.history.indexOf('#undefined') > -1)
               this.$f7.mainView.history.splice(f7.mainView.history.indexOf('#undefined'), 1)
              break
            case 'providencia':
              el = document.getElementById('loginProvidencia')
              if(el) el.parentNode.removeChild(el)
              if(this.$f7.mainView.history.indexOf('#undefined') > -1)
               this.$f7.mainView.history.splice(f7.mainView.history.indexOf('#undefined'), 1)
              break
            default:
              el = document.getElementById('loginss')
              if(el) el.parentNode.removeChild(el)
              if(this.$f7.mainView.history.indexOf('#undefined') > -1)
               this.$f7.mainView.history.splice(f7.mainView.history.indexOf('#undefined'), 1)
            break
        }
      } catch (e) {
        console.log(e)
      }
    })
  },
  methods: {
    ...mapActions(['setPushwoosh',
      // 'setAlertData',
      'clearMainTitle',
      'setMainTitleToPush',
      'setBarHome',
      'setGrillaMain',
      'setToolbarOptions',
      'setMainGrid',
      'getBadges'
      ]),
    getAlerts () {
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'text',
        callback: this.getAlertsSuccess,
        data: {
          idPantalla: 22,
          idAccion: 'Inicio',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password
        }
      }
      Helper.post(params)
    },
    getAlertsSuccess (res) {
      try {
        res = typeof(res) === 'string' ? JSON.parse(res)[0] : res
        // if(this.credentials.barrio.id === '1156') {
        //   alert(JSON.stringify(res, null, 2))
        // }
        if (res) {
          this.setAlertData(res)
        }
        else {
          this.setAlertData([])
        }
      } catch (e) {
        console.log(e)
      }
    },
    showAlert(){
      this.$f7.popup('.alert-popup', true, true)
    },
    setTitle (item) {
      this.clearMainTitle()
      try {
        if(item.idSecDesc === 'consultasAdmin')this.setMainTitleToPush(' Bandeja de entrada')
        else this.setMainTitleToPush(item.name)
      } catch (err) {
        console.log('error changing custom title to admin query: ' + err)
        this.setMainTitleToPush(item.name)
      }
    },
    loadHeader() {
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'text',
        callback: this.loadHeaderSuccess,
        data: {
          idPantalla: 1,
          idAccion: 'Header',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password
        }
      }
      Helper.post(params)
    },
    loadHeaderSuccess(data) {
      let headerData = JSON.parse(data)
      let barHome = {
        headerImage: headerData[0].imagen,
        leftText: headerData[0].text_left,
        rightText: headerData[0].text_right
      }
      this.setBarHome(barHome)
    },
    loadMainGrid() {
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.loadMainGridSuccess,
        data: {
          idPantalla: 1,
          idAccion: 'GrillaMain',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password
        }
      }
      Helper.post(params)
    },
    loadMainGridSuccess (res) {
      res = typeof(res) === 'string' ? JSON.parse(res) : res
      res.forEach(e => e.orden = e.orden || "0");
      let resFallback = res
      try {
        res = this.sortGrid(res);

        // Modulo admin consultas
        if (this.credentials.admin) {
          let result = false
          res.forEach( e => { 
            if(e.idSecDesc.toLowerCase().indexOf('consultas') >=0) {
              e.idSecDesc = 'consultasAdmin'
            }
          })
        }
      } catch (err) {
        console.log('Error rearranging array: ' + err + ' - trigger fallback')
        res = resFallback
      }
      
      for (let i = 0; i < res.length; i++) {
        let item = res[i];
        let key = item.idSecDesc.toLowerCase().replace("_", "").replace("-", "");
        let title = key.toUpperCase();

        if (Helper.mainGrid.indexOf(title) > -1) {
          try {
            this.mainGridT.push({
              id: item.idSec,
              name: item.nombreSec,
              icon: Helper.menuIcons[key],
              idSecDesc: item.idSecDesc,
              to: item.URL || key,
              external: !!item.URL,
              whatsappIcon: ['invitadosgirovision', 'invitados'].indexOf(key) > -1,
              orden: item.orden || 0
            })
            
            if (Helper.toolbarOptions.indexOf(title) > -1) {
              this.toolbarOptions[title] = true;
            }
          } catch (e) {
            console.log(e)
          }
        }
      }
      this.setMainGrid(this.mainGridT)
      this.setToolbarOptions(this.toolbarOptions)
      this.getBadges({
        idPantalla: 1,
        idAccion: 'Notificaciones',
        idBarrio: this.credentials.barrio.id,
        idUsuario: this.credentials.user,
        idPassword: this.credentials.password
      })
    },
    sortGrid(grid) {
      return grid.sort((a, b) => parseInt(a.orden) - parseInt(b.orden));
    }
  },
  computed: {
    ...mapGetters(['credentials', 'mainGrid', 'alertData'])
  }
}
</script>

<style scoped>
.yellowBG{
  background-color: yellow ;
}
#alertButton .centerText{
  margin: 0 auto;
  font-size: 20px;
  font-weight: 750;
}
#alertButton i {
  vertical-align: text-bottom;
  padding-left: 10px;
  font-size: 30px;
}
.list-block {
	margin: 0px;
}

.item-inner{
  padding: 0;
}
.item-content {
	padding: 2px 0px 2px 20px;
	padding-right: 0;
}

.item-after img {
	height: 20px;
}

.list-block .item-inner:after {
	display: none !important;
}

.list-block ul a {
	color: #000 !important;
}
.whatsapp-icon {
  color: #25d366;
  font-size: 20px;
  padding-left: 15px;
  display: inline-block;
}
.whatsapp-icon img {
  width: 30px;
  height: 30px;
  margin-top: 4px;
}
</style>
