<template lang="pug">
f7-page#informePago.navbar-through(data-page='informepago',  toolbar-fixed)
  //- toolbar
  .informe-pago-container
    .list-block
      form
        ul
          li
            .item-content
              .item-inner
                .item-title.label Lote / Dpto
                .item-input
                  a.item-link.smart-select(href='#', data-open-in="picker", data-back-on-select="true")
                    .custom-selectbox 
                      select(v-model='payment.lot')
                        option(v-for='lot in arrayLots', :value='lot.value') {{lot.text}}
                      .item-select-text {{payment.lot}}
          li
            .item-content
              .item-inner
                .item-title.label.transaction-container
                  span Tipo de transacción
                  span.required 
                  | {{' '}} *
                .item-input
                  a.item-link.smart-select(href='#', data-open-in="picker", data-back-on-select="true")
                    .custom-selectbox 
                      select(v-model='payment.type.value' @change='setPaymentType', ref='selPaymentType', required)
                        option(v-for='paymentOption in arrayPaymentOptions', :value='paymentOption.value') {{paymentOption.text}}
                      .item-select-text {{payment.type.desc}}
          li(v-if='!isUruguay')
            .item-content
              .item-inner
                .item-title.label CUIT
                .item-input
                  input.text-align-right(type='text', placeholder='cuit', v-model='payment.cuit')
          li
            .item-content
              .item-inner
                .item-title.label 
                  span Fecha
                  span.required
                  | {{' '}} *
                .item-input
                  input.text-align-right(type='date', placeholder='dd/mm/yyyy', value='', v-model='payment.date', required)
          li
            .item-content
              .item-inner
                .item-title.label 
                  span Importe
                  span.required
                  | {{' '}} *
                .item-input
                  input.text-align-right(type='number', placeholder='importe', v-model='payment.amount', required)
          li
            .item-content
              .item-inner
                .item-title.label Nro transacción
                .item-input
                  input.text-align-right(type='text', placeholder='nro transacción', v-model='payment.transaction')
          li(v-show='showBank')
            .item-content
              .item-inner
                .item-title.label Banco Origen
                .item-input
                  input.text-align-right(type='text', placeholder='banco origen', v-model='payment.bankFrom')
          li(v-show='showBank')
            .item-content
              .item-inner
                .item-title.label Banco destino
                .item-input
                  input.text-align-right(type='text', placeholder='banco destino', v-model='payment.bankTo')
          li(v-show='showBank')
            .item-content
              .item-inner
                .item-title.label Sucursal
                .item-input
                  input.text-align-right(type='text', placeholder='sucursal', v-model='payment.branch')
          li.align-top
            .item-content
              .item-inner
                .item-title.label Comentarios
                .item-input
                  input.text-align-right(type='text', v-model='payment.comments', placeholder='Comentarios')
      add-attach(v-bind:multiple='false', v-on:attach='addAttach', v-on:remove='removeAttach')
      br
      .buttons-container
        a.button.button-big.active.button-general-style.color-red(href='#', @click='informPayment') Informar
        a.button.button-big.active.button-general-style.gray-color(href='pagosInformados', @click='myPayments') Mis Pagos
</template>

<script>
import Helper from '../assets/js/helper'
// import Toolbar from '../components/toolbar'
import AddAttach from '../components/addAttach'
import { mapGetters } from 'vuex';
export default {
  name: 'informePago',
  data(){
    return{
      payment:{
        payer: '',
        lot: 'Seleccionar',
        type: {
          value: '',
          desc: 'Seleccionar'
        },
        cuit: '',
        date: '',
        amount: '',
        transaction: '',
        bankFrom: '',
        bankTo: '',
        branch: '',
        comments: '',
        attach:[]
      },
      arrayLots: [],
      arrayPaymentOptions: []
    }
  },
  components:{
    // toolbar: Toolbar,
    addAttach: AddAttach
  },
  computed: {
    ...mapGetters([
      'credentials',
      'isUruguay']),
    showBank(){
      return this.payment.type.desc.toLowerCase() === 'transferencia' ? true : false
    }
  },
  mounted(){
    this.getFormData()
  },
  methods:{
    setPaymentType () {
      this.payment.type.desc = this.$refs.selPaymentType.selectedOptions[0].text
    },
    addAttach(res){
      this.payment.attach = res
    },
    removeAttach(res){
      this.payment.attach = res
    },
    informPayment(){
      if(this.payment.lot === 'Seleccionar') {
        Helper.showMessage('Debe seleccionar un lote')
        return
      } else if (this.payment.type.value === '') {
        Helper.showMessage('Debe seleccionar un tipo de pago')
        return
      } else if (this.payment.date === '') {
        Helper.showMessage('Debe ingresar una fecha')
        return
      } else if (this.payment.amount === '') {
        Helper.showMessage('Debe ingresar una monto')
        return
      }
      this.$store.dispatch('setMainTitleToPush', 'Confirmar Pago')
      this.$store.dispatch('setPaymentData', this.payment)
      this.$f7.mainView.loadPage('confirmarInformePago')
    },
    myPayments(){
      this.$store.dispatch('setMainTitleToPush', 'Mis Pagos')
      this.$f7.mainView.loadPage({url:'pagosInformados'})
    },
    getFormData(){
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.getFormDataSuccess,
        data: {
          idPantalla: 3,
          idAccion: 'datosFormulario',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password
        }
      }
      Helper.post(params)
    },
    getFormDataSuccess(res){
      res = typeof(res) === 'string' ? JSON.parse(res) : res
      this.arrayLots = []
      this.arrayPaymentOptions = []
      if(res && res.length > 0 ){
        // TODO Setear lote
        // for (var k = 0; k < res[0].lotes.length; k++){
        //   if(res[0].lotes[k].indexOf('selected') > -1 ) console.log(res[0].lotes[k])
        // }
        for(let i = 0; i< res[0].lotes.length; i++){
          let val = res[0].lotes[i]
          val = val.substring(val.indexOf('="')+2)
          val = val.substring(0, val.indexOf('"'))
          if(res[0].lotes[i].indexOf('selected') > -1 ) this.payment.lot = val
          let txt = res[0].lotes[i]
          txt = txt.substring(txt.indexOf('="')+2)
          txt = txt.substring(0,txt.indexOf('"'))
          this.arrayLots.push({value: val, text: txt})
        }
        for(let i = 0; i< res[0].tipoTransaccion.length; i++){
          let val = res[0].tipoTransaccion[i]
          val = val.substring(val.indexOf('="')+2)
          val = val.substring(0, val.indexOf('"'))
          let txt = res[0].tipoTransaccion[i]
          txt = txt.substring(txt.indexOf('="')+2)
          txt = txt.substring(0,txt.indexOf('"'))
          this.arrayPaymentOptions.push({value: val, text: txt })
        }
        this.payment.payer = res[0].pagoInformadoPor.trim()
      }
    }
  }
}
</script>

<style scoped>
.text-align-right{
  text-align: right;
}
.gray-color{
  background-color: #333333;
  border: none;
}
.transaction-container {
  width: 60% !important;
}
.buttons-container {
  width: 100%;
}
.buttons-container a{
  width: 100%;
  height: 50px;
}
.required {
  color: red;
}
</style>
