<template lang="pug">
f7-page#infracciones.navbar-through(data-page='infracciones', toolbar-fixed)
  //- toolbar
  .infraction-container
    .list-block
      p.no-data-message(v-if='showNoData') No hay datos disponibles
      ul(v-if='!showNoData')
        list-element(v-for='infraction in infractionsArray',
        :key='infraction.id',
        :title='"N°" + infraction.numero_infraccion +" " + infraction.txt_titulo',
        :date='infraction.fecha_infraccion + " " + infraction.categoria + " " + infraction.subcategoria',
        :status='"Estado:" + infraction.estado',
        v-on:clicked='showInfraction(infraction)')
</template>

<script>
import Helper from '../assets/js/helper'
// import Toolbar from '../components/toolbar'
import ListElement from '../components/list-element'
export default {
  name: 'infracciones',
  data(){
    return{
      infractionsArray: [],
      showNoData: false
    }
  },
  components: {
    // toolbar: Toolbar,
    listElement: ListElement
  },
  computed:{
    credentials(){
      return this.$store.getters.credentials
    }
  },
  mounted () {
    this.$eventBus.$on('newInfractionEvt', this.newInfraction)
    this.getInfractions()
  },
  methods:{
    getInfractions(){
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.getInfractionsSuccess,
        data: {
          idPantalla: 19,
          idAccion: 'Inicio',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password
        }
      }
      Helper.post(params)
    },
    getInfractionsSuccess(res){
      if(res){
        this.infractionsArray = typeof(res) === 'string' ? JSON.parse(res) : res;
        if (this.infractionsArray instanceof Array && this.infractionsArray.length == 0)
          this.showNoData = true;
      }
    },
    showInfraction(infraction){
      this.$store.dispatch('setMainTitleToPush', 'Infracción ' + infraction.numero_infraccion)
      this.$store.dispatch('setInfractionData', infraction)
      this.$f7.mainView.loadPage('showInfraction')
    },
    newInfraction () {
      this.$store.dispatch('setMainTitleToPush', 'Nueva infracción')
      this.$f7.mainView.loadPage('newInfraction')
    }
  }
}
</script>

<style scoped>
.infraction-container{
  margin-bottom: 50px;
}
</style>
