<template lang="pug">
f7-page#invitados.navbar-through(data-page='invitados', toolbar-fixed)
  //- toolbar(text='Nuevo Invitado',
  //- showButton='true',
  //- previousTitle='Invitados',
  //- :icon='"people"',
  //- v-on:btnAdminClick='newGuest')
  .guests-container
    .list-block.sercheable-list
      p.no-data-message(v-if='showNoData') No hay datos disponibles
      ul(v-if='!showNoData')
        f7-searchbar(cancel-link='Cancel', placeholder='Buscar Invitados...', :clear-button='true')
        list-element(v-for='guest in guestsArray',
        :key='guest.idInvitado',
        :title='guest.nombre + " " + guest.categoria',
        :date='guest.fechaingreso + " | " + guest.fechaegreso',
        v-on:clicked='showGuest(guest)')
</template>

<script>
import Helper from '../assets/js/helper'
// import Toolbar from '../components/toolbar'
import ListElement from '../components/list-element'
export default {
  name: 'invitados',
  data(){
    return{
      guestsArray: [],
      showNoData: false
    }
  },
  components: {
    // toolbar: Toolbar,
    listElement: ListElement
  },
  computed:{
    credentials(){
      return this.$store.getters.credentials
    }
  },
  mounted () {
    this.$eventBus.$on('inviteGuestEvt', this.inviteGuest)
    this.$eventBus.$on('newGuestEvt', this.newGuest)
    this.getGuests()
    this.searchbarInit()
  },
  methods:{
    searchbarInit(){
      this.$f7.searchbar('.searchbar', {
        searchList: '.sercheable-list',
        searchIn: '.item-title'
      })
    },
    getGuests(){
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.getGuestsSuccess,
        data: {
          idPantalla: 10,
          idAccion: 'Inicio',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password
        }
      }
      Helper.post(params)
    },
    getGuestsSuccess(res){
      if(res){
        this.guestsArray = typeof(res) === 'string' ? JSON.parse(res) : res;

        if (this.guestsArray.length == 0)
          this.showNoData = true;
      }
    },
    showGuest(guest){
      this.$store.dispatch('setMainTitleToPush', guest.nombre)
      this.$f7.mainView.loadPage('showGuest/' + guest.idInvitado)
    },
    newGuest(){
      this.$store.dispatch('setMainTitleToPush', 'Nuevo Invitado')
      this.$f7.mainView.loadPage({url:'showGuest/-1'})
    },
    inviteGuest () {
      this.$store.dispatch('setMainTitleToPush', 'Enviar Invitacion')
      this.$f7.mainView.loadPage({url:'sendGuestInvite'})
    }
  }
}
</script>

<style scoped>
.guests-container{
  margin-bottom: 50px;
}
</style>
