<template lang="pug">
f7-page#invitadosgirovision.navbar-through(data-page='invitadosgirovision', toolbar-fixed)
  //- toolbar(text='Cargar nuevo invitado',
  //- showButton='true',
  //- :showGirovisionButton='true',
  //- previousTitle='Invitados',
  //- :icon='"none"',
  //- v-on:btnAdminClick='newGuest',
  //- v-on:btnGirovisionClick='inviteGirovision')
  .guests-container
    .list-block.sercheable-list
      p.no-data-message(v-if='showNoData') No hay datos disponibles
      ul(v-if='!showNoData')
        f7-searchbar(cancel-link='Cancel', placeholder='Buscar Invitados...', :clear-button='true')
        list-element(v-for='guest in guestsArray',
        :key='guest.idInvitado',
        :title='guest.nombre',
        :date='guest.tipo_invitado + " " + moment(guest.valido_desde).format("DD/MM/YYYY")' ,
        v-on:clicked='showGuest(guest)')
</template>
<script>
import Helper from '../assets/js/helper'
// import Toolbar from '../components/toolbar'
import ListElement from '../components/list-element'
export default {
  name: 'invitadosgirovision',
  data(){
    return{
      guestsArray: [],
      showNoData: false,
      moment: moment
    }
  },
  components: {
    // toolbar: Toolbar,
    listElement: ListElement
  },
  computed:{
    credentials(){
      return this.$store.getters.credentials
    }
  },
  mounted (){
    this.$eventBus.$on('newGuestGirovisionEvt', this.newGuestGirovision)
    this.$eventBus.$on('inviteGirovisionEvt', this.inviteGirovision)
    this.getGuests()
    this.searchbarInit()
  },
  methods:{
    searchbarInit(){
      this.$f7.searchbar('.searchbar', {
        searchList: '.sercheable-list',
        searchIn: '.item-title'
      })
    },
    getGuests(){
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.getGuestsSuccess,
        data: {
          idPantalla: 14,
          idAccion: 'Inicio',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password
        }
      }
      Helper.post(params)
    },
    getGuestsSuccess(res){
      if (res) {
        this.guestsArray = typeof(res) === 'string' ? JSON.parse(res) : res;
        this.showNoData = this.guestsArray.length == 0;
      }
    },
    showGuest (guest) {
      this.$store.dispatch('setMainTitleToPush', guest.nombre)
      this.$f7.mainView.loadPage('showGuestGirovision/' + guest.idInvitado)
    },
    newGuestGirovision () {
      this.$store.dispatch('setMainTitleToPush', 'Nuevo Invitado')
      this.$f7.mainView.loadPage({url:'showGuestGirovision/-1'})
    },
    inviteGirovision () {
      this.$store.dispatch('setMainTitleToPush', 'Enviar Invitacion')
      this.$f7.mainView.loadPage({url:'sendGirovisionInvite'})
    }
  }
}
</script>

<style scoped>
.guests-container{
  margin-bottom: 100px;
}
</style>
