<template lang='pug'>
f7-page.navbar-through(data-page='invitadosingesys', toolbar-fixed)
  //- toolbar
  .infraction-container
    .list-block
      p.no-data-message(v-if='showNoData') No hay datos disponibles
      ul(v-if='!showNoData')
        list-element(v-for='guest in guestArr',
        :key='guest.visitantes[0].id',
        :title='guest.visitantes[0].nombre + " - " + guest.visitantes[0].apellido',
        :date='"Desde: " + guest.fechaDesde + " Hasta: " + guest.fechaHasta',
        v-on:clicked='showGuest(guest)')
</template>

<script>
import Helper from '../assets/js/helper'
// import Toolbar from '../components/toolbar'
import ListElement from '../components/list-element'
import { mapGetters, mapActions } from 'vuex';
export default {
  name: 'invitadosingesys',
  data () {
    return {
      guestArr : [],
      showNoData: true
    }
  },
  computed: {
    ...mapGetters(['credentials'])
  },
  mounted () {
    this.$eventBus.$on('newGuestIngesysEvt', this.newGuestIngesys)
    this.getGuest()
  },
  components: {
    listElement: ListElement
  },
  methods: {
    ...mapActions(['setIngesysData']),
    getGuest () {
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.getGuestSuccess,
        data: {
          idPantalla: 23,
          idAccion: 'listar',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password
        }
      }
      Helper.post(params)
    },
    getGuestSuccess (res) {
      if (res) {
        if (typeof(res) === 'string' || res === 'null') return
        this.showNoData = false
        res = typeof(res) === 'string' ? JSON.parse(res) : res
        res = res.sort((a, b) => b.id - a.id)
        this.guestArr = res
      } else {
        this.showNoData = true
      }
    },
    showGuest (guest) {
      this.setIngesysData(guest)
      this.$f7.mainView.loadPage('showIngesysGuest')
    },
    newGuestIngesys () {
      this.$f7.mainView.loadPage('newIngesysGuest')
    }
  }
}
</script>

<style scoped>

</style>
