<template lang="pug">
f7-page.navbar-through(data-page='mostrarExpensa')
  .expensa-container
    .card
      .card-header
        .img-container
          img(:src='expensasIcon')
        .text-container
          h2 {{ expensa.tituloNtc }}
          p {{ expensa.subTipoNtc }}
          p {{ expensa.fechaNtc}}
      .card-content
        .card-content-inner
          span#expensasContainer(v-html='expensesContent', v-if='expensesContent !== "" ')
    .attachment-container-div(v-if='showAttachment')
      .card
        ul
          li(v-for='attach in attachmentsArray')
            .card-content(@click='downloadFile(attach.file)')
              .card-content-inner
                .attachments-container()
                  span {{attach.name}}
                  i.material-icons attach_file
</template>

<script>
import _ from 'lodash'
import Helper from '../assets/js/helper.js'
import Hammer from '../assets/js/hammer.js'
import ArrowRight from '../assets/img/icons/arrow-right.png'
import ExpensasIcon from '../../static/icon/home/expensas.png'
function addZoom(){
  let el = document.getElementsByClassName('lightbox')
    for (var i = 0; i < el.length; i++) {
      Hammer.addZoom(el[i])
    }
}
export default {
  name: 'mostrarExpensa',
  components: {},
  data() {
    return {
      arrowRight: ArrowRight,
      expensesContent: '',
      showAttachment: false,
      attachmentsArray: [],
      expensasIcon: ExpensasIcon,
      expensa: {
        // tituloNtc: decodeURIComponent(this.$route.params.documentShow),
        tituloNtc: '',
        subTipoNtc: '',
        fechaNtc: ''
      }
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.loadParams()
      this.loadExpensa()
    })
  },
  methods: {
    setTitle(title){
      // jspasiuk pido dejar como titulo la categoria, ya q si es muy largo se pisa
      this.$store.dispatch('setMainTitleToPush', this.mainTitle)
    },
    downloadFile (file) {
      Helper.downloadFile(file)
    },
    loadParams () {
      this.expensa.tituloNtc = this.expenseData.tituloNtc
      this.expensa.fechNtc = this.expenseData.fechNtc
      this.expensa.subTipoNtc = this.expenseData.subTipoNtc
      console.log(this.expensa)
    },
    loadExpensa () {
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'text',
        callback: this.loadExpensaSuccess,
        data: {
          idPantalla: 3,
          idAccion: 'Unica',
          idNovedad: this.expenseData.idNtc,
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password
        }
      }
      Helper.post(params)
    },
    loadExpensaSuccess (data) {
      if(typeof(data) === 'string'){
        //no es obj es string, parseo a json
        try {
          this.expensesContent = JSON.parse(data)
        } catch (e) {
          //es txt pero no es json
          this.expensesContent = data
        }
      }
      else{
        this.expensesContent = data
      }

      this.$nextTick(()=>{
        try {
          let el = document.getElementById('expensasContainer').getElementsByTagName("img")
          for(let i = 0; i< el.length; i++ ){
            let href = el[i].attributes.src.textContent
            let org_html = el[i];
            let a = document.createElement("a");
            a.href = href
            a.dataset.lightbox = 'image-' + i
            a.innerHTML = el[i].outerHTML
            a.onclick = addZoom
            org_html.parentNode.appendChild(a);
            org_html.parentNode.removeChild(org_html);
          }
        }
        catch(e){
          console.log(e)
        }
      })

      let self = this      
      this.getAttachment()
      this.$nextTick(function() {
        let el = document.getElementById('expensasContainer').getElementsByTagName("img")
        if (el.length > 0) {
          for (let i = 0; i < el.length; i++) {
            el[i].setAttribute('style', 'width: 100%; height: auto')
          }
        }
      })
    },
    getAttachment() {
      let params = {
        url: Helper.URL.GetMain,
        callback: this.getAttachmentSuccess,
        data: {
          idAccion: 'Adjuntos',
          idPantalla: 3,
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          idNovedad: this.expenseData.idNtc
        }
      }
      
      Helper.post(params)
    },
    getAttachmentSuccess(data) {
      let attachments
      try {
        attachments = JSON.parse(data)
      } catch (e) {
        //no hay attach o no son en fromato JSON
      }
      if (attachments && attachments.length > 0) {
        this.showAttachment = true
        for (let i = 0; i < attachments.length; i++) {
          if (attachments[i].file1Ntc && attachments[i].file1Ntc !== '' && attachments[i].fileNombre && attachments[i].fileNombre !== '') {
            this.attachmentsArray.push({
              name: attachments[i].fileNombre.split("/").pop(),
              file: attachments[i].file1Ntc
            })
          }
        }
      }
    },
  },
  computed: {
    credentials() {
      return this.$store.getters.credentials
    },
    newsGrid() {
      return this.$store.getters.newsGrid
    },
    newsConfig(){
      return this.$store.getters.newsConfig
    },
    mainTitle () {
      return this.$store.getters.mainTitle
    },
    expenseData() {
      return this.$store.getters.expenseData
    }
  }
}
</script>
<style>
.statusbar-overlay {
  background: black;
}
</style>

<style scoped>
.img-container img {
  width: 60px;
}

.text-container {
  position: absolute;
  left: 30%;
}

.text-container h2 {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}

.text-container p {
  padding: 0;
  margin: 0;
  white-space: normal !important;
  color: #666;
  font-size: 14px;
}

/*Estilo para descargas*/
.list-block{
  /*margin: 15px 0px 0px 0px !important;*/
  /*margin-top: 15px;*/
  margin: 0px;
}
.documents-container .list-block{
  padding: 5px;
}
.item-content{
  padding: 2px 24px;
  padding-right: 0;
}
.item-after img {
	height: 20px;
}
ul::before{
  display: none !important;
}

.list-block ul a{
  color: #000 !important;
}

/* li:after {
  content: '';
  position: absolute;
  left: auto;
  bottom: 0;
  right: 0;
  top: auto;
  height: 1px;
  width: 95%;
  background-color: #c8c7cc;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

list-block li:after {
  content: '';
  position: absolute;
  left: auto;
  bottom: 0;
  right: 0;
  top: auto;
  height: 1px;
  width: 95%;
  background-color: #c8c7cc;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
} */

.subtitle span{
  color: #aaa;
  font-size: 14px;
  white-space: normal;
}

.documents-card-container .card{
   margin: 0px;
}

.attachment-container-div .card-content {
  padding: 1px;
  background-color: #efeff4;
}

.attachment-container-div .card-content-inner {
  background-color: #fff
}

.attachment-container-div ul {
  width: 100%;
  padding: 0;
}

.attachment-container li {
  list-style-type: none;
  border-bottom: 1px solid #efeff4;
}

.attachment-container li:last-child {
  border-bottom: none;
}

.attachments-container span {
  line-height: 50px;
  font-size: 16px;
}

.attachments-container i {
  color: #535355;
  position: absolute;
  right: 10px;
  line-height: 50px;
}
</style>
