<template lang="pug">
f7-page.navbar-through.toolbar-fixed(data-page='mostrarNovedad')
  .novedad-container
    .card
      .card-header
        .img-container(v-show='false')
          img(:src='novevadesIcon')
        .text-container
          p {{newsData.fechNtc}}
          h2
            | {{newsData.tituloNtc}}
      .card-content
        .card-content-inner
          span#newsContainer(v-html='newsContent', v-if='newsContent !== "" ')
    .attachment-container-div(v-if='showAttachment')
      .card
        ul
          li(v-for='attach in attachmentsArray')
            .card-content(@click='downloadFile(attach.file)')
              .card-content-inner
                .attachments-container()
                  span {{attach.name}}
                  i.material-icons attach_file
</template>

<script>
import _ from 'lodash'
import Helper from '../assets/js/helper.js'
import Hammer from '../assets/js/hammer.js'
import ArrowRight from '../assets/img/icons/arrow-right.png'
import NovevadesIcon from '../../static/icon/home/novedades.png'
function addZoom(){
  let el = document.getElementsByClassName('lightbox')
    for (var i = 0; i < el.length; i++) {
      Hammer.addZoom(el[i])
    }
}
export default {
  name: 'mostrarNovedad',
  components: {},
  data() {
    return {
      arrowRight: ArrowRight,
      newsContent: '',
      showAttachment: false,
      attachmentsArray: [],
      novevadesIcon: NovevadesIcon,
      // novedad: {
      //   tituloNtc: this.$route.params.documentShow,
      //   subTipoNtc: '',
      //   fechNtc: ''
      // },
      hasSubfolders: this.$route.params.documentSubfolders === 'S',
      documentsGrid: []
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.loadNovedad()
    })
  },
  methods: {
    setTitle(title){
      // jspasiuk pido dejar como titulo la categoria, ya q si es muy largo se pisa
      this.$store.dispatch('setMainTitleToPush', this.mainTitle)
    },
    downloadFile(file) {
      Helper.downloadFile(file)
    },
    loadNovedad() {
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'text',
        callback: this.loadNovedadSuccess,
        data: {
          idPantalla: 2,
          idAccion:'Unica',
          idNovedad: this.newsData.idNtc,
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password
        }
      }
      Helper.post(params)
    },
    loadNovedadSuccess(data) {
      if (data) {
        try {
          data = typeof(data) === 'string' ? JSON.parse(data) : data
        } catch (err) {
          console.log(err)
        }
        this.newsContent = data
        this.$nextTick(()=>{
          try {
            let elA = document.getElementById('newsContainer').getElementsByTagName("a")
            let el = document.getElementById('newsContainer').getElementsByTagName("img")
            // ADD onclick
            for (let k = 0; k < elA.length; k++) {
              if (elA[k].childElementCount === 0) {
                let _href = elA[k].href
                elA[k].onclick = () => { window.open(_href, '_system', 'location=no') }
                elA[k].href = '#'
              }
            }
            // ADD Zoom
            for (let i = 0; i< el.length; i++ ) {
              let href = el[i].attributes.src.textContent
              let org_html = el[i]
              let a = document.createElement("a")
              a.href = href
              a.dataset.lightbox = 'image-' + i
              a.innerHTML = el[i].outerHTML
              a.onclick = addZoom
              org_html.parentNode.replaceChild(a, org_html);
              //org_html.parentNode.appendChild(a)
              //org_html.parentNode.removeChild(org_html)
            }
          }
          catch(e){
            console.log(e)
          }
        })
        this.getAttachment()
        this.$nextTick(function() {
          let el = document.getElementById('newsContainer').getElementsByTagName("img")
          if (el.length > 0) {
            for (let i = 0; i < el.length; i++) {
              el[i].setAttribute('style', 'width: 100%; height: auto')
            }
          }
        })
      }
    },
    getAttachment() {
        let params = {
          url: Helper.URL.GetMain,
          callback: this.getAttachmentSuccess,
          data: {
            idPantalla: '3',
            idAccion: 'Adjuntos',
            idBarrio: this.credentials.barrio.id,
            idUsuario: this.credentials.user,
            idPassword: this.credentials.password,
            idNovedad: this.newsData.idNtc
          }
      }
      Helper.post(params)
    },
    getAttachmentSuccess(data) {
      debugger
      let attachments
      try {
        attachments = typeof(data) === 'string' ? JSON.parse(data) : data
      } catch (e) {
        //no hay attach o no son en fromato JSON
      }
      if (attachments && attachments.length > 0 && attachments[0].fileNombre) {
        this.showAttachment = true
        for (let i = 0; i < attachments.length; i++) {
          if (attachments[i].file1Ntc && attachments[i].file1Ntc !== '' && attachments[i].fileNombre && attachments[i].fileNombre !== '') {
            this.attachmentsArray.push({
              name: attachments[i].fileNombre.split("/").pop(),
              file: attachments[i].file1Ntc
            })
          }
        }
      }
    },
  },
  computed: {
    credentials() {
      return this.$store.getters.credentials
    },
    mainTitle () {
      return this.$store.getters.mainTitle
    },
    newsData () {
      return this.$store.getters.newsData
    }
  }
}
</script>
<style>
.statusbar-overlay {
  background: black;
}
</style>

<style scoped>
html.pixel-ratio-2 .card-header:after{
  display: none;
}
.card {
  box-shadow: none;
}
.img-container img {
  width: 60px;
}

.text-container {
  /* position: absolute;
  left: 30%; */
}

.text-container h2 {
  padding: 0;
  margin: 0;
  font-size: 25px;
  font-weight: 600;
}

.text-container p {
  padding: 0;
  margin: 0;
  white-space: normal !important;
  color: #666;
  font-size: 14px;
}

/*Estilo para descargas*/
.list-block{
  /*margin: 15px 0px 0px 0px !important;*/
  /*margin-top: 15px;*/
  margin: 0px;
}
.documents-container .list-block{
  padding: 5px;
}
.item-content{
  padding: 2px 24px;
  padding-right: 0;
}
.item-after img {
	height: 20px;
}
ul::before{
  display: none !important;
}

.list-block ul a{
  color: #000 !important;
}

.subtitle span{
  color: #aaa;
  font-size: 14px;
  white-space: normal;
}

.documents-card-container .card{
   margin: 0px;
}

.attachment-container-div .card-content {
  padding: 1px;
  background-color: #efeff4;
}

.attachment-container-div .card-content-inner {
  background-color: #fff
}

.attachment-container-div ul {
  width: 100%;
  padding: 0;
}

.attachment-container li {
  list-style-type: none;
  border-bottom: 1px solid #efeff4;
}

.attachment-container li:last-child {
  border-bottom: none;
}

.attachments-container span {
  line-height: 50px;
  font-size: 16px;
}

.attachments-container i {
  color: #535355;
  position: absolute;
  right: 10px;
  line-height: 50px;
}
</style>
