<template lang="pug">
f7-page.navbar-through(data-page='mostrarDescarga')
  .documents-container
    .documents-card-container
      .card
        .card-header
          .img-container
            img(:src='documentsIcon')
          .text-container
            h2
              | {{descarga.tituloNtc}}
            p {{descarga.fechaNtc}}
    .list-block(v-if='hasSubfolders')
      ul
        //- f7-searchbar(cancel-link='Cancel', placeholder='Buscar Novedades...', :clear-button='true')
        //- f7-link(:href="'documentosNivel3/' + item.key + '/' + item.show + '/' + item.fecha + '/' + item.tipo", v-for='item in documentsGrid', :key='item.idNtc', @click='setTitle(item.show)', :data-type='item.tipo')
        f7-link(v-for='item in documentsGrid', :key='item.idNtc', @click='setDocsV3Data(item)', :data-type='item.tipo')
          li.item-content
            .item-media
            .item-inner
              .item-title {{item.show}}
                .subtitle
                  span {{item.cantidad}} documentos disponibles
              .item-after
                img(:src='arrowRight')
    .list-block(v-else)
      ul
        //f7-searchbar(cancel-link='Cancel', placeholder='Buscar Novedades...', :clear-button='true')
        f7-link(:href="'mostrarDocumento/' + item.idNtc + '/' + encodeURIComponent(item.TituloNtc) + '/' + item.fechaNtc", v-for='item in documentsGrid', :key='item.idNtc', @click='setTitle(item.TituloNtc)')
          li.item-content
            .item-media
            .item-inner
              .item-title(:class='{ "not-read": !item.leido}') {{item.TituloNtc}}
                .subtitle
                  span {{item.fechaNtc}}
              .item-after
                img(:src='arrowRight')
</template>

<script>
import _ from 'lodash'
import Helper from '../assets/js/helper.js'
import Hammer from '../assets/js/hammer.js'
import ArrowRight from '../assets/img/icons/arrow-right.png'
import DocumentsIcon from '../../static/icon/home/documentos.png'
function addZoom(){
  let el = document.getElementsByClassName('lightbox')
    for (var i = 0; i < el.length; i++) {
      Hammer.addZoom(el[i])
    }
}
export default {
  name: 'mostrarDescarga',
  components: {},
  data() {
    return {
      arrowRight: ArrowRight,
      newsContent: '',
      showAttachment: false,
      attachmentsArray: [],
      documentsIcon: DocumentsIcon,
      descarga: {
        tituloNtc: '',
        subTipoNtc: '',
        fechNtc: ''
      },
      hasSubfolders: false,
      documentsGrid: []
    }
  },
  mounted() {
    this.$nextTick(() => {
      console.log('docsData', this.docsData)
      this.descarga.tituloNtc = this.docsData.show
      this.descarga.fechNtc = this.docsData.fecha
      this.hasSubfolders = this.docsData.subcarpetas === 'S'
      this.loadDescarga()
    })
  },
  methods: {
    setTitle(title){
      // jspasiuk pido dejar como titulo la categoria, ya q si es muy largo se pisa
      this.$store.dispatch('setMainTitleToPush', this.mainTitle)
    },
    setDocsV3Data(data) {
      this.$store.dispatch('setMainTitleToPush', this.mainTitle)
      this.$store.dispatch('setDocsV3Data', data)
      this.$f7.mainView.loadPage('documentosNivel3')
    },
    downloadFile(file) {
      Helper.downloadFile(file)
    },
    loadDescarga() {
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'text',
        callback: this.loadDescargaSuccess,
        data: {
          idPantalla: 4,
          idAccion: 'InicioNivel2',
          key: this.docsData.key,
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password
        }
      }
      Helper.post(params)
    },
    loadDescargaSuccess(data) {
      if(typeof(data) === 'string') {
        //no es obj es string, parseo a json
        try {
          this.documentsGrid = JSON.parse(data)
        } catch (e) {
          //es txt pero no es json
          this.documentsGrid = data
        }
      } else {
        this.documentsGrid = data
      }

      this.$$.each(this.documentsGrid, function(index, value) {
         value.key = encodeURIComponent(value.key)
      })
    },
  },
  computed: {
    credentials() {
      return this.$store.getters.credentials
    },
    newsGrid() {
      return this.$store.getters.newsGrid
    },
    newsConfig(){
      return this.$store.getters.newsConfig
    },
    mainTitle () {
      return this.$store.getters.mainTitle
    },
    docsData() {
      return this.$store.getters.docsData
    }
  }
}
</script>
<style>
.statusbar-overlay {
  background: black;
}
</style>

<style scoped>
.img-container img {
  width: 60px;
}

.text-container {
  position: absolute;
  left: 30%;
}

.text-container h2 {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}

.text-container p {
  padding: 0;
  margin: 0;
  white-space: normal !important;
  color: #666;
  font-size: 14px;
}

/*Estilo para descargas*/
.list-block{
  /*margin: 15px 0px 0px 0px !important;*/
  /*margin-top: 15px;*/
  margin: 0px;
}
.documents-container .list-block{
  padding: 5px;
}
.item-content{
  padding: 2px 24px;
  padding-right: 0;
}
.item-after img {
	height: 20px;
}
ul::before{
  display: none !important;
}

.list-block ul a{
  color: #000 !important;
}

/* li:after {
  content: '';
  position: absolute;
  left: auto;
  bottom: 0;
  right: 0;
  top: auto;
  height: 1px;
  width: 95%;
  background-color: #c8c7cc;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

list-block li:after {
  content: '';
  position: absolute;
  left: auto;
  bottom: 0;
  right: 0;
  top: auto;
  height: 1px;
  width: 95%;
  background-color: #c8c7cc;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
} */

.subtitle span{
  color: #aaa;
  font-size: 14px;
  white-space: normal;
}

.documents-card-container .card{
   margin: 0px;
}

.attachment-container-div .card-content {
  padding: 1px;
  background-color: #efeff4;
}

.attachment-container-div .card-content-inner {
  background-color: #fff
}

.attachment-container-div ul {
  width: 100%;
  padding: 0;
}

.attachment-container li {
  list-style-type: none;
  border-bottom: 1px solid #efeff4;
}

.attachment-container li:last-child {
  border-bottom: none;
}

.attachments-container span {
  line-height: 50px;
  font-size: 16px;
}

.attachments-container i {
  color: #535355;
  position: absolute;
  right: 10px;
  line-height: 50px;
}
</style>
