<template lang="pug">
f7-page.navbar-through(data-page='mostrarDocumento')
  .novedad-container
    .card
      .card-header
        .img-container
          img(:src='documentsIcon')
        .text-container
          h2
            | {{decodeURIComponent($route.params.documentTitle)}}
          p {{$route.params.documentDate}}
      .card-content
        .card-content-inner
          span#expenseContainer(v-html='expContent')
  .attachment-container-div(v-if='showAttachment')
    .card
      ul
        li(v-for='attach in attachmentsArray')
          .card-content(@click='downloadFile(attach.file)')
            .card-content-inner
              .attachments-container()
                span {{attach.name}}
                i.material-icons attach_file
</template>

<script>
import _ from 'lodash'
import Helper from '../assets/js/helper.js'
import ArrowRight from '../assets/img/icons/arrow-right.png'
import DocumentsIcon from '../../static/icon/home/novedades.png'
export default {
  name: 'mostrarDocumento',
  components: {},
  data() {
    return {
      arrowRight: ArrowRight,
      expContent: '',
      showAttachment: false,
      attachmentsArray: [],
      documentsIcon: DocumentsIcon,
      expense: {
        tituloNtc: 'Titulo Expensa',
        subTipoNtc: '',
        fechNtc: ''
      },
      documents: ''
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.loadDocument()
    })
  },
  methods: {
    loadDocument() {
      let params = {
        url: Helper.URL.GetMain,
        callback: this.loadDocumentSuccess,
        data: {
          idPantalla: 4,
          idAccion: 'Unica',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          idNovedad: this.$route.params.documentId
        }
      }
      Helper.post(params)
    },
    loadDocumentSuccess(data) {
      this.expContent = data
      let self = this
      this.expense = _.find(self.expensesGrid, {
        'idNtc': self.$route.params.expensaId
      });
      this.getAttachment()
      this.$nextTick(function() {
        let el = document.getElementById('expenseContainer').getElementsByTagName("img")
        if (el.length > 0) {
          for (let i = 0; i < el.length; i++) {
            el[i].setAttribute('style', 'width: 100%; height: auto')
          }
        }
      })
    },
    getAttachment() {
        let params = {
          url: Helper.URL.GetMain,
          callback: this.getAttachmentSuccess,
          data: {
            idPantalla: 4,
            idAccion: 'Adjuntos',
            idBarrio: this.credentials.barrio.id,
            idUsuario: this.credentials.user,
            idPassword: this.credentials.password,
            idNovedad: this.$route.params.documentId
          }
      }
      Helper.post(params)
    },
    getAttachmentSuccess(data) {
      let attachments = JSON.parse(data)
      if (attachments && attachments.length > 0) {
        this.showAttachment = true
        attachments.forEach(item => {
          if (item.file1Ntc && item.fileNombre) {
            this.attachmentsArray.push({
              name: item.fileNombre.split("/").pop(),
              file: item.file1Ntc
            })
          }
        })
      }
    },
    downloadFile(file) {
      Helper.downloadFile(file)
    }
  },
  computed: {
    credentials() {
      return this.$store.getters.credentials
    }
  }
}
</script>
<style scoped>
.img-container img {
  width: 60px;
}

.text-container {
  position: absolute;
  left: 20%;
}

.text-container h2 {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}

.text-container p {
  padding: 0;
  margin: 0;
  white-space: normal !important;
  color: #666;
  font-size: 14px;
}

.attachment-container-div .card-content {
  padding: 5px;
  background-color: #efeff4;
}

.attachment-container-div .card-content-inner {
  background-color: #fff
}

.attachment-container-div ul {
  width: 100%;
  padding: 0;
}

.attachment-container li {
  list-style-type: none;
  border-bottom: 1px solid #efeff4;
}

.attachment-container li:last-child {
  border-bottom: none;
}

.attachments-container span {
  line-height: 50px;
  font-size: 16px;
}

.attachments-container i {
  color: #535355;
  position: absolute;
  right: 10px;
  line-height: 50px;
}
</style>
