<template lang="pug">
f7-page#mostrarConsultasAdmin.navbar-through.navbar-button.messages-content(data-page='mostrarConsultasAdmin')
  .messages(v-for='query in arrayQuerys')
    .message(:class="{ 'message-sent': query.tipo !== 'preg', 'message-received': query.tipo === 'preg' }")
      .message-name(v-if='query.derivado ==! 1') {{query.usuario}} {{query.fecha}}
      .message-text(v-html='query.mensaje', :class="{ 'query-derivated': query.derivado === 1}")
      .message-text(v-for='attach in query.adjuntos')
        .attach-container
          .item-content(@click='downloadFile(attach)')
            .item-inner
              .item-input
                i.material-icons attach_file
                span
                  | {{attach.fileNombre.split('/').pop()}}
      //.message-avatar(:style="{ 'background-image': 'url(' + jona + ')'  }")
</template>
<script>
import Helper from '../assets/js/helper'
import {mapGetters, mapActions} from 'vuex'
export default {
  name: 'mostrarConsultasAdmin',
  data(){
    return{
      idQuery: this.$route.params.idQuery,
      arrayQuerys: [],
    }
  },
  components:{
    // toolbar: Toolbar QueryDataAdmin
  },
  computed: {
    ...mapGetters(['credentials','queryDataAdmin'])
  },
  mounted () {
    this.loadQuery()
    this.$eventBus.$on('newQuery2EvtAdmin', this.newQuery2)
  },
  methods:{
    loadQuery(){
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.loadQuerySuccess,
        data: {
          idPantalla: 9,
          idAccion: 'Detalle',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          consulta: this.queryDataAdmin.id_consulta
        }
      }
      Helper.post(params)
    },
    loadQuerySuccess(res){
      if (res) {
        this.arrayQuerys = res
      }
    },
    downloadFile(file){
      Helper.downloadFile(file.file1Ntc)
    },
    newQuery2(){
      this.$store.dispatch('setMainTitleToPush','Responder')
      this.$f7.mainView.loadPage('nuevaConsultaAdmin/' + this.queryDataAdmin.id_consulta + '/MOD/')
    }
  }
}
</script>
<style scoped>
.attach-container i{
  vertical-align: middle;
}
.message-received .message-text {
  padding-left: 15px;
  margin-top: 5px;
}
.message{
  max-width: 90%;
}

</style>
