<template lang="pug">
f7-page#mostrarEncuesta.navbar-through(data-page='mostrarEncuesta')
  .encuesta-container(v-if='showPoll')
    .card
      .card-header
        .img-container
          img(:src='novevadesIcon')
        .text-container
          h2 {{poll.nombre}} {{poll.fecha_inicio}} - {{poll.fecha_fin}}
      #testdiv
      .card-content
        .card-content-inner
          span#pollContainer(v-html='poll.descripcion')
  .questions-container
    .list-block
      ul
        li(v-for='question in pollQuestionsData', :key='question.idPregunta')
          poll-input(v-if='question.tipo_respuesta === "texto"', :data='question', @userAnswerEmit='saveUserAnswer')
          poll-combo(v-if='question.tipo_respuesta === "combo"', :data='question', @userAnswerEmit='saveUserAnswer')
          poll-option(v-if='question.tipo_respuesta === "opcion"', :data='question', @userAnswerEmit='saveUserAnswer')
          poll-option-multiple(v-if='question.tipo_respuesta === "opcion multiple"', :data='question', @userAnswerEmit='saveUserAnswer')
          poll-date(v-if='question.tipo_respuesta === "fecha"', :data='question', @userAnswerEmit='saveUserAnswer')
          poll-attach(v-if='question.tipo_respuesta === "adjunto"', :data='question', @userAnswerEmit='saveUserAnswer')
  a#publishPoll.button.button-big.active.color-green(href='#', @click='publishPoll', :disabled='!pollActive') Enviar respuesta
  .poll-history-container
    .poll-history(v-show='showPollHistory', v-html='pollHistoryHTML')
</template>

<script>
import _ from 'lodash'
import Helper from '../assets/js/helper.js'
import VueScrollTo from 'vue-scrollto'
import ArrowRight from '../assets/img/icons/arrow-right.png'
import NovevadesIcon from '../../static/icon/home/novedades.png'
import PollInput from '../components/polls/PollInput'
import PollCombo from '../components/polls/PollCombo'
import PollOption from '../components/polls/PollOption'
import PollOptionMultiple from '../components/polls/PollOptionMultiple'
import PollDate from '../components/polls/PollDate'
import PollAttach from '../components/polls/PollAttach'
export default {
  name: 'mostrarEncuesta',
  components: {},
  data() {
    return {
      arrowRight: ArrowRight,
      newsContent: '',
      showAttachment: false,
      attachmentsArray: [],
      novevadesIcon: NovevadesIcon,
      poll: {},
      showPoll: false,
      pollQuestions: [],
      pollQuestionsData: null,
      pollAnswer: [],
      userAttachments: [],
      pollHistoryHTML: '',
      showPollHistory: false,
      idPoll: this.$route.params.idPoll,
      pollActive: this.$route.params.isActive === '1'? true : false,
      answerArray: [],
      fileUpload: [],
      attachIndex: -1
    }
  },
  components: {
    pollInput: PollInput,
    pollCombo: PollCombo,
    pollOption: PollOption,
    pollOptionMultiple: PollOptionMultiple,
    pollDate: PollDate,
    pollAttach: PollAttach
  },
  mounted() {
    this.$nextTick(() => {
      this.loadPoll()
    })
  },
  methods: {
    scrollToQuestion (q) {
      let container = document.getElementById('mostrarEncuesta').getElementsByClassName('page-content')[0]
      const options = {
        container: container,
        easing: 'ease-in',
        offset: -100,
        cancelable: false,
        x: false,
        y: true
      }
      VueScrollTo.scrollTo('#question' + q.idPregunta, 1000, options)
    },
    publishPoll() {
      debugger
      this.pollAnswer = []
      this.userAttachments = []
      let valid = true
      let vm = this
      _.forEach(this.pollQuestionsData, (val) => {
        if (val.requerido === '1') {
          let isValid = _.findIndex(vm.answerArray, (a)=> {
            return  a.idPregunta === val.idPregunta
          })
          if(isValid === -1){
            valid = false
            Helper.showMessage('La pregunta ' + val.orden + ' es requerida.', () => {
              vm.scrollToQuestion(val)
            })
            return false
          }
        }
      })
      vm.pollAnswer = []
      if(valid){
        _.forEach(this.answerArray, (a) => {
          let obj = {}
          let arr = []
          obj['idPregunta'] = a.idPregunta
          obj["respuesta"] = a.userAnswer
          if(a.tipo_respuesta === 'opcion multiple'){
            _.forEach(a.userAnswer, (r) => {
              let _obj = {'opcion': r}
              arr.push(_obj)
            })
            obj.respuesta = arr
          }
          if (a.tipo_respuesta === 'adjunto') {
            obj["hasAttach"] = true
            obj["attach"] = [a.userAnswer]
            obj["respuesta"] = ''
          }
          vm.pollAnswer.push(obj)
        })
        this.confirmPublishPoll()
      }
      if(valid){
      }
    },
    confirmPublishPoll () {
        let params = {
          url: Helper.URL.GetMain,
          dataType: 'json',
          callback: this.publishPollSuccess,
          data: {
            idAccion: 'Contestar_encuesta',
            idBarrio: this.credentials.barrio.id,
            idUsuario: this.credentials.user,
            idPantalla: 12,
            idPassword: this.credentials.password,
            idEncuesta: this.$route.params.idPoll,
            preguntas: JSON.stringify(this.pollAnswer)
          }
        }
        let publish = true
        for (let i = 0; i < this.pollAnswer.length; i++) {
          if(this.pollAnswer[i].hasAttach && this.pollAnswer[i].attach.length > 0){
            this.attachIndex = i
            this.initUploadAttach()
            publish = false
            return false
          }
        }
        if(publish){
            Helper.post(params)
            console.log('publico enc')
        }
    },
    initUploadAttach() {
      try {
        let i = this.attachIndex
        Helper.saveFile(this.pollAnswer[i].attach[0].src, this.credentials.barrio.id, this.uploadImageSuccess, this.uploadImageFailed)
      } catch (e) {
        Helper.showMessage('Error subiendo imagen pollnuevo')
      }
    },
    uploadImageSuccess(res) {
      let i = this.attachIndex
      let fileName = this.pollAnswer[i].attach[0].src.split("/").pop()
      let extension = Helper.getFileExtension(fileName);
      if (extension == "") {
        fileName += ".jpg";
      }
      this.pollAnswer
      res.data.response
      // this.fileUpload.push(res.uploadName)
      this.pollAnswer[i].attach.pop()
      this.pollAnswer[i].respuesta = res.data.response
      // this.pollAnswer[i].respuesta = res.uploadName
      this.confirmPublishPoll()
    },
    uploadImageFailed(res) {
      console.log(res)
    },
    publishPollSuccess(res){
      debugger
      Helper.showMessage(res[0].msg)
      if(this.userAttachments.length> 0 ){
        for(let i = 0; i < this.userAttachments.length; i++){
          if(this.userAttachments[i].src !== ''){
            try {
              Helper.saveFile(decodeURIComponent(this.userAttachments[i].src), this.credentials.barrio.id, this.uploadImageSuccess, this.uploadImageFailed)
            } catch (err) {
              alert(err)
              this.uploadImageFailed(err)
            }
          }
        }
        this.getPollHistory()
      }
      else{
        this.getPollHistory()
      }
    },
    getPollHistory(){
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'text',
        callback: this.getPollHistorySuccess,
        data: {
          idAccion: 'Historial_respuestas',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPantalla: 12,
          idPassword: this.credentials.password,
          idEncuesta: this.$route.params.idPoll
        }
      }
      Helper.post(params)
    },
    getPollHistorySuccess(res){
      if(res !==''){
        this.showPollHistory = true
        this. pollHistoryHTML = Helper.decodeHTML(JSON.parse(res)[0].html)
      }
    },
    loadPoll() {
      let self = this
      let tmp
      tmp = _.find(this.pollsArray, {
        'idEncuesta': self.$route.params.idPoll
      })
      if (tmp) {
        this.poll.completada = tmp.completada
        this.poll.descripcion = Helper.decodeHTML(tmp.descripcion)
        this.poll.fecha_completa = tmp.fecha_completa
        this.poll.fecha_creacion = tmp.fecha_creacion
        this.poll.fecha_fin = tmp.fecha_fin
        this.poll.fecha_inicio = tmp.fecha_inicio
        this.poll.idEncuesta = tmp.idEncuesta
        this.poll.id_usuario_creacion = tmp.id_usuario_creacion
        this.poll.nombre = tmp.nombre
        this.poll.puedeIngresarEncuesta = tmp.puedeIngresarEncuesta
        this.poll.sn_activa = tmp.sn_activa
        this.poll.sn_notifica_admin = tmp.sn_notifica_admin
        this.poll.sn_notifica_usuarios = tmp.sn_notifica_usuarios
        let el = document.createElement('span')
        el.innerHTML = this.poll.descripcion
        let links = el.getElementsByTagName('a')
          if (links.length > 0) {
            _.forEach(links, l => {
              l.classList.add('my-a-click')
            })
          }
        this.showPoll = true
        this.$nextTick(()=>{
          this.Dom7('.my-a-click').on('click tap', this.triggerDownloadFile)
        })
        this.poll.descripcion = el.innerHTML
        this.loadPollQuestions()
      }
    },
    triggerDownloadFile (e) {
      Helper.downloadFile(e.target.href)
    },
    loadPollQuestions() {
      let params = {
        url: Helper.URL.GetMain,
        callback: this.loadPollQuestionsSuccess,
        data: {
          idAccion: 'Detalle_encuesta',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPantalla: 12,
          idPassword: this.credentials.password,
          idEncuesta: this.$route.params.idPoll
        }
      }
      Helper.post(params)
    },
    loadPollQuestionsSuccess(res) {
      this.getPollHistory()
      let questions = JSON.parse(res)[0].preguntas
      this.pollQuestionsData = _.sortBy(questions, [(q) => { return parseInt(q.orden) }])
    },
    saveUserAnswer (answer) {
      let pos = -1
      // array vacio, push
      if(this.answerArray.length !== 0){
        // busco si rta existe en arrRta
        let exist = _.findIndex(this.answerArray, (a) => {
            return answer.idPregunta === a.idPregunta
            })
        // si existe updateo sino, push
        if(exist !== -1){
          this.answerArray[exist] = answer
        } else {
          this.answerArray.push(answer)
        }
      } else{
        this.answerArray.push(answer)
      }
    },
    getAttachment() {
      let params = {
        url: Helper.URL.GetMain,
        callback: this.getAttachmentSuccess,
        data: {
          idAccion: 'Adjuntos',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPantalla: 1,
          idPassword: this.credentials.password,
          idNovedad: this.$route.params.novedadId
        }
      }
      Helper.post(params)
    },
    getAttachmentSuccess(data) {
      let attachments
      try {
        attachments = JSON.parse(data)
      } catch (e) {
        //no hay attach o no son en fromato JSON
      }
      if (attachments && attachments.length > 0) {
        this.showAttachment = true
        for (let i = 0; i < attachments.length; i++) {
          if (attachments[i].file1Ntc !== '' && attachments[i].fileNombre !== '') {
            this.attachmentsArray.push({
              name: attachments[i].fileNombre.split("/").pop(),
              file: attachments[i].file1Ntc
            })
          }
        }
      }
    },
  },
  computed: {
    credentials() {
      return this.$store.getters.credentials
    },
    pollsArray() {
      return this.$store.getters.pollsArray
    }
  }
}
</script>
<style>
.title1 {
  padding-top: 1.33em;
  padding-left: 15px;
  font-size: 14px;
}

.attach1 {
  height: 100px !important;
}

</style>
<style scoped>
#publishPoll {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.img-container img {
  width: 60px;
}

.text-container {
  position: absolute;
  left: 20%;
}

.text-container h2 {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}

.text-container p {
  padding: 0;
  margin: 0;
  white-space: normal !important;
  color: #666;
  font-size: 14px;
}

.questions-container .list-block ul {
  background: inherit;
}
</style>
