<template lang="pug">
f7-page#myReservations.navbar-through(data-page='myReservations',  toolbar-fixed)
  //- toolbar
  .reservas-container
    .list-block
      p.no-data-message(v-if='showNoData') No hay datos disponibles
      ul(v-if='!showNoData')
        f7-searchbar(cancel-link='Cancel', placeholder='Buscar mis reservas..', :clear-button='true')
        li.item-content(v-for='reservation in arrayReservations', :key='reservation.idReserva', v-on:click='showReservation(reservation)')
          .item-inner
            .item-title
              table
                tr
                  td
                    // img(:src='iconSrc')
                  td
                    .title
                      span.name 
                        | {{reservation.nombre}} {{' '}}
                      span.detail
                        | {{reservation.detail}}
                    .subtitle
                      span {{reservation.fecha + " | " + reservation.turno }}
                    .subtitle2
                      span.status(:class="{ approved: reservation.estado === 'APROBADA', pending: reservation.estado === 'PENDIENTE', canceled: reservation.estado === 'CANCELADA' }") {{reservation.estado}}
            .item-after
              i.material-icons keyboard_arrow_right
        //- list-element(v-for='reservation in arrayReservations',
        //- :key='reservation.idReserva'
        //- :title='reservation.nombre',
        //- :status='reservation.fecha + " | " + reservation.turno + " - " + reservation.estado',
        //- v-on:clicked='showReservation(reservation)')
</template>

<script>
import Helper from '../assets/js/helper'
import ListElement from '../components/list-element'
// import Toolbar from '../components/toolbar'
export default {
  name: 'myReservations',
  data(){
    return{
      arrayReservations: [],
      searchText: 'Reservas',
      helper : Helper,
      showNoData: false
    }
  },
  components:{
    listElement: ListElement
    // toolbar: Toolbar
  },
  computed: {
    credentials(){
      return this.$store.getters.credentials
    }
  },
  mounted(){
    this.loadMyReservations()
  },
  methods:{
    loadMyReservations(){
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.loadMyReservationsSuccess,
        data: {
          idPantalla: 7,
          idAccion: 'Main',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password
        }
      }
      Helper.post(params)
    },
    loadMyReservationsSuccess(res){
      if (res) {
        res = typeof(res) === 'string' ? JSON.parse(res) : res
        // let mockStatus = 0
        // res.forEach(r => {
        //   mockStatus = mockStatus > 2 ? 0 : mockStatus
        //   let tmp = r.nombre.split('-')
        //   r.nombre = tmp[0]
        //   r.detail = tmp[1]
        //   switch (mockStatus) {
        //     case 0:
        //       r.estado = 'Aprobada'
        //       break;
        //     case 1:
        //       r.estado = 'Pendiente'
        //       break;
        //     case 2:
        //       r.estado = 'Cancelada'
        //       break;
        //     default:
        //       break;
        //   }
        //   mockStatus++
        // });
        this.arrayReservations = res;
        this.showNoData = res.length == 0;
      }
    },
    showReservation(reservation){
      this.$store.dispatch('setMainTitleToPush', reservation.nombre)
      this.$store.dispatch('setMyReservationData', reservation)
      this.$f7.mainView.loadPage('showReservation')
    }
  }
}
</script>

<style scoped>
.title .name, .status {
  font-weight: 600;
}
.subtitle, .subtitle2 {
  font-size: 14px;
}
.approved{
  color: green;
}
.pending{
  color: orange;
}
.canceled{
  color: red;
}
</style>
