<template lang="pug">
f7-page#newCategory.navbar-through(data-page='newCategory', toolbar-fixed='toolbar-fixed')
  .new-category-container
    .list-block
      ul
        li
          .item-content
            .item-inner
              .item-title.label Nombre
              .item-input
                input.text-align-right(type='text', placeholder='Ingrese nombre de categoría', v-model='categoryName')
    br
    a.button.button-big.active.button-general-style.color-green(href='#', @click='newCategory') Guardar categoria
</template>

<script>

import Helper from '../assets/js/helper'
export default {
  name: 'newTopic',
  data(){
    return{
      categoryName: ''
    }
  },
  components: {
    
  },
  computed:{
    credentials(){
      return this.$store.getters.credentials
    },
    forumData(){
      return this.$store.getters.forumData
    }
  },
  mounted(){
  },
  methods: {
    newCategory(){
      if(this.categoryName === ''){
        Helper.showMessage('No puede guardar una categoría sin título.')
        return false
      }
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.newCategorySuccess,
        data: {
          idPantalla: 11,
          idAccion: 'Nueva_categoria',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          idForo: this.forumData.idForo,
          txtNombre: this.categoryName
        }
      }
      Helper.post(params)
    },
    newCategorySuccess(res){
      if(res){
        res = typeof(res) === 'string' ? JSON.parse(res) : res
        Helper.confirm('Categoría guardada satisfactoriamente.', ()=>{
          this.$store.dispatch('popMainTitle')
          this.$f7.mainView.loadPage({url:'showForum', force: true})
        })
      }
    }
  }
}
</script>

<style scoped>
</style>
