<template lang="pug">
f7-page#newInfraction.navbar-through(data-page='newInfraction', toolbar-fixed)
  .new-infraction-container
    .list-block
      form
        ul
          li
            .item-content
              .item-inner
                .item-title.label Titulo
                .item-input
                  input.text-align-right(type='text', placeholder='Titulo', v-model='infraction.title')
          li
            .item-content
              .item-inner
                .item-title.label Lote
                .item-input
                  a.item-link.smart-select(href='#', data-open-in="picker", data-back-on-select="true")
                    .custom-selectbox 
                      select(v-model='infraction.lot')
                        option(v-for='lot in arrayLots', :value='lot.value') {{lot.desc}}
                      .item-select-text {{infraction.lot}}
          li.align-top
            .item-content
              .item-inner
                .item-title.label Descripcion
                .item-input
                  input.text-align-right(type='text', v-model='infraction.description', placeholder='Descripcion')
      add-attach(v-bind:multiple='false', v-on:attach='addAttach', v-on:remove='removeAttach')
      br
      .buttons-container
        a.button.button-big.active.button-general-style.color-green(@click='saveInfraction') Guardar
</template>

<script>
import Helper from '../assets/js/helper'
// import Toolbar from '../components/toolbar'
import AddAttach from '../components/addAttach'
export default {
  name: 'newInfraction',
  data(){
    return{
      infraction:{
        title: '',
        lot: 'Seleccionar',
        description: '',
        attach:[]
      },
      arrayLots: [],
      fileUpload: [],
      infractionAttach: [],
      currentAttach: null
    }
  },
  components:{
    // toolbar: Toolbar,
    addAttach: AddAttach
  },
  computed: {
    credentials(){
      return this.$store.getters.credentials
    },
    showBank(){
      return this.payment.type.desc.toLowerCase() === 'transferencia' ? true : false
    }
  },
  mounted(){
    this.getLots()
  },
  methods:{
    addAttach (res) {
      this.infractionAttach = res
    },
    removeAttach (res) {
      this.infractionAttach = res
    },
    initUploadAttach(){
      this.$f7.showPreloader('Subiendo imagen...')
      this.currentAttach = this.infractionAttach.pop()
      try {
        Helper.saveFile(this.currentAttach.src, this.credentials.barrio.id, this.uploadImageSuccess, this.uploadImageFailed)
      } catch (e) {
        Helper.showMessage('Error subiendo imagen')
      }
    },
    uploadImageSuccess(res){
      let fileName = this.currentAttach.src.split("/").pop()
      let extension = Helper.getFileExtension(fileName);
      if (extension == "") {
          fileName += ".jpg";
      }
      this.fileUpload.push(res.uploadName +',' + fileName)
      if(this.infractionAttach.length == 0){
        this.$f7.hidePreloader()
        this.saveInfraction()
      }
      else{
        this.initUploadAttach()
      }
    },
    uploadImageFailed(res){
      console.log(res)
    },
    getLots() {
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.getLotsSuccess,
        data: {
          idPantalla: 2,
          idAccion: 'Receptores',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password
        }
      }
      Helper.post(params)
    },
    getLotsSuccess (res) {
      this.arrayLots = res
    },
    saveInfraction(){
      if(this.infraction.title === '') {
        Helper.showMessage('Debe escribir un titulo')
        return
      } else if (this.infraction.lot === '' || this.infraction.lot === 'Seleccionar') {
        Helper.showMessage('Debe seleccionar un lote')
        return
      }
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.saveInfractionSuccess,
        data: {
          idPantalla: 19,
          idAccion: 'Nueva',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          titulo: this.infraction.title,
          lote: this.infraction.lot,
          desc: this.infraction.description,
          adjunto: this.fileUpload[0]
        }
      }
      console.log('tst infraction attach')
      this.infractionAttach.length > 0 ? this.initUploadAttach() : Helper.post(params)
    },
    saveInfractionSuccess (res) {
      Helper.showMessage(res)
      this.$f7.mainView.loadPage('home')
    }
  }
}
</script>

<style scoped>
.text-align-right{
  text-align: right;
}
.gray-color{
  background-color: #333333;
  border: none;
}
.transaction-container {
  width: 60% !important;
}
.buttons-container {
  width: 100%;
}
.buttons-container a{
  width: 100%;
  height: 50px;
}
.required {
  color: red;
}
</style>
