<template lang="pug">
f7-page.navbar-through(data-page='newIngesysGuest', toolbar-fixed)
  .new-ingesys-guest-container
    .list-block
      form
        ul
          li
            .item-content
              .item-inner
                .item-title.label Nombre
                .item-input
                  input.text-align-right(type='text', placeholder='Nombre', v-model='guest.name')
          li
            .item-content
              .item-inner
                .item-title.label Apellido
                .item-input
                  input.text-align-right(type='text', placeholder='Apellido', v-model='guest.lastname')
          li
            .item-content
              .item-inner(v-if='!isUruguay')
                .item-title.label DNI
                .item-input
                  input.text-align-right(type='text', placeholder='Dni', v-model='guest.dni')
              .item-inner(v-else)
                .item-title.label Cedula
                .item-input
                  input.text-align-right(type='text', placeholder='Cedula', v-model='guest.dni')
          li
            .item-content
              .item-inner
                .item-title.label Duracion
                .item-input
                  input.text-align-right(type='number', placeholder='Duracion (en horas)', v-model='guest.duration')
          
          li
            a.item-link.smart-select(href='#', data-open-in="picker")
              select(name='day', v-model='guest.day')
                option(value="-1" disabled) Seleccionar
                option(value="0") HOY
                option(value="1") MAÑANA
                option(value="2") PASADO MAÑANA
              .item-content
                .item-inner
                  .item-title Dia:
      br
      .buttons-container
        a.button.button-big.active.button-general-style.color-green(@click='saveGuest') Guardar
</template>

<script>
import Helper from '../assets/js/helper'
import { mapGetters } from 'vuex';
// import Toolbar from '../components/toolbar'
export default {
  name: 'newIngesysGuest',
  data(){
    return{
      guest: {
        name: '',
        lastname: '',
        dni: '',
        duration: '',
        day: '0'
      }
    }
  },
  components:{
  },
  computed: {
    ...mapGetters(['credentials'])
  },
  mounted () {
  },
  methods:{
    saveGuest(){
      // if(this.infraction.title === '') {
      //   Helper.showMessage('Debe escribir un titulo')
      //   return
      // } else if (this.infraction.lot === '' || this.infraction.lot === 'Seleccionar') {
      //   Helper.showMessage('Debe seleccionar un lote')
      //   return
      // }
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.saveGuestSuccess,
        data: {
          idPantalla: 23,
          idAccion: 'nuevo',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          name: this.guest.name,
          lastname: this.guest.lastname,
          dni: this.guest.dni,
          duracion: this.guest.duration,
          dia: this.guest.day

        }
      }
      Helper.post(params)
    },
    saveGuestSuccess (res) {
      Helper.showMessage(res)
      this.$f7.mainView.loadPage('home')
    }
  }
}
</script>

<style scoped>
.text-align-right{
  text-align: right;
}
.gray-color{
  background-color: #333333;
  border: none;
}
.transaction-container {
  width: 60% !important;
}
.buttons-container {
  width: 100%;
}
.buttons-container a{
  width: 100%;
  height: 50px;
}
.required {
  color: red;
}
</style>
