<template lang="pug">
f7-page#newTopic.navbar-through(data-page='newTopic', toolbar-fixed='toolbar-fixed')
  .new-topic-container
    .list-block
      ul
        li
          .item-content
            .item-inner
              .item-title.label Nombre
              .item-input
                input.text-align-right(type='text', placeholder='Ingrese nombre del tema', v-model='newTopicData.name')
        li
          .item-content
            .item-inner
              .item-title.label Categoria
              .item-input
                select(dir='rtl', v-model='newTopicData.category')
                  option(disabled, value='') --Seleccione--
                  option(v-for='category in categoriesArray', :value='category.idCategoria') {{category.nombre}}
        li
          .item-content
            .item-inner
              .item-input
                textarea(placeholder='Ingrese descripción del tema', v-model='newTopicData.description')
    .list-block
      .item-content
      add-attach(v-bind:multiple='false', v-on:attach='addAttach', v-on:remove='removeAttach')
    br
    a.button.button-big.active.button-general-style.color-green(href='#', @click='addNewTopic') Guardar Tema
    br
    a.button.button-big.active.button-general-style.color-red(href='newCategory', @click='setTitle("Agregar Nueva Categoría")') Agregar Nueva Categoría
</template>

<script>

import Helper from '../assets/js/helper'
import AddAttach from '../components/addAttach'
export default {
  name: 'newTopic',
  data(){
    return{
      newTopicData: {
        name: '',
        category: '',
        description: '',
        attach: []
      },
      currentAttach: [],
      fileUpload: [],
      categoriesArray: []
    }
  },
  components: {
    addAttach: AddAttach
  },
  computed:{
    credentials(){
      return this.$store.getters.credentials
    },
    forumData(){
      return this.$store.getters.forumData
    }
  },
  mounted(){
    this.getCategories()
  },
  methods: {
    getCommonDate(date){
      return Helper.Dates.commonFormat(date)
    },
    setTitle(title){
      this.$store.dispatch('setMainTitleToPush', title)
    },
    getCategories(){
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.getCategoriesSuccess,
        data: {
          idPantalla: 11,
          idAccion: 'Categorias',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          idForo: this.forumData.idForo
        }
      }
      Helper.post(params)
    },
    getCategoriesSuccess(res){
      if(res){
        res = typeof(res) === 'string' ? JSON.parse(res) : res
        this.categoriesArray = res
      }
    },
    addAttach(res){
      this.newTopicData.attach = res
    },
    removeAttach(res){
      this.newTopicData.attach = res
    },
    addNewTopic(){
      if (this.newTopicData.description === '') {
        Helper.showMessage('No puede guardar un tema sin descripción')
        return false
      }
      if (this.newTopicData.name === '') {
        Helper.showMessage('No puede guardar un tema sin título')
        return false
      }
      if (this.newTopicData.category === '') {
        Helper.showMessage('No puede guardar un tema sin categoría')
        return false
      }
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.addNewTopicSuccess,
        data: {
          idPantalla: 11,
          idAccion: 'Nuevo_tema',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          idForo: this.forumData.idForo,
          txtNombre: this.newTopicData.name,
          txtMensaje: this.newTopicData.description,
          idCategoria: this.newTopicData.category,
          "adjuntos[]": this.fileUpload
        }
      }
      this.newTopicData.attach.length > 0 ? this.initUploadAttach() : Helper.post(params)
    },
    addNewTopicSuccess(res){
      if(res){
        res = typeof(res) === 'string' ? JSON.parse(res) : res
        Helper.confirm('Tema guardado satisfactoriamente.', ()=>{
          this.$store.dispatch('popMainTitle')
          this.$f7.mainView.loadPage({url:'showForum', force: true})
        })
      }
      console.log(res)
    },
    initUploadAttach(){
      this.currentAttach = this.newTopicData.attach.pop()
      try {
        Helper.saveFile(this.currentAttach.src, this.credentials.barrio.id, this.uploadImageSuccess, this.uploadImageFailed)
      } catch (e) {
        Helper.showMessage('Error subiendo imagen')
      }
    },
    uploadImageSuccess(res){
      let fileName = this.currentAttach.src.split("/").pop()
      let extension = Helper.getFileExtension(fileName);
      if (extension == "") {
          fileName += ".jpg";
      }
      this.fileUpload.push(res.uploadName +',' + fileName)
      if(this.newTopicData.attach.length == 0){
        this.addNewTopic()
      }
      else{
        this.initUploadAttach()
      }
    },
    uploadImageFailed(res){
      console.log(res)
    }
  }
}
</script>

<style scoped>
</style>
