<template lang="pug">
f7-page#novedades-ayres.navbar-through(data-page='novedades-ayres')
  .grid-container
    .list-block.sercheable-list
      p.no-data-message(v-if='showNoData') No hay datos disponibles
      ul(v-if='!showNoData')
        f7-searchbar(cancel-link='Cancel', placeholder='Buscar Novedades...', :clear-button='true')
        //- f7-link(:href="'/mostrarNovedad/' + item.idNtc", v-for='item in newsGrid', :key='item.idNtc', @click='navbarTitle(item.idNtc)')
        f7-link(v-for='item in newsGrid', :key='item.idNtc', @click='showNews(item)')
          li.item-content
            .item-media
            .item-inner
              .item-title {{item.tituloNtc}}
                .subtitle
                  span {{item.fechNtc}} {{item.subTipoNtc}}
              .item-after
                img(:src='arrowRight')
</template>

<script>
import _ from 'lodash'
import Helper from '../assets/js/helper.js'
import ArrowRight from '../assets/img/icons/arrow-right.png'
import {mapGetters, mapActions} from 'vuex'
export default {
	name: 'novedades',
	components: {
	},
	data() {
		return {
			arrowRight: ArrowRight,
      novedadGrid: [],
      showNoData: false
		}
	},
	mounted() {
		this.$nextTick(() => {
			this.$f7.params.swipePanel = 'left'
			this.loadNovedades()
      this.searchbarInit()
		})
	},
	methods: {
    ...mapActions(['setNewsData', 'setMainTitleToPush']),
    searchbarInit(){
      this.$f7.searchbar('.searchbar', {
        searchList: '.sercheable-list',
        searchIn: '.item-title'
      })
    },
    showNews(news) {
      // jspasiuk pido dejar como titulo la categoria, ya q si es muy largo se pisa
      this.$store.dispatch('setMainTitleToPush', this.mainTitle)
      this.setNewsData(news)
      this.$f7.mainView.loadPage('show-news-ayres')
    },
		loadNovedades() {
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.loadNovedadesSuccess,
        data: {
          idPantalla: 2,
          idAccion: 'Inicio',
          // idBarrio: this.credentials.barrio.id,
          // idUsuario: this.credentials.user,
          // idPassword: this.credentials.password
          idBarrio: '1729',
          idUsuario: 'helpdesk',
          idPassword: 'curupaesde1'
        }
      }
      Helper.post(params)
		},
    loadNovedadesSuccess(data){
      this.showNoData = data.length == 0;
      
      for(let i = 0; i< data.length; i++){
        data[i].fechNtc = Helper.convertDate('dd/mm/yyyy', data[i].fechNtc)
      }
      this.$store.dispatch('setNewsGrid', data)
    }
	},
	computed: {
    ...mapGetters(['credentials', 'newsGrid', 'mainTitle'])
	}
}
</script>


<style scoped>
#novedades{
  /*margin-top: 8px;*/
}

.list-block{
  /*margin: 15px 0px 0px 0px !important;*/
  /*margin-top: 15px;*/
  margin: 0px;
}
.item-content{
  padding: 2px 24px;
  padding-right: 0;
}
.item-after img {
	height: 20px;
}

ul::before{
  display: none !important;
}

.list-block ul a{
  color: #000 !important;
}

/* li:after {
  content: '';
  position: absolute;
  left: auto;
  bottom: 0;
  right: 0;
  top: auto;
  height: 1px;
  width: 95%;
  background-color: #c8c7cc;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
} */

/*li>a>li:first-child{
   color:red !important;
}​*/

/* list-block li:after {
  content: '';
  position: absolute;
  left: auto;
  bottom: 0;
  right: 0;
  top: auto;
  height: 1px;
  width: 95%;
  background-color: #c8c7cc;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
} */

.subtitle span{
  color: #aaa;
  font-size: 14px;
  white-space: normal;
}
</style>
