<template lang="pug">
.page.navbar-through#novedades(data-page='novedades')
  //f7-page#novedades.navbar-through(data-page='novedades', toolbar-fixed)
  //- toolbar(:showButton='isAdmin',
  //- :text='"Redactar " + adminButtonText',
  //- title='Paso 1: Redactar',
  //- :previousTitle='currentTitle',
  //- v-show='pageRender',
  //- v-on:btnAdminClick='btnAdmin',
  //- @btnSelectAllClick='markAsRead')
  .page-content(:style='{"padding-bottom" : toolbarHeight + "px"}')
    .grid-container
      .list-block.sercheable-list
        ul
          f7-searchbar(cancel-link='Cancel', placeholder='Buscar novedades...', :clear-button='true', v-if='!shownNoData')
          // f7-link(:href="'mostrarNovedad/' + item.idNtc + '/' + encodeURIComponent(item.tituloNtc) +'/' + encodeURIComponent(item.fechNtc) + '/'+ item.subTipoNtc +'/' ")
          li.item-content(v-for='item in newsGrid', :key='item.idNtc', ref='newsList')
            .item-media(@click.prevent='showNews(item)')
              li.select-all(v-show='selectAll.showCheckbox')
                label.label-checkbox.item-content.select-all-label
                  input(type='checkbox')
                  .item-media
                    i.icon.icon-form-checkbox
            .item-inner( @click='showNews(item)')
              .item-title
                .header-container
                  span {{item.subTipoNtc}}
                  span.date {{item.fechNtc}}
                .title-container
                  span.title-span(:class='{ "not-read": !item.leido}') {{item.tituloNtc}}
                .subtitle
                  span {{decode(item.mensaje)}}
              .item-after(v-show='false')
                img(:src='arrowRight')
        p(v-if='shownNoData')
          | No hay datos disponibles
</template>
<script>
import _ from 'lodash'
// import Toolbar from '../components/toolbar.vue'
import Helper from '../assets/js/helper.js'
import ArrowRight from '../assets/img/icons/arrow-right.png'
import {mapGetters, mapActions} from 'vuex'
export default {
  name: 'novedades',
  data() {
    return {
      arrowRight: ArrowRight,
      novedadGrid: [],
      spanText: '',
      newsGrid: [],
      shownNoData: false,
      decode: Helper.decodeHTML
    }
  },
  components:{
    // toolbar: Toolbar
  },
  mounted() {
    this.$nextTick(() => {
      this.$f7.params.swipePanel = 'left'
      this.loadNovedades()
      this.searchbarInit()
      if(this.isAdmin) {
        document.getElementById('novedades').style.paddingBottom = '50px'
      }
      this.$eventBus.$on('newNewsEvt', this.newNews)
    })
  },
  methods: {
    ...mapActions(['setSelectAll', 'toggleSelectedItem', 'setShowInfo', 'setNewsData']),
    newNews () {
      let str = this.$f7.mainView.activePage.url.replace(/\//g,'')
      let currentPage = str.charAt(0).toUpperCase() + str.slice(1)
      let to = 'redactar' + currentPage
      this.$store.dispatch('setMainTitleToPush', 'Redactar Novedad',)
      this.$f7.mainView.loadPage(to)
    },
    showNews (news) {
      if (this.selectAll.showCheckbox) {
        let el = event.currentTarget.parentElement.getElementsByTagName('input')[0]
        el.checked ? el.checked = false : el.checked = true
        this.toggleSelectedItem(news.idNtc)
      } else {
        // jspasiuk pido dejar como titulo la categoria, ya q si es muy largo se pisa
        this.$store.dispatch('setMainTitleToPush', this.mainTitle)
        
        this.setNewsData(news)
        this.$f7.mainView.loadPage('mostrarNovedad')
      }
    },
    searchbarInit(){
      this.$f7.searchbar('.searchbar', {
        searchList: '.sercheable-list',
        searchIn: '.item-title'
      })
    },
    loadNovedades() {
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.loadNovedadesSuccess,
        data: {
          idPantalla: 2,
          idAccion: 'Inicio',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password
        }
      }
      Helper.post(params)
    },
    loadNovedadesSuccess(data) {
      this.shownNoData = data.length === 0
      for(let i = 0; i< data.length; i++) {
        data[i].fechNtc = Helper.convertDate('dd/mm/yyyy', data[i].fechNtc)
      }
      this.newsGrid = data
      this.$nextTick(() => {
        this.setSelectAll({
          show: true,
          listRef: this.$refs.newsList,
          items: data,
          selectedItems: [],
          method: '',
          idPantalla: 2,
          showCheckbox: false,
          callback: this.loadNovedades,
          btnText: 'Marcar como leidos',
          btnIcon: 'done',
          currentPage: 'Novedades'
        })
      })
    },
    markAsRead () {
      console.log('read')
    }
  },
  computed: {
    ...mapGetters(['credentials', 'isAdmin', 'mainTitle', 'selectAll', 'toolbarHeight'])
  }
}

</script>
<style scoped>

.list-block{
  /*margin: 15px 0px 0px 0px !important;*/
  /*margin-top: 15px;*/
  margin: 0px;
}
.item-title {
  font-size: 0.9em;
  white-space: normal;
  width: 100%;
}
.not-read {
  font-weight: 600;
}

.item-content{
  padding: 2px 5px;
  padding-right: 0;
}
.item-after img {
  height: 20px;
}

ul::before{
  display: none !important;
}

.list-block ul a{
  color: #000 !important;
}

.header-container{
  font-size: 12px;
  color: #aaa;
}
.subtitle span{
  color: #aaa;
  font-size: 14px;
  white-space: normal;
}
span.date {
  float: right;
}
.title-container {
  font-size: 22px;
}
</style>
