<template lang="pug">
f7-page#nuevaConsulta.navbar-through(data-page='nuevaConsulta')
  .nueva-consulta-container
    .list-block(v-if='query.queryType === "NEW"')
      ul
        li.query-type
          .item-content
            .item-inner
              span(style='width: 100%;') Enviar a:
              .item-input
                a.item-link.smart-select(href='#', data-open-in="picker", data-back-on-select="true")
                  .custom-selectbox 
                    select(name='', v-model='query.queryTo.value' @change='setQueryTo', ref='selQueryTo')
                      option(v-for='type in arrayQueryType', :value='type.idGrupo') {{type.nombreGrupo}}
                    .item-select-text {{query.queryTo.desc}}
        li
          .item-content
            .item-inner
              .item-input
                input(type='text', placeholder='Asunto', v-model='query.title')
        li.align-top
          .item-content
            .item-inner
              .item-input
                textarea(placeholder='Detalle de la consulta', :rows='30', v-model='query.text')
    .list-block(v-else)
      ul
        li.align-top
          .item-content
            .item-inner
              .item-input
                textarea(placeholder='Detalle de la consulta', :rows='30', v-model='query.text')
    .content-block
    .list-block
      ul
        li.align-top.attach-file-block(@click='attachFile')
          .item-content
            .item-inner
              .item-input
                a#btnAttachFile()
                  i.material-icons attach_file
                  | Agregar adjunto
        li.align-top.show-attach-file-block(v-for='attach in query.file' v-show='showAttachment')
          .item-content
            .item-inner
              .item-input
                .attach-img-container#attachImgContainer
                span
                  | {{attach.name}}
                i.material-icons(@click='removeAttach(attach)') clear
    a.button.button-big.active.color-green#queryPublish(href='#', @click='publishQuery') Enviar consulta
</template>

<script>
import Helper from '../assets/js/helper'
export default {
  name: 'nuevaConsulta',
  data(){
    return{
      query:{
        id: this.$route.params.idQuery,
        title: '',
        text: '',
        queryTo: {
          value: '',
          desc: 'Seleccione'
        },
        queryType: this.$route.params.queryType,
        file: [],
        fileUpload: []
      },
      arrayQueryType: [],
      showAttachment: false
    }
  },
  components:{
  },
  computed: {
    credentials(){
      return this.$store.getters.credentials
    }
  },
  mounted(){
    this.loadQueryTypes()
  },
  methods:{
    setQueryTo () {
      this.query.queryTo.desc = this.$refs.selQueryTo.selectedOptions[0].text 
    },
    attachFile(){
      Helper.attachFile(this.attachFileSuccess)
    },
    attachFileSuccess(data){
      this.showAttachment = true
      this.$nextTick(function() {
        this.query.file.push({name: data.split("/").pop() , src: encodeURIComponent(data)})
        let image = document.createElement("img")
        let imageParent = document.getElementById("attachImgContainer")
        image.style.width = '45px'
        image.style.height = '30px'
        image.src = data
        imageParent.appendChild(image)
      })
    },
    removeAttach(attach){
      for(let i = 0; i < this.query.file.length; i++){
        if(this.query.file[i].name === attach.name && this.query.file[i].src === attach.src ){
          this.query.file.splice(i, 1)
        }
      }
    },
    loadQueryTypes(){
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.loadQueryTypesSuccess,
        data: {
          idPantalla: 9,
          idAccion: 'Tipos',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password
        }
      }
      Helper.post(params)
    },
    loadQueryTypesSuccess(res){
      if(res){
        this.arrayQueryType = res
      }
    },
    doUploadImg(file){
      let self = this
      Helper.saveFile(decodeURIComponent(file.src), this.credentials.barrio.id, function(data){
        let fileName = decodeURIComponent(file.src).split("/").pop()
        let extension = Helper.getFileExtension(fileName);
        if (extension == "") {
            fileName += ".jpg";
        }
        self.query.fileUpload.push(data.uploadName +',' + fileName)
        self.publishQuery()
      }, function(err){
        Helper.showMessage(err)
      })
    },
    publishQuery(){
      let params
      if(this.query.title === '' && this.query.queryType === 'NEW') Helper.showMessage('No puede enviar una consulta sin asunto')
      else if(this.query.queryTo.value === '' && this.query.queryType === 'NEW')  Helper.showMessage('No puede enviar una consulta sin destinatario')
      else if(this.query.text === '')  Helper.showMessage('No puede enviar una consulta sin mensaje')
      else{
        let params
        if(this.query.file.length > 0 || this.query.fileUpload.length > 0){
            if(this.query.file.length > 0){
              try {
                this.doUploadImg(this.query.file.pop())
              } catch (e) {
                console.log('error calling helper')
                console.log(e)
              }
            }
            else {
              if(this.query.queryType === 'NEW'){
                params = {
                  url: Helper.URL.EnviarConsultas,
                  dataType: 'json',
                  callback: this.publishQuerySuccess,
                  data: {
                    tipo: this.query.queryType,
                    idBarrio: this.credentials.barrio.id,
                    idUsuario: this.credentials.user,
                    idPassword: this.credentials.password,
                    mensaje: this.query.text,
                    asunto: this.query.title,
                    grupo: this.query.queryTo.value,
                    'adjunto': this.query.fileUpload
                  }
                }
              }
              else{
                params = {
                  url: Helper.URL.EnviarConsultas,
                  dataType: 'json',
                  callback: this.publishQuerySuccess,
                  data: {
                    tipo: this.query.queryType,
                    consulta: this.query.id,
                    idBarrio: this.credentials.barrio.id,
                    idUsuario: this.credentials.user,
                    idPassword: this.credentials.password,
                    mensaje: this.query.text,
                    'adjunto': this.query.fileUpload
                  }
                }
              }
              this.query.fileUpload = []
              Helper.post(params)
            }
        }
        else{
          if(this.query.queryType === 'NEW'){
            params = {
              url: Helper.URL.EnviarConsultas,
              dataType: 'json',
              callback: this.publishQuerySuccess,
              data: {
                tipo: this.query.queryType,
                idBarrio: this.credentials.barrio.id,
                idUsuario: this.credentials.user,
                idPassword: this.credentials.password,
                mensaje: this.query.text,
                asunto: this.query.title,
                grupo: this.query.queryTo.value,
                'adjunto[]': []
              }
            }
          }
          else{
            params = {
              url: Helper.URL.EnviarConsultas,
              dataType: 'json',
              callback: this.publishQuerySuccess,
              data: {
                tipo: this.query.queryType,
                consulta: this.query.id,
                idBarrio: this.credentials.barrio.id,
                idUsuario: this.credentials.user,
                idPassword: this.credentials.password,
                mensaje: this.query.text,
                'adjunto[]': []
              }
            }
          }
          Helper.post(params)
        }
      }
    },
    publishQuerySuccess(res){
      if(res){
        Helper.showMessage(res, (()=>{
          this.$store.dispatch('popMainTitle')
          this.$store.dispatch('popMainTitle')
          this.$f7.mainView.loadPage('consultas', true)
        }))
      }
    }
  }
}
</script>

<style scoped>
.nueva-consulta-container{
  padding: 10px;
}
.query-type select{
  width: auto;
  position: absolute;
  top: 0;
  right: 20px;
}
#queryPublish{
  margin-top: 10px;
}
.list-block li:after {
  display: none;
}
.list-block textarea {
  height: 150px;
}
li {
  border-bottom: 1px solid #eee;
}
</style>
