<template lang="pug">
f7-page#pago.navbar-through(data-page='pago',  toolbar-fixed)
  //- toolbar
  .list-block
    .card
      .card-content(v-html='paymentData')
    show-attachment(:attachmentsArray='paymentAttach')
</template>

<script>
import Helper from '../assets/js/helper'
// import Toolbar from '../components/toolbar'
import ShowAttachment from '../components/showAttachment'
import ListElement from '../components/list-element'
export default {
  name: 'pago',
  data() {
    return {
      paymentData: '',
      paymentAttach: [],
      idPayment: this.$route.params.idPayment
    }
  },
  components: {
    // toolbar: Toolbar,
    listElement: ListElement,
    showAttachment: ShowAttachment
  },
  computed:{
    credentials(){
      return  this.$store.getters.credentials
    }
  },
  mounted(){
    this.getPayment()
  },
  methods:{
    getPayment(){
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'html',
        callback: this.getPaymentSuccess,
        data: {
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          idPago: this.idPayment,
          idPantalla: 3,
          idAccion: 'Pago',
        }
      }
      Helper.post(params)
    },
    getPaymentSuccess(res){
      if(res){
        this.paymentData = res
      }
      this.getPaymentAttach()
    },
    getPaymentAttach(){
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'html',
        callback: this.getPaymentAttachSuccess,
        data: {
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          idPago: this.idPayment,
          idPantalla: 3,
          idAccion: 'PagoAdjunto',
        }
      }
      Helper.post(params)
    },
    getPaymentAttachSuccess(res){
      let self = this
      if(res){
        this.$$.each(JSON.parse(res), ((index, value)=>{
          self.paymentAttach.push({ file:value.file1Ntc, name:value.fileNombre})
        }))
      }
    }
  }
}
</script>

<style lang="css">
.list-block .item-inner:after{
  display: none !important;
}
</style>
