<template lang="pug">
f7-page#pagosInformados.navbar-through(data-page='pagosInformados',  toolbar-fixed)
  //- toolbar
  .list-block
    p.no-data-message(v-if='showNoData') No hay datos disponibles
    ul(v-if='!showNoData')
      list-element(v-for='payment in paymentsArray', :title='payment.importe + " " +payment.tipo_pago', :key='payment.id', :date='payment.fecha', @clicked='myPayment(payment)')
</template>

<script>
import Helper from '../assets/js/helper'
// import Toolbar from '../components/toolbar'
import ListElement from '../components/list-element'
export default {
  name: 'pagosInformados',
  data() {
    return {
      paymentsArray: [],
      showNoData: false
    }
  },
  components: {
    // toolbar: Toolbar,
    listElement: ListElement,
  },
  computed:{
    credentials(){
      return  this.$store.getters.credentials
    }
  },
  mounted(){
    this.getPayments()
  },
  methods:{
    getPayments(){
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.getPaymentsSuccess,
        data: {
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          idPantalla: 3,
          idAccion: 'MisPagos',
        }
      }
      Helper.post(params)
    },
    getPaymentsSuccess(res){
      if(res){
        this.paymentsArray = res;
        this.showNoData = res.length == 0;
      }
    },
    myPayment(payment){
      this.$store.dispatch('setMainTitleToPush', payment.tipo_pago)
      this.$f7.mainView.loadPage({url:'pago/' + payment.id})
    }
  }
}
</script>

<style lang="css">
.list-block .item-inner:after{
  display: none !important;
}
</style>
