<template lang="pug">
f7-page.no-navbar#ayres-prehome(data-page='prehome-ayres', class='navbar-hidden')
  .logo-container
    img(:src='logo')
  .list-block
    ul
      li
        f7-link(href='novedades-ayres', @click='setNabvarTitle("Novedades Ayres")')
          .item-content
            .item-inner
              .item-title
                | NOVEDADES AYRES
      li
        f7-link(href='comunidad-ayres', @click='setNabvarTitle("Comunidad Ayres")')
          .item-content
            .item-inner
              .item-title
                | COMUNIDAD AYRES
      li
        .item-content(@click='showIntranet = !showIntranet')
          .item-inner
            .item-title
              | INTRANETS
            .item-after
              | +
        ul#intranets(v-show='showIntranet')
          li(v-for='item in ayresBarrios', :data-barrioid='item.Barrio_id', v-show='item.Barrio !== "Ayres"')
            .item-content
              .item-inner
                .item-title
                  span {{item.Barrio}}
                  p(v-for='usuario in item.usuarios', :data-lote='usuario.lote', :data-usuario='usuario.usuario', :data-password='usuario.password', @click='loginApp(usuario, item)') Lote: {{usuario.lote}}
                    i
                      img(:src='icons.arrowIcon')
    div.close(@click='closeSession()')
      span Cerra sesión
</template>

<script>
import _ from 'lodash'
import { mapActions } from 'vuex'
import Logo from '../assets/img/logo-simple-ayres.jpeg'
import Helper from '../assets/js/helper.js'
import ArrowIcon from '../assets/img/icons/arrow-right-fill.png'
// import Autocomplete from '../../js/autocomplete.js'
export default {
	name: 'ayres-prehome',
	data() {
		return {
			logo: Logo,
			icons: {
        arrowIcon: ArrowIcon
      },
      showIntranet: false,
			credentials: {
				barrio: {
					name: '',
					id: -1
				},
				user: '',
				password: ''
			}
		}
	},
	mounted() {
		this.$nextTick(() => {
			this.$f7.hideNavbar('.navbar-selector', false)
			this.$f7.params.swipePanel = false
			this.credentials.barrio.id = window.localStorage.getItem("barrio");
      this.credentials.barrio.name = window.localStorage.getItem("barrioName");
			this.credentials.user = window.localStorage.getItem("usuario");
			this.credentials.password = window.localStorage.getItem("password");
		})
	},
  computed:{
    ayresBarrios(){
      return this.$store.getters.ayresBarrios
    }
  },
	methods: {
    setNabvarTitle(text){
      this.$$('#navbar-title').text(text)
      this.showIntranet = false;
    },
		loginApp(user, barrio) {
      this.credentials.user = user.usuario
      this.credentials.password = user.password
			let params = {
				data: {
					idPantalla: 0,
					idAccion: 'Login',
          idLote: user.lote,
					idBarrio: barrio.Barrio_id,
					idUsuario: user.usuario,
					idPassword: user.password,
					os: 'NaN',
					versionapp: '0.1.1'
				},
				method: 'POST',
				dataType: 'json',
				url: Helper.URL.GetMain,
				callback: this.loginAppSuccess
			};
			Helper.post(params)
		},
		loginAppSuccess(data) {
			if (data.welcomeMessage != null) {
        // this.autocomplete.destroy()
        this.showIntranet = false;
				this.credentials.admin = Helper.isAdminUser(data)
				this.credentials.loged = true
				this.$store.dispatch('setCredentials', this.credentials)
				//Guardo el login
				let add = false;
				let logins = window.localStorage.getItem("Logins_Saved");
				let arr = []
				if (logins == null || logins == 'undefined' || logins == "") {
					arr.push(this.credentials);
					add = true;
				} else {
					arr = JSON.parse(logins);
					let exist = _.find(arr, {
						'barrio': {
							id: this.credentials.barrio.id
						},
						'user': this.credentials.user
					});

					if (exist == null || exist == 'undefined') {
						arr.push(this.credentials);
						add = true;
					}
				}
				if (add) {
					window.localStorage.setItem("Logins_Saved", JSON.stringify(arr));
				}
        this.$store.dispatch('setLoginsSaved', arr)
				//Login success
				window.localStorage.setItem("welcomeMessage", data.welcomeMessage)
				window.localStorage.setItem("barrio", this.credentials.barrio.id)
        window.localStorage.setItem("barrioName", this.credentials.barrio.name)
				window.localStorage.setItem("usuario", this.credentials.user.toLowerCase())
				window.localStorage.setItem("password", this.credentials.password)
				this.$f7.mainView.loadPage({ url: 'home' })
			} else {
				navigator.notification.alert("Error al iniciar sesión: datos incorrectos", null, "Simple Solutions", "Aceptar");
			}
			// data.welcomeMessage
    },
    closeSession() {
      window.localStorage.removeItem("usuario")
      window.localStorage.removeItem("password")
      window.localStorage.removeItem("barrio")
      this.$f7.mainView.loadPage({url:'login-ayres', force: true})
    }
	}
}
</script>

<style scoped>
.close {
  text-transform: uppercase;
  font-style: italic;
  margin: 40px 0px;
}
.page {
	background-color: #00487D;
  text-align: center;
  color: white;
	/*padding-top: 52px;*/
}

.logo-container {}

.logo-container img {
	display: block;
	margin: 0 auto;
	width: 70%;
}

.list-block {
	width: 90%;
	margin: 0 auto;
}

.list-block ul {
	background-color: #00487D;
}

.list-block ul::before {
  display: none !important;
}

.list-block ul .item-content {
	height: inherit;
}

.list-block .item-inner:after{
  display: none !important;
}

.list-block ul .item-title {
	margin: 0 auto;
	color: #fff;
  font-style: italic;
  line-height: 80px;
}

.list-block ul .item-after {
	margin: 0;
  font-size: 1.3em;
  color: #fff;
}

.list-block ul li {
	min-height: 80px;
	border: 1px solid white;
}

.list-block ul li::after {
  display: none !important;
}
#intranets{
  width: 100%;
  margin: 0;
  padding: 0;
}

.list-block ul li a{
	height: 100%;
}
#intranets .item-title{
  margin: 0 0;
}


#intranets li {
	height: auto;
}

#intranets .item-title{
  width: 100%;
  line-height: unset;
}

#intranets .item-title span{
  margin-left: 20%;
}

#intranets p{
  text-align: center !important;
}

#intranets p i{
  padding-left: 10px;
}

#intranets p img{
  width: 10px;
}



</style>
