<template lang="pug">
f7-page#profile.navbar-through(data-page='profile')
  .list-block
    ul(v-for='item in profileArray', :key='item.Orden')
      li
        .item-content
          .item-inner
            .item-input
              p
                b {{item.Caption}}
              input(:type='item.Tipo',
                :placeholder='item.Caption',
                :value='item.Valor',
                :readonly='item.Modificable === "False"',
                :name='item.Nombre')
  a.button.button-big.button-fill.color-green#btnSaveProfile(href='#', @click='saveProfile') Guardar
</template>

<script>
import Helper from '../assets/js/helper.js'
import { mapActions, mapGetters } from 'vuex';
export default {
  name: 'profile',
  data(){
    return{
      profileArray: [],
      elements: []
    }
  },
  mounted(){
    this.loadUserProfile()
  },
  computed: {
  },
  methods: {
    ...mapActions(['setPassword']),
    loadUserProfile(){
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.loadUserProfileSuccess,
        data: {
          idPantalla: 6,
          idAccion: 'Inicio',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password
        }
      }
      Helper.post(params)
    },
    loadUserProfileSuccess(res){
      if(res){
        res = typeof(res) === 'string' ? JSON.parse(res) : res
        this.profileArray = res
      }
    },
    saveProfile(){
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.saveProfileSuccess,
        data: {
          idPantalla: 6,
          idAccion: 'update',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password
        }
      }
      this.elements = this.$$('#profile li input')
      for(let i = 0; i < this.elements.length; i++){
          params.data[this.$$(this.elements[i]).prop('name')] = this.$$(this.elements[i]).val()
      }
      Helper.post(params)
    },
    saveProfileSuccess(res) {
      if (res) {
        // res = typeof(res) === 'string' ? JSON.parse(res) : res
        Helper.showMessage(res.msg, () => {
          this.$f7.mainView.loadPage({url:'home'})
        })
        if (res.errorCode !== 1) {
          for(let i = 0; i < this.elements.length; i++) {
            if(this.$$(this.elements[i]).prop('name') === 'Password') {
              if (this.$$(this.elements[i]).val().indexOf('*') > -1) {
                if (this.$$(this.elements[i]).val().match(/\*/gi).length !== 5) {
                  if(this.$$(elements[i]).prop('name') === 'Password') this.setPassword(this.$$(this.elements[i]).val())
                }
              } else {
                this.setPassword(this.$$(this.elements[i]).val())
              }
            }
          }
        }
      }
    }
  },
  computed:{
    credentials () {
      return this.$store.getters.credentials
    }
  }
}
</script>
<style scoped>
.page-content{
  padding-top: 50px;
}
.list-block{
  margin: 0px;
}
p{
  padding: 0;
  padding-top: 5px;
  margin: 0;
}
#btnSaveProfile{
  width: 95%;
  margin: 0 auto;
  margin-top: 15px;
}
</style>
