<template lang="pug">
f7-page(data-page='publicarNovedades')
  .publicar-novedades-container
    .list-block
      ul
        li.publish-select
          .item-content
            .item-inner
              .item-input
                a.item-link.smart-select(href='#', data-open-in="picker", data-back-on-select="true")
                  .custom-selectbox 
                    select#publishInSelect(name='publishInSelect', v-model='newNews.publishIn')
                      option(value='NOVEDAD') Novedades
                      option(value='EXPENSAS') Expensas
                      option(value='CONSORCIO') Documento
                    .item-title Publicar en:
                    .item-select-text {{newNews.publishIn}}
        li.publish-type
          .item-content
            .item-inner
              .item-input
                a.item-link.smart-select(href='#', data-open-in="picker", data-back-on-select="true")
                  .custom-selectbox 
                    select(v-model='newNews.publishType')
                      option(disabled, value='') Seleccionar
                      option(v-for='type in newsSubtypeArray', :value='type.value') {{type.desc}}
                    .item-title Tipo novedad:
                    .item-select-text {{newNews.publishType}}
        li
          .item-content
            .item-inner
              .item-title.label Aplicar a todos:
              .item-input.left-switch
                label.label-switch
                  input(type='checkbox', :checked="newNews.applyAll", v-model='newNews.applyAll')
                  .checkbox
        li(v-show='!newNews.applyAll')
          a.item-link.smart-select(href='#', data-open-in="picker")
            select#receptorsSelect(name='lote', multiple='', v-model='newNews.selectedReceptorsArray')
              option(v-for='receptor in receptorsArray', :value='receptor.value') {{receptor.desc}}
            .item-content
              .item-inner
                .item-title Aplica a lote:
        li
          .item-content
            .item-inner
              .item-title.label Publicar en pizarra:
              .item-input.left-switch
                label.label-switch
                  input(type='checkbox', :checked="newNews.publishBoard", v-model='newNews.publishBoard')
                  .checkbox
        li
          .item-content
            .item-inner
              .item-title.label Enviar notificacion:
              .item-input.left-switch
                label.label-switch
                  input(type='checkbox', :checked="newNews.sendNotification", v-model='newNews.sendNotification')
                  .checkbox
          li
            .item-content
              .item-inner
                .item-title.label Permitir comentarios:
                .item-input.left-switch
                  label.label-switch
                    input(type='checkbox', :checked="newNews.allowComments", v-model='newNews.allowComments')
                    .checkbox
    a.button.button-big.active.button-general-style#newNewsPublish(href='#', @click='uploadNews') Publicar
</template>

<script>
import Helper from '../assets/js/helper.js'
export default {
  name: 'publicarNovedades',
  components: {},
  data() {
    return {
      idPantalla: 2,
      newNews: {
        title: this.$route.params.title,
        text: this.$route.params.text,
        img: decodeURIComponent(this.$route.params.img),
        publishIn: 'Seleccionar',
        publishType: 'Seleccionar',
        applyAll: true,
        applyReceptorsArray: [],
        publishBoard: true,
        sendNotification: true,
        selectedReceptorsArray: [],
        allowComments: false
      },
      newsSubtypeArray: [],
      receptorsArray: [],
    }
  },
  mounted() {
    this.$nextTick(() => {})
  },
  methods: {
    getNewsSubtype() {
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.getNewsSubtypeSuccess,
        data: {
          idPantalla: this.idPantalla,
          idAccion: 'Subtipo',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          tipo_novedad: this.newNews.publishIn
        }
      }
      Helper.post(params)
    },
    getNewsSubtypeSuccess(res) {
      //Valido q tengan todos VALUE, sino le asigno desc en uppercase
      this.$$.each(res, function(index, value){if(value.value === '') value.value = value.desc.toUpperCase()})
      this.newsSubtypeArray = res
    },
    getReceptors() {
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.getReceptorsSuccess,
        data: {
          idPantalla: this.idPantalla,
          idAccion: 'Receptores',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
        }
      }
      Helper.post(params)
    },
    getReceptorsSuccess(res) {
      this.receptorsArray = res
    },
    uploadNews() {
      if (!this.newNews.title) {
        Helper.showMessage("Debe escribir un título")
        return
      }
      if (this.newNews.publishIn === '' || this.newNews.publishIn ==='Seleccionar') {
        Helper.showMessage("Debe seleccionar donde publicar")
        return
      }
      if (this.newNews.publishType === '' || this.newNews.publishType ==='Seleccionar') {
        Helper.showMessage("Debe seleccionar un tipo de novedad")
        return
      }
      if (!this.newNews.applyAll) {
        if (this.newNews.selectedReceptorsArray.length == 0) {
          Helper.showMessage("Debe seleccionar al menos un lote")
          return
        }
      }
      if (!this.newNews.text || this.newNews.text === '') {
        Helper.showMessage("Debe escribir un texto")
        return
      }
      Helper.confirm("Publicar?", ((res) => {
        if (res && res === 1) {
          if (this.newNews.img !== '' && this.newNews.img !== 'VOID') {
            try {
              Helper.saveFile(this.newNews.img, this.credentials.barrio.id, this.uploadImageSuccess, this.uploadImageFailed)
            } catch (err) {
              alert(err)
              this.uploadImageFailed(err)
            }
          } else {
            const params = {
              url: Helper.URL.GetMain,
              dataType: 'json',
              callback: this.publishNewsSuccess,
              data: {
                idPantalla: this.idPantalla,
                idAccion: 'Nueva',
                idBarrio: this.credentials.barrio.id,
                idUsuario: this.credentials.user,
                idPassword: this.credentials.password,
                titulo: this.newNews.title,
                tipo_novedad: this.newNews.publishIn,
                sub_tipo_novedad: this.newNews.publishType,
                mensaje: this.newNews.text,
                publicar_ntc: this.newNews.publishBoard ? '1' : '0',
                comentarios_ntc: this.newNews.allowComments ? '1' : '0',
                notificar_ntc: this.newNews.sendNotification ? '1' : '0',
                lote_aplica: this.newNews.applyAll ? 'Todos' : '',
                receptores_novedad: this.newNews.applyAll ? '' : this.newNews.selectedReceptorsArray
              }
            }
            Helper.post(params)
          }
        } else {
        }
      }), "Simple Solutions")
    },
    uploadImageSuccess(res) {
      // alert('img success res: ' + JSON.stringify(res))
      let imageName = res.uploadName
      // alert('uploadImageSuccess imageName antes if: ' + imageName)
      if (Helper.getFileExtension(imageName) == "") {
        imageName += ".jpg";
      }
      // alert('uploadImageSuccess imageName despues if: ' + imageName)
      let attach = imageName + "," + this.newNews.img.split("/").pop();
      const params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.publishNewsSuccess,
        data: {
          idPantalla: this.idPantalla,
          idAccion: 'Nueva',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          titulo: this.newNews.title,
          tipo_novedad: this.newNews.publishIn,
          sub_tipo_novedad: this.newNews.publishType,
          mensaje: this.newNews.text,
          publicar_ntc: this.newNews.publishBoard ? '1' : '0',
          comentarios_ntc: this.newNews.allowComments ? '1' : '0',
          notificar_ntc: this.newNews.sendNotification ? '1' : '0',
          adjunto: attach,
          lote_aplica: this.newNews.applyAll ? 'Todos' : '',
          receptores_novedad: this.newNews.applyAll ? '' : this.newNews.selectedReceptorsArray
        }
      }
      Helper.post(params)
    },
    uploadImageFailed(res) {
      Helper.showMessage('Error interno subiendo la imagen 0x1000')
    },
    publishNewsSuccess(res){
      Helper.showMessage(JSON.stringify(res), (()=>{
        this.$store.dispatch('clearMainTitle')
        this.$f7.mainView.loadPage({url:'home', force: true})
      }))
    }
  },
  computed: {
    credentials() {
      return this.$store.getters.credentials
    }
  },
  watch: {
    'newNews.publishIn': function() {
      this.getNewsSubtype()
    },
    'newNews.applyAll': function() {
      if (this.receptorsArray.length == 0)
        this.getReceptors()
    }
  }
}
</script>
<style scoped>
ul {
  padding-top: 16px;
}

.list-block .item-title.label{
  width: 70%;
}
.publish-select select,
.publish-type select {
  width: 35%;
  margin: 0;
  position: absolute;
  padding: 0;
  top: 0;
  right: 25px;
}

.publish-select i,
.publish-type i {
  position: absolute;
  right: 0;
}

.left-switch {
  position: absolute;
  right: 2%;
  top: 50%;
  width: auto;
  transform: translateY(-25%);
}

#newNewsPublish {
  border-color: #28a54c;
  background-color: #33cd5f;
  color: #fff;
}


input::-webkit-input-placeholder,
textarea {
  font-size: 14px;
}

textarea {
  height: 140px;
}

</style>
