<template lang="pug">
f7-page(data-page='redactarNovedades')
  .redactar-novedades-container
    .list-block
      ul
        li
          .item-content
            .item-inner
              .item-input
                input(type='text', placeholder='Titulo', v-model='newNews.title')
        li.align-top
          .item-content
            .item-inner
              .item-input
                textarea(placeholder='Texto', :rows='20', v-model='newNews.text')
    .list-block
      ul
        li.align-top.attach-file-block(@click='attachFile', :disabled='showAttachment')
          .item-content
            .item-inner
              .item-input
                a#btnAttachFile()
                  i.material-icons attach_file
                  | Agregar adjunto
        li.align-top.show-attach-file-block(v-show='showAttachment')
          .item-content
            .item-inner
              .item-input
                .attach-img-container#attachImgContainer
                span
                  | {{newNews.file.name}}
                i.material-icons(@click='removeAttach') clear
    a.button.button-big.active#newNewsNextStep1(:href="'publicarNovedades/' + newNews.title + '/' + newNews.text + '/' + newNews.file.src", @click='nextStep') Siguiente
      .icon-container
        i.material-icons keyboard_arrow_right
</template>

<script>
import _ from 'lodash'
import Helper from '../assets/js/helper.js'
import ArrowRight from '../assets/img/icons/arrow-right.png'
import ExpensesIcon from '../../static/icon/home/expensas.png'
export default {
  name: 'redactarNovedades',
  components: {},
  data() {
    return {
      newNews:{
        title: '',
        text: '',
        file: {
          name: '',
          src: 'VOID'
        }
      },
      showAttachment: false
    }
  },
  mounted() {
    this.$nextTick(() => {
    })
  },
  methods: {
    nextStep(){
      if(this.newNews.title === ''){
        Helper.showMessage('Porfavor escriba un titulo')
        return
      }
      else if(this.newNews.text === ''){
        Helper.showMessage('Porfavor escriba un texto')
        return
      }
      else{
        this.$store.dispatch('setMainTitleToPush', 'Paso 2: Publicar')
      }
    },
    attachFile(){
      Helper.attachFile(this.attachFileSuccess)
    },
    attachFileSuccess(data){
      this.newNews.file.name = data.split("/").pop()
      this.newNews.file.src = encodeURIComponent(data)
      let image = document.createElement("img")
      let imageParent = document.getElementById("attachImgContainer")
      image.style.width = '45px'
      image.style.height = '30px'
      image.src = data
      imageParent.appendChild(image)
      this.showAttachment = true
    },
    removeAttach(){
      this.showAttachment = false
      alert('remove attach')
      try {
        document.getElementsByClassName('attachImgContainer')[0].innerHTML = ''
      } catch (e) {
        console.log(e)
      }
      this.newNews.file.name = ''
      this.newNews.file.src = 'VOID'
    },
  }
}
</script>
<style scoped>
ul{
  padding-top: 16px;
}
#newNewsNextStep1 {
  border-color: #111;
  background-color: #444;
  color: #fff;
  width: 95%;
  margin: 0 auto;
}

#newNewsNextStep1 .icon-container {
  position: absolute;
  top: 0;
  right: 0;
}

#newNewsNextStep1 i {
  vertical-align: middle;
  font-size: 35px;
}

input::-webkit-input-placeholder,
textarea {
  font-size: 14px;
}

textarea {
  height: 140px;
}

</style>
