<template lang="pug">
f7-page#reservasDetalle.navbar-through(data-page='reservaDetalle',  toolbar-fixed)
  //- toolbar
  .date-container
    .title
      p {{text.date}}
    .datepicker-container
      i.material-icons event
      input#reservationsCalendar(type='text', :placeholder='placeholderDate', readonly='')
  .reserva-detalle-container
    .title
      p Seleccione un servicio.
    .list-block
      ul
        .li(v-for='i in Math.ceil(arrayReservations.length / 3)')
          .type(v-for='reservation in arrayReservations.slice((i - 1) * 3, i * 3)')
            img(:src='reservation.Imagen', @click='buildReservationForm(reservation)')
            span {{reservation.Nombre}}
  .select-form-container#selectFormContainer(v-if='showForm')
    .title
      p {{text.time}}
    .list-block
      ul#selectHour
        li(v-for='item in selectItemsArray')
          label.label-checkbox.item-content
            input(type='checkbox', name='selectCheckbox', :value='item.tipoReservaTurno', :disabled='item.Lote')
            .item-media
              i.icon.icon-form-checkbox
            .item-inner
              .item-title(v-if='!item.Lote') {{item.Descripcion}}
              .item-title.reserver(v-else) {{item.Descripcion}} - {{item.Lote}}
        .title
          p {{text.comments}}
        li.align-top
          .item-content
            .item-inner
              .item-input
                textarea#reservationComment(placeholder='Ingrese algún comentario')
        .new-guest-container(v-if='reservationDetailData.sn_single_doble === "1"')
          li
            a.item-link.smart-select(href='#', data-open-in="picker")
                select(name='tipo_juego', v-model='typeGuest')
                  option(value='1' selected) Singles
                  option(value='2') Dobles
                .item-content
                  .item-inner
                    .item-title {{reservationDetailData.txt_leyenda_single_doble}}
                    .item-after Singles
        .single-guest-container(v-if='showSelectGuests')
          .title(v-if='showSelectGuests')
            p {{text.guests}}
          li(v-if='showSelectGuests && typeGuest === "1"')
            a.item-link.smart-select(href='#', data-open-in="picker", data-searchbar="true", data-searchbar-placeholder="Buscar invitado...")
              select#singleGuestSelect(name='guests', v-model='singleGuest')
                option(v-for='guest in guestsArray', :value='guest.value') {{guest.desc}}
              .item-content
                .item-inner
                  .item-title Seleccionar:
                  .item-after invitado
          .multi-guest-container(v-if='showSelectGuests && typeGuest === "2"')
            li
              a.item-link.smart-select(href='#', data-open-in="picker", data-searchbar="true", data-searchbar-placeholder="Buscar invitado...")
                select#guest1(name='guest1', v-model='multiguest[0].id')
                  option(v-for='guest in guestsArray', :value='guest.value') {{guest.desc}}
                .item-content
                  .item-inner
                    .item-title Seleccionar:
                    .item-after invitado 1
            li
              a.item-link.smart-select(href='#', data-open-in="picker", data-searchbar="true", data-searchbar-placeholder="Buscar invitado...")
                select#guest2(name='guest2', v-model='multiguest[1].id')
                  option(v-for='guest in guestsArray', :value='guest.value') {{guest.desc}}
                .item-content
                  .item-inner
                    .item-title Seleccionar:
                    .item-after invitado 2
            li
              a.item-link.smart-select(href='#', data-open-in="picker", data-searchbar="true", data-searchbar-placeholder="Buscar invitado...")
                select#guest3(name='guest3', v-model='multiguest[2].id')
                  option(v-for='guest in guestsArray', :value='guest.value') {{guest.desc}}
                .item-content
                  .item-inner
                    .item-title Seleccionar:
                    .item-after invitado 3
    a.button.button-big.active.color-green#makeReservation(href='#', @click='makeReservation') Reservar
</template>

<script>
import Helper from '../assets/js/helper'
import ListElement from '../components/list-element'
// import Toolbar from '../components/toolbar'
import VueScrollTo from 'vue-scrollto'
import { mapGetters } from 'vuex';
import { reservationDetailData } from '../assets/store/getters';
export default {
  name: 'reservaDetalle',
  data () {
    return {
      titleCount: 0,
      name: 'reservasDetalle',
      arrayReservations: [],
      searchText: 'Reservas',
      reservation:{
        idReservation: '',
        date: '',
        hours:{
          value: [],
          text: []
        },
        guests:{
          value: [],
          text: []
        },
        comment: '',
        service: '',
        multiguestArr: [],
        typeGuest: ''
      },
      typeGuest: '1',
      singleGuest: '',
      multiguest:[{id: ''}, {id: ''},{id: ''}],
      reservationsCalendar: null,
      placeholderDate: Helper.Dates.commonFormat(),
      reservationDate: '',
      showForm: false,
      selectItemsArray: [],
      showSelectGuests: false,
      guestsArray: [],
      cal: null,
      text:{
        comments: 'Escriba aqui si desea dejar un comentario (opcional)',
        date: 'Seleccione una fecha.',
        guests: '',
        time: 'Seleccione el horario'
      }
    }
  },
  components:{
    listElement: ListElement
  },
  computed: {
    ...mapGetters(['credentials', 'reservationDetailData']),
    credentials(){
      return this.$store.getters.credentials
    }
  },
  mounted () {
    this.reservation.idReservation = this.reservationDetailData.tipo_servicio
    this.loadReservationType()
    this.getReservationTexts()
    this.getInformation()
    let vm = this
    this.reservationsCalendar = this.$f7.calendar({
      input: '#reservationsCalendar',
      dateFormat: 'dd/mm/yyyy',
      monthNames: Helper.calendarData.monthNames.esp,
      monthNamesShort: Helper.calendarData.monthNamesShort.esp,
      dayNames: Helper.calendarData.dayNames.esp,
      dayNamesShort: Helper.calendarData.dayNamesShort.esp,
      onChange: (p, values, displayValues) => {
        vm.reservationDate = Helper.Dates.commonFormat(p.value[0])
        vm.showForm = false
      }
    })
    this.$$('#reservationsCalendar').val( Helper.Dates.commonFormat())
  },
  methods:{
    loadReservationType(){
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.loadReservationTypeSuccess,
        data: {
          idPantalla: 7,
          idAccion: 'Servicios',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          tipoServicio: this.reservation.idReservation
        }
      }
      Helper.post(params)
    },
    loadReservationTypeSuccess(res){
      if(res){
        this.arrayReservations = res
      }
    },
    buildReservationForm(res){
      // console.log(this.placeholderDate)
      // this.$store.dispatch('changeMainTitle', res.Nombre)

      if (this.titleCount === 0) {
        this.$store.dispatch('setMainTitleToPush', res.Nombre)
        this.$store.dispatch('pushMainTitle')
        this.titleCount++
      } else {
        this.$store.dispatch('popMainTitle')
        this.$store.dispatch('setMainTitleToPush', res.Nombre)
        this.$store.dispatch('pushMainTitle')
      }
      this.showForm = false
      this.reservation.service = res.Nombre
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.buildReservationFormSuccess,
        data: {
          idPantalla: 7,
          idAccion: 'Turnos',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          tipoServicio: this.reservation.idReservation,
          Servicio: res.servicio,
          Fecha: this.Dom7('#reservationsCalendar').val()
        }
      }
      Helper.post(params)
    },
    buildReservationFormSuccess (res) {
      if (res.error) {
        Helper.showMessage(res.error)
      } else if (res) {
        this.getGuests()
        this.showForm = true
        // Agrego scroll-to MN
        this.$nextTick(()=>{
          let container = document.getElementById('reservasDetalle').getElementsByClassName('page-content')[0]
          const options = {
            container: container,
            easing: 'ease-in',
            offset: -100,
            cancelable: false,
            x: false,
            y: true
          }
          VueScrollTo.scrollTo('#selectHour', 1000, options)
        })
        this.showSelectGuests = false
        this.selectItemsArray = res
      }
    },
    getReservationTexts(){
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.getReservationTextsSuccess,
        data: {
          idPantalla: 7,
          idAccion: 'Leyendas',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          tipoServicio: this.reservation.idReservation
        }
      }
      Helper.post(params)
    },
    getReservationTextsSuccess(res){
      if(res){
          if(res[0].leyenda_comentarios) this.text.comments = res[0].leyenda_comentarios
          if(res[0].leyenda_fecha) this.text.date = res[0].leyenda_fecha
          if(res[0].leyenda_invitados) this.text.guests = res[0].leyenda_invitados
          if(res[0].leyenda_turno) this.text.time = res[0].leyenda_turno
        }
    },
    getGuests(){
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.getGuestsSuccess,
        data: {
          idPantalla: 7,
          idAccion: 'Invitados',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          tipoServicio: this.reservation.idReservation
        }
      }
      Helper.post(params)
    },
    getGuestsSuccess(res){
      if(res && res.length > 0){
        this.showSelectGuests = true
        this.guestsArray = res
      }
      else{
        this.reservation.guests.value.push('')
      }
    },
    getInformation(){
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'text',
        callback: this.getInformationSuccess,
        data: {
          idPantalla: 7,
          idAccion: 'info',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          tipoServicio: this.reservation.idReservation
        }
      }
      Helper.post(params)
    },
    getInformationSuccess(res){
      if(res){
        this.$store.dispatch('setShowInfo', {show: true, data: res, icon: 'info'} )
      }
    },
    makeReservation(){
      this.reservation.guests.value = []
      this.reservation.guests.text = ''
      this.reservation.hours.value = []
      this.reservation.hours.text = ''
      this.reservation.date = this.$$('#reservationsCalendar').val()
      let selectedHours = this.$$('#selectHour input:checked')
      for (let i = 0; i < selectedHours.length; i++) {
        this.reservation.hours.value.push(this.$$(selectedHours[i]).val())
        this.reservation.hours.text += (this.$$(selectedHours[i]).parent().find('.item-title').text() + ' - ')
      }
      let selectedGuests = this.$$('#singleGuestSelect option:checked')
      for (let i = 0; i < selectedGuests.length; i++) {
        this.reservation.guests.value.push(this.$$(selectedGuests[i]).val())
        this.reservation.guests.text += (this.$$(selectedGuests[i]).text()) + ' - '
      }
      if(this.reservation.date === ''){
        Helper.showMessage('Debe seleccionar una fecha antes de reservar.')
        return false
      }
      else if(this.reservation.hours.value.length < 1 ){
        Helper.showMessage('Debe seleccionar al menos un turno antes de reservar.')
        return false
      }
      else if(this.showSelectGuests && this.reservation.guests.value.length < 1 && this.reservationDetailData.sn_single_doble !== '1'){
        Helper.showMessage('Debe seleccionar un invitado antes de reservar.')
        return false
      }
      else if (this.reservationDetailData.sn_single_doble === '1') {
        this.reservation.multiguestArr = []
        if (this.typeGuest === '1') {
          if (this.singleGuest === '') {
            Helper.showMessage('Debe seleccionar un invitado antes de reservar.')
            return
          } else {
              let _id = this.singleGuest
              let obj = _.find(this.guestsArray, g => {
                return g.value === _id
              })
              this.reservation.multiguestArr.push(_.cloneDeep(obj))
            // this.reservation.multiguestArr.push(this.singleGuest.id)
          }
        } else {
          let result = true
          for (let i = 0; i < this.multiguest.length; i++) {
            if (this.multiguest[i].id === '') result = false
            else {
              let _id = this.multiguest[i].id
              let obj = _.find(this.guestsArray, g => {
                return g.value === _id
              })
              this.reservation.multiguestArr.push(_.cloneDeep(obj))
            }
          }
          if (!result) {
            Helper.showMessage('Debe seleccionar los invitados antes de reservar.')
            return
          }
        }
      }
      console.log(this.reservation)
      this.reservation.comment = this.$$('#reservationComment').val()
      this.reservation.typeGuest = this.reservationDetailData.sn_single_doble === '1' ? this.typeGuest : ''
      this.$store.dispatch('setReservationData', _.cloneDeep(this.reservation))
      debugger
      // this.$store.dispatch('setMainTitleToPush', this.reservation.service)
      this.$f7.mainView.loadPage('confirmarReserva')
      // else {
      // }
    }
  }
}
</script>

<style scoped>
#reservas{
  background: white;
}
.title p{
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #444;
  padding-top: 2px;
  padding-bottom: 2px;
}
.datepicker-container{
  margin: 0 auto;
  width: fit-content;
  padding-bottom: 2px;
}
.datepicker-container input{
  font-size: 20px;
  border: 0;
  background: inherit;
  text-align: center;
  color: #444;
}
.datepicker-container i{
  position: absolute;
  left: 90px;
  font-size: 30px;
  color: #444;
}
.reserva-detalle-container{
  width: 98%;
  margin: 0 auto;
  overflow: hidden;
}
.type{
  width: 30%;
  float: left;
  text-align: center;
  margin-left: 1.665%;
  padding-right: 1.665%;
}
.type img{
  width: 100%;
}

.select-form-container{
  /*border: 1px solid #808080;*/
  font-size: 14px;
  overflow: hidden;
  margin-bottom: 20px;
}
.select-form-container ul{
  color: #444;
}
.select-form-container textarea{
  color: #444;
  font-size: 14px;
  height: 100px;
  resize: none;
  line-height: 1.4;
  border: 1px solid #808080;
  padding: 3px;
}
#makeReservation{
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
}
.reserver{
  color: red;
}

.new-guest-container{
  margin-top: 20px;
}
</style>
