<template lang="pug">
f7-page#reservas.navbar-through(data-page='reservas',  toolbar-fixed)
  .reservas-container
    .list-block
      p.no-data-message(v-if='showNoData') No hay datos disponibles
      ul(v-if='!showNoData')
        f7-link(v-for='reservation in arrayReservations', :key='reservation.tipo_servicio', @click='reservationDetail(reservation)')
          list-element(v-bind:title='reservation.Nombre', v-bind:iconSrc='reservation.Imagen', v-bind:service='reservation.tipo_servicio', :disabled='reservation.Habilitado === "0"')
</template>

<script>
import Helper from '../assets/js/helper'
import ListElement from '../components/list-element'
// import Toolbar from '../components/toolbar'
import AdminButton from '../components/adminButton'
import { mapGetters, mapActions } from 'vuex';
export default {
  name: 'reservas',
  data () {
    return{
      arrayReservations: [],
      searchText: 'Reservas',
      showNoData: false
    }
  },
  components:{
    listElement: ListElement,
    adminButton: AdminButton
  },
  computed: {
    ...mapGetters(['credentials']),
  },
  mounted(){
    this.loadReservations()
    this.$eventBus.$on('showReservationsEvt', this.showReservations)
  },
  methods:{
    ...mapActions(['setReservationDetailData']),
    reservationDetail (reservation) {
      if(reservation.Habilitado.toString() === '1'){
        this.$store.dispatch('setMainTitleToPush', reservation.Nombre)
        this.setReservationDetailData(reservation)
        f7.mainView.loadPage({url: 'reservaDetalle'})
      }
      else{
        Helper.showMessage(reservation.Motivo)
      }
    },
    loadReservations () {
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.loadReservationsSuccess,
        data: {
          idPantalla: 7,
          idAccion: 'Inicio',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password
        }
      }
      Helper.post(params)
    },
    loadReservationsSuccess(res){
      if(res){
        res = typeof(res) === 'string' ? JSON.parse(res) : res
        this.arrayReservations = res;
        this.showNoData = res.length == 0;
      }
    },
    showReservations () {
      this.$store.dispatch('setMainTitleToPush', 'Mis Reservas')
      this.$f7.mainView.loadPage('myReservations')
    }
  }
}
</script>

<style scoped>
#reservas{
  padding-top: 10px;
}
</style>
