<template lang="pug">
f7-page#sendGirovisionInvite.navbar-through(data-page='sendGirovisionInvite', toolbar-fixed)
  //- toolbar(text='Nuevo Invitado',
  //- previousTitle='Invitados')
  .send-invite-container
    .list-block
      .card
        .card-content
          .card-content-inner
            .box
              .list-block
                ul
                  li
                    .item-content
                      .item-inner
                        .item-title.label Valido Desde
                        .item-input
                          input#sendGirovisionInviteGuest(type='text', placeholder='dd/mm/yyyy', v-model='guest.entryDate')
  .buttons-container
    p.small
      | Recuerde que esta invitación es única, si usted la va a compartir en un grupo solo la va a poder utilizar la primer persona que la complete.
    button.button.button-big.button-general-style(href='#', @click='shareInvite') 
      span Compartir
      i.fab.fa-whatsapp
</template>
<script>
import Helper from '../assets/js/helper'
// import Toolbar from '../components/toolbar'
import helper from '../assets/js/helper';
export default {
  name: 'sendGirovisionInvite',
  data(){
    return{
      guest: {
        entryDate: '',
        dateTo: 'dd/mm/yyy',
        validityDays: {
          value: '',
          desc: 'Seleccionar'
        }
      },
      guestsArray: [],
      showNoData: false,
      configData: {
        validityDaysArray: []
      }
    }
  },
  components: {
    // toolbar: Toolbar
  },
  computed:{
    credentials(){
      return this.$store.getters.credentials
    }
  },
  mounted(){
    this.getNewGuestConfig()
  },
  methods: {
    shareInvite () {
      if (this.guest.entryDate === '') {
        Helper.showMessage('Debe ingresar una fecha')
        return
       }
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.shareInviteSuccess,
        data: {
          idPantalla: 10,
          idAccion: 'Compartir',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          fecha: this.guest.entryDate
        }
      }
      Helper.post(params)
      // if (this.entryDate === '') {
      //   Helper.showMessage('Debe ingresar una fecha')
      //   return
      //  }
      // let msg = 'Recuerde que esta invitación es única, si usted la va a compartir en un grupo solo la va a poder utilizar la primer persona que la complete.'
      // Helper.confirm(msg, res => {
      //   if (res) {
      //     let params = {
      //       url: Helper.URL.GetMain,
      //       dataType: 'json',
      //       callback: this.shareInviteSuccess,
      //       data: {
      //         idPantalla: 14,
      //         idAccion: 'Compartir',
      //         idBarrio: this.credentials.barrio.id,
      //         idUsuario: this.credentials.user,
      //         idPassword: this.credentials.password,
      //         fecha: this.guest.entryDate
      //       }
      //     }
      //     Helper.post(params)
      //   }
      // }, null, ['Aceptar', 'Cancelar'])
    },
    shareInviteSuccess (res) {
      if (res && res != null && res != undefined) {
        res = typeof(res) === 'string' ? JSON.parse(res) : res
        // var options = {
        //   subject: 'Compartir invitacion',
        //   url: res.mensaje,
        //   chooserTitle: 'Pick an app' 
        // }
        // window.plugins.socialsharing.shareWithOptions(options, this.onSuccessShare, this.onErrorShare)
        window.plugins.socialsharing.shareViaWhatsApp('', null, res.mensaje, this.onSuccessShare, this.onErrorShare)
      } else {
        // let options = {
        //   subject: 'Compartir invitacón',
        //   url: 'https://google.com',
        //   chooserTitle: 'Pick an app'
        // }
        // window.plugins.socialsharing.shareWithOptions(options, this.onSuccessShare, this.onErrorShare)
        window.plugins.socialsharing.shareViaWhatsApp('Compartir invitacion', null, 'https://google.com', this.onSuccessShare, this.onErrorShare)
      }
    },
    onSuccessShare(res){
      console.log("Share completed? " + res.completed); // On Android apps mostly return false even while it's true
      console.log("Shared to app: " + res.app); // On Android result.app is currently empty. On iOS it's empty when sharing is cancelled (result.completed=false)
    },
    onErrorShare(err){
      console.log('Share error')
      console.log(err)
    },
    getNewGuestConfig(){
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.getNewGuestConfigSuccess,
        data: {
          idPantalla: 14,
          idAccion: 'Config',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          idInvitado: this.idGuest
        }
      }
      Helper.post(params)
    },
    getNewGuestConfigSuccess (res) {
      try {
        res = typeof(res) === 'string' ? JSON.parse(res) : res
      } catch (e) {
        console.log(e)
      }
      if(res.length > 0){
        let config = res[0]
        for (let i = 1; i <= config.max_dias_validez; i++) {
          let sDia = i + ' día'
          if (i > 1)
          {
              sDia = i + ' días'
          }
          this.configData.validityDaysArray.push({value: i, desc: sDia})
        }
        if(this.configData.validityDaysArray.length > 0) {
          this.guest.validityDays.value = this.configData.validityDaysArray[0].value
          this.guest.validityDays.desc = this.configData.validityDaysArray[0].desc
        }
        this.initCalendars(parseInt(config.max_dias_vigencia))
      }
    },
    initCalendars (maxDay) {
      let self = this
      let customeStrings = {
        dayArr: ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado'],
        dayArrShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
        monthArr: [ 'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthArrShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic']
      }
      let today = new Date();
      let maxDate = new Date();
      maxDate.setDate(maxDate.getDate() + maxDay)
      today.setDate(today.getDate() - 1);
      this.calendarTo = this.$f7.calendar({
        input: '#sendGirovisionInviteGuest',
        dateFormat: 'dd/mm/yyyy',
        dayNames: customeStrings.dayArr,
        dayNamesShort: customeStrings.dayArrShort,
        monthNames: customeStrings.monthArr,
        monthNamesShort: customeStrings.monthArrShort,
        minDate: today,
        maxDate: maxDate,
        toolbarCloseText: 'Ok',
        onlyOnPopover: true,
        toolbar: true,
        toolbarTemplate: `
        <div class="toolbar">
          <div class="toolbar-inner">
            {{monthPicker}}
            <a href="#" class="link close-picker" style='margin-right: 15px'>Ok</a>
          </div>
        </div>`,
        onChange: ((p, values, displayValues) => {
          self.guest.entryDate = Helper.Dates.commonFormat(values[0])
          self.guest.dateTo = Helper.Dates.commonFormat(values[0])
        })
      })
    }
  }
}
</script>

<style scoped>
.buttons-container button{
  border: 1px solid #ddd;
  color: #fff;
  background-color: #25d366;
  margin-top: 20px;
}
.buttons-container button span {
  padding-right: 15px;
}
.buttons-container p {
  width: 80%;
  margin: 0 auto;
  padding-top: 15px;
  color: gray;
}
.list-block .item-content{
  /* padding-left: 0px; */
}
.list-block .item-title.label {
  width: auto;
  margin-right: 15px;
}
</style>
