<template lang="pug">
f7-page#showMySales.navbar-through.navbar-button(data-page='showMySales', toolbar-fixed)
  //- toolbar(:showButton='true',
  //- text='Crear aviso',
  //- v-on:btnAdminClick='newSale')
  .sale-container
    .list-block.sercheable-list
      p.no-data-message(v-if='showNoDataMessage') No hay datos disponibles
      ul(v-if='!showNoDataMessage')
        f7-searchbar(cancel-link='Cancel', placeholder='Buscar Clasificados...', :clear-button='true')
        list-element(v-for='sale in salesArrayFiltered',
        :key='sale.id_prd',
        :title='sale.nombre_prd',
        :iconSrc='sale.imagen_prd',
        :status='"Precio: " + sale.precio_prd',
        :date='sale.cantidad_stock_prd',
        :publishBy='sale.publicado_por',
        :salesStyle='true',
        v-on:clicked='showSale(sale)')
      
</template>

<script>
import { EventBus } from '../assets/js/event-bus'
import Helper from '../assets/js/helper'
// import Toolbar from '../components/toolbar'
import ListElement from '../components/list-element'
export default {
  name: 'showMySales',
  data(){
    return{
      salesArray: [],
      showNoDataMessage: false
    }
  },
  components: {
    listElement: ListElement
  },
  computed:{
    credentials(){
      return this.$store.getters.credentials
    },
    isAdmin(){
      return this.$store.getters.isAdmin
    },
    saleFilterData(){
      return this.$store.getters.saleFilterData
    },
    salesArrayFiltered: function () {
      let idCateg = this.saleFilterData
      if (idCateg !== '-1') {
        return this.salesArray.filter(function (sale) {
          return sale.id_ctg === idCateg
        })
      }
      else{
        return this.salesArray
      }
    }
  },
  mounted(){
    this.getSales()
    this.searchbarInit()
    this.$store.dispatch('setShowInfo', {show: false, icon: 'filter_list', isSale: true} )
    this.$eventBus.$on('newSaleEvt', this.newSale)
  },
  methods:{
    searchbarInit(){
      this.$f7.searchbar('.searchbar', {
        searchList: '.sercheable-list',
        searchIn: '.item-title'
      })
    },
    getSales(){
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.getSalesSuccess,
        data: {
          idPantalla: 15,
          idAccion: 'Clasificados_usuarios',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password
        }
      }
      Helper.post(params)
    },
    getSalesSuccess(res){
      if(res){
        this.salesArray = typeof(res) === 'string' ? JSON.parse(res) : res;
        if (this.salesArray instanceof Array && this.salesArray.length == 0)
          this.showNoDataMessage = true;
      }
    },
    showSale(sale){
      this.$store.dispatch('setMySaleData', sale)
      this.$store.dispatch('setMainTitleToPush', sale.nombre_prd)
      this.$f7.mainView.loadPage({url:'showMySale/EDIT'})
    },
    newSale(){
      this.$store.dispatch('setMySaleData', {})
      this.$store.dispatch('setMainTitleToPush', 'Nuevo aviso')
      this.$f7.mainView.loadPage({url:'showMySale/NEW'})
    }
  }
}
</script>

<style scoped>
.guests-container{
  margin-bottom: 50px;
}
</style>
