<template lang="pug">
f7-page#showReservation.navbar-through(data-page='showReservation')
  .show-reservation-container
    .card(:class='{ grayBg: showCancelReservation }')
      .card-content
        h3 Fecha
        p
          | {{myReservationData.fecha}}
    .card(:class='{ grayBg: showCancelReservation }')
      .card-content
        h3 Servicio
        p
          | {{myReservationData.nombre}}
    .card(:class='{ grayBg: showCancelReservation }')
      .card-content
        h3 Turno/s
        p
          | {{myReservationData.turno}}
    .card(:class='{ grayBg: showCancelReservation }')
      .card-content
        h3 Estado
        p
          | {{myReservationData.estado}}
    .card(v-show='showCancelReservation')
      .card-content
        h3 Motivo Cancelación
        .list-block
          ul
            li
              textarea(placeholder='Ingrese el motivo de la cancelación', v-model='cancelationText')
    button.button.button-fill.button-general-style.button-big.color-green(@click='cancelReservation') Cancelar Reserva
</template>

<script>
import Helper from '../assets/js/helper'
import ListElement from '../components/list-element'
import Toolbar from '../components/toolbar'
export default {
  name: 'myReservations',
  data(){
    return{
      cancelationText: '',
      showCancelReservation: false,
      helper : Helper,

    }
  },
  components:{
    listElement: ListElement
  },
  computed: {
    credentials(){
      return this.$store.getters.credentials
    },
    myReservationData(){
      return this.$store.getters.myReservationData
    }
  },
  mounted(){
  },
  methods:{
    cancelReservation(){
      if(!this.showCancelReservation)
        this.showCancelReservation = true
      else{
        if (this.cancelationText === '') {
            Helper.showMessage('Debe ingresar un motivo')
            return
        }
        else {
          let params = {
            url: Helper.URL.GetMain,
            dataType: 'json',
            callback: this.cancelReservationSuccess,
            data: {
              idPantalla: 7,
              idAccion: 'Cancelar',
              idBarrio: this.credentials.barrio.id,
              idUsuario: this.credentials.user,
              idPassword: this.credentials.password,
              reserva: this.myReservationData.idReserva,
              motivo: this.cancelationText
            }
          }
          Helper.post(params)
        }
      }
    },
    cancelReservationSuccess(res){
      if(res){
        res = typeof(res) === 'string' ? JSON.parse(res) : res
        Helper.showMessage(res, (()=>{
          this.$f7.mainView.loadPage({url:'home', force: true})
        }))
      }
    }
  }
}
</script>

<style scoped>
.card-content{
  padding: 16px;
}
.card-content h3{
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.card-content p{
  padding: 0;
  margin: 0;
  color: #666;
}
.grayBg{
  background: rgb(238, 238, 238);
}
li:after{
  display: none;
}
</style>
