<template lang="pug">
f7-page#showForum.navbar-through(data-page='showForum', toolbar-fixed)
  //- toolbar(:showButton='forumData.crear_tema === "S"',
  //- text='Nuevo Tema',
  //- v-on:btnAdminClick='newTopic')
  .forum-container
    .list-block.sercheable-list
      p.no-data-message(v-if='showNoData') No hay datos disponibles
      ul(v-if='!showNoData')
        f7-searchbar(cancel-link='Cancel', placeholder='Buscar foro...', :clear-button='true')
        list-element(v-for='topic in topicsArray',
        :key='topic.idTema',
        :title='topic.nombre ',
        :date='getCommonDate(topic.fecha) + " - " + topic.categoria + " - " + topic.cantidad_comentarios + " comentarios"'
        v-on:clicked='showTopic(topic)')
</template>

<script>
import Helper from '../assets/js/helper'
// import Toolbar from '../components/toolbar'
import ListElement from '../components/list-element'
export default {
  name: 'showForum',
  data(){
    return{
      topicsArray: [],
      showNoData: false
    }
  },
  components: {
    // toolbar: Toolbar,
    listElement: ListElement
  },
  computed:{
    credentials(){
      return this.$store.getters.credentials
    },
    forumData(){
      return this.$store.getters.forumData
    }
  },
  mounted(){
    this.searchbarInit()
    this.getForums()
  },
  methods: {
    getCommonDate(date){
      return Helper.Dates.commonFormat(date)
    },
    searchbarInit(){
      this.$f7.searchbar('.searchbar', {
        searchList: '.sercheable-list',
        searchIn: '.item-title'
      })
    },
    getForums(){
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.getForumsSuccess,
        data: {
          idPantalla: 11,
          idAccion: 'Tema',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          idForo: this.forumData.idForo
        }
      }
      Helper.post(params)
    },
    getForumsSuccess(res){
      if(res){
        this.topicsArray = typeof(res) === 'string' ? JSON.parse(res) : res;
        this.showNoData = res.length == 0;
      }
    },
    newTopic(){
      this.$store.dispatch('setMainTitleToPush', 'Nuevo Tema')
      this.$f7.mainView.loadPage('newTopic')
    },
    showTopic(topic){
      topic.idForum = this.forumData.idForo
      this.$store.dispatch('setTopicData', topic)
      this.$store.dispatch('setMainTitleToPush', topic.nombre)
      this.$f7.mainView.loadPage('showTopic')
    }
  }
}
</script>

<style scoped>
</style>
