<template lang="pug">
f7-page#showTopic.navbar-through(data-page='showTopic')
  .show-topic-container
    .card
      .card-header
        i.material-icons.header-topic-icon group
        .header-topic-title
          p.title
            | {{topicInfo.titulo}}
          p.subtitle
            | {{topicInfo.categoria}}
          p
            | {{topicInfo.fecha}}
      .card-content()
        .card-content-inner(v-html='topicInfo.detalle')
    .messages-container
      .message(v-for='(message, index) in topicMessages', v-bind:class="{ 'message-right': index % 2 == '1'}")
        h2
          | {{message.comentario}}
        p
          | Enviado por {{message.usuario}} - {{message.fecha}}
        .user-attach(v-if='message.adjuntos.length > 0', @click='downloadFile(message.adjuntos[0])')
          span
            | {{message.adjuntos[0].nombre_archivo_corto}}
            i.material-icons attach_file
    .show-attach-container(v-if='showAttach')
      .card
        .list-block
          ul
            li()
              .card-content()
                .card-content-inner
                  .attachments-container()
                    img(:src='message.attach.src', alt='attached img')
                    span {{message.attach.name}}
                    i.material-icons(@click='removeFile') clear
    .send-message-container(v-if='canComment')
      .message-attach(@click='attachFile', :disabled='showAttach')
        i.material-icons attach_file
      .message-input
        input(type='text', placeholder='Escriba un comentario', v-model='message.text')
      .message-icon(@click='sendMessage')
        i.material-icons send
</template>

<script>
import Helper from '../assets/js/helper'
export default {
  name: 'showTopic',
  data(){
    return{
      canComment: false,
      topicInfo: [],
      topicMessages: [],
      message: {
        text: '',
        attach: []
      },
      showAttach: false
    }
  },
  components: {
  },
  computed:{
    credentials(){
      return this.$store.getters.credentials
    },
    topicData(){
      return this.$store.getters.topicData
    }
  },
  mounted(){
    this.getTopic()
  },
  methods: {
    getCommonDate(date){
      return Helper.Dates.commonFormat(date)
    },
    getTopic(){
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.getTopicSuccess,
        data: {
          idPantalla: 11,
          idAccion: 'Detalle',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          idTema: this.topicData.idTema
        }
      }
      Helper.post(params)
    },
    getTopicSuccess(res){
      if(res){
        this.topicInfo = typeof(res) === 'string' ? JSON.parse(res)[0] : res[0]
        this.topicInfo.detalle = Helper.decodeHTML(this.topicInfo.detalle)
        this.canComment = this.topicInfo.puede_comentar === 'S'
        this.getTopicMessages()
        this.getTopicParticipants()
      }
    },
    getTopicMessages(){
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.getTopicMessagesSuccess,
        data: {
          idPantalla: 11,
          idAccion: 'Comentarios',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          idTema: this.topicData.idTema
        }
      }
      Helper.post(params)
    },
    getTopicMessagesSuccess(res){
      if(res){
        this.topicMessages = typeof(res) === 'string' ? JSON.parse(res) : res
        for(let i = 0; i < this.topicMessages.length; i++){
          let adj = this.topicMessages[i].adjuntos
          try {
            this.topicMessages[i].adjuntos = typeof(adj) === 'string' ? JSON.parse(adj) : adj
          } catch (e) {
            console.log(e)
          }
        }
      }
    },
    getTopicParticipants(){
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.getTopicParticipantsSuccess,
        data: {
          idPantalla: 11,
          idAccion: 'Participantes',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          idForo: this.topicData.idForum
        }
      }
      Helper.post(params)
    },
    getTopicParticipantsSuccess(res){
      if(res){
        let participants = '<ul>'
        res = typeof(res) === 'string' ? JSON.parse(res) : res
        for(let i = 0; i < res.length; i++){
          participants += '<li>' + res[i].nombre + ' ('+ res[i].lote+')</li>'
        }
        participants += '</ul>'
        this.$store.dispatch('setShowInfo', {show: true, title: 'Participantes', data: participants, icon: 'people_outline'} )
      }
    },
    downloadFile(file){
      Helper.downloadFile(file.nombre_archivo_largo)
    },
    sendMessage(){
      if (!this.canComment)
        return;
      
      if(this.message.text === ''){
        Helper.showMessage('No puede enviar un mensaje vacío.')
        return
      }
      if(this.showAttach){
        try {
          Helper.saveFile(this.message.attach.src, this.credentials.barrio.id, this.uploadImageSuccess, this.uploadImageFailed)
        } catch (err) {
          this.uploadImageFailed(err)
        }
      }
      else{
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.sendMessageSuccess,
        data: {
          idPantalla: 11,
          idAccion: 'Nuevo_comentario',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          idTema: this.topicData.idTema,
          txtMensaje: this.message.text,
          adjuntos: []
        }
      }
      Helper.post(params)
      }
    },
    uploadImageSuccess(res){
      let imageName = res.uploadName
      if (Helper.getFileExtension(imageName) == "") {
        imageName += ".jpg"
      }
      let attach = []
      let tmp = imageName + "," + this.message.attach.name.split("/").pop()
      attach.push(tmp)
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.sendMessageSuccess,
        data: {
          idPantalla: 11,
          idAccion: 'Nuevo_comentario',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          idTema: this.topicData.idTema,
          txtMensaje: this.message.text,
          'adjuntos': attach
        }
      }
      Helper.post(params)
    },
    uploadImageFailed(err){
      Helper.showMessage(err)
    },
    sendMessageSuccess(res){
      if(res){
        f7.mainView.refreshPage()
        this.removeFile()
      }
    },
    attachFile(){
      Helper.attachFile(this.attachFileSuccess)
    },
    attachFileSuccess(res){
      let name = res.split("/").pop()
      let file = {src: res, name: name}
      this.message.attach = file
      this.$nextTick(()=>{
        this.showAttach = true
      })
    },
    removeFile(){
      this.showAttach = false
      this.message.attach = []
    }
  }
}
</script>

<style scoped>
*{
  color: #666;
}
.show-topic-container{
  padding-bottom: 50px;
}
.card-header{
  padding: 15px 10px;
  display: inline-flex;
}
.card-header p{
  color: #000;
}

.header-topic-icon{
  font-size: 40px;
}

.header-topic-title{
  margin-left: 15px;
}
.header-topic-title p{
  margin: 0px;
  font-size: 14px;
}
.title{
  font-size: 16px;
}
.subtitle{
  font-size: 14px;
}
.message{
  border-radius: 20px;
  border-top-left-radius: 0px;
  margin: 5px auto;
  border-color: #ddd;
  background-color: #fff;
  min-width: 95%;
  position: relative;
  padding: 10px;
}
.message-right{
  border-top-left-radius: 20px;
  border-top-right-radius: 0px !important;
  background-color: #E1FFC7;
}
.message h2{
  font-size: 12pt;
}
.message p{
  font-size: 8pt;
}
.send-message-container{
  height: 44px;
  position: fixed;
  background-color: white;
  bottom: 0;
  display: flex;
  min-width:100%;
  text-align:center;
}
.user-attach span{
  background-color: #f5f5f5;
  display:inline-block
}
.user-attach i{
  vertical-align: top;
}
.show-attach-container{
  position: fixed;
  width: 100%;
  bottom: 40px;
}
.attachments-container img{
  width: 45px;
  height: 30px;
}
.attachments-container span{
  padding-left: 20px;
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
}
.message-attach{
  float:left;
  width: 30px;
  line-height: 44px;
}
.message-attach i {
  vertical-align: middle;
  padding-left: 15px;
  font-size: 30px;
}
.message-input{
  display: inline-block;
  margin:0 auto;
  line-height: 44px;
  width: 70%;
}
.message-input input{
  padding-left: 8px;
  border: none;
  background-color: #d3d3d36e;
  height: 30px;
  width: 100%;
}
.message-icon{
  padding-right: 10px;
  line-height: 44px;
  float:right;
  width: 30px;
}
.message-icon i{
  vertical-align: middle;
  padding-right: 15px;
  font-size: 30px;
}
</style>
