<template lang="pug">
f7-page.navbar-through(data-page='showMail')
  .mail-container()
    .card
      .card-header
        .img-container
          i.far.fa-calendar-alt
        .text-container
          h2
            | {{mail.txt_tipo}}
          p {{mail.txt_fecha}}
      .card-content
        .card-content-inner
          span#mailContainer(v-html='mail.txt_estado', v-if='mail.txt_estado !== "" ')
</template>

<script>
import Helper from '../assets/js/helper.js'
import ArrowRight from '../assets/img/icons/arrow-right.png'
import NovevadesIcon from '../../static/icon/home/novedades.png'

export default {
  name: 'showMail',
  mounted () {
  },
  computed: {
    credentials() {
      return this.$store.getters.credentials
    },
    mail () {
      return this.$store.getters.mailData
    }
  }
}
</script>
<style scoped>

.img-container {
  font-size: 2em;
}

.text-container {
  position: absolute;
  left: 20%;
  width: 80%;
}

.text-container h2 {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-container p {
  padding: 0;
  margin: 0;
  white-space: normal !important;
  color: #666;
  font-size: 14px;
}
.asd{
}
</style>
