<template lang="pug">
f7-page#showMySale.navbar-through(data-page='showMySale', toolbar-fixed='toolbar-fixed')
  //- toolbar
  .my-sale-container
    .list-block.sercheable-list
      ul
        li
          .item-content
            .item-inner
              .item-input
                p Titulo
                input(type='text', placeholder='Nombre', v-model='mySale.name')
        li
          .item-content
            .item-inner
              .item-input
                p Precio
                input(type='text', placeholder='Precio', v-model='mySale.price')
        li
          .item-content
            .item-inner
              .item-title.label Moneda
              .item-input
                a.item-link.smart-select(href='#', data-open-in="picker", data-back-on-select="true")
                  .custom-selectbox 
                    select(name='', v-model='mySale.currency')
                      option(value='PESOS') PESOS
                      option(value='DOLAR') DOLAR
                    .item-select-text {{mySale.currency}}
        li
          .item-content
            .item-inner
              .item-title.label Categoria
              .item-input
                a.item-link.smart-select(href='#', data-open-in="picker", data-back-on-select="true")
                  .custom-selectbox 
                    select(name='', v-model='mySale.filter.value', @change='setFilterType', ref='selFilterType')
                      option(v-for='filter in filterArray', :value='filter.id_ctg') {{filter.nombre_ctg}}
                    .item-select-text {{mySale.filter.desc}}
        li
          .item-content
            .item-inner
              .item-input
                p Cantidad
                input(type='text', placeholder='Cantidad', v-model='mySale.quantity')
        li
          .item-content
            .item-inner
              .item-input
                p Detalle
                textarea(type='text', placeholder='Detalle', v-model='mySale.detail')
        li
          .item-content
            .item-inner
              .item-input
                p Mail de contacto
                input(type='text', placeholder='email', v-model='mySale.email')
      add-attach(:src='mySale.img', :multiple='false', v-if='finishLoad', v-on:attach='addAttach', v-on:remove='removeAttach')
      button.button.button-fill.button-general-style.color-gray.button-big(@click='changeStatus', v-if='showButtons') {{pauseButtonText}}
      button.button.button-fill.button-general-style.color-gray.button-big(@click='saveSale') Guardar clasificado
      button.button.button-fill.button-general-style.color-red.button-big(@click='deleteSale', v-if='showButtons') Eliminar

</template>
<script>
import Helper from '../assets/js/helper'
// import Toolbar from '../components/toolbar'
import addAttach from '../components/addAttach'
import _ from 'lodash'
export default {
  name: 'showMySale',
  data() {
    return {
      mySale: {
        id: '',
        detail: '',
        idUser: '',
        filter: {
          value: '',
          desc: 'Seleccione'
        },
        quantity: '',
        price: '',
        currency: 'PESOS',
        img: '',
        status: '',
        name: '',
        publishBy: ''
      },
      type: this.$route.params.type,
      filterArray: [],
      finishLoad: false,
      pauseButtonText: 'Pausar',
      showButtons: false,
      saleAttachArray: [],
      fileUpload: []
    }
  },
  components: {
    // toolbar: Toolbar,
    addAttach: addAttach
  },
  computed: {
    credentials() {
      return this.$store.getters.credentials
    },
    mySaleData() {
      return this.$store.getters.mySaleData
    }
  },
  mounted() {
    this.getFilter()
    this.searchbarInit()
    this.$store.dispatch('setShowInfo', {
      show: false,
      icon: 'filter_list',
      isSale: true
    })
    if (this.type === 'EDIT') {
      this.mySale.id = this.mySaleData.id_prd
      this.mySale.detail = this.mySaleData.detalle_prd
      this.mySale.idUser = this.mySaleData.id_usr
      // this.mySale.filter.value = this.mySaleData.id_ctg
      this.mySale.quantity = this.mySaleData.cantidad_stock_prd
      this.mySale.price = this.mySaleData.precio_prd
      this.mySale.currency = this.mySaleData.moneda_prd
      this.mySale.img = this.mySaleData.imagen_prd
      this.mySale.status = this.mySaleData.status_prd
      this.mySale.name = this.mySaleData.nombre_prd
      this.mySale.publishBy = this.mySaleData.publicado_por
      this.showButtons = true
    }
    this.mySale.status === 'ACTIVO' ? this.pauseButtonText = 'Pausar' : this.pauseButtonText = 'Activar'
    this.$nextTick(() => {
      this.finishLoad = true
    })
  },
  methods: {
    setFilterType () {
      this.mySale.filter.desc = this.$refs.selFilterType.selectedOptions[0].text
    },
    addAttach(res){
      this.saleAttachArray = res
    },
    removeAttach(res){
      this.saleAttachArray = res
    },
    searchbarInit() {
      this.$f7.searchbar('.searchbar', {
        searchList: '.sercheable-list',
        searchIn: '.item-title'
      })
    },
    getFilter() {
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.getFilterSuccess,
        data: {
          idPantalla: 15,
          idAccion: 'Get_categorias',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password
        }
      }
      Helper.post(params)
    },
    getFilterSuccess(res) {
      if (res) {
        this.filterArray = typeof(res) === 'string' ? JSON.parse(res) : res
        if (this.type === 'EDIT') {
          let vm = this
          let ctg = _.find(this.filterArray, (f => { return f.id_ctg == vm.mySaleData.id_ctg}))
          this.mySale.filter.value = ctg.id_ctg
          this.mySale.filter.desc = ctg.nombre_ctg
        }
      }
    },
    changeStatus() {
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.changeStatusSuccess,
        data: {
          idPantalla: 15,
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          id_clasificado: this.mySale.id
        }
      }
      if (this.mySale.status === 'ACTIVO') {
        params.data.idAccion = 'Pausar_clasificado'
      } else {
        params.data.idAccion = 'Activar_clasificado'
      }
      Helper.post(params)
    },
    changeStatusSuccess(res) {
      if (res) {
        res = typeof(res) === 'string' ? JSON.parse(res) : res
        if (res[0].respuesta == 1 && this.mySale.status === 'ACTIVO') {
          Helper.showMessage('Clasificado pausado', (() => {
            this.$f7.mainView.loadPage({
              url: 'home',
              force: true
            })
          }))
        } else {
          Helper.showMessage('Clasificado activado', (() => {
            this.$f7.mainView.loadPage({
              url: 'home',
              force: true
            })
          }))
        }
      }
    },
    deleteSale() {
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.deleteSaleSuccess,
        data: {
          idPantalla: 15,
          idAccion: 'Eliminar_clasificado',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          id_clasificado: this.mySale.id
        }
      }
      Helper.post(params)
    },
    deleteSaleSuccess(res) {
      if (res) {
        res = typeof(res) === 'string' ? JSON.parse(res) : res
        if (res[0].respuesta == 1) {
          Helper.showMessage('Clasificado eliminado correctamente', (() => {
            this.$f7.mainView.loadPage({
              url: 'home',
              force: true
            })
          }))
        } else {
          Helper.showMessage('No se pudo eliminar el clasificado', (() => {
            this.$f7.mainView.loadPage({
              url: 'home',
              force: true
            })
          }))
        }
      }
    },
    saveSale() {
      if (this.mySale.name === '') {
        Helper.showMessage('No puede enviar un clasificado sin titulo')
        return;
      }
      if (this.mySale.detail === '') {
        Helper.showMessage('No puede enviar un clasificado sin un detalle');
        return;
      }
      if (this.mySale.price === '') {
        Helper.showMessage('No puede enviar un clasificado sin precio')
        return;
      }
      if (this.mySale.currency === '') {
        Helper.showMessage('No puede enviar un clasificado sin tipo de moneda')
        return;
      }
      if (this.mySale.quantity === '') {
        Helper.showMessage('No puede enviar un clasificado sin cantidad')
        return;
      }
      if (this.mySale.filter.value === '' || this.mySale.filter.value === 'Seleccione') {
        Helper.showMessage('No puede enviar un clasificado sin una categoria')
        return;
      }
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.saveSaleSuccess,
        data: {
          idPantalla: 15,
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          nombrePrd: this.mySale.name,
          detallePrd: this.mySale.detail,
          precioPrd: this.mySale.price,
          monedaPrd: this.mySale.currency,
          cantidadStockPrd: this.mySale.quantity,
          id_categoria: this.mySale.filter.value,
          id_clasificado: this.mySale.id,
          mail: this.mySale.email
        }
      }
      if (this.type === 'EDIT') {
        params.data.idAccion = 'Upd_clasificado'
      } else {
        params.data.idAccion = 'New_clasificado'
      }
      if(this.fileUpload.length > 0){
        params.data.imagenPrd = this.fileUpload[0]
      }
      else{
        params.data.imagenPrd = this.mySale.img.split('/').pop()
      }
      this.saleAttachArray.length > 0 ? this.initUploadAttach() : Helper.post(params)
    },
    initUploadAttach() {
      try {
        Helper.saveFile(this.saleAttachArray[0].src, this.credentials.barrio.id, this.uploadImageSuccess, this.uploadImageFailed)
      } catch (e) {
        Helper.showMessage('Error subiendo imagen')
      }
    },
    uploadImageSuccess(res) {
      let fileName = this.saleAttachArray[0].src.split("/").pop()
      let extension = Helper.getFileExtension(fileName);
      if (extension == "") {
        fileName += ".jpg";
      }
      this.fileUpload.push(res.uploadName)
      this.saleAttachArray.pop()
      this.saveSale()
    },
    uploadImageFailed(res) {
      console.log(res)
    },
    saveSaleSuccess(res) {
      if (res) {
        res = typeof(res) === 'string' ? JSON.parse(res) : res
        if (res[0].id_clasificado) {
          if (this.type === 'EDIT')
            Helper.showMessage('Clasificado editado', (() => {
              this.$f7.mainView.loadPage({
                url: 'home',
                force: true
              })
            }))
          else
            Helper.showMessage('Clasificado agregado', (() => {
              this.$f7.mainView.loadPage({
                url: 'home',
                force: true
              })
            }))
        }
      }
    }
  }
}
</script>

<style scoped>
#shoyMySale p {
  margin: 0;
  margin-top: 10px;
}

#shoyMySale input,
#shoyMySale select,
#shoyMySale textarea {
  font-size: 14px;
}

button {
  margin-top: 10px;
  margin-bottom: 10px;
}
</style>
