<template lang="pug">
f7-page.navbar-through(data-page='showIngesysGuest')
  .show-reservation-container
    .card
      .card-content
        h3 Nombre
        p
          | {{ingesysData.visitantes[0].nombre}}
    .card
      .card-content
        h3 Apellido
        p
          | {{ingesysData.visitantes[0].apellido}}
    .card
      .card-content
        h3(v-if='!isUruguay') DNI
        h3(v-else) Cedula
        p
          | {{ingesysData.visitantes[0].dni}}
    .card
      .card-content
        h3 Patentes
        p
          | {{ingesysData.visitantes[0].patentes}}
    .card
      .card-content
        h3 Telefono
        p
          | {{ingesysData.visitantes[0].telefono}}
    .card
      .card-content
        h3 Email
        p
          | {{ingesysData.visitantes[0].email}}
    .card
      .card-content
        h3 Fecha desde
        p
          | {{ingesysData.fechaDesde}}
    .card
      .card-content
        h3 Fecha hasta
        p
          | {{ingesysData.fechaHasta}}
    button.button.button-fill.button-general-style.button-big.color-red(@click='deleteGuest') Eliminar invitado
</template>

<script>
import Helper from '../assets/js/helper'
import ListElement from '../components/list-element'
import Toolbar from '../components/toolbar'
import { mapGetters } from 'vuex';
export default {
  name: 'showIngesysGuest',
  data(){
    return{
      cancelationText: '',
      showCancelReservation: false,
      helper : Helper,

    }
  },
  computed: {
    ...mapGetters(['credentials',
    'ingesysData',
    'isUruguay'])
  },
  mounted(){
    debugger
  },
  methods:{
    deleteGuest(){
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.deleteGuestSuccess,
        data: {
          idPantalla: 23,
          idAccion: 'eliminar',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          id: this.ingesysData.id
        }
      }
      Helper.post(params)
    },
    deleteGuestSuccess(res){
      Helper.showMessage(res)
       this.$f7.mainView.loadPage({url:'home', force: true})
    }
  }
}
</script>

<style scoped>
.card-content{
  padding: 16px;
}
.card-content h3{
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.card-content p{
  padding: 0;
  margin: 0;
  color: #666;
}
.grayBg{
  background: rgb(238, 238, 238);
}
li:after{
  display: none;
}
</style>
