<template lang="pug">
f7-page#showBallot.navbar-through(data-page='showBallot')
  .ballot-container()
    .card
      .card-header
        i.material-icons.header-ballot-icon attach_money
        .header-ballot-title
          p
            | {{ballotData.tituloNtc}}
          p.header-ballot-date
            | {{commonDate}}
      .card-content()
        .card-content-inner(v-html='ballotText')
    show-attachment(:attachmentsArray='attachmentData', v-if='attachmentData.length > 0')
</template>

<script>
import Helper from '../assets/js/helper'
import ShowAttachment from '../components/showAttachment'
export default {
  name: 'showBallot',
  data() {
    return {
      ballotDetails: [],
      attachmentData: [],
      ballotText: '',
      commonDate: ''
    }
  },
  components: {
    showAttachment: ShowAttachment
  },
  computed: {
    credentials() {
      return this.$store.getters.credentials
    },
    ballotData(){
      return this.$store.getters.ballotData
    }
  },
  mounted() {
    this.getBallotDetail()
    this.getBallotAditionalInfo()
    this.commonDate = Helper.Dates.commonFormat(this.ballotData.fechNtc)
  },
  methods: {
    getBallotDetail(){
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'TEXT',
        callback: this.getBallotDetailSuccess,
        data: {
          idPantalla: 13,
          idAccion: 'Unica',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          idNovedad: this.ballotData.idNtc
        }
      }
      Helper.post(params)
    },
    getBallotDetailSuccess(res){
      if(res){
        this.ballotText = res
        this.getBallotAttach()
      }
    },
    getBallotAttach(){
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.getBallotAttachSuccess,
        data: {
          idPantalla: 13,
          idAccion: 'Adjuntos',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          idNovedad: this.ballotData.idNtc
        }
      }
      Helper.post(params)
    },
    getBallotAttachSuccess(res){
      if(res){
        res = typeof(res) === 'string' ? JSON.parse(res) : res
        for (let i = 0; i < res.length; i++) {
          this.attachmentData.push(
            {
              file: res[i].file1Ntc,
              name: res[i].fileNombre
            })
        }
      }
    },
    getBallotAditionalInfo(){
        let params = {
          url: Helper.URL.GetMain,
          dataType: 'json',
          callback: this.getBallotAditionalInfoSuccess,
          data: {
            idPantalla: 13,
            idAccion: 'Info',
            idBarrio: this.credentials.barrio.id,
            idUsuario: this.credentials.user,
            idPassword: this.credentials.password
          }
        }
        Helper.post(params)
    },
    getBallotAditionalInfoSuccess(res){
      if(res){
      }
    }
  }
}
</script>

<style scoped>
*{
  color: #666;
}
.card-header{
  padding: 15px 10px;
  display: inline-flex;
}
.card-header p{
  color: #000;
}

.header-ballot-icon{
  font-size: 40px;
}
.header-ballot-title p{
  margin: 0px;
  font-size: 14px;
}
</style>
