<template lang="pug">
f7-page#showDiary.navbar-through(data-page='showDiary')
  .diary-container
    .card
      .card-header
        p.header-icon
          i.material-icons event_note
        span.text-container
          h5.title-container
            | {{diaryData.titulo}}
          span
            |  {{diaryData.formatDate}}
      .card-content
        .card-content-inner(v-html='diaryData.texto')
</template>

<script>

import Helper from '../assets/js/helper'
export default {
  name: 'showDiary',
  data() {
    return {

    }
  },
  components: {

  },
  computed: {
    credentials() {
      return this.$store.getters.credentials
    },
    diaryData(){
      return this.$store.getters.diaryData
    }
  },
  mounted() {
  },
  methods: {
  }
}
</script>

<style scoped>
*{
  color: #666;
}
.card-header{
  padding: 5px 10px;
}
.header-icon{
  padding-right: 20px;
}
.header-icon i{
  font-size: 40px;
}
.title-container{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 95%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}
.text-container{
  position: absolute;
  left: 19%;
}
</style>
