<template lang="pug">
f7-page#showGuest.navbar-through(data-page='showGuest')
  .show-guest-container
    .list-block
    .card
      .card-content
        .card-content-inner
          .box
            p
              b Apellido
                span.required *
            input(v-model='guest.apellido', placeholder="Ingrese Apellido")
          .box
            p
              b Nombre
                span.required *
            input(v-model='guest.nombre', placeholder="Ingrese Nombre")
          .box(v-if='!isUruguay')
            p
              b Dni
                span.optional
                  |  (Opcional)
            input(v-model='guest.dni', placeholder="Ingrese Documento")
          .box(v-else)
            p
              b Cedula
                span.optional
                  |  (Opcional)
            input(v-model='guest.dni', placeholder="Ingrese Cedula")
          .box
            .list-block
              ul
                li
                  .item-content
                    .item-inner
                      .item-title.label Categoria
                        span.required *
                      .item-input
                        a.item-link.smart-select(href='#', data-open-in="picker", data-back-on-select="true")
                          .custom-selectbox 
                            select(name='', v-model='guest.categoria')
                              option(value='TEMPORAL', selected='selected') TEMPORAL
                              option(value='PERMANENTE') PERMANENTE
                            .item-select-text {{guest.categoria}}
          .box
            .list-block
              ul
                li
                  .item-content
                    .item-inner
                      .item-title.label Tipo de Acceso
                        span.required *
                      .item-input
                        a.item-link.smart-select(href='#', data-open-in="picker", data-back-on-select="true")
                          .custom-selectbox 
                            select(name='', v-model='guest.acceso')
                              option(value='PROPIETARIO') PROPIETARIO
                              option(value='PROVEEDOR') PROVEEDOR
                              option(value='VISITA', selected='selected') VISITA
                              option(value='INQUILINO TEMPORAL') INQUILINO TEMPORAL
                              option(value='EMPLEADA DOMESTICA') EMPLEADA DOMESTICA
                              option(value='JARDINERO') JARDINERO
                              option(value='OBRERO/OPERARIO') OBRERO/OPERARIO
                            .item-select-text {{guest.acceso}}
          .box(v-show='checkOnWayOut')
            .list-block
              ul
                li
                  label.label-checkbox.item-content
                    input(type='checkbox' v-model='guest.check' value='si')
                    .item-media
                      i.icon.icon-form-checkbox
                    .item-inner
                      .item-title Revisar al salir
                        span.optional
                          |  (Opcional)
          .box(v-show='showInsuranceInfo')
            p
              b Poliza de Seguro Nº
                span.required *
            input(v-model='guest.insuranceNumber', placeholder="Ingrese Poliza")
          .box(v-show='showInsuranceInfo')
            .list-block
              ul
                li
                  .item-content
                    .item-inner
                      .item-title.label Vigencia
                        span.required *
                      .item-input
                        input#guestInsuranceValidity(type='text', placeholder='dd/mm/yyyy', value='2018-01-01', v-model='guest.insuranceValidity')
          .box
            .list-block
              ul
                li
                  .item-content
                    .item-inner
                      .item-title.label Desde
                        span.required *
                      .item-input
                        input#guestDateFrom(type='text', placeholder='dd/mm/yyyy', value='2014-04-30', v-model='guest.fechaingreso')
          .box
            .list-block
              ul
                li
                  .item-content
                    .item-inner
                      .item-title.label Hora
                        span.required *
                      .item-input
                        a.item-link.smart-select(href='#', data-open-in="picker", data-back-on-select="true")
                          .custom-selectbox 
                            select(name='', v-model='guest.hourFrom')
                              option(value='00', selected='selected') 00
                              option(v-for='i in 23', :value='i <= 9 ? "0"+i : i') {{i <= 9 ? "0"+i : i}}
                            .item-select-text {{guest.hourFrom}}
          .box
            .list-block
              ul
                li
                  .item-content
                    .item-inner
                      .item-title.label Hast
                        span.required *
                      .item-input
                        input#guestDateTo(type='text', placeholder='dd/mm/yyyy', v-model='guest.fechaegreso')
          .box
            .list-block
              ul
                li
                  .item-content
                    .item-inner
                      .item-title.label Hora
                        span.required *
                      .item-input
                        a.item-link.smart-select(href='#', data-open-in="picker", data-back-on-select="true")
                          .custom-selectbox 
                            select(name='', v-model='guest.hourTo')
                              option(value='00', selected='selected') 00
                              option(v-for='i in 23', :value='i <= 9 ? "0"+i : i') {{i <= 9 ? "0"+i : i}}
                            .item-select-text {{guest.hourTo}}
          .box
            p
              b Vehículo Marca
                span.optional
                  |  (Opcional)
            input(v-model='guest.marca', placeholder='Ingrese Marca de Vehículo')
          .box
            p
              b Vehículo Dominio
                span.optional
                  |  (Opcional)
            input(v-model='guest.patente', placeholder='Ingrese Patente de Vehículo')
          .box
            span
              b Comentarios
                span.optional
                  |  (Opcional)
            .list-block
              ul
                li.align-top
                  .item-content
                    .item-inner
                      .item-input
                        textarea(placeholder='Ingrese Comentarios', v-model='guest.comentarios')
  .buttons-container
    button.button.button-big.active.color-green.button-general-style(href='#', @click='saveGuest') Guardar
    button.button.button-big.active.color-red.button-general-style(href='#', @click='deleteGuest') Eliminar
</template>

<script>
import Helper from '../assets/js/helper'
import { mapGetters } from 'vuex';
export default {
  name: 'showGuest',
  data() {
    return {
      guest: {
        nombre: '',
        apellido: '',
        fechaingreso: '',
        fechaegreso: '',
        categoria: '',
        acceso: '',
        marca: '',
        patente: '',
        art: '',
        dni: '',
        seguroVigencia: '',
        seguroPolizaInv: '',
        revisarInvitado: '',
        comentarios: '',
        dateFrom: 'dd/mm/yyy',
        dateTo: 'dd/mm/yyy',
        hourFrom: '',
        hourTo: '',
        check: false,
        insuranceNumber: '',
        insuranceValidity: 'dd/mm/yyy',
        insuranceValidityDate: ''
      },
      idGuest: '',
      calendarFrom: {},
      calendarTo: {}
    }
  },
  components: {},
  computed: {
    ...mapGetters([
      'credentials',
      'isUruguay']),
    showInsuranceInfo () {
      return this.guest.acceso === 'OBRERO/OPERARIO'
    },
    checkOnWayOut () {
      return this.guest.acceso === 'EMPLEADA DOMESTICA'
    }
  },
  mounted() {
    this.initCalendars()
    this.idGuest = this.$route.params.idGuest
    if (this.idGuest != -1)
      this.getGuest()
    else{
      this.guest.categoria = 'TEMPORAL'
      this.guest.acceso = 'VISITA'
      this.guest.hourFrom = '00'
      this.guest.hourTo = '00'
    }

  },
  methods: {
    initCalendars() {
      let self = this
      let customeStrings = {
        dayArr: ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado'],
        dayArrShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
        monthArr: [ 'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthArrShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic']
      }
      this.calendarFrom = this.$f7.calendar({
        input: '#guestDateFrom',
        dateFormat: 'dd/mm/yyyy',
        dayNames: customeStrings.dayArr,
        dayNamesShort: customeStrings.dayArrShort,
        monthNames: customeStrings.monthArr,
        monthNamesShort: customeStrings.monthArrShort,
        onChange: ((p, values, displayValues) => {
          self.guest.fechaingreso = Helper.Dates.commonFormat(values[0])
          self.guest.dateFrom = Helper.Dates.commonFormat(values[0])
        })
      });
      this.calendarTo = this.$f7.calendar({
        input: '#guestDateTo',
        dateFormat: 'dd/mm/yyyy',
        dayNames: customeStrings.dayArr,
        dayNamesShort: customeStrings.dayArrShort,
        monthNames: customeStrings.monthArr,
        monthNamesShort: customeStrings.monthArrShort,
        onChange: ((p, values, displayValues) => {
          self.guest.fechaegreso = Helper.Dates.commonFormat(values[0])
          self.guest.dateTo = Helper.Dates.commonFormat(values[0])
        })
      });
      this.validityTo = this.$f7.calendar({
        input: '#guestInsuranceValidity',
        dateFormat: 'dd/mm/yyyy',
        dayNames: customeStrings.dayArr,
        dayNamesShort: customeStrings.dayArrShort,
        monthNames: customeStrings.monthArr,
        monthNamesShort: customeStrings.monthArrShort,
        onChange: ((p, values, displayValues) => {
          self.guest.insuranceValidity = Helper.Dates.commonFormat(values[0])
          self.guest.insuranceValidityDate = Helper.Dates.commonFormat(values[0])
        })
      });
    },
    getGuest() {
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.getGuestSuccess,
        data: {
          idPantalla: 10,
          idAccion: 'Detalle',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          idInvitado: this.idGuest
        }
      }
      Helper.post(params)
    },
    getGuestSuccess(res) {
      if (res) {
        this.guest = typeof(res) === 'string' ? JSON.parse(res)[0] : res[0]
        this.guest.dateFrom = Helper.Dates.commonFormat(this.guest.fechaingreso)
        this.guest.dateTo = Helper.Dates.commonFormat(this.guest.fechaegreso)
        this.guest.hourFrom = Helper.Dates.getHours(this.guest.fechaingreso)
        this.guest.hourTo = Helper.Dates.getHours(this.guest.fechaegreso)
      }
    },
    saveGuest() {
      this.guest.id = this.idGuest
      this.guest.dateFrom = ''
      this.guest.dateTo = ''
      this.guest.dateFrom = this.guest.fechaingreso + ' - hs'
      this.guest.dateTo = this.guest.fechaegreso + ' - hs'
      if (this.guest.nombre === '') {
        Helper.showMessage('Es obligatorio ingresar el nombre del Invitado')
        return
      } else if (this.guest.apellido === '') {
        Helper.showMessage('Es obligatorio ingresar el apellido del Invitado')
        return
      } else if (this.guest.categoria === '') {
        Helper.showMessage('Es obligatorio seleccionar la categoría del Invitado')
        return
      } else if (this.guest.acceso === '') {
        Helper.showMessage('Es obligatorio seleccionar el tipo de acceso del Invitado')
        return
      } else if (this.guest.fechaingreso === '' || this.guest.fechaingreso === 'dd/mm/yyyy') {
        Helper.showMessage('Es obligatorio ingresar fecha desde')
        return
      } else if (this.guest.fechaegreso === '' || this.guest.fechaegreso === 'dd/mm/yyyy') {
        Helper.showMessage('Es obligatorio ingresar fecha hasta')
        return
      } else if (this.showInsuranceInfo && this.guest.insuranceNumber === '') {
        Helper.showMessage('Es obligatorio ingresar un numero de poliza')
        return
      } else if (this.showInsuranceInfo && this.guest.insuranceValidity === 'dd/mm/yyyy') {
        Helper.showMessage('Es obligatorio ingresar un el periodo de validez de poliza')
        return
      }
      else {
        this.$store.dispatch('setGuestData', _.cloneDeep(this.guest))
        this.$store.dispatch('setMainTitleToPush', 'Confirmar Invitado')
        this.$f7.mainView.loadPage({
          url: 'confirmGuest'
        })
      }
    },
    deleteGuest() {

    }
  }
}
</script>

<style scoped>
* {
  font-size: 14px;
}

input {
  border: none;
}

.list-block .item-content {
  padding-left: 0px;
}

.card-content-inner {
  padding: 0;
}

.box {
  border: 1px solid #ddd;
  padding: 6px 0 5px 16px;
}

#showGuest .list-block li:after {
  display: none;
}

.buttons-container button {
  margin-bottom: 10px;
  border-radius: 0px;
}
.required {
  color: red;
  font-size: 16px;
  font-weight: bolder;
}
.optional {
  color: lightgray;
  font-size: 13px;
}
</style>
