<template lang="pug">
f7-page#showInfraction.navbar-through(data-page='showInfraction')
  .show-infraction-container(v-if='pageRendered')
    .card
      .card-header
        p.header-infraction-date
          | Fecha infraccón:
          b
            | {{infractionData.fecha_infraccion}}
        p.header-infraction-title
          | {{infractionData.txt_titulo}}
        p.header-infraction-category
          | {{infractionData.categoria}} - {{infractionData.subcategoria}}
      .card-content(v-if='infractionDetails.infraccion.txt_mensaje')
        .card-content-inner(v-html='text + infractionDetails.infraccion.txt_mensaje')
    show-attachment(:attachmentsArray='attachmentData')
    .card(v-if='messagesArray.length > 0', v-for='(message, i) in messagesArray')
      .card-content.card-message
        p.claim-title
          | DESCARGO:
        p.claim-text(v-html='message.txt_mensaje')
          // | {{}}
        p.claim-date
            | Enviado por: {{message.apellido_usr}} - {{message.fecha_carga}}
    button.button.button-big.active.button-general-style.color-green(@click='makeClaim', v-if='allowClaim') Descargo
</template>

<script>
import Helper from '../assets/js/helper'
import ShowAttachment from '../components/showAttachment'
export default {
  name: 'showInfraction',
  data() {
    return {
      infractionDetails: [],
      attachmentData: [],
      messagesArray: [],
      allowClaim: false,
      text: '<p style="white-space: normal !important;text-decoration: underline;font-weight: 600;">Detalle infraccion:</p>',
      pageRendered: false
    }
  },
  components: {
    showAttachment: ShowAttachment
  },
  computed: {
    credentials() {
      return this.$store.getters.credentials
    },
    infractionData(){
      return this.$store.getters.infractionData
    }
  },
  mounted() {
    this.getInfractionDetail()
  },
  methods: {
    getInfractionDetail(){
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'TEXT',
        callback: this.getInfractionDetailSuccess,
        data: {
          idPantalla: 19,
          idAccion: 'Detalle',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          infraccion: this.infractionData.id,
          idInfraccion: this.infractionData.id
        }
      }
      Helper.post(params)
    },
    getInfractionDetailSuccess(res){
      if (res) {
        this.infractionDetails = typeof(res) === 'string' ? JSON.parse(res) : res
        if(this.infractionDetails.infraccion.descargo > 0) this.allowClaim = true
        for(let i = 0; i< this.infractionDetails.adjuntos.length; i++){
          let file = this.infractionDetails.adjuntos[i].file
          this.attachmentData.push({
            file: this.infractionDetails.adjuntos[i].file,
            name: '/' + file.split('/').pop().substring(file.split('/').pop().length - 14)
          })
        }
        this.$nextTick(function(){
          this.pageRendered = true
        })
        if (this.infractionDetails.mensajes) {
          this.infractionDetails.mensajes.forEach(m => m.txt_mensaje = Helper.decodeHTML(m.txt_mensaje))
          this.messagesArray = this.infractionDetails.mensajes
        }
      }
    },
    makeClaim(){
      this.$store.dispatch('setMainTitleToPush', 'Descargo')
      this.$f7.mainView.loadPage('claimInfraction')
    }
  }
}
</script>

<style scoped>
*{
  color: #666;
}
.card-header{
  display: block;
  padding: 5px 10px;
}
.card-header p{
  color: #000;
}
.header-infraction-date{
  text-align: right;
  font-size: 15px;
}

.header-infraction-title{
  font-size: 20px;
  font-weight: 600;
  margin: 2px;
}

.header-infraction-category{
  font-size: 14px;
  margin: 2px;
}

.card-message{
  padding: 16px;
  margin: 2px;
}

.claim-title{
  color: #000;
  font-size: 14px;
  text-decoration: underline;
  font-weight: 600
}
.claim-text{
  font-size: 14px;
}
.claim-date{
  font-size: 8pt;
}
button{
  margin-bottom: 15px;
}
</style>
