<template lang="pug">
f7-page#showSale.navbar-through(data-page='showSale')
  .sale-container()
    .card
      .card-header
        .img-container
          img(:src='saleData.imagen_prd')
      .card-content
        .card-content-inner
          h3 {{saleData.nombre_prd}}
          .desc-container
            span.price {{saleData.moneda_prd == "PESOS" ? "$" : "U$S"}} {{saleData.precio_prd}}
            span.quantity
            |  - {{saleData.cantidad_stock_prd}}
          .text-container
            span.text {{saleData.detalle_prd}}
          .publish-by
            span(v-html='saleData.publicado_por_adentro')
</template>
<script>
import Helper from '../assets/js/helper.js'
import ArrowRight from '../assets/img/icons/arrow-right.png'
import NovevadesIcon from '../../static/icon/home/novedades.png'
import ExpensasIcon from '../../static/icon/home/expensas.png'
import DocumentsIcon from '../../static/icon/home/documentos.png'
import { mapGetters } from 'vuex';
export default {
  name: 'showSale',
  components: {},
  data () {
    return {
      saleDetail: {}
    }
  },
  mounted() {
    // this.getSaleDetail()
  },
  methods: {
    getSaleDetail () {
      debugger
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.getSaleDetailSuccess,
        data: {
          idPantalla: 15,
          idAccion: 'Get_clasificado',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          id_clasificado: this.saleData.id_prd
        }
      }
      Helper.post(params)
    },
    getSaleDetailSuccess (res) {
      debugger
    }
  },
  computed: {
    ...mapGetters(['credentials',
      'saleData'])
    // credentials() {
    //   return this.$store.getters.credentials
    // },
  }
}
</script>
<style scoped>
.card-header{
  padding: 0;
}
.img-container{
  width: 100%;
  text-align: center;
}
.img-container img{
  max-width: 40vh;
}

.publish-by{
  background-color: #eee;
  border: 2px solid;
  border-color: #eee;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  /* padding-left: 50px;
  padding-right: 60px; */
  margin-top: 20px;
}
.desc-container .price{
  font-size: 100%;
  color: green;
  font-weight: 600;
  font-size: 28px;
}
.quantity{
  font-size: 17px;
}
.text-container span{
  font-size: 0.8em;
  color: darkgrey;
  font-style: italic;
}
.publish-by span {
  margin: 0;
  font-weight: 600;
  font-size: 100%;
}
</style>
