<template lang="pug">
f7-page#showGuestGirovision.navbar-through(data-page='showGuestGirovision')
  .show-guest-container
    .list-block
    .card
      .card-content
        .card-content-inner
          .box
            .list-block
              .item-content
                span
                  b Nombre y Apellido
                    span.required *
                input(v-model='guest.name', placeholder='')
          .box
            .list-block
              .item-content
                span
                  b(v-if='!isUruguay') Documento
                  b(v-else) Cedula
                input(v-model='guest.personalId', placeholder='')
          .box
            .list-block
              .item-content
                span
                  b Marca Vehículo
                input(v-model='guest.brand', placeholder='')
          .box
            .list-block
              .item-content
                span
                  b Patente Vehículo
                input(v-model='guest.licensePlate', placeholder='')
          .box(v-if='false')
            .list-block
              ul
                li
                  .item-content
                    .item-inner
                      .item-title.label Tipo de Invitado
                      .item-input
                        .custom-selectbox
                          a.item-link.smart-select(href='#', data-open-in="picker", data-back-on-select="true")
                            .custom-selectbox 
                              select(name='', v-model='guest.guestType.value' @change='setGuestType' ref='selGuestType')
                                option(value='' disabled) Seleccionar
                                option(:value='guestType.value' v-for='guestType in configData.guestTypeArray') {{guestType.desc}}
                              .item-select-text {{guest.guestType.desc}}
          .box
            .list-block
              ul
                li
                  .item-content
                    .item-inner
                      .item-title.label
                        span Valido Desde
                        span.required *
                      .item-input
                        input#guestDateTo(type='text', placeholder='', v-model='guest.entryDate')
          .box
            .list-block
              ul
                li
                  .item-content
                    .item-inner
                      .item-title.label Valido por
                      .item-input
                        a.item-link.smart-select(href='#', data-open-in="picker", data-back-on-select="true")
                          .custom-selectbox 
                            select(name='', v-model='guest.validityDays.value' @change='setValidDays', ref='selValidDays')
                              option(value='' disabled) Seleccionar
                              option(:value='days.value', v-for='days in configData.validityDaysArray') {{days.desc}}
                            .item-select-text {{guest.validityDays.desc}}
          .box(v-if='credentials.barrio.id === "85"')
            .list-block
              ul
                li
                  .item-content
                    .item-inner
                      .item-title.label Avisar telefonicamente?
                      .item-input
                        a.item-link.smart-select(href='#', data-open-in="picker", data-back-on-select="true")
                          .custom-selectbox 
                            select(name='', v-model='guest.warnOwner.value', @change='setWarnOwner', ref='selWarnOwner')
                              option(value='' disabled) Seleccionar
                              option(value='S') Si
                              option(value='N') No
                            .item-select-text {{guest.warnOwner.desc}}
          .box
            .list-block
              ul
                li.align-top
                  .item-content
                    .item-inner
                      .item-input
                        span.required
                          | * Campos obligatorios
                        br
                        span(v-html='configData.infoText')
  .buttons-container
    button.button.button-big.active.color-green.button-general-style(href='#', @click='saveGuest') {{buttonText}}
</template>

<script>
import {mapGetters} from 'vuex'
import _ from 'lodash'
import Helper from '../assets/js/helper'
export default {
  name: 'showGuestGirovision',
  data() {
    return {
      guest: {
        name: '',
        personalId: '',
        brand: '',
        licensePlate: '',
        entryType: {
          desc: '',
          value: ''
        },
        guestType: {
          desc: '',
          value: ''
        },
        accessType: {
          desc: 'Seleccionar',
          value: ''
        },
        motive: '',
        validityDays: {
          value: '',
          desc: 'Seleccionar'
        },
        warnOwner: {
          value: 'N',
          desc: 'No'
        },
        entryDate: '',
        dateTo: 'dd/mm/yyy'
      },
      configData:{
        validityDaysArray: [],
        entryTypeArray: [],
        guestTypeArray: [],
        accessTypeArray: [],
        guestAutocompleteArray: [],
        infoText: ''
      },
      idGuest: '',
      buttonText: 'Siguiente'
    }
  },
  components: {},
  computed: {
    ...mapGetters(['credentials',
    'isUruguay'])
  },
  mounted() {
    //this.initCalendars()
    this.idGuest = this.$route.params.idGuest
    this.getNewGuestConfig()
    this.getEntryTypes()
    this.getGuestTypes()
    this.getAccessTypes()
    this.getGuestAutocomplete()
    if (this.idGuest != -1){
      this.getGuest()
      this.buttonText = 'Volver a invitar'
    }
  },
  methods: {
    setGuestType () {
      this.guest.guestType.desc = this.$refs.selGuestType.selectedOptions[0].text
    },
    setEntryType () {
      this.guest.entryType.desc = this.$refs.selEntryType.selectedOptions[0].text
    },
    setAccessType () {
      this.guest.accessType.desc = this.$refs.selAccessType.selectedOptions[0].text
    },
    setWarnOwner () {
      this.guest.warnOwner.desc = this.$refs.selWarnOwner.selectedOptions[0].text
    },
    setValidDays () {
      this.guest.validityDays.desc = this.$refs.selValidDays.selectedOptions[0].text
    },
    initCalendars(maxDay) {
      let self = this
      let customeStrings = {
        dayArr: ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado'],
        dayArrShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
        monthArr: [ 'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthArrShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic']
      }
      let today = new Date();
      let maxDate = new Date();
      maxDate.setDate(maxDate.getDate() + maxDay)
      today.setDate(today.getDate() - 1);
      this.calendarTo = this.$f7.calendar({
        input: '#guestDateTo',
        dateFormat: 'dd/mm/yyyy',
        dayNames: customeStrings.dayArr,
        dayNamesShort: customeStrings.dayArrShort,
        monthNames: customeStrings.monthArr,
        monthNamesShort: customeStrings.monthArrShort,
        minDate: today,
        maxDate: maxDate,
        closeOnSelect: true,
        onChange: ((p, values, displayValues) => {
          self.guest.entryDate = Helper.Dates.commonFormat(values[0])
          self.guest.dateTo = Helper.Dates.commonFormat(values[0])
        })
      });
    },
    getNewGuestConfig(){
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.getNewGuestConfigSuccess,
        data: {
          idPantalla: 14,
          idAccion: 'Config',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          idInvitado: this.idGuest
        }
      }
      Helper.post(params)
    },
    getNewGuestConfigSuccess(res){
      try {
        res = typeof(res) === 'string' ? JSON.parse(res) : res
      } catch (e) {
        console.log(e)
      }
      if(res.length > 0){
        let config = res[0]
        this.configData.infoText = Helper.decodeHTML(config.texto)
        for (let i = 1; i <= config.max_dias_validez; i++) {
          let sDia = i + ' día'
          if (i > 1)
          {
              sDia = i + ' días'
          }
          this.configData.validityDaysArray.push({value: i, desc: sDia})
        }
        if(this.configData.validityDaysArray.length > 0) {
          this.guest.validityDays.value = this.configData.validityDaysArray[0].value
          this.guest.validityDays.desc = this.configData.validityDaysArray[0].desc
        }
        this.initCalendars(parseInt(config.max_dias_vigencia))
      }
    },
    getEntryTypes(){
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.getEntryTypesSuccess,
        data: {
          idPantalla: 14,
          idAccion: 'Tipos_entrada',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          idInvitado: this.idGuest
        }
      }
      Helper.post(params)
    },
    getEntryTypesSuccess(res){
      try {
        res = typeof(res) === 'string' ? JSON.parse(res) : res
        for(let i = 0; i < res.length; i++ ){
          this.configData.entryTypeArray.push({value: res[i].id, desc: Helper.decodeHTML(res[i].descripcion)})
        }
        if (res.length > 0) {
          this.guest.entryType.value = res[0].id
          this.guest.entryType.desc = Helper.decodeHTML(res[0].descripcion)
        } 
      } catch (e) {
        console.log(e)
      }
    },
    getGuestTypes(){
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.getGuestTypesSuccess,
        data: {
          idPantalla: 14,
          idAccion: 'Tipos_invitado',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          idInvitado: this.idGuest
        }
      }
      Helper.post(params)
    },
    getGuestTypesSuccess(res){
      try {
        res = typeof(res) === 'string' ? JSON.parse(res) : res
        for(let i = 0; i < res.length; i++ ){
          this.configData.guestTypeArray.push({value: res[i].id, desc: Helper.decodeHTML(res[i].descripcion)})
        }
        if(res.length > 0) {
          this.guest.guestType.value = res[0].id
          this.guest.guestType.desc = Helper.decodeHTML(res[0].descripcion)
        }
      } catch (e) {
        console.log(e)
      }
    },
    getAccessTypes(){
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.getAccessTypesSuccess,
        data: {
          idPantalla: 14,
          idAccion: 'Tipos_ingreso',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          idInvitado: this.idGuest
        }
      }
      Helper.post(params)
    },
    getAccessTypesSuccess(res){
      try {
        res = typeof(res) === 'string' ? JSON.parse(res) : res
        for(let i = 0; i < res.length; i++ ){
          this.configData.accessTypeArray.push({value: res[i].id, desc: res[i].descripcion})
        }
        if (res.length > 0) {
          this.guest.accessType.value = res[0].id
          this.guest.accessType.desc = Helper.decodeHTML(res[0].descripcion)
        }
      } catch (e) {
        console.log(e)
      }
    },
    getGuestAutocomplete () {
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.getGuestAutocompleteSuccess,
        data: {
          idPantalla: 14,
          idAccion: 'Invitados_autocomplete',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          idInvitado: this.idGuest
        }
      }
      Helper.post(params)
    },
    getGuestAutocompleteSuccess (res) {
      try {
        res = typeof(res) === 'string' ? JSON.parse(res) : res
        for(let i = 0; i < res.length; i++ ){
          var item = {};
          this.configData.guestAutocompleteData.push({value: res[i].value, desc: res[i].desc})
          let self = this
          let data = this.configData.guestAutocompleteData
          this.arrayBarrios = data
          this.autocomplete = this.$f7.autocomplete({
            input: '#autocomplete-dropdown-barrios',
            openIn: 'dropdown',
            preloader: true, //enable preloader
            valueProperty: 'value', //object's "value" property name
            textProperty: 'desc', //object's "text" property name
            limit: 20, //limit to 20 results
            expandInput: true, // expand input
            source: ((autocomplete, query, render)=>{
                var results = [];
                if (query.length === 0) {
                    render(results);
                    return;
                }
                // Find matched items
                for (var i = 0; i < data; i++) {
                    if (data[i].desc.toLowerCase().indexOf(query.toLowerCase()) >= 0) results.push(data[i]);
                }
                // Render items by passing array with result items
                render(results);
            }),
          onChange: ((autocomplete, value)=> {
            // TODO
            // self.credentials.barrio.id = value.value
            // self.credentials.barrio.name = value.desc
            // self.$$('#autocomplete-dropdown-barrios').val(value.desc)
          })
        })
        }
      } catch (e) {
        console.log(e)
      }
    },
    getGuest() {
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.getGuestSuccess,
        data: {
          idPantalla: 14,
          idAccion: 'Invitado',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          id_invitado: this.idGuest
        }
      }
      Helper.post(params)
    },
    getGuestSuccess(res) {
      if (res) {
        res = typeof(res) === 'string' ? JSON.parse(res)[0] : res[0]
          this.guest.name = res.nombre
          this.guest.personalId = res.documento
          this.guest.brand = res.vehiculo
          this.guest.licensePlate = res.patente
          this.guest.entryType = {
            desc: '',
            value: res.id_tipo_entrada
          },
          this.guest.guestType = {
            desc: '',
            value: res.id_tipo_invitado
          },
          this.guest.accessType = {
            desc: '',
            value: res.id_tipo_ingreso
          },
          this.guest.motive = res.txt_motivo
          this.guest.validityDays.value = res.cant_dias_valido
          this.guest.warnOwner.value = res.avisar_propietario
          this.guest.id_tipo_reingreso = res.id_tipo_reingreso
          this.guest.entryDate = Helper.Dates.commonFormat(res.fec_valido_desde)
      }
    },
    saveGuest() {
      this.guest.id = this.idGuest
      if (this.guest.name === '') {
        Helper.showMessage('Debe ingresar el nombre del invitado')
        return
      } 
      // pedido por JSpasiuk, no req dni
      // else if (this.guest.personalId === '') {
      //   Helper.showMessage('Debe ingresar el documento')
      //   return
      // }
      else if (this.guest.entryDate === '' || this.guest.entryDate === 'dd/mm/yyyy') {
        Helper.showMessage('Debe ingresar la fecha de inicio de la validez')
        return
      }
      else {
        this.$store.dispatch('setMainTitleToPush', 'Confirmar Invitado')
        this.$store.dispatch('setGuestGirovisionData', _.cloneDeep(this.guest))
        this.$f7.mainView.loadPage({
          url: 'confirmGuestGirovision'
        })
      }
    }
  }
}
</script>

<style scoped>
* {
  font-size: 14px;
}
select{
  font-size: 14px;
}
input {
  border: none;
}

.list-block .item-content {
  padding-left: 0px;
}

#showGuestGirovision .list-block .itemn-label {
  width: 47%;
}
.card-content-inner {
  padding: 0;
}

.box {
  border: 1px solid #ddd;
  padding: 6px 0 5px 16px;
}
.box input {
  float: right;
  margin-right: 5px;
}
#showGuestGirovision .list-block li:after {
  display: none;
}

.buttons-container button {
  margin-bottom: 10px;
  border-radius: 0px;
}
span.required{
  color: red;
  /* font-size: 18px; */
}
</style>
