<template lang="pug">
f7-page#suggestProduct.navbar-through(data-page='suggestProduct', toolbar-fixed)
  //- toolbar
  .suggest-product-container
    .list-block
      form
        ul
          li
            .item-content
              .item-inner
                .item-title.label Nombre
                .item-input
                  input.text-align-right(type='text', placeholder='Nombre', v-model='suggest.name')
          li
            .item-content
              .item-inner
                .item-title.label Telefono
                .item-input
                  input.text-align-right(type='text', placeholder='Telefono', v-model='suggest.phone')
          li
            .item-content
              .item-inner
                .item-title.label.transaction-container
                  span Categoria
                .item-input
                  .list-block
                    ul
                      li
                        a.item-link.smart-select(href="#")
                          select(name="category", @change='setCategory', ref='selCategory')
                            optgroup(v-for='category in categoryArray' :label="category.nombre", :key='category.id')
                              option(:value='category.id') {{category.nombre}}
                              option(v-for='subCategory in category.subcategorias' :key='subCategory.id_ctg', :value='subCategory.id_ctg') {{subCategory.nombre_ctg}}
                          .item-content
                            .item-inner
                              .item-after
          li
            .item-content
              .item-inner
                .item-title.label Email
                .item-input
                  input.text-align-right(type='text', placeholder='Email', v-model='suggest.email')
          li
            .item-content
              .item-inner
                .item-title.label Detalle:
                .item-input
                  textarea(placeholder='', v-model='suggest.detail')
          li
            .item-content
              .item-inner
                .item-title.label
                  span Ubicacion:
                .item-input
                  input.text-align-right(type='text', placeholder='Ubicacion', v-model='suggest.location', required)
      add-attach(v-bind:multiple='false', v-on:attach='addAttach', v-on:remove='removeAttach')
      br
      .buttons-container
        a.button.button-big.active.button-general-style.color-green(href='#', @click='suggestProduct') Enviar Sugerencia
</template>

<script>
import Helper from '../assets/js/helper'
// import Toolbar from '../components/toolbar'
import AddAttach from '../components/addAttach'
import { mapGetters } from 'vuex';
export default {
  name: 'suggestProduct',
  data(){
    return{
      suggest:{
        name: '',
        phone: '',
        category: {
          value: '',
          desc: ''
        },
        email: '',
        detail: '',
        location: ''
      },
      fileUpload: [],
      categoryArray: [],
      suggestionAttachmentArray: [],
      currentAttach: ''
    }
  },
  components:{
    addAttach: AddAttach
  },
  computed: {
    ...mapGetters(['credentials']),
  },
  mounted(){
    this.getCategories()
  },
  methods:{
    setCategory () {
      this.suggest.category.value = this.$refs.selCategory.selectedOptions[0].value
      this.suggest.category.desc = this.$refs.selCategory.selectedOptions[0].text
    },
    addAttach(res){
      this.suggestionAttachmentArray = res
    },
    removeAttach(res){
      this.suggestionAttachmentArray = res
    },
    getCategories () {
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.getCategoriesSuccess,
        data: {
          idPantalla: 24,
          idAccion: 'Get_categorias',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password
        }
      }
      Helper.post(params)
    },
    getCategoriesSuccess (res) {
      if (res) {
        this.categoryArray = typeof(res) === 'string' ? JSON.parse(res) : res
      }
    },
    suggestProduct () {
      if(this.suggest.name === '') {
        Helper.showMessage('Debe ingresar el nombre del producto/servicio!')
        return
      } else if (this.suggest.email === '') {
        Helper.showMessage('Debe ingresar un mail de contacto!')
        return
      } else if (this.suggest.phone === '') {
        Helper.showMessage('Debe ingresar un teléfono de contacto!')
        return
      } else if (this.suggest.category.value === '') {
        Helper.showMessage('Debe ingresar una categoria del producto/servicio!')
        return
      }

      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.suggestProductSuccess,
        data: {
          idPantalla: 24,
          idAccion: 'New_producto',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password,
          nombrePrd: this.suggest.name,
          detallePrd: this.suggest.detail,
          id_categoria: this.suggest.category.value,
          ubicacionPrd: this.suggest.location,
          mail: this.suggest.email,
          telefono: this.suggest.phone,
          imagenPrd: this.fileUpload[0]
        }
      }
      this.suggestionAttachmentArray.length > 0 ? this.initUploadAttach() : Helper.post(params)
    },
    initUploadAttach(){
      this.currentAttach = this.suggestionAttachmentArray.pop()
      try {
        Helper.saveFile(this.currentAttach.src, this.credentials.barrio.id, this.uploadImageSuccess, this.uploadImageFailed)
      } catch (e) {
        Helper.showMessage('Error subiendo imagen')
      }
    },
    uploadImageSuccess(res){
      let fileName = this.currentAttach.src.split("/").pop()
      let extension = Helper.getFileExtension(fileName);
      if (extension == "") {
          fileName += ".jpg";
      }
      this.fileUpload.push(res.uploadName +',' + fileName)
      if(this.suggestionAttachmentArray.length == 0){
        this.suggestProduct()
      }
      else{
        this.initUploadAttach()
      }
    },
    uploadImageFailed(res){
      console.log(res)
    },
    suggestProductSuccess (res) {
      if (res) res = typeof(res) === 'string' ? JSON.parse(res) : res
      Helper.showMessage(res[0].msg + ' id: ' + res[0].idProducto)
    }
  }
}
</script>

<style scoped>
.text-align-right{
  text-align: right;
}
.gray-color{
  background-color: #333333;
  border: none;
}
.transaction-container {
  width: 60% !important;
}
.buttons-container {
  width: 100%;
}
.buttons-container a{
  width: 100%;
  height: 50px;
}
.required {
  color: red;
}
.list-block ul ul {
  padding-left: 0px;
}
.smart-select .item-after {
  margin-left: 0
}
</style>
