<template lang="pug">
f7-page#telefonos.navbar-through(data-page='telefonos',  toolbar-fixed)
  //- toolbar
  .telefonos-container
    .list-block.no-hairlines-between.no-hairlines
      ul
        template(v-for='phone in phonesArray')
          li.item-content
            .item-inner
              .item-title.title {{phone.nombre}}
          li.item-content(v-show='phone.telefono !== ""', @click='openPhone(phone.telefono)')
            .item-inner
              .item-title {{phone.telefono}}
              .item-after
                i.material-icons phone
          li.item-content(v-show='phone.telefono_alt !== ""', @click='openPhone(phone.telefono_alt)')
            .item-inner
              .item-title {{phone.telefono_alt}}
              .item-after
                i.material-icons phone
          li.item-content(v-show='phone.telefono_mov !== ""', @click='openPhone(phone.telefono_mov)')
            .item-inner
              .item-title {{phone.telefono_mov}}
              .item-after
                i.material-icons phone
          li.item-content(v-show='phone.email !== ""', @click='openMail(phone.email)')
            .item-inner
              .item-title {{phone.email}}
              .item-after
                i.material-icons email
      p(v-if='phonesArray.length == 0') No hay datos disponibles
</template>

<script>
import Helper from '../assets/js/helper'
import Toolbar from '../components/toolbar'
export default {
  name: 'telefonos',
  data(){
    return{
      phonesArray: []
    }
  },
  components: {
    toolbar: Toolbar
  },
  computed:{
    credentials(){
      return this.$store.getters.credentials
    }
  },
  mounted(){
    this.getPhones()
  },
  methods:{
    getPhones(){
      let params = {
        url: Helper.URL.GetMain,
        dataType: 'json',
        callback: this.getPhonesSuccess,
        data: {
          idPantalla: 5,
          idAccion: 'Inicio',
          idBarrio: this.credentials.barrio.id,
          idUsuario: this.credentials.user,
          idPassword: this.credentials.password
        }
      }
      Helper.post(params)
    },
    getPhonesSuccess(res){
      if(res){
        this.phonesArray = typeof(res) === 'string' ? JSON.parse(res) : res
      }
    },
    openPhone(phone){
      if (device.platform === 'Android') {
          window.open('tel:' + phone, '_system');
      } else {
          document.location.href = 'tel:' + phone;
      }
    },
    openMail(email){
      if (device.platform=== 'Android') {
          window.open('mailto:' + email, '_system');
      } else {
          document.location.href = 'mailto:' + email;
      }
    }
  }
}
</script>

<style scoped>
.title{
  white-space: normal !important;
  font-weight: 600;
  font-size: 19px;
  padding-top: 10px;
  padding-bottom: 10px;
}
i{
  color: #000;
  font-weight: 900;
  font-size: 35px;
}

#telefonos .list-block li:after {
  display: none;
}
</style>
