<template lang="pug">
.page.navbar-through(data-page='test')
  wysiwyg
  // wysiwyg(v-model="myHTML")
</template>
<script>
import {mapGetters, mapActions} from 'vuex'
import Helper from '../assets/js/helper.js'
import wysiwyg from '../components/wysiwyg/wysiwyg'
export default {
  name: 'expensas',
  data () {
    return {
      myHTML: '',
    }
  },
  components:{
    wysiwyg
  },
  mounted() {
  },
  methods: {
    ...mapActions(['setSelectAll', 'toggleSelectedItem', 'setShowInfo', 'setExpenseData']),
  },
  computed: {
    ...mapGetters(['credentials', 'isAdmin', 'mainTitle', 'toolbarHeight'])
  }
}
</script>
<style scoped>

.navbar-through{
  padding-top: 50px;
}
</style>
